---
title: "HAI HELI-EXPO 2023"
meta_description: "Celebrate The Vertical Aviation Industry With JETNET"
opengraph:
  title: "HAI HELI-EXPO 2023"
  description: "Know More"
  image: /assets/opengraph/JN_HeliExpo_Giveaway_FB.jpg
twitter_card:
  title: "HAI HELI-EXPO 2023"
  description: "Know More"
  image: /assets/opengraph/JN_HeliExpo_Giveaway_TW.jpg
---

<section class="section section--first">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<h1>HAI HELI-EXPO 2023</h1>
			</div>
		</div>
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-9 col-xl-8 text-reverse">

				<h2 class="mb-4">Celebrate The Vertical Aviation Industry With JETNET</h2>

				<img src="/assets/images/events/HeliExpo23_MainImageHR.jpg" class="img-fluid" style="margin:0 0 2rem 0;" alt="" />

				<p>We’re excited for this year’s <a href="https://heliexpo.com/">HAI HELI-EXPO</a>, March 7–9 in Atlanta, GA. JETNET will be providing personal demonstrations of our services with emphasis on key features such as <a href="/features/fleet-analyzer/">Fleet Analyzer</a> and <a href="/features/search-by-tail-number/">Search By Tail Number</a>. We will also demonstrate how all of our research on owner/operator contact details, model specifications, sale and market information, fleet information, and more make up our extensive database for <a href="/research/business-aircraft/">Business Aircraft</a> and helicopters.</p>

				<img src="/assets/images/events/KenCole_MessengerBag_Giveaway.jpg" class="img-fluid" style="width: 200px; float: right; margin:0 0 2rem 2rem; border: 10px solid white; border-radius: 0.25rem;" alt="Kenneth Cole Leather Messenger Bag">

				<p>Visit us at <a href="https://s23.a2zinc.net/clients/HAI/HE23/Public/eventmap.aspx?shavailable=1">booth C2002</a> to explore our services for yourself and chat with a JETNET representative. You can even enter for a chance to win a Kenneth Cole Leather Messenger Bag! Our giveaway drawing will be held on Thursday, March 9th.</p>
				
				<p>We look forward to seeing you at HAI HELI-EXPO 2023!</p>

			</div>
		</div>
	</div>
</section>

<%= partial 'partials/request-demo-section', :locals => {
	body: 'Can’t make it to this year’s HAI HELI-EXPO? Test our data with a one-on-one demonstration where you call the shots, and discover what you need to succeed, and increase your competitive situational awareness.'
} %>
