---
title: "Exhibiting at CBAA 2022"
meta_description: "JETNET will be exhibiting at the CBAA 2022 in Toronto, Canada at Booth #510. See what we will be covering and sign up ahead of time."
opengraph:
  title: ""
  description: ""
  image: /assets/opengraph/
twitter_card:
  title: ""
  description: ""
  image: /assets/opengraph/
---

<section class="section section--first">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<h1>Exhibiting at CBAA 2022</h1>
			</div>
		</div>
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-9 col-xl-8 text-reverse">

				<h2 class="mb-4">See Us at Booth #510</h2>

				<img src="/assets/images/events/CBAA_MainImage_HR.jpg" class="img-fluid" style="margin:0 0 2rem 0;" alt="" />

				<p>JETNET will be exhibiting at CBAA June 14–16, 2022 in Toronto, Canada at Booth #510.</p>

				<hr>

				<h3 class="h5"><b>What We’ll Cover</b></h3>

				<ul class="list--double-arrow">
					<li class="my-3"><b>Marketplace:</b> captures current and historical information on business aircraft, covering the worldwide fleets of jets, turboprops, pistons, helicopters, and commercial transport aircraft. The database provides key data such as owner and operator information, transaction history, flight activity, aircraft valuation data, and more.</li>

 					<li class="my-3"><b>Flight Insights:</b> premier source for serial number-specific flight activity data tied back to company and operator names. Customizable and mobile-friendly, Flight Insights tracks over 9 million take-offs and landings over the last 12 months and allows custom APIs to be available at any time.</li>
				</ul>

				<hr>

				<h3 class="h5"><b>We Look Forward To Seeing You!</b></h3>

				<p>CBAA attendees will be able to see live demonstrations of JETNET’s Marketplace and Flight Insights tools. Come by our booth and see our two new innovative products designed to provide the highest level of service and analytical solutions. We’ll see you there!</p>

			</div>
		</div>
	</div>
</section>

<%= partial 'partials/request-demo-section', :locals => {
	body: 'Can’t make it to this year’s CBAA show? Request a one-on-one demonstration of our Marketplace and Flight Insights tools, anytime.'
} %>
