---
title: JETNET Values
meta_description: "JETNET Values is a tool that provides reported sales prices on specific aircrafts, giving subscribers better insight on market prices to make informed aircraft purchase decisions."
noindex: true
opengraph:
  title: ""
  description: ""
  image: /assets/opengraph/
twitter_card:
  title: ""
  description: ""
  image: /assets/opengraph/
---

<section class="section section--first">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<h1>JETNET Values</h1>
			</div>
		</div>
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-9 col-xl-8 text-reverse">

				<p>JETNET Values is an optional add-on feature available exclusively for Marketplace and Marketplace Manager subscribers. Powered by JETNET, it provides timely serial number specific intelligence on aircraft reported sales prices, plus current and historical market values and five-year residual value forecasts, all fueled by the intuitive “eValues™” tools of JETNET’s Asset Insight.</p>
	
				<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://player.vimeo.com/video/580425809' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>

			</div>
		</div>
	</div>
</section>

<section class="section section--translucent-light">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-9 col-xl-8 text-reverse">

				<h2>Interactive Asset Valuation Platform</h2>

				<p>Manipulate aircraft equipage and maintenance status for value driven results in real time.</p>

				<div class="my-4"><img class="img-fluid" src="/assets/images/products/values/01_InteractiveAssetValuationPlatform_02.jpg"></div>
				<div class="my-4"><img class="img-fluid" src="/assets/images/products/values/02_InteractiveAssetValuationPlatform01.jpg"></div>

			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-9 col-xl-8 text-reverse">

				<h2>Reported Sold Prices</h2>

				<p>Conduct accurate aircraft valuations at the serial number level utilizing real world sold prices, current and historical market activity, and the latest market trends.</p>

				<div class="my-4"><img class="img-fluid" src="/assets/images/products/values/03_ReportedSoldPrices.jpg"></div>
        
			</div>
		</div>
	</div>
</section>

<section class="section section--translucent-light">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-9 col-xl-8 text-reverse">

				<h2>Estimated Values (e-Values)</h2>

				<p>Compare and contrast aircraft to reflect current market values and estimated residual values, market conditions, aircraft feature changes, specifications, and flight activity.</p>

				<div class="my-4"><img class="img-fluid" src="/assets/images/products/values/04_eValues.jpg"></div>
        
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-9 col-xl-8 text-reverse">

				<h2>60-Month Residual Value Market Forecast</h2>

				<p>Effectively evaluate aircraft in the resale market individually or by fleet from a unique 60-month forward-looking perspective on aircraft values.</p>
				
				<div class="my-4"><img class="img-fluid" src="/assets/images/products/values/05_60moResidualValueMarketForecast.jpg"></div>
        
			</div>
		</div>
	</div>
</section>

<section class="section section--translucent-light">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-9 col-xl-8 text-reverse">

				<h2>Current and Historical Asking Prices</h2>

				<p>Analyze extensive coverage of up to the minute and historical asking prices, as well as asking price trends.</p>
				
				<div class="my-4"><img class="img-fluid" src="/assets/images/products/values/06_CurrentHistoricalAskingPrices.jpg"></div>
        
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-9 col-xl-8 text-reverse">

				<h2>Values Market Summary</h2>

				<p>Examine exclusive make/model market analyses that provide high-level summaries of market conditions as they relate to aircraft value, while also drilling into what comprises an aircraft value all in one view.</p>
				
				<div class="my-4"><img class="img-fluid" src="/assets/images/products/values/07_ValuesMarketSummary01.jpg"></div>
				<div class="my-4"><img class="img-fluid" src="/assets/images/products/values/08_ValuesMarketSummary02.jpg"></div>
        
			</div>
		</div>
	</div>
</section>

<%= partial 'partials/request-demo-section', :locals => {
	body: 'Test our data with a one-on-one demonstration where you call the shots, and discover what you need to succeed, and increase your competitive situational awareness.'
} %>
