---
title: 2024 JETNET iQ Summit
meta_description: "2024 marks our 13th JETNET iQ Summit as we convene once again at the prestigious New York Marriott Marquis in the heart of Times Square."
opengraph:
  title: "JETNET iQ Summit Celebrates 13 Years"
  description: "Register Today"
  image: /assets/opengraph/Overview24_OG2.jpg
twitter_card:
  title: "JETNET iQ Summit Celebrates 13 Years"
  description: "Register Today"
  image: /assets/opengraph/Overview24_OG2.jpg
---

<% @showSummitNavbar = true %>

<main class="main-content">

  <section class="summit-header section section--heading -nopad-bottom text-white">
    <div class="container">
      <div class="row">
        <div class="offset-lg-1 col-lg-11 mb-4 mt-4">
          <h1 class="display-1">2024 JETNET iQ Summit</h1>
          <h3 class="text-white">Join Us For Our 13th Anniversary</h3>
        </div>
      </div>
    </div>
  </section>

  <section id="overview">
    <div class="container">
      <div class="row">
        <div class="offset-lg-3 col-lg-9">

          <br>
          <br>

          <h2>Mark Your Calendar: September 24–25th</h2>

          <img src="/assets/images/summit/Overview24_r2.jpg" class="img-fluid d-block my-4" alt="" width="880" height="440">

          <p>2024 marks our 13th JETNET iQ Summit as we convene once again at the prestigious New York Marriott Marquis in the heart of Times Square. Join us as we gather insights from business aviation leaders and advocates from across the globe. Gain exclusive access to the industry through the unique perspectives of top industry professionals including: investors, analysts, bankers, brokers, wealth consultants, attorneys, sales and marketing leaders, and C-level executives and many more.</p>

          <p>
            <b>13th JETNET iQ Global Business Aviation Summit</b><br>
            <b><i>Industry Insights. Thought Leadership.</i></b><br>
            September 24–25th | New York Marriott Marquis | $1650.00 USD
            <br>
            Tuesday, September 24: 1:00 PM to 5:00 PM followed by Welcome Reception & Dinner<br>
            Wednesday, September 25: 8:00 AM to 5:00 PM followed by Closing Reception<br>
          </p>
          
          <p>&gt;&gt; A very limited number of seats are available, so register today.</p>
          
          <%= partial 'partials/summit-register-now-button' %>          

          <p><b>*Note:</b> If you have a promo code, please make sure to enter your unique code in the ‘Promo Code’ box at the beginning of registration and click ‘Apply,’ <i><b>before</b></i> clicking ‘Check out.’</p>

          <hr>
          
          <p class="mb-4"><b>The JETNET iQ Summit is approved for a continuing education credit for:</b></p>
          
          <div class="d-sm-flex">
            <div class="mr-5">
              <br>
              <img src="/assets/images/summit/IADA_CERTIFIED_H_4c_-01.png" class="m-0 mb-3" alt="" width="auto" height="85">
              <p class="mb-4">Qualified members of<br class="d-none d-sm-block">
              International Aircraft<br class="d-none d-sm-block">
              Dealers Association (IADA)</p>
            </div>
            <div>
              <img src="/assets/images/summit/CAM_R_PMS287_124pxh.png" class="m-0 mb-3" alt="" width="auto" height="112">
              <p class="mb-4">NBAA’s Certified Aviation Manager (CAM)<br class="d-none d-sm-block">
              Program – new applicants and recertification<br class="d-none d-sm-block">
              for those who already hold the credential</p>
            </div>
          </div>
          
          <hr>

          <h3>Sponsorship Opportunities</h3>

          <p>For information on sponsorship opportunities, please contact:</p>
          
          <div><%= partial("partials/contact-details", :locals => {
            name: "Paul Cardarelli",
            title: "Vice President of Sales",
            phone: "+1 315.797.4420 ext. 254",
            email: "paul@jetnet.com",
          }) %></div>
          
          <hr>

          <h3>Hotel Information</h3>

          <p>Reserve your seat—and your room—for our 2024 Summit event.</p>
          
          <p>
            <%= partial("partials/button", :locals => {
              url: '/summit/hotel',
              text: 'Get Details',
            }) %>
          </p>

          <p>For more information, contact <b>Justine Strzepek</b>, Marketing Manager at 1.800.553.8638 ext. 204, <a href="mailto:justine@jetnet.com">justine@jetnet.com</a></p>
          
          <hr>
          
          <h3>Testimonials</h3>
          <p>Past attendees’ testimonials showcase what this extraordinary event offers:</p>
          
          <div><span><i>“Great content with live, and real time updates regarding what is happening in our industry. Many industry leaders attend including the OEM's. If you'd like to be dialed into what is happening in the industry, plan on attending.”</i> <strong class="nowrap">—&thinsp;Joe Carfagna, Leading Edge Aviation Solutions</strong></span></div>
            
          <br>
           
          <div><span><i>“Fantastic networking and a great way to get a pulse on the industry. You feel like you are getting insider information.”</i> <strong class="nowrap">—&thinsp;Ashely Bowen Cook, Greteman Group</strong></span></div>
            
          <br>
          
          <div><span><i>“JETNET iQ is the Summit where the future of the industry comes to life—you need to be there and be part of it!”</i> <strong class="nowrap">—&thinsp;David Crick, DavAir Group</strong></span></div>
            
          <br>
          
          <div><span><i>“The iQ Summit is the most interesting and educational gathering in our industry. Great speakers, important topics and small enough to allow meaningful dialogue amongst the attendees. Rollie, Paul and the JETNET iQ team put on a first class event.</i> <strong class="nowrap">—&thinsp;John King, Solairus Aviation</strong></span></div>
            
          <br>
            
          <div><span><i>“This was the first time I attended this summit. I have to say we should have done so before and should continue in the future. As the representative of a large FBO chain I found this summit to be incredibly insightful and informative. The strategies shared along with the data and forecasts present a high value of tangible information and will help us determine future strategies for growth and planning.”</i> <strong class="nowrap">—&thinsp;Richard Thacker, Atlantic Aviation</strong></span></div>
            
          <br>
          
          <div><span><i>“Best industry event with the elite industry executives. The Who’s who where you learn the what’s what of the corporate world!</i> <strong class="nowrap">—&thinsp;Joseph Zulueta, Aeronautical Systems</strong></span></div>
            
          <br>
          
          <div><span><i>“During the JETNET iQ, the “C” suites of the OEMs are empty&#8230; they're with us learning something new!!!”</i> <strong class="nowrap">—&thinsp;Bob Zuskin, Jet Perspectives</strong></span></div>

          <hr>

          <h3>Refund Policy</h3>
          <p>Refunds will be 50% for cancellation notices received prior to August 1st, 2024, and 0% thereafter.</p>

          <hr>
          
          <h3>Disclaimer</h3>
          <p>By registering, and by your presence at the JETNET iQ Summit, you consent to be photographed, filmed, and/or otherwise recorded. Your registration constitutes your consent to such photography, filming, and/or recording, and to any use, in any and all media in perpetuity, of your appearance, voice, and name in connection with JETNET iQ Summits. By registering for the event, you waive all rights you may have to any claims for payment of royalties in connection with any use, exhibition, streaming, webcasting, televising, or other publication of these materials, regardless of the purpose or sponsoring of such use, exhibiting, broadcasting, webcasting, or other publication, irrespective of whether a fee for admission or sponsorship is charged.</p>
          
          <p>Attendance is subject to COVID-19 federal, state, and local guidelines, and the policy of the New York Marriott Marquis.</p>

          <br>
          <br>
          <br>
          
          
        </div>
      </div>
    </div>

  </section>

  <%= partial 'partials/summit-buy-tickets' %>
  <%= partial 'partials/summit-sponsors' %>
</main>

<%= partial 'partials/summit-structured-data' %>
