---
title: "HAI HELI-EXPO 2024"
meta_description: "Celebrate The Vertical Aviation Industry With JETNET"
opengraph:
  title: "HAI HELI-EXPO 2024"
  description: "Know More"
  image: /assets/opengraph/JN_HeliExpo24_FB.jpg
twitter_card:
  title: "HAI HELI-EXPO 2024"
  description: "Know More"
  image: /assets/opengraph/JN_HeliExpo24_TW.jpg
---

<section class="section section--first">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<h1>HAI HELI-EXPO 2024</h1>
			</div>
		</div>
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-9 col-xl-8 text-reverse">

				<h2 class="mb-4">Soar to New Heights with JETNET at Booth #2218</h2>

				<img src="/assets/images/events/HeliExpo24_MainImageHR.jpg" class="img-fluid" style="margin:0 0 2rem 0;" alt="" />

				<p>We’re excited for this year’s <a href="https://heliexpo.com/">HAI HELI-EXPO</a>, February 27-29th in Anaheim, CA. JETNET will be providing personal demonstrations of our services with emphasis on key products like <a href="/products/aerodex.html">AERODEX</a>, designed for marketing directly to aircraft owners and operators, and <a href="/products/evolution-marketplace.html">Evolution Marketplace</a>, an essential tool for aircraft sales professionals seeking detailed helicopter specifications and access to JETNET’s extensive transaction archive.</p>

				<!--<img src="/assets/images/events/GiveawayFPO.jpg" class="img-fluid" style="width: 200px; float: right; margin:0 0 2rem 2rem; border: 10px solid white; border-radius: 0.25rem;" alt="">-->
					
				<p>Visit us at <a href="https://heliexpo2024.mapyourshow.com/8_0/floorplan/index.cfm?st=keyword&sv=2218&hallID=A&selectedBooth=2218">booth #2218</a> to explore our services for yourself and chat with a JETNET representative. You can even enter for a chance to win a top shelf bottle of whiskey! Our giveaway drawing will be held on Thursday, February 29th.</p>
				
				<p>We look forward to seeing you at HAI HELI-EXPO 2024!</p>

			</div>
		</div>
	</div>
</section>

<%= partial 'partials/request-demo-section', :locals => {
	body: 'Can’t make it to this year’s HAI HELI-EXPO? Test our data with a one-on-one demonstration where you call the shots, and discover what you need to succeed, and increase your competitive situational awareness.'
} %>
