---
title: "Schedulers & Dispatchers Conference 2023"
meta_description: "Visit JETNET at booth #1261 during this year’s Schedulers & Dispatchers Conference, January 24-26, in Nashville, TN."
opengraph:
  title: "Schedulers & Dispatchers Conference 2023"
  description: "Know More"
  image: /assets/opengraph/SDC2023_RayBan_FB.jpg
twitter_card:
  title: "Schedulers & Dispatchers Conference 2023"
  description: "Know More"
  image: /assets/opengraph/SDC2023_RayBan_TW.png
---

<section class="section section--first">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<h1>Schedulers & Dispatchers Conference</h1>
			</div>
		</div>
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-9 col-xl-8 text-reverse">

				<h2 class="mb-4">See What You’ve Been Missing</h2>

				<img src="/assets/images/events/SDC23_MainImage_HR.jpg" class="img-fluid" style="margin:0 0 2rem 0;" alt="" />

				<p>We’re looking forward to this year’s <a href="https://sdc23.mapyourshow.com/8_0/exhibitor/exhibitor-details.cfm?exhid=3862">Schedulers & Dispatchers Conference</a>, <b>January 24-26</b> in Nashville, TN. JETNET will be providing personal demonstrations of <a href="/features">our services</a>, with emphasis on key features such as <a href="/features/flight-activity">Flight Activity</a>, <a href="/features/route-analysis">Route Analysis</a>, <a href="/features/fleet-analyzer">Fleet Analyzer</a>, and more.</p>
				
				<img src="/assets/images/events/Ray-Ban_Giveaway.jpg" class="img-fluid" style="width: 200px; float: right; margin:0 0 2rem 2rem; border: 10px solid white; border-radius: 0.25rem;" alt="Ray-Ban&reg; Aviator sunglasses">
				
				<p>Visit us at <a href="https://sdc23.mapyourshow.com/8_0/floorplan/?hallID=A&selectedBooth=booth~1261">booth 1261</a> to explore our services for yourself and chat with a JETNET representative. You can even enter for a chance to win Ray-Ban Aviator sunglasses! Our giveaway drawing will be held in the afternoon on Thursday, January 26th.</p>
				
				<p>We look forward to seeing you at SDC2023!</p>

			</div>
		</div>
	</div>
</section>

<%= partial 'partials/request-demo-section', :locals => {
	body: 'Can’t make it to this year’s Schedulers & Dispatchers Conference? Test our data with a one-on-one demonstration where you call the shots, and discover what you need to succeed, and increase your competitive situational awareness.'
} %>
