---
title: "EBACE 2022"
meta_description: "If you are attending EBACE 2022, stop by the JETNET booth for a chance to win an Apple Watch series 7."
opengraph:
  title: ""
  description: ""
  image: /assets/opengraph/
twitter_card:
  title: ""
  description: ""
  image: /assets/opengraph/
---

<section class="section section--first">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<h1>EBACE 2022</h1>
			</div>
		</div>
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-9 col-xl-8 text-reverse">

				<h2 class="mb-4">Demo JETNET’s Advanced Tools</h2>

				<img src="/assets/images/events/EBACE_MainImage.jpg" class="img-fluid" style="margin:0 0 2rem 0;" alt="" />

				<h3 class="h5"><b>See how you can utilize our innovative products in today’s aviation market</b></h3>

				<p>Join us at booth #X112 at EBACE 2022, May 23–25, at the Palexpo in Geneva, Switzerland. We will be highlighting our Marketplace and Flight Insights tools&thinsp;—&thinsp;two innovative products designed to provide the highest level of service and analytical solutions in business aviation.</p>

				<p>Demo both products and see how you can utilize their superior data offerings to exceed your customer’s and prospects’ needs.</p>

				<hr>

				<h3 class="h5"><b>Don’t Miss This</b></h3>

				<p>We will also be sharing results from our JETNET iQ Q1 2022 Survey, as well as details of our latest 10-year business jet delivery forecast during a press conference on Monday, May 23, from 11:00–11:45 a.m. in Room S of the Palexpo. The most recent trends and market sentiment from aircraft owners/operators will be highlighted during this exclusive presentation.</p>


				<p>
					<b>JETNET iQ State of the Market Briefing</b><br>
					Monday, May 23 | 11:00 a.m. | Palexpo Room S
				</p>

				<hr>

				<img src="/assets/images/events/AppleWatchGiveaway.jpeg" class="img-fluid" style="width: 200px; float: right; margin:0 0 2rem 2rem; border: 10px solid white; border-radius: 0.25rem;" alt="Apple Watch" />

				<h3 class="h5"><b>Enter To Win</b></h3>
				<p>Be sure to leave your business card at our booth and you could be the lucky winner of an Apple Watch Series 7! Our giveaway drawing will be held at 12:00 noon on Wednesday, May 25. Good luck!</p>

				<p>We can’t wait to see you at EBACE 2022!</p>

			</div>
		</div>
	</div>
</section>

<%= partial 'partials/request-demo-section', :locals => {
	body: 'Can’t make it to this year’s EBACE show? Request a one-on-one demonstration of our Marketplace and Flight Insights tools, anytime.'
} %>
