---
title: JETNET Acceptable Use Policy
noindex: true
---

<main class="main-content text-reverse">

  <section class="section section--heading">
    <div class="container">
      <div class="row">
        <div class="offset-lg-1 col-lg-11">
          <h1>Acceptable Use Policy</h1>
        </div>
      </div>
      <div class="row">
        <div class="offset-lg-2 col-lg-10">

          <p>
            This AUP (as modified from time to time by Company in its sole discretion) is a legal agreement between You (“Customer”, “You”, “Your”) and the entity listed on Your Order Form and deﬁnes the terms and conditions under which You are allowed to use the Services (as defined in the Agreement). This AUP forms a part of the Agreement and takes effect as soon as You begin using the Services.
          </p>
          <p>
            By using the Services, You agree that the provision and receipt of Services are expressly conditioned on the acceptance of, and subject to the terms in this AUP. If You enter into this AUP or use the Services on behalf of an entity, You represent and warrant that You have the authority to accept this AUP on the entity’s behalf.
          </p>
          <p>
            In order to use the Services, You must:
          </p>
          <ul>
            <li>
              <p>be at least 18 years old (or the age of majority in Your state of residence, if greater);
            </li>
            <li>
              <p>agree to this AUP; and
            </li>
            <li>
              <p>Pay to use the Services according to Your Agreement.
            </li>
          </ul>
          <p>
            By using the Services, You represent and warrant that You meet all the requirements listed above. Company may refuse to provide You with the Services, suspend or close Your account, and change eligibility requirements at any time in accordance with the terms of this AUP and the Agreement.
          </p>
          <ol>
            <li>
              <p><strong>DEFINITIONS.</strong> In addition to terms defined elsewhere in this AUP, the definitions below will apply to capitalized words in this AUP. Capitalized words in this AUP that are not otherwise defined herein shall have the meaning ascribed in the Agreement.
              <ol style="list-style-type: upper-alpha;">
                <li>
                  <p><strong>“Agreement”</strong> means, as applicable, either the: 1) Services Agreement located at <a href="/legal/terms-of-use/">https://www.jetnet.com/legal/terms-of-use/</a>, as updated from time to time; or 2) a superseding written agreement for use of the Services executed by and between Company and Customer.
                </li>
                <li>
                  <p><strong>“Malicious Code”</strong> means harmful or malicious code, files, scripts, agents, programs, or the like designed or intended to have, or capable of performing or facilitating, any of the following functions: disrupting, disabling, harming, corrupting, or otherwise impeding in any manner the operation of, or providing unauthorized access to, a computer system, database, or network (or other device on which such code is stored or installed), including but not limited to viruses, worms, time bombs, and Trojan horses.
                </li>
              </ol>
            </li>
            <li>
              <p><strong>CUSTOMER AND USER OBLIGATIONS.</strong> Customer agrees to, and where applicable, shall ensure that Authorized Users agree to:
              <ol style="list-style-type: upper-alpha;">
                <li>
                  <p>keep contact information for Customer’s Account updated and promptly respond to queries from Company;
                </li>
                <li>
                  <p>use commercially reasonable efforts to prevent unauthorized access to or use of the Services, and notify Company promptly of any such unauthorized access or use; and
                </li>
                <li>
                  <p>be responsible for ensuring that User’s computer systems, technology, or other similar items used in connection with the Services do not interfere with or disrupt the integrity or performance of the Services.
                </li>
              </ol>
            </li>
            <li>
              <p><strong>Security Requirements.</strong> Customer represents and warrants that while using the Services, Customer will:
              <ol style="list-style-type: upper-alpha;">
                <li>
                  <p>use commercially reasonable security measures to protect any data transmitted to Customer, and
                </li>
                <li>
                  <p>cooperate with Company’s reasonable investigations of service outages, security problems, and/or any suspected breach of the Services, any Order Forms, and/or this AUP, the Agreement or any of its incorporated documents.
                </li>
              </ol>
            </li>
            <li>
              <p><strong>Customer Cooperation.</strong> Customer shall, upon request, or as needed throughout the term:
              <ol style="list-style-type: upper-alpha;">
                <li>
                  <p>respond to any third-party complaints (including, but not limited to, the complaints of any Contacts or providers of any Third Party Services);
                </li>
                <li>
                  <p>promptly provide any applicable information documenting the relationship or consent of the involved parties; and
                </li>
                <li>
                  <p>otherwise reasonably cooperate in mitigating the impact of any such complaint.
                </li>
              </ol>
            </li>
            <li>
              <p><strong>ACCESS LIMITS.</strong> If the Order Form specifies the number of Authorized Users, then the Services may be accessed by no more than the specified number of Authorized Users set forth therein. User credentials and access cannot be shared or used by more than one User; provided, however, User credentials may be reassigned to replace former User(s) who no longer need access to the Services. Customer shall not use the Services: (a) in excess of the limitations set forth in the Documentation; and/or (b) in a manner adversely affecting the Services’ usability for Company and/or its Affiliates, including for Company’s and/or its Affiliates other customers.
            </li>
          <li>
            <p><strong> RESTRICTIONS ON USE. </strong>
            <p>
              Except where the following restrictions are prohibited by Law, Customer shall not, and shall not permit any Authorized Users or third parties to, directly or indirectly:
            </p>
            <ol style="list-style-type: upper-alpha;">
              <li>
                <p>Reverse engineer, disassemble, or decompile any component of the Services;
              </li>
              <li>
                <p>Operate a service bureau, application service provider service, or any software-as-a-service offering.
              </li>
              <li>
                <p>Modify, copy, or make derivative works based on any part of the Services or the Documentation.
              </li>
              <li>
                <p>Use the Services to create an offering that competes, directly or indirectly, with the Services.
              </li>
              <li>
                <p>Remove any proprietary notices from the Services or Documentation.
              </li>
              <li>
                <p>Use the Services in any way that infringes upon the intellectual property of a third party.
              </li>
              <li>
                <p>Permit access to anyone other than Authorized Users in the normal course of Customer’s business for Customer’s own internal business purposes.
              </li>
              <li>
                <p>Use the Services in any manner or for any purpose not explicitly permitted by this Agreement.
              </li>
              <li>
                <p>Publish, resell, transmit, broadcast, distribute the Services or data acquired from the Services. Unless authorized by Company in advance in writing, it will not export Company data in mass form or import data into any other form, download or any other information storage vehicle, including, without limitation, to a Customer Relations Management application (“CRM”). If Customer wishes to export Company data to a CRM, additional terms, conditions, and fees apply. This provision shall not be construed to prohibit the export of limited data from the Company database as required for Customer’s use.
              </li>
              <li>
                <p>Attempt to circumvent programmatic restrictions prohibiting or limiting export of Company data, including without limitation the making of programing adjustments to the restrictions.
              </li>
              <li>
                <p>Share passwords or access codes with third parties. Customer is responsible for maintaining the secrecy of its passwords and access codes.
              </li>
              <li>
                <p>Deny access for Company to audit Customer’s use of the Services to ensure compliance with this Agreement. Customer shall pay any additional fees owed as a result of the audit.
              </li>
            </ol>
          </li>
          <li>
            <strong>COMPANY’S RIGHTS.</strong>

            <ol style="list-style-type: upper-alpha;">
              <li>
                <p><strong> Monitoring.</strong> Company reserves the right to inspect and monitor Customer’s Account and Customer Content at any time, without notice, to ensure compliance with the terms of this AUP and the Agreement. In connection with the foregoing, Customer agrees to promptly provide records and/or other information requested by Company. Company reserves the right to limit Customer’s access to Customer’s Account at any time if Company believes, in its sole discretion, that Customer or its Authorized Users have violated or may violate any terms set forth in this AUP or the Agreement.
              </li>
              <li>
                <p><strong> Disclosure.</strong> Company shall have the right to disclose communications between (i) Customer and (ii) its email recipients and other Authorized Users of its services to the extent required by Law, including, without limitation as required by legal process or court order. 
              </li>
              <li>
                <p><strong>Right to Remove, Suspend, Terminate.</strong> Company may, in its sole discretion, suspend, or terminate Customer’s use of the Services for any actual or alleged breach of this AUP or the Agreement at any time. For clarity, removal, suspension, or termination pursuant to this clause will not terminate Customer’s obligation to pay any fees owed to Company.
              </li>
            </ol>
          </li>
          <li>
            <p><strong>SERVICES TERMS.</strong></p>
            <ol style="list-style-type: upper-alpha;">
              <li>
                <p>Customer agrees to, and where applicable, shall ensure that Authorized Users agree to use the Services in compliance with applicable laws, the Agreement, and this AUP.</p>
              </li>
              <li>
                <p>Compliance</p>
                <ol style="list-style-type: lower-roman;">
                  <li>
                    <p><strong>Compliance with Applicable Laws.</strong> Customer agrees to comply with all applicable laws, and Customer agrees that it is responsible for ensuring continued compliance with the foregoing.</p>
                  </li>
                  <li>
                    <p><strong>Privacy Policy</strong>. In addition to any obligations under this AUP and the Agreement, Customer warrants that it will comply with all applicable privacy requirements in its use of the Services, including, where applicable, posting and complying with a privacy policy.
                  </li>
                </ol>
              </li>
              <li>
                <p>Customer agrees to change payment information only according to Company’s payment change policy.
              </li>
            </ol>
          </li>
          </ol>
          <p>
            Last Updated: December 4, 2023
          </p>

        </div>
      </div>
    </div>
  </section>

</main>