---
layout: cloud_layout
title: JETNET iQ
meta_description: JETNET iQ is a premium members-only forecasting, market analysis, and advisory services for business aviation and business travel.
opengraph:
  title: "Unparalleled Business Aviation Insights"
  description: "Market Research, Strategy, and Forecasting"
  image: /assets/opengraph/JN_iQProducts_FB.jpg
twitter_card:
  title: "Unparalleled Business Aviation Insights"
  description: "Market Research, Strategy, and Forecasting"
  image: /assets/opengraph/JN_iQProducts_TW.jpg
---

<main class="main-content text-reverse">

  <section class="section section--heading">
    <div class="container">
      <div class="row">
        <div class="offset-lg-1 col-lg-11">
          <h1 class="image-heading image-heading--jetnet-iq">
            <img src="/assets/images/logo--jetnet-iq.png" alt="JETNET iQ">
          </h1>
        </div>
      </div>
      <div class="row"> 
        <div class="offset-lg-2 col-lg-10">

          <!-- CONTENT IS IN THE LAYOUT TEMPORARILY -->

        </div>
      </div>
    </div>
  </section>

  <%= partial("partials/contact-section", :locals => {
    :product => 'JETNET iQ',
    :people => [
      {
        name: 'Paul Cardarelli',
        title: 'Vice President of Sales',
        phone: '+1 315.797.4420 ext. 254',
        email: 'paul@jetnet.com',
      },
      {
        name: 'Rolland Vincent',
        title: 'JETNET iQ Creator/Director',
        phone: '+1 972.439.2069 (cell)',
        email: 'rollie@jetnet.com',
      },
    ]
  })%>

  <%= partial("partials/related_products", :locals => {
    :links => [
      {
        href: '/products/aerodex.html',
        text: 'AERODEX'
      },
      {
        href: '/products/evolution-marketplace.html',
        text: 'Marketplace'
      },
      {
        href: '/products/marketplace-manager.html',
        text: 'Marketplace Manager'
      },
    ]
  })%>

  <section class="section demo-request" id="demo-request">
    <div class="container">
      <div class="row">
        <div class="offset-lg-1 col-lg-11">
          <h2>Request More Information</h2>
        </div>
      </div>
      <div class="row">
        <div class="offset-lg-2 col-lg-8">

          <%= partial("partials/wufoo_form", :locals => { :form_id => 'r1kbbc4k0jqxlt5' })%>

        </div>
      </div>
    </div>
  </section>

</main>
