.mobile-navbar {
  @extend .text-dark;
}

.mobile-navbar-eyebrow {
  font-size: 1.3rem;
  font-family: $font-family-sans-serif-condensed;
  text-transform: uppercase;
  
  @include media-breakpoint-up(xs) {
    font-size: 1.6rem;
  }

  border-bottom: 2px solid #aaa;

  .login,
  .training,
  .payment {
    line-height: 1;
    white-space: nowrap;

    .icon-wrapper {
      width: 3rem;

      @include media-breakpoint-up(xs) {
        width: 3.5rem;
      }
      
      text-align: center;
    }
        
    img {
      height: 2rem;

      @include media-breakpoint-up(xs) {
        height: 2.25rem;        
      }

      margin-right: 0.75rem;
    }
  }
  
  .login {
    color: white;
    background-color: black;
  }
  
  .training,
  .payment {
    //width: 50%;
    color: black;
    //margin-right: 1rem;
  }
}

.mobile-navbar-nav {
  font-size: 1.75rem;

  @include media-breakpoint-up(xs) {
    font-size: 2rem;
  }

  list-style: none;
  margin: 0;
  padding: 0.75rem 0 0 0;
}

.mobile-nav-item {
  margin: 0;
  font-family: $font-family-sans-serif-condensed;
}

.mobile-nav-item .mobile-nav-link {
  @extend .text-dark;

  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 0.375rem 1.25rem;

  @include media-breakpoint-up(xs) {  
    padding: 0.5rem 1.5rem;
  }
}

.mobile-nav-item.dropdown > .mobile-nav-link:after {
  content: '';
  display: inline-block;
  
  width: 1rem;
  height: 1rem;
  margin: 0.25rem 0 0 0.5rem;

  @include media-breakpoint-up(xs) {  
    width: 1rem;
    height: 1rem;
    margin: 0.25rem 0 0 0.5rem;
  }
  
  background-image: url(/assets/images/double-arrow-dark.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(0);
  transition: transform 0.125s ease;
}

.mobile-nav-item.dropdown.show > .mobile-nav-link:after {
  transform: rotate(90deg);
  transition: transform 0.25s ease;
}

.mobile-navbar-nav .dropdown-menu {
  position: static;
  float: none;
  padding: 0 0 0.5rem;
  font-size: 1.5rem;
  background-color: transparent;
  
  @include media-breakpoint-up(xs) {
    padding: 0 0 0.5rem;
    font-size: 1.8rem;
  }
}

.mobile-navbar-nav .dropdown-menu li {
  margin: 0;
}

.mobile-navbar-nav .dropdown-menu li a {
  line-height: 1;
  padding: 0.75rem 3rem;
}
