.form-block {
  @extend .section--translucent-dark;
  
  background: transparent url(/assets/images/section-bg--testimonial-file.jpg) no-repeat top center;
  background-size: cover;
  h2 {
    text-transform: uppercase;
  }
}
