.summit-nav-title {
  font-weight: 600;
}

.summit-nav-menu-text {
  width: 20px;
}

@include media-breakpoint-down(md) {
  .summit-arrow {
    display: none;
  }
}

@include media-breakpoint-up(md) {
  .summit .navbar-tagline {
    display: none;
  }
}

@include media-breakpoint-up(lg) {
  .summit-navbar .navbar-collapse {
    flex-basis: 0;
  }
}

.summit .summit-nav {
  display:block;
  background: black;
  border-top: 3px solid white;
  color: white !important;
  
  a {
    color: white !important;
    &:focus {
      color: black !important;
    }
  }
  span {
    color: white !important;
  }
}

.summit-navbar .navbar-brand {
  margin: 0; 
  transform: none;
}

.summit-navbar-nav {
  //display: block !important;
}

.summit-nav-item {
  font-family: $font-family-sans-serif-condensed;
  margin: 0;
  text-transform: uppercase;  

  @include media-breakpoint-up(lg) {
    display: flex;
  }
}

.summit-nav-link {
  display: block !important;

  @include media-breakpoint-up(lg) {
    display: inline-block !important;
  }
}

.summit-nav-link:hover {
  background-color: rgba(white, 0.125);
}

@include media-breakpoint-up(md) {
  .summit-nav-title {
    font-size: $font-size-base;
  }

  .summit-navbar .summit-navbar-nav .summit-nav-link {
    padding: 0.75rem 1.25rem;
    font-size: $font-size-base;
    line-height: 3rem;
    
    &:hover {
      transform: none !important;
      color: black;      
    }
  }
}

.summit-navbar-nav .btn {
  font-size: ms(1);
  
  @include media-breakpoint-up(lg) {
    font-size: ms(-1);
  }
}
