.report__title {
  margin-top: 0;
}

.gallery > a {
  border: none;
}
.galleryImage {
  margin-right: $spacer;
  margin-bottom: $spacer;
  border: none;
}

.select-input {
  display: block;
  padding: 0.5rem 0.75rem;
}
