.site-brand {
  a,
  a:link {
    border: none;
  }
}

.site-header {
  font-weight: $font-weight-light;
  background-color: rgba(rgb(220, 220, 220), 0.75);
  transition: background-color 0.125s;
  z-index: 3;
}

@include media-breakpoint-down(md) {
  .site-header {
    background-color: rgba(white, 0.9);
    width: 100%;
    .container {
      padding: 0;
    }
  }
}

@include media-breakpoint-up(lg) {
  .site-header-outside {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .site-header {
    position: absolute;
    width: 100%;
    border-bottom: 3px solid white;
  }

  .site-header.stuck {
    position: fixed;
    top: 0;
    bottom: initial;
  }

  .site-header.bottom:not(.stuck) {
    bottom: 0;
  }
}

/* Image headings */

.image-heading {
  margin: 0 0 $spacer;
  a {
    border: none;
  }
  img {
    height: auto;
    width: auto;
    max-width: 100%;
  }
}

@include media-breakpoint-up(md) {
  .image-heading {
    margin-bottom: $spacer*2;
    display: inline-block;
    img {
      width: 60%;
      height: auto;
      max-width: 100%;
    }
  }
}

.summit-banner {
  display: block;
  //z-index: 1000;
  background-color: #0081ff;
  border-bottom: 2px solid white;
  padding: 0.7rem 0.5rem 0.7rem 0.5rem;
  font-size: 0.9rem;

  .banner-callouts {
    color: #ffea00;
  }

  a {
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }

  a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.75);
  }
}
