@import "../../../node_modules/intl-tel-input/build/css/intlTelInput";


.iti__country-list,
.iti__flag-container {
  color: black;
}

.iti__flag {
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/img/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.19/img/flags@2x.png");
  }
}

.salesforce-form {
  .form-field {
    margin-bottom: 1rem;
    
    label {
      margin-bottom: 0;
      
      small {
        color: #aaa;
      }
    }
        
    .form-input {
      width: 100%;
      
      input[type='text'],
      input[type='email'],
      textarea {
        max-width: 100%;
        width: 40ch;
      }

      input[size='10'] {
        width: 20ch;
      }
      
      input[size='20'] {
        width: 40ch;
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .salesforce-form {
    .form-field {
      display: flex;
      margin-bottom: 1rem;
      
      label {
        width: 20ch;
        margin-right: 1rem;
        flex-shrink: 0;
      }
    }
    
    .form-submit {
      padding-left: calc(20ch + 1rem);
    }
  }

}