.know-more {
  margin-top: $spacer*2;
  margin-bottom: $spacer*2;
}

.hotel__item-spacer {
  border: dotted #b4b4b4;
  border-image-repeat: round;
  border-image-slice: 33% 33%;
  border-image-source: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiI…AgICAgIDwvZz4KICAgICAgICAgICAgPC9nPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+);
  border-width: 0 0 .09rem;
  height: 1.3rem;
  margin-left: .3rem;
  margin-right: .3rem;
  width: 100%;
}

.hotel__item-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
} 

.hotel__item-name {
  height: 2rem;
  line-height: 2rem;
  margin: 0!important;
  white-space: nowrap;
}

.hotel__item-price {
  height: 2rem;
  line-height: 2rem;
  white-space: nowrap;
}
