@import "../../../node_modules/luminous-lightbox/dist/luminous-basic";

.lum-lightbox {
  z-index: 3;
}

.lum-lightbox-inner .lum-lightbox-caption {
  padding: 1rem;
}

.lum-previous-button {
  left: 0;
}

.lum-next-button {
  right: 0;
}

.lum-lightbox-inner img {
  max-width: 90%;
  max-height: 90%;
}

/*
.lum-lightbox.lum-opening {
  animation: lum-fade 0 ease-out;
}

.lum-lightbox.lum-opening .lum-lightbox-inner {
  animation: lum-fadeZoom 0 ease-out;
}

.lum-lightbox.lum-closing {
  animation: lum-fade 0 ease-in;
  animation-direction: reverse;
}

.lum-lightbox.lum-closing .lum-lightbox-inner {
  animation: lum-fadeZoom 0 ease-in;
  animation-direction: reverse;
}
*/
