.section {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  padding-top: $spacer*1.5;
  padding-bottom: $spacer*1.5;
}

.section--first,
.section--heading {
  padding-top: $spacer * 2; // Navbar is static on mobile, so no need to pad this excessively
}

@include media-breakpoint-up(sm) {
  .section {
    padding-top: $spacer*2;
    padding-bottom: $spacer*2;
  }
  .section--first,
  .section--heading {
    padding-top: $spacer * 6;
  }
}

@include media-breakpoint-up(md) {
  .section {
    padding-top: $spacer*3;
    padding-bottom: $spacer*3;
  }
  .section--first,
  .section--heading {
    padding-top: $spacer * 6;
  }
}

@include media-breakpoint-up(lg) {
  .section {
    //min-height: 100vh;
    padding-top: $spacer*4;
    padding-bottom: $spacer*4;
  }
  .section--first,
  .section--heading {
    padding-top: $spacer * 12;
  }
  .layout--full-viewport {
    min-height: 100vh;
  }
  .section--full-viewport {
    min-height: 100vh;
  }
}

.section.-nopad {
  padding-top: 0;
  padding-bottom: 0;
}

.section.-nopad-top {
  padding-top: 0 !important;
}

.section.-nopad-bottom {
  padding-bottom: 0 !important;
}

.section--translucent-light {
  background-color: rgba(255, 255, 255, 0.2);
}

.section--translucent-lighter {
  background-color: rgba(255, 255, 255, 0.9);
}

.section--translucent-medium {
  background-color: rgba(131, 131, 131, 0.2);
}

.section--translucent-dark {
  background-color: rgba(0, 0, 0, 0.2);
}

.section--white {
  background-color: #fff;

  a {
    color: #111;
  }

  a:hover {
    color: #999 !important;
  }
}

.section__content {
  display: flex;
  align-items: center;
  justify-content: center; //z-index: 100;
}
