.hero {
  position: relative;
  min-height: 33vw;
}

.hero__container {
  display: flex;
  flex-direction: column;
}

.hero__layout {
  display: flex;
  flex-direction: column;
  min-height: 33vw;

  @include media-breakpoint-down(md) {
    min-height: 50vw;
  }
}

.hero__layout--center {
  @extend .hero__layout;
  justify-content: center;
  align-items: center;
}

.hero__layout--vcenter {
  @extend .hero__layout;
  justify-content: center;
}

.hero__layout--hcenter {
  @extend .hero__layout;
  align-items: center;
}

.hero__layout--top {
  @extend .hero__layout;
  justify-content: flex-start;
}

.hero__layout--bottom {
  @extend .hero__layout;
  justify-content: flex-end;
}

.hero__layout--left {
  @extend .hero__layout;
  align-items: flex-start;
}

.hero__layout--right {
  @extend .hero__layout;
  align-items: flex-end;
}

.hero__container {
  //z-index: 100;
  position: relative;
}

.hero__parallax {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //z-index: 50;
}

.hero__parallax__foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //z-index: 1;
  overflow: hidden;
}

.hero__parallax__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //z-index: 0;
  overflow: hidden;
}
