

@include media-breakpoint-up(sm) {
  .altimeter {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    top: 0; //calc(#{$header-height} + 3px);
    overflow: hidden;
    //z-index: 10;
  }

  .altimeter__content {
    font-family: $font-family-sans-serif-condensed;
    font-weight: $font-weight-regular;
    font-size: $font-size-sm;
    color: rgba(190, 190, 190, 0.75);
    width: 4.5em;
    margin: 0;
    padding: $spacer * 10 0 0 0;
    margin-left: $spacer*1;
    padding-left: $spacer*1.75;
    text-align: right;
    background-image: linear-gradient(
      rgba(190, 190, 190, 0.5) 20%,
      rgba(255, 255, 255, 0) 0%
    );
    background-position: left;
    background-size: 12px 12px;
    background-repeat: repeat-y;
    > div {
      display: block;
      height: 96px;
      line-height: 44px;
      margin: 0;
      padding: 0;
    }
  }

  .altimeter .altitude-1k {
    color: rgba(190, 190, 190, 1.0);
  }
}

@media (max-width: 1280.98px) {
  .altimeter {
    display: none;
  }
}
