.contact-info {
  //margin: 0 0 0.5rem 0;
  display: flex;
  align-items: flex-start;

  > img {
    margin: 0.375rem 0.75rem 0 0;
    width: 1.25rem;
    height: 1.125rem;
    object-fit: contain;
    object-position: center;
  }
}
