/* Button used on the home page hero */
.button,
a.button,
a.button:link {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-family: $font-family-sans-serif !important;
  font-weight: $font-weight-light;
  font-size: 2.5rem;
  display: inline-block;
  padding: 0 0.4em;
  vertical-align: top;
}

.btn {
  font-family: $font-family-sans-serif !important;
  font-weight: $font-weight-medium !important;
  margin-top: $spacer * 1/2;
  margin-bottom: $spacer * 1/2;
  padding: 0.5em 1.25em;
  text-decoration: none;
  border: none !important;

  > .icon {
    display: inline-block;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
  }
}

.btn-lg {
  margin-top: $spacer * 3/4;
  margin-bottom: $spacer * 3/4;
  padding: 0.5em 1.25em;
}

a.btn-primary,
a.btn-primary:hover {
  color: white !important;
}

.cta-buttons {
  margin-top: $spacer * 2;
  margin-bottom: $spacer * 2;
  display: flex;
  flex-direction: column;
  align-items: start;
}
