.image-border {
  border: 2px solid white;
}

.blog-image-border {
  border: 2px solid #ccc;
}

.speaker-portrait {
  max-width: 230px;
  border: 2px solid white;
  margin-right: 20px;
}

@include media-breakpoint-down(md) {
  .speaker-portrait {
    max-width: 170px;
  }
}

@include media-breakpoint-down(sm) {
  .speaker-portrait {
    max-width: 230px;
  }
}

.featured-speaker-portrait {
  max-width: 230px;
  border: 2px solid white;
  float: left;
  margin-right: 20px;
  margin-top: 10px;
}

@include media-breakpoint-down(md) {
  .featured-speaker-portrait {
    max-width: 40%;
  }
}

.cards-accepted {
  width: 175px;
  margin-top: 10px;
}

.footer-cards-accepted {
  width: 130px;
}
