.site-footer {
  @extend .text-light;
  font-family: $font-family-sans-serif-condensed;
  line-height: 1.25;

  font-size: $font-size-lg;

  @include media-breakpoint-up("xs") {
    font-size: ms(2);
  }
  
  @include media-breakpoint-up("sm") {
    font-size: $font-size-base;
  }
}

.site-footer a {
  color: white;
}

.footer {
  background-color: rgba(white, 0.25);  
}

.footer-columns {  
  padding: 0 1rem;

  .footer-column {
    padding: 2rem 0;
    border-bottom: 1px solid rgba(white, 0.25);
    
    &:last-child {
      border: none;
      padding-bottom: 2rem;
    }
  }
}

@include media-breakpoint-up("xs") {
  .footer-columns {  
    padding: 0 1rem;
    //border: 2px solid red;
  }  
}

@include media-breakpoint-up("sm") {
  .footer-columns {  
    flex-wrap: nowrap;
    //border: 2px solid orange;
  
    .footer-column {
      padding: 2rem 0 1rem 0;
    }
  }  
}

@include media-breakpoint-up("md") {
  .footer-columns {  
    //border: 2px solid yellow;
    padding: 2rem;
  }  
}

@include media-breakpoint-up("lg") {
  .footer-columns {
    //border: 2px solid green;
    display: flex;
    justify-content: stretch;
    padding: 2rem 1.5rem;

    .footer-column {
      flex-grow: 1;
      padding: 0 1.5rem;
      border: none;
      border-right: 1px solid rgba(white, 0.25);
      
      &:last-child {
        border: none;
      }
    }    
  }
}

@include media-breakpoint-up("xl") {
  .footer-columns {
    //border: 2px solid blue;
    padding: 3rem 1.75rem;

    .footer-column {
      padding: 0 1.75rem;
    }    
  }
}

.footer-columns {
  display: flex;
  flex-wrap: wrap;
  
  @include media-breakpoint-up("lg") {
    flex-wrap: nowrap;
  }
}

.footer-column__contact,
.footer-column__connect,
.footer-column__signup,
.footer-column__news,
.footer-column__miscellaneous {
  flex-basis: 100%;

  @include media-breakpoint-up("lg") {
    flex-basis: auto;
  }
}

.footer-column__contact {
  flex-basis: 100%;  

  @include media-breakpoint-up("sm") {
    flex-basis: 55%;
  }
  @include media-breakpoint-up("md") {
    flex-basis: 30%;
  }
  @include media-breakpoint-up("lg") {
    flex-basis: auto;
  }
}

.footer-column__connect {
  flex-basis: 100%;  

  @include media-breakpoint-up("sm") {
    flex-basis: 45%;
  }
  @include media-breakpoint-up("md") {
    flex-basis: 30%;
  }
  @include media-breakpoint-up("lg") {
    flex-basis: auto;
  }
}

.footer-column__signup {
  @include media-breakpoint-up("sm") {
    flex-basis: 55%;
  }
  @include media-breakpoint-up("md") {
    flex-basis: 40%;
  }
  @include media-breakpoint-up("lg") {
    flex-basis: auto;
  }
}

.footer-column__news {
  @include media-breakpoint-up("sm") {
    flex-basis: 45%;
  }
  @include media-breakpoint-up("md") {
    display: none;
  }
  @include media-breakpoint-up("xl") {
    display: block;
  }  
}

.footer-heading {
  @extend .text-light;

  font-size: ms(2);

  @include media-breakpoint-up("xs") {
    font-size: ms(3);
  }

  @include media-breakpoint-up("md") {
    font-size: $font-size-lg;
  }

  @include media-breakpoint-up("lg") {
    font-size: $font-size-lg;
  }
  
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1;
  white-space: nowrap;
  margin: 0 0 1rem 0;
  letter-spacing: 0;
}

.footer-contact {
  white-space: nowrap;
  
  .footer-contact-group {
    margin: 0 0 1rem 0;
    display: flex;
    align-items: flex-start;
    
    > img {
      margin: 0.375rem 0.75rem 0 0;
      width: 1.125rem;
      height: 1.125rem;
      object-fit: contain;
      object-position: center;
    }
  }
  
  dl {
    display: grid;
    grid-template-columns: 4em auto;
    gap: 0.375em 0.5rem;

    @include media-breakpoint-up("md") {
      gap: 0 0.5rem;      
    }
  }
  
  dt {
    @extend .text-light;
    grid-column: 1;
    margin: 0;
    font-weight: 900;
  }
  
  dd {
    grid-column: 2;
    margin: 0;
  }
}

.footer-social-icons {
  display: flex;
  margin: 0 -0.25rem 1rem;
  
  a {
    border: none;
    display: block;
    margin: 0.25rem;
  }
  
  img {
    width: 2rem;
    height: auto;
  }
}

.footer-eyebrow-icons {
  text-transform: uppercase;
  
  a {
    border: none;
    display: flex;
    align-items: center;
    margin: 1rem 0;
  }
  
  img {
    width: 2rem;
    height: 2rem;
    object-fit: contain;
    object-position: center;
    margin-right: 0.75rem;
  }
}

.footer-signup-form {
  fieldset {
    display: flex;

    input[type="email"] {
      @include media-breakpoint-up("xs") {
        width: 100%;
      }
      @include media-breakpoint-up("sm") {
        width: 12em;
      }
      
      max-width: 100%;
      margin-right: 0.75rem;
      background-color: transparent;
      color: white;
      padding: 0.25rem 0.5rem;
      border: 1px solid white;
      line-height: 1;

      &::placeholder {
        color: #ccc;
      }
    }
    
    .btn {
      color: black;
      background-color: white;
      margin: 0;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      
      @include media-breakpoint-up("xs") {
        padding-left: 1rem;
        padding-right: 1rem;
      }      
    }
  }
}

.footer-news {
  article {
    margin: 0 0 1rem 0;
  }
}

.footer-miscellaneous {
  text-align: center;

  @include media-breakpoint-up("lg") {
    text-align: right;
  }
}

.footer-brand {
  
}

.footer-brand-logo {
  width: 12rem;
  height: auto;
  max-width: 100%;
}

.footer-brand-text {
  
}

.site-credits {
  padding: $spacer 0;
  background-color: rgba(83, 83, 83, 0.8);
  border-top: 3px solid white;
  text-align: center;
}

@include media-breakpoint-up("md") {
  .site-credits-content {
    display: flex;
    justify-content: space-between;
  }
}