.parallax-wrapper > .parallax-content {
  z-index: 0;
}

.site-content {
  position: relative;
}

.site-footer {
  z-index: 2;
}

@include media-breakpoint-down(md) {
  .parallax-wrapper {
    position: relative;
    background-color: $bg-dark;
  }
}

@include media-breakpoint-up(sm) {
  .parallax-wrapper {
    position: relative;
    background-color: $bg-dark;
    //z-index: 0;
    overflow: hidden;
  }

  .parallax-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    //z-index: 0; //-1;
    overflow: hidden;
    min-height: 215vh;
  }

  .parallax-background-top {
    //z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 99vh; // 100vh causes a weird rendering bug in Firefox
    background-image: url(/assets/images/parallax-bg-top-dark.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    transform: translate3d(0, 0, 0); // pre-load the CSS transform to eliminate jitter on initial scroll
  }

  .parallax-background-bottom {
    //z-index: -1;
    position: absolute;
    bottom: -20vh;
    left: 0;
    right: 0;
    height: 99vh; // 100vh causes a weird rendering bug in Firefox
    background-image: url(/assets/images/parallax-bg-bottom.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    transform: translate3d(0, 0, 0); // pre-load the CSS transform to eliminate jitter on initial scroll
  }
}
