.navbar {
  @extend .text-dark;
  
  justify-content: space-between;
  padding: 0;
  font-weight: $font-weight-regular;
  font-family: $font-family-sans-serif;
}

.navbar a,
.navbar a:hover {
  text-decoration: none;
  border-bottom: none;
}

.navbar-eyebrow {
  margin: 0;
  font-family: $font-family-sans-serif-condensed;
}

.navbar-eyebrow a,
.navbar-nav a.nav-link {
  @extend .text-dark;

  white-space: nowrap;
}

.navbar-nav .btn {
  color: white;
}

.navbar-brand {
  padding: 0;
  transform: translateX(-20%); // shift left to compensate for logo swooshes
  margin-right: 0;
}

.navbar-toggler {
  top: 0;
  right: 0;
  bottom: 0;
  height: $header-height;
  border: none;
  padding: 0;
}

.navbar-logo {
  height: $vertical-rhythm;
  //transform: translateX(-20%);

  @include media-breakpoint-up(lg) {
    height: $vertical-rhythm * 1.25;
  }
  
  @include media-breakpoint-up(xl) {
    height: $vertical-rhythm * 1.5;
  }
}

.navbar-tagline {
  position: absolute;
  width: 100%;
  bottom: -50%;
  left: 20%;
}

@include media-breakpoint-down(md) {
  .navbar {
    .container {
      padding: 0;
    }
    .navbar-brand {
      margin-left: 1.75rem;
    }
    .navbar-toggler {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
  }

  .navbar {
    font-size: $font-size-lg;
    
    ul.navbar-nav {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
      
      li {
        margin: 0;
      }
      
      li a {
        padding: 0 1em;
        display: inline-block;
        text-decoration: none;
        color: currentColor;
        text-transform: uppercase;
        line-height: $header-height;
      }
      
      li a:hover {
        background-color: rgba(white, 0.25);
        color: black;
      }
      
      li a.active {
        color: black;
      }      
    }
  }

  .navbar-brand {
    height: $header-height; //$vertical-rhythm*1.5;
    text-align: left;
    margin: 0;
    padding: 0;
    
    a {
      display: inline-block;
      height: $header-height;
      display: flex;
      align-items: center;
    }
  }

  .navbar-tagline {
    display: none;
  }

  .navbar-nav .nav-link {
    padding: 0 $spacer;
    display: block;
    line-height: 3;
  }

  .dropdown-menu {
    color: inherit;
    background-color: rgba(white, 0.25);
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: block;
      
      li {
        a {
          color: inherit;
          display: block;
          padding: 0 1em;
          line-height: 2.5;
        }
      }
    }
    
    a.highlighted {
      background-color: rgba(0, 118, 255, 0.6);
    }
    
    a.highlighted:hover {
      background-color: rgba(0, 118, 255, 0.8);
    }
  }
}

@include media-breakpoint-up(lg) {
  .dropdown-menu,
  .navbar .navbar-nav .nav-link {
    font-size: ms(0);
  }

  .navbar {
    padding: 0;

    .nav-list {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    .nav-item {
      margin: 0;
      display: flex;
      align-items: center;
    }
    
    .nav-item.dropdown > .nav-link {
      &:after {
        content: '';
        display: inline-block;
        width: 0.6rem;
        height: 0.75rem;
        margin: 0 0 0 0.25rem;
        background-image: url(/assets/images/down-arrow.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    .navbar-eyebrow {
      //margin-bottom: -1rem;
      transform: translateY(0.5rem);
    }
    
    .navbar-eyebrow > a {
      font-size: $font-size-base;
      padding: 0 0.75em;      
      display: inline-block;
      text-decoration: none;
      color: currentColor;
      text-transform: uppercase;
      line-height: 3;
      border: none;
      transition: background-color 0.25s;
      font-family: $font-family-sans-serif-condensed;
      
      > img {
        height: 1.25rem;
        width: auto;
        margin-right: 0.25rem;
      }
      
      &:hover {
        text-decoration: underline;
      }
    }

    .navbar-nav .nav-link {
      padding: 0 0.725em;
      display: inline-block;
      text-decoration: none;
      color: currentColor;
      text-transform: uppercase;
      line-height: 2.75;
      border: none;
      transition: background-color 0.25s;
      font-family: $font-family-sans-serif-condensed;
    }

    .nav-link:hover {
      color: black;
      background-color: rgba(white, 0.5);
      transition: background-color 0.5s;
    }
    .nav-link:focus {
      background-color: rgba(white, 1);
    }

    .dropdown-menu {
      font-family: $font-family-sans-serif-condensed;
      background-color: rgba(white, 0.75);
      margin: 3px 0 0 0;
      padding: 0;
      border: 0;
      border-radius: 1px;
      
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      
      li {
        margin: 0;
        padding: 0;
        display: block;
      }
      
      a {
        display: block;
        padding: 0 1em;
        line-height: 2.5;
      }
            
      a,
      a:link {
        color: black;
        white-space: nowrap;
      }
      
      a:hover {
        background-color: rgba(white, 1);
      }
      
      a.highlighted {
        background-color: rgba(0, 118, 255, 0.6);
      }
      
      a.highlighted:hover {
        background-color: rgba(0, 118, 255, 0.8);
      }
      
      li:not(:last-child) {
        a {
          border-bottom: 1px solid rgba(white, 0.5);
        }
      }
    }

    // This should be included in Bootstrap, but for some reason it's not?
    .dropup .dropdown-menu {
      top: initial !important;
      bottom: 100% !important;
    }
  }

  .navbar-brand {
    //height: $vertical-rhythm*1.5;
    position: relative;
    text-align: left;
    padding: 0.75rem 0;
  }
  
  .navbar-collapse {
    flex-direction: column;
  }
  
  .navbar-eyebrow {
    display: flex;
    
    & > * {}
  }
}

.navbar-nav .btn {
  font-size: ms(-1);
  
  @include media-breakpoint-up(xl) {
    font-size: ms(0);
  }
}

@include media-breakpoint-up(xl) {
  .navbar .navbar-nav .nav-link {
    font-size: ms(1);
  }
}

.navbar-toggler {
  top: 0;
  right: 0;
  bottom: 0;
  height: $header-height;
  border: none;
  padding: 0;
  
  &[aria-expanded="true"] {
    @extend .is-active;
  }
}
