.form-block,
.demo-request {
  @extend .section--translucent-dark;
  background: #060606 url(/assets/images/section-bg--testimonial-file.jpg) no-repeat top center;
  background-size: 100% auto;
  
  h2 {
    text-transform: uppercase;
  }
}
