@font-face {
  font-family: "jetnet";
  src: url("/assets/fonts/jetnet.eot?-9wgptx");
  src: url("/assets/fonts/jetnet.eot?#iefix-9wgptx") format("embedded-opentype"),
    url("/assets/fonts/jetnet.ttf?-9wgptx") format("truetype"),
    url("/assets/fonts/jetnet.woff?-9wgptx") format("woff"),
    url("/assets/fonts/jetnet.svg?-9wgptx#jetnet") format("svg");
  font-weight: normal;
  font-style: normal;
}

@mixin icon() {
  font-family: "jetnet";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 0.9em;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  //position: relative;
  //top: 0.05em;
}

[class^="icon-"],
[class*=" icon-"] {
  @include icon();
}

@mixin single-arrow() {
  @include icon();
  &:before {
    content: "\e600";
  }
}

@mixin double-arrow() {
  @include icon();
  &:before {
    content: "\e601";
  }
}

.icon--single-arrow {
  @include single-arrow();
  color: inherit;
}
.icon--double-arrow {
  @include double-arrow();
  color: inherit;
}

.icon--double-arrow-outset {
  @include double-arrow();
  color: inherit;
  display: inline-block;
  width: 0;
  transform: translateX(-1.75em);
}

.list--double-arrow {
  &:before {
    @include double-arrow();
    color: inherit;
  }
}
