.cc-window.cc-banner {
  font-family: $font-family-sans-serif;
  padding: 1.25rem 1.25rem;
  width: auto;
  background-color: rgba(#cccccc, 0.75);
  bottom: 3rem;
  right: 3rem;
  left: 3rem;

  .cc-message {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;

    @extend .text-dark;

    @include media-breakpoint-up(lg) {
      .s2 {
        white-space: nowrap;
      }
    }
  }

  .cc-link {
    text-decoration: underline;
    color: black;
    border: none;
    font-weight: bold;
    padding: 0;
  }

  .cc-allow,
  .cc-deny {
    @extend .btn;

    border: 1px solid white;
    margin: 0;

    &:before {
      @extend .icon;
      @extend .icon--double-arrow;
      margin-right: 0.25rem;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .cc-allow {
    @extend .btn-primary;
  }

  .cc-deny {
    color: white;
    background-color: rgba(131, 131, 131, 0.2);
    margin-right: 0.5rem;
  }
}

@include media-breakpoint-down(md) {
  .cc-window.cc-banner {
    padding: 1rem;
    display: block;
    bottom: 1rem;
    right: 1rem;
    left: 1rem;
    text-align: center;

    .cc-message {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }

    .cc-compliance {
      display: block;
    }

    .cc-allow,
    .cc-deny {
      font-size: 1.2rem;
    }
  }
}