@font-face {
  font-family: "Zurich LtXCn BT";
  src: url("/assets/fonts/zurich.eot"); /* IE9*/
  src: url("/assets/fonts/zurich.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/zurich.woff2") format("woff2"),
    /* chrome firefox */ url("/assets/fonts/zurich.woff") format("woff"),
    /* chrome firefox */ url("/assets/fonts/zurich.ttf") format("truetype"); /* chrome firefox opera Safari, Android, iOS 4.2+*/
}

@font-face {
  font-family: "Honey Script";
  src: url("/assets/fonts/honey-script.eot"); /* IE9*/
  src: url("/assets/fonts/honey-script.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/assets/fonts/honey-script.woff2") format("woff2"),
    /* chrome firefox */ url("/assets/fonts/honey-script.woff") format("woff"),
    /* chrome firefox */ url("/assets/fonts/honey-script.ttf")
      format("truetype"); /* chrome firefox opera Safari, Android, iOS 4.2+*/
}

html {
  font-size: 14px;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 14px;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 15px;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 17px;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  font-weight: $font-weight-base;
}

b,
strong {
  -webkit-font-smoothing: antialiased;
  font-weight: $font-weight-bold;
}

.font-thin {
  font-weight: 100 !important;
}
.font-extralight {
  font-weight: 200 !important;
}
.font-light {
  font-weight: 300 !important;
}
.font-normal {
  font-weight: 400 !important;
}
.font-medium {
  font-weight: 500 !important;
}
.font-semibold {
  font-weight: 600 !important;
}
.font-bold {
  font-weight: 700 !important;
}
.font-extrabold {
  font-weight: 800 !important;
}
.font-black {
  font-weight: 900 !important;
}

.italic {
  font-style: italic !important;
}

/* Headings */

.h1,
.h2,
.h3 {
  color: #b1c4ca;
  font-family: $font-family-sans-serif;
  text-transform: none;
}

.h1 {
  @include font-size-h1();

  font-weight: $font-weight-extra-light;
  //text-transform: uppercase;
  margin-top: 0;
  margin-bottom: $spacer * 1.5;
  line-height: 1;
}

.display-1 {
  @include font-size-h1();

  font-family: $font-family-display;
  font-weight: 300;
  margin-top: $spacer;
  margin-bottom: $spacer;
  line-height: 1;
  letter-spacing: -0.01em;
  color: white;
}

.h2 {
  @include font-size-h2();
  font-weight: $font-weight-light;
  margin-top: $spacer;
  margin-bottom: $spacer;
  line-height: 1.125;
}

.h3 {
  @include font-size-h3();
  font-weight: $font-weight-light;
  margin-top: $spacer;
  margin-bottom: $spacer;
  line-height: 1.25;
}

.h4 {
  @include font-size-h4();
  font-weight: $font-weight-light;
  margin-top: $spacer;
  margin-bottom: $spacer;
  line-height: 1.25;
}

.h5 {
  @include font-size-h5();
  font-weight: $font-weight-light;
  margin-top: $spacer;
  margin-bottom: $spacer;
  line-height: 1.25;
}

.h6 {
  @include font-size-h6();
  font-weight: $font-weight-light;
  margin-top: $spacer;
  margin-bottom: $spacer;
  line-height: 1.25;
}

@include media-breakpoint-up(sm) {
  .h1 {
    margin-bottom: $spacer * 1.5;
  }
  //.h2 {
  //}
  //.h3 {
  //}
}

@include media-breakpoint-up(md) {
  .h1 {
    margin-bottom: $spacer * 2;
  }
  //.h2 {
  //}
  //.h3 {
  //}
}

@include media-breakpoint-up(lg) {
  .h1 {
    margin-bottom: $spacer * 3;
  }
  //.h2 {
  //}
  //.h3 {
  //}
}

.h1 > small {
  @include font-size-h2();
  text-transform: none;
  font-weight: $font-weight-normal;
  line-height: 1.25;
  display: block;
  margin-top: $spacer;
}

h1 {
  @extend .h1;
}
h2 {
  @extend .h2;
}
h3 {
  @extend .h3;
}
h4 {
  @extend .h4;
}
h5 {
  @extend .h5;
}
h6 {
  @extend .h6;
}

.font-size-h1 {
  @include font-size-h1();
}
.font-size-h2 {
  @include font-size-h2();
}
.font-size-h3 {
  @include font-size-h3();
}
.font-size-h4 {
  @include font-size-h4();
}
.font-size-h5 {
  @include font-size-h5();
}
.font-size-h6 {
  @include font-size-h6();
}

/* Links */

a,
a:link,
.link {
  text-decoration: none;
  border-bottom: 1px solid rgba($link-color, 0.25);
}
a:hover,
.link:hover {
  border-bottom-color: rgba($link-color, 0.5);
}

/* Utility classes */

.text-light {
  font-weight: $font-weight-light !important;
}
.text-regular {
  font-weight: $font-weight-regular !important;
}
.text-medium {
  font-weight: $font-weight-medium !important;
}
.text-bold {
  font-weight: $font-weight-bold !important;
}

.line-height-lg {
  @include line-height-lg();
}

.leading-none {
  line-height: 1;
}
.leading-tight {
  line-height: 1.25;
}
.leading-snug {
  line-height: 1.375;
}
.leading-normal {
  line-height: 1.5;
}
.leading-relaxed {
  line-height: 1.625;
}
.leading-loose {
  line-height: 2;
}

.lead {
  font-size: $font-size-lg;
  font-weight: $font-weight-light;
  font-family: $font-family-sans-serif;
  margin-bottom: $spacer * 2;
}

.text-dark {
  color: rgb(36, 36, 36) !important;
}

.text-light {
  color: white;
}

.text-highlight {
  color: $jetnet-yellow !important;
}

.text-blue {
  color: $jetnet-blue !important;
}

.text-blue-darker {
  color: $jetnet-blue-darker !important;
}

.highlight {
  @extend .text-highlight;
}

.text-shadow {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
}

.text-small {
  font-size: $font-size-sm;
}

.text-loose {
  line-height: $line-height-lg * 1.5;
}

.upper,
.uppercase,
.text-upper {
  text-transform: uppercase !important;
}

.lower,
.lowercase,
.text-lower {
  text-transform: lowercase !important;
}

.text-titling {
  font-family: $font-family-titling !important;
  font-weight: 400;
  letter-spacing: 0.0125em;
}

.text-condensed {
  font-family: $font-family-sans-serif-condensed;
}

.nowrap {
  white-space: nowrap;
}
