body {
  background-color: $jetnet-gray;
}

table {
  th,
  td {
    vertical-align: top;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

/*
.table {
  thead th {
    border-top: none;
  }
  th,
  td {
    border-color: rgba(white, 0.05);
    vertical-align: top;
  }
}

th,
td {
  padding-top: $spacer/4;
  padding-bottom: $spacer/4;
}

th:first-child,
td:first-child {
  padding-left: 0;
}

th:last-child,
td:last-child {
  padding-right: 0;
}

//th:not(:last-child),
//td:not(:last-child) {
//  //padding-right: $grid-gutter-width/2;
//}
*/

//@include media-breakpoint-up("md") {
//  .main-content {
//    //min-height: 100vh;
//  }
//}

//.main-content a,
//.main-content a:link {
//}

ul, ol, dl {
  margin-bottom: $spacer * 1.5;
}

ul li,
ol li {
  //margin-bottom: $spacer/2;
  margin-bottom: 0;
}

ul,
ol {
  ul,
  ol {
    margin-top: $spacer/2;
    margin-bottom: $spacer;
  }
  ul {
    list-style-type: circle;
  }
}

dl {
  margin: 0;
}

dl dt {
  font-weight: $font-weight-medium;
  color: $jetnet-blue;
  margin-bottom: $spacer/2;
}

dl dd {
  margin-bottom: $spacer;
}

.pull-xs-left,
.pull-sm-left,
.pull-md-left,
.pull-lg-left,
.pull-left {
  margin-right: $spacer;
}

.pull-xs-right,
.pull-sm-right,
.pull-md-right,
.pull-lg-right,
.pull-right {
  margin-left: $spacer;
}

.callout-bleed-left {
  @include callout-bleed-left;
}
