@include media-breakpoint-up("sm") {
  .offset-sm-1 {
    margin-left: 1/12 * 100%;
  }
  .offset-sm-2 {
    margin-left: 1/6 * 100%;
  }
  .offset-sm-3 {
    margin-left: 1/4 * 100%;
  }
  .offset-sm-4 {
    margin-left: 1/3 * 100%;
  }
  .offset-sm-5 {
    margin-left: 5/12 * 100%;
  }
  .offset-sm-6 {
    margin-left: 1/2 * 100%;
  }
}

@include media-breakpoint-up("md") {
  .offset-md-1 {
    margin-left: 1/12 * 100%;
  }
  .offset-md-2 {
    margin-left: 1/6 * 100%;
  }
  .offset-md-3 {
    margin-left: 1/4 * 100%;
  }
  .offset-md-4 {
    margin-left: 1/3 * 100%;
  }
  .offset-md-5 {
    margin-left: 5/12 * 100%;
  }
  .offset-md-6 {
    margin-left: 1/2 * 100%;
  }
}

@include media-breakpoint-up("lg") {
  .offset-lg-1 {
    margin-left: 1/12 * 100%;
  }
  .offset-lg-2 {
    margin-left: 1/6 * 100%;
  }
  .offset-lg-3 {
    margin-left: 1/4 * 100%;
  }
  .offset-lg-4 {
    margin-left: 1/3 * 100%;
  }
  .offset-lg-5 {
    margin-left: 5/12 * 100%;
  }
  .offset-lg-6 {
    margin-left: 1/2 * 100%;
  }
}

.container-md,
.container-lg,
.container-xl,
.container-xxl {
  width: 100%;
  margin: 0 auto;
}

.container-md {
  max-width: map-get($container-max-widths, md);
}
.container-lg {
  max-width: map-get($container-max-widths, lg);
}
.container-xl {
  max-width: map-get($container-max-widths, xl);
}
.container-xxl {
  max-width: map-get($container-max-widths, xxl);
}

@include media-breakpoint-up(xs) {
  .xs\:container {
    width: 100%;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@include media-breakpoint-up(sm) {
  .sm\:container {
    width: 100%;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@include media-breakpoint-up(md) {
  .md\:container {
    width: 100%;
    margin: 0 auto;
    max-width: map-get($container-max-widths, md);
    padding-right: 15px;
    padding-left: 15px;
  }
}

@include media-breakpoint-up(lg) {
  .lg\:container {
    width: 100%;
    margin: 0 auto;
    max-width: map-get($container-max-widths, lg);
    padding-right: 15px;
    padding-left: 15px;
  }
}

@include media-breakpoint-up(xl) {
  .xl\:container {
    width: 100%;
    margin: 0 auto;
    max-width: map-get($container-max-widths, xl);
    padding-right: 15px;
    padding-left: 15px;
  }
}

@include media-breakpoint-up(xxl) {
  .xxl\:container {
    width: 100%;
    margin: 0 auto;
    max-width: map-get($container-max-widths, xxl);
    padding-right: 15px;
    padding-left: 15px;
  }
}
