@mixin font-size-h1() {
  //color: red;
  font-size: $font-size-h1; // ms(6)
  @include media-breakpoint-up(sm) {
    //color: orange;
  }
  @include media-breakpoint-up(md) {
    //color: yellow;
    font-size: ms(6);
  }
  @include media-breakpoint-up(lg) {
    //color: green;
    font-size: ms(7);
  }
  @include media-breakpoint-up(xl) {
    //color: blue;
    font-size: ms(8);
  }
}

@mixin font-size-h2() {
  font-size: $font-size-h2; // ms(3)
  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-up(md) {
  }
  @include media-breakpoint-up(lg) {
    font-size: ms(6);
  }
}

@mixin font-size-h3() {
  font-size: $font-size-h3; // ms(1)
  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-up(md) {
  }
  @include media-breakpoint-up(lg) {
    font-size: ms(4);
  }
}

@mixin font-size-h4() {
  font-size: $font-size-h4; // ms(1)
  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-up(md) {
  }
  @include media-breakpoint-up(lg) {
    font-size: ms(3);
  }
}

@mixin font-size-h5() {
  font-size: $font-size-h5; // ms(1)
  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-up(md) {
  }
  @include media-breakpoint-up(lg) {
    font-size: ms(2);
  }
}

@mixin font-size-h6() {
  font-size: $font-size-h6; // ms(1)
  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-up(md) {
  }
  @include media-breakpoint-up(lg) {
    font-size: ms(1);
  }
}

@mixin line-height-lg {
  line-height: 2;
}

@mixin callout-bleed-left {
  position: relative;
  padding-top: $spacer*3;
  padding-bottom: $spacer*3;
  //padding-right: $grid-gutter-width;
  //z-index: 100;

  &:before {
    //z-index: -1;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    background-color: rgba(white, 0.4);
  }
}
