.solution:not(:first-child) {
  margin-top: $spacer*6;
}
.solution:not(:last-child) {
  margin-bottom: $spacer*6;
}

// "Request a Demo" button
.solution .btn {
  display: inline-block;
  margin-top: $spacer;
}

// Page-specific background images
//body.solutions_aircraft-sales .parallax-foreground {
//  background-image: url(/assets/images/section-fg--wing-1.png);
//  background-position: top right;
//}

//body.solutions_finance-leasing-insurance .parallax-foreground {
//  background-image: url(/assets/images/section-fg-jet-1.png);
//}

body.solutions_aircraft-sales,
body.solutions_manufacturers,
body.solutions_finance-leasing-insurance,
body.solutions_charter-management,
body.solutions_fbo-airport-operations,
body.solutions_maintenance-parts-service,
body.solutions_industry-analysts-consultants,
body.solutions_yacht-industry-professionals {
  .parallax-foreground {
    background-size: 75% auto;
  }
}

body.solutions_aircraft-sales
  .parallax-foreground {
    background-image: url(/assets/images/parallax-fg--red-jet-wing.png);
    background-position: right 15vh;
  }
body.solutions_manufacturers
  .parallax-foreground {
    background-image: url(/assets/images/parallax-fg--blue-jet-tail.png);
    background-position: right 26vh;
    background-size: 100% auto;
  }
body.solutions_finance-leasing-insurance
  .parallax-foreground {
    background-image: url(/assets/images/parallax-fg--jet-nose.png);
    background-position: left 10vh;
  }
body.solutions_charter-management
  .parallax-foreground {
    background-image: url(/assets/images/parallax-fg--jet-tail-engine.png);
    background-position: left 25vh;
  }
body.solutions_fbo-airport-operations
  .parallax-foreground {
    background-image: url(/assets/images/parallax-fg--jet-rear.png);
    background-position: right 20vh;
    background-size: 100% auto;
  }
body.solutions_maintenance-parts-service
  .parallax-foreground {
    background-image: url(/assets/images/parallax-fg--jet-undercarriage.png);
    background-position: left 5vh;
  }
body.solutions_industry-analysts-consultants
  .parallax-foreground {
    background-image: url(/assets/images/parallax-fg--jet-tail-ascending.png);
    background-position: left 5vh;
  }
body.solutions_yacht-industry-professionals
  .parallax-foreground {
    background-image: url(/assets/images/parallax-fg--yacht.png);
    background-size: 100% auto;
    background-position: center 0;
    @include media-breakpoint-up(lg) {
      background-position: center $spacer * 1;
    }
    @include media-breakpoint-up(xl) {
      background-position: center $spacer * -15;
    }
  }


body.solutions_aircraft-sales
  .section--testimonial { background-image: url(/assets/images/section-bg--testimonial-file.jpg); }
body.solutions_manufacturers
  .section--testimonial { background-image: url(/assets/images/section-bg--testimonial-laptop.jpg); }
body.solutions_finance-leasing-insurance
  .section--testimonial { background-image: url(/assets/images/section-bg--testimonial-mesh.jpg); }
body.solutions_charter-management
  .section--testimonial { background-image: url(/assets/images/section-bg--testimonial-sign.jpg); }
body.solutions_fbo-airport-operations
  .section--testimonial { background-image: url(/assets/images/section-bg--testimonial-file.jpg); }
body.solutions_maintenance-parts-service
  .section--testimonial { background-image: url(/assets/images/section-bg--testimonial-laptop.jpg); }
body.solutions_industry-analysts-consultants
  .section--testimonial { background-image: url(/assets/images/section-bg--testimonial-mesh.jpg); }
body.solutions_yacht-industry-professionals
  .section--testimonial { background-image: url(/assets/images/section-bg--testimonial-sign.jpg); }
