.training-request-demo {
  background-color: rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.2) url(/assets/images/training/training-request-demo-bg.jpg) no-repeat center;
  background-size: cover;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba($jetnet-gray, 0.75);
  }

  h2 {
    @include font-size-h1();

    text-transform: uppercase;
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-light;
    color: white;
  }
  
  .display-icon {
    display: none;
  }

  @include media-breakpoint-up(md) {
    h2 {
      @include font-size-h2();
    }
  }

  @include media-breakpoint-up(lg) {
    .hero__layout {
      flex-direction: row;
      > * {
        margin: 0;
        padding: 0;
      }
    }

    h2 {
      font-size: 60px;
      text-transform: uppercase;
      //width: 6em;
      text-align: left;
      line-height: 1;
      margin: 0;
    }

    .display-icon {
      display: inline-block;
      font-size: 2em;
      width: 2em;
      text-align: center;
      margin: 0.4em 0.25em 0 0;
    }

    p {
      font-size: 20px;
    }
  }
}
