@keyframes fly-right {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    transform: translateX(50vw);
    opacity: 0;
  }
}

@keyframes fly-left {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    transform: translateX(-50vw);
    opacity: 0;
  }
}

.index-intro {  
  .hero__layout {
    min-height: 75vh;

    @include media-breakpoint-up(sm) {
      min-height: 90vh;
    }
  }

  .hero__parallax__foreground {
    background: transparent url(/assets/images/jet1.png) no-repeat 0 0;
  }

  @include media-breakpoint-down(sm) {
    .hero__parallax__foreground {
      background-position: left 10vw bottom 15vh;
      background-size: 150vw;
    }
  }

  @include media-breakpoint-up(sm) {
    .button {
      font-size: 48px;
      padding: 0 0.3em;
      height: 70px;
      line-height: 64px;
    }

    .hero__parallax__foreground {
      background-position: left 40vw top 36vh;
      animation: fly-right ease-in-out 90s infinite;
    }
  }
}

.index-request-demo {
  background-color: rgba(255, 255, 255, 0.1);
  background: rgba(0, 0, 0, 0.2) url(/assets/images/home-request-demo-bg.jpg) no-repeat
    center;
  background-size: cover;

  h2 {
    @include font-size-h1();

    text-transform: uppercase;
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-light;
    color: white;
  }
  .display-icon {
    display: none;
  }

  @include media-breakpoint-up(md) {
    h2 {
      @include font-size-h2();
    }
  }

  @include media-breakpoint-up(lg) {
    .hero__layout {
      flex-direction: row;
      > * {
        margin: 0;
        padding: 0;
      }
    }

    h2 {
      //@include font-size-h1();
      font-size: 60px;
      text-transform: uppercase;
      width: 6em;
      text-align: left;
      line-height: 1;
      margin: 0;
    }

    .display-icon {
      display: inline-block;
      font-size: 2em;
      width: 2em;
      text-align: center;
      margin: 0.4em 0.25em 0 0;
    }

    p {
      font-size: 20px;
      //max-width: 28em;
    }
  }
}

.index-who-we-are {
  background-color: rgba(255, 255, 255, 0.1);

  h2 {
    @include font-size-h1();
    text-transform: uppercase;
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-light;
  }
  .icon {
    display: none;
  }

  @include media-breakpoint-up(md) {
    h2 {
      @include font-size-h2();
      text-align:center;
    }
  }

  @include media-breakpoint-up(lg) {
    .hero__layout {
      flex-direction: row;
      > * {
        margin: 0;
        padding: 0;
      }
    }

    h2 {
      text-transform: uppercase;
      font-size: $font-size-h1;
      width: 4em;
      text-align: center;
      line-height: 1;
    }

    .icon {
      display: block;
      font-size: 2em;
      width: 2em;
      text-align: center;
      margin: 0 0.5em;
    }

    p {
      font-size: 25px;
      max-width: 28em;
    }
  }

  @include media-breakpoint-up(lg) {
    h2 {
      font-size: $font-size-h1;
    }
  }
}

.index-solutions {
  padding-bottom: 0;

  h2 {
    @extend .text-dark;
    @include font-size-h1();
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-light;
  }
}

@include media-breakpoint-down(md) {
  .index-solutions {
    header {
      display: block;
      padding-left: $spacer;
      padding-right: $spacer;
    }
  }
}

@include media-breakpoint-up(lg) {
  .index-solutions {
    background-color: rgba(255, 255, 255, 0.2);
    padding-top: $spacer * 3;
    padding-bottom: $spacer * 3;

    header {
      width: 60em;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 40px;
    }
    h2 {
      text-transform: uppercase;
      font-size: 80px;
      margin: 0;
    }
    p {
      margin-top: 0;
      font-size: 20px;
    }
    img {
      width: 100%;
    }
  }
}

.rollover-gallery {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
  }
  @include media-breakpoint-up(lg) {
    flex-wrap: nowrap;
  }
}

.rollover-gallery__link {
  margin: 0;
  padding: 0;
  width: 50vw;
  @include media-breakpoint-down(md) {
    width: 33vw;
  }
  @include media-breakpoint-up(lg) {
    flex-basis: 1;
  }
  position: relative;
  border: none;
  overflow: hidden;
}

.rollover-gallery__title {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin: 0 $spacer;
  font-size: $font-size-base;
  font-weight: $font-weight-medium;
  z-index: 1;
  text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.75);
}

.rollover-gallery__link:link,
.rollover-gallery__link:hover {
  border: none;
}

.rollover-gallery__link {
  .rollover-gallery__title {
    //opacity: 0;
  }
  > img {
    width: 100%;
    filter: brightness(50%) grayscale(100%) blur(0px);
    transform: scale(1);
    transition: filter 0.5s, transform 0.5s;
  }
}

.rollover-gallery__link:hover {
  .rollover-gallery__title {
    //opacity: 1;
  }
  > img {
    filter: brightness(80%) grayscale(0%) blur(8px);
    transform: scale(1.125);
    transition: filter 0.125s, transform 0.125s;
  }
}

.index-know-more {
  background: rgba(0, 0, 0, 0.2) url(/assets/images/site-bg-top.jpg) no-repeat top
    center;
  background-size: cover;
  overflow: hidden;

  h2 {
    @include font-size-h1();
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-light;
    text-transform: uppercase;
  }

  .icon {
    display: none;
  }

  .hero__parallax__foreground {
    background: transparent url(/assets/images/jet2.png) no-repeat 0 0;
  }

  @include media-breakpoint-down(lg) {
    .hero__parallax__foreground {
      //: 0;
      background-size: 150vw auto;
      background-position: right 10vw bottom 5vh;
    }
  }

  @include media-breakpoint-up(lg) {
    background-size: cover;

    .hero__parallax__foreground {
      background: transparent url(/assets/images/jet2.png) no-repeat 0 0;
      background-position: right 40vw top 20vh;
      animation: fly-left ease-in-out 90s infinite;
    }

    .section__content {
      justify-content: flex-end;
    }

    .icon {
      display: block;
      font-size: 2em;
      text-align: center;
      margin-top: $spacer * 2;
    }
    p {
      margin: 0;
      font-size: 22px;
    }

    h2 {
      text-transform: uppercase;
      font-size: $font-size-h1;
      text-align: center;
      line-height: 1;
      margin-top: 0;
    }

    p {
      font-size: 25px;
      max-width: 28em;
    }
  }
}

.index-bird {
  @include media-breakpoint-down(md) {
    background: transparent url(/assets/images/background-bird.jpg) no-repeat 0 0;
    background-size: cover;

    img {
      max-width: 60%;
      margin-top: $spacer;
      margin-bottom: $spacer;
      margin-left: -9%;
    }
    p {
      margin-bottom: $spacer * 2;
    }
  }

  @include media-breakpoint-up(md) {
    background: transparent url(/assets/images/background-bird.jpg) no-repeat 0 0;
    background-size: cover;

    img {
      display: block;
      width: 260px;
      margin-left: -42px;
      margin-bottom: $spacer;
    }

    p {
      text-align: left;
      max-width: 20em;
      font-size: 22px;
      margin-bottom: 10vh;
    }
  }
}
