.section .news:not(:last-child) {
  margin-bottom: $spacer * 4;
}

.news-date {
  margin-bottom: 0;
}

.news-title {
  margin: $spacer * 0.5 0 $spacer * 0.75 0;
}

.news .btn  {
  margin: $spacer * 0.25 0;
}