.summit-header {
  background: rgba(149, 151, 156, 0.5);
}

.iq-summit-gallery {
  img {
    width: 100%;
  }
}

.summit-agenda {
  .session {
    border-top: 2px solid rgba(white, 0.1);
    margin: 0;
    padding: 1rem 0 0 0;
    padding-left: 12rem;
  }

  .session-time {
    //font-size: 115%;
    float: left;
    width: 12rem;
    margin-left: -12rem;
  }

  .session-name {
    //color: $jetnet-blue;
    //font-size: 115%;
    //font-weight: bold;
    font-size: $font-size-lg;
    //letter-spacing: -0.05em;
  }

  h5 {
    color: white;
    margin: 1rem 0 0 0;
  }

  p.session-person {
    margin: 0 0 0 2em;
    text-indent: -2em;
  }
}

.data-table {
  @extend .table;

  border: 1px solid rgba(white, 0.125);
  background-color: rgba(white, 0.025);
  width: 100%;

  thead {
    display: none;

    @include media-breakpoint-up("sm") {
      display: table-header-group;
    }
  }

  tr {
    display: block;
    margin-bottom: $spacer;

    @include media-breakpoint-up("sm") {
      display: table-row;
      margin-top: 0;
    }
  }

  thead th {
    border-top: none;
    //border-color: rgba(white, 0.75);
  }

  tbody tr th {
    font-weight: 500;
  }

  th,
  td {
    display: block;
    padding: 0;
    border-color: rgba(white, 0.125);

    @include media-breakpoint-down("sm") {
      border: none;
    }

    @include media-breakpoint-up("sm") {
      display: table-cell;
      vertical-align: middle;
      padding: $spacer * 0.75 $spacer/2;
    }
  }

  tbody td {
    border: 1px solid rgba(white, 0.125);
    font-size: 1rem;
  }

  th.status,
  td.status {
    @include media-breakpoint-up("sm") {
      text-align: center;
    }
  }
}

.data-table.light-bg {
  @extend .data-table;

  th,
  td {
    border-color: rgba(black, 0.125);
  }
}

.data-table.grouped {
  @extend .data-table;

  tbody + tbody {
    border-color: transparent;
  }

  @include media-breakpoint-up("sm") {
    tbody + tbody {
      border-color: rgba(white, 0.0625);
    }

    thead th {
      padding-bottom: $spacer * 3/4;
    }

    tbody tr:first-child th,
    tbody tr:first-child td {
      padding-top: $spacer * 3/4;
    }
    tbody tr:last-child th,
    tbody tr:last-child td {
      padding-bottom: $spacer * 3/4;
    }
  }

  th,
  td {
    @include media-breakpoint-up("sm") {
      padding: $spacer/6 $spacer/6;
      border: none;
    }
  }
}

#summit-buy-tickets {
  background: #174683
    url(/assets/images/summit/BuyTicketsOverlay_GettyImages-1174106492.jpg)
    no-repeat center;
  background-size: cover;
}
