.badge-exhibiting {
  @extend .badge-dark;

  background-color: $jetnet-blue;
}

.badge-attending {
  @extend .badge-dark;

  background-color: $jetnet-gray;
}

.events {

}

.event {
  margin-bottom: 1rem;
}

.event-date {
  font-size: $font-size-base;
}

.event-name {
  font-size: $font-size-h3;
  font-weight: bold;
}

.events-table {
  @extend .table;

  width: 100%;

  thead {
    display: none;

    @include media-breakpoint-up("sm") {
      display: table-header-group;
    }
  }

  tr {
    display: block;
    margin-bottom: $spacer;

    @include media-breakpoint-up("sm") {
      display: table-row;
      margin-top: 0;
    }
  }

  thead th {
    border-top: none;
    //border-color: rgba(white, 0.75);
  }

  th,
  td {
    display: block;
    padding: 0;
    border-color: rgba(white, 0.125);

    @include media-breakpoint-down("sm") {
      border: none;
    }

    @include media-breakpoint-up("sm") {
      display: table-cell;
      vertical-align: top;
      padding-top: $spacer/4;
      padding-bottom: $spacer/4;
    }
  }

  th:first-child,
  td:first-child {
    padding-left: 0;
  }

  th:last-child,
  td:last-child {
    padding-right: 0;
  }

  th.status,
  td.status {
    @include media-breakpoint-up("sm") {
      text-align: center;
    }
  }
}

.events-table-loose {
  th,
  td {
    @include media-breakpoint-up("sm") {
      padding-top: $spacer/2;
      padding-bottom: $spacer/2;
    }
  }

}

.events-table-ghosted {
  thead th {
    border-color: rgba(white, 0.25);
  }

  tbody {
    th, td {
      opacity: 0.5;
    }
  }
}
