.blog-post a {
  color: $jetnet-blue-darker;
  border-bottom: 1px solid rgba(177, 196, 202, 0.5);
}

.blog-post hr {
  border-color: rgba(black, 0.1);
}

.blog-post-body a {
  font-weight: bold;
}

.blog-post blockquote {
  font-style: italic;
  padding-left: 1.25em;
  border-left: 4px solid #eee;
  margin: 1.5rem 0;
}

.blog-post blockquote p {
  margin: 0.75rem 0;
}