.about-overview,
.about-mission,
.about-history,
.about-milestones {
  p {
    font-size: $font-size-lg;
    line-height: 2;
  }
}

.about-overview {
  //@extend .text-reverse;
  background: transparent url(/assets/images/about-overview-bg.jpg) no-repeat top center;
  background-size: cover;
  .lead {
    margin-bottom: 0;
    max-width: 35em;
  }
  p {
    max-width: 36em;
  }
}

.about-mission {
  font-size: $font-size-lg;
  margin-top: 0; //padding-top: 4em;
  //padding-bottom: 4em;
  background: transparent url(/assets/images/about-mission-bg.jpg) no-repeat top center;
  background-size: 120% auto;
}

//.about-mission .section__background {
//  background: transparent url(/assets/images/about-mission-bg.jpg) no-repeat top center;
//  background-size: cover;
//}

.about-history-milestones {
  padding-top: $spacer;
  padding-bottom: $spacer;
}

.about-history {
  padding-top: $spacer*2;
  padding-bottom: $spacer*2;
  font-size: $font-size-lg;
  position: relative;
  //z-index: 100;
  
  &:before {
    //z-index: -1; // position behind the parent's content
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    background-color: rgba(white, 0.25);
  }
}

.about-milestones {
  //@extend .color-inverse;
  h3 {
    text-transform: uppercase;
  }
  ul {
    @extend .list-unstyled;
  }
}

body.about-us_facilities .section--facilities-photos {
  background-image: url(/assets/images/section-bg--facilities.jpg);
}
