.agenda-sched td tr {
    margin-right: 70px;
    margin-left: 70px;
    padding-right: 70px;
    padding-left: 70px;
}

.iq-flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.iq-flex-item {
    align-self: center;
    margin: auto;
}
