$grid-breakpoints: (
  xxs: 0,
  xs: 340px,
  sm: 600px,
  md: 900px,
  lg: 1200px,
  xl: 1480px,
  xxl: 1800px,
);

$container-max-widths: (
  // xs: No max-width for tiny screens
  // sm: No max-width for small screens
  md: 860px,
  lg: 1140px,
  xl: 1400px,
  xxl: 1600px,
);

$base-font-size: 1.0625rem;
$base-line-height: 1.5;
$vertical-rhythm: $base-font-size * $base-line-height;

$ms-base: $base-font-size;
$ms-ratio: 1.2;

$hamburger-padding-x           : 18px;
$hamburger-padding-y           : 16px;
$hamburger-layer-width         : 28px;
$hamburger-layer-height        : 3px;
$hamburger-layer-spacing       : 5px;
$hamburger-layer-color         : #000;
$hamburger-layer-border-radius : 0;
$hamburger-hover-opacity       : 0.7;
$hamburger-active-layer-color  : $hamburger-layer-color;
$hamburger-active-hover-opacity: $hamburger-hover-opacity;
$hamburger-types: (spin);