$jetnet-bright-blue: #2775c9;
$jetnet-blue: #a1b8c6;
$jetnet-blue-darker: #769ba2;
$jetnet-yellow: #ffeb00;
$jetnet-gray: rgb(123, 128, 131);

$brand-primary: #b1c4ca;

$header-height: round($vertical-rhythm * 2.5);

// Bootstrap variables

$sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-sans-serif: "acumin-pro-semi-condensed", $sans-serif;
$font-family-sans-serif-condensed: "acumin-pro-condensed", $sans-serif;
$font-family-display: "acumin-pro-condensed", $sans-serif;
$font-family-titling: "acumin-pro-wide", $sans-serif;

//$font-size-root:             1rem !default;

$font-size-base: ms(0);
$font-size-lg: ms(1);
$font-size-sm: ms(-1);
$font-size-xs: ms(-2);

$font-size-h1: ms(5);
$font-size-h2: ms(4);
$font-size-h3: ms(3);
$font-size-h4: ms(2);
$font-size-h5: ms(1);
$font-size-h6: ms(0);

$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
//$font-weight-semibold: 600;
$font-weight-bold: 600;
$font-weight-black: 900;

$font-weight-base: $font-weight-light;

$headings-color: white;

//$padding-base-vertical: 6px !default;
$padding-base-horizontal: 12px * 2;
//$padding-large-vertical: 10px !default;
$padding-large-horizontal: 16px * 2;
//$padding-small-vertical: 5px !default;
$padding-small-horizontal: 10px * 1.5;
//$padding-xs-vertical: 1px !default;
$padding-xs-horizontal: 5px * 1.5;

$body-color: white;

$link-color: #b1c4ca;
$link-decoration: underline;
$link-hover-decoration: none;

//$btn-border-radius-base:         $border-radius-base !default;
//$btn-border-radius-large:        $border-radius-large !default;
//$btn-border-radius-small:        $border-radius-small !default;
$btn-border-radius: 0;
$btn-border-radius-lg: 0;
$btn-border-radius-sm: 0;

//$btn-primary-color:              #fff !default;
$btn-primary-bg: rgba($brand-primary, 0.5);
$btn-primary-border: transparent;

$btn-font-weight: 500;

$bg-dark: rgb(64, 70, 73);
