@charset "utf-8";
@import "settings";
@import "../../../node_modules/modularscale-sass/stylesheets/modularscale";
@import "variables";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/cookieconsent/build/cookieconsent.min";
@import "vendor.animate";
@import "../../../node_modules/hamburgers/_sass/hamburgers/hamburgers";
@import "mixins";
@import "global";
@import "global.typography";
@import "global.layout";
@import "cookies";
@import "components.altimeter";
@import "components.dividers";
@import "components.form-block";
@import "components.contact-info";
@import "components.forms";
@import "components.header";
@import "components.hero";
@import "components.icons";
@import "components.footer";
@import "components.nav";
@import "components.nav-mobile";
@import "components.summit-nav";
@import "components.parallax";
@import "components.report";
@import "components.section";
@import "components.testimonial";
@import "components.video";
@import "components.demo-request";
@import "components.know-more";
@import "components.related-products";
@import "components.gallery-lightbox";
@import "components.buttons";
@import "components.affordances";
@import "components.images";
@import "pages.index";
@import "pages.about";
@import "pages.blog";
@import "pages.events";
@import "pages.news";
@import "pages.solutions";
@import "pages.legal";
@import "pages.products";
@import "pages.products.reports";
@import "pages.products.jetnet-iq-summit";
@import "pages.training";
@import "utilities.schedule";
@import "utilities.tailwind";

.list--double-arrow {
  list-style: none;

  > li {
    margin-bottom: $spacer / 2;

    &:before {
      @extend .icon--double-arrow;
      display: inline-block;
      width: 0;
      transform: translateX(-2em);
    }

    p {
      margin-bottom: $spacer / 2;
    }
  }
}

.min-h-screen {
  min-height: 100vh;
}
