---
title: Upcoming Events
meta_description: "Fleet Analyzer provides customers with the flexibility to organize, review, and analyze complex fleets of aircraft based on their selected criteria."
opengraph:
  title: "Join Us At The Show"
  description: "Request A Demo"
  image: /assets/opengraph/Show_RequestDemo_FB.jpg
twitter_card:
  title: "Join Us At The Show"
  description: "Request A Demo"
  image: /assets/opengraph/Show_RequestDemo_FB.jpg
---

<%

require 'date'
events = YAML.load_file(File.join(__dir__, 'events.yml'))['events']
today = Date.today

upcoming_events = events.select { |event| event['end_date'] >= today }.sort_by{ |event| event['start_date'] }
past_events = events.select { |event| event['end_date'] < today }.sort_by{ |event| event['start_date'] }.reverse

%>

<section class="section section--first">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<h1>Upcoming Events</h1>
			</div>
		</div>
	</div>
</section>

<section class="section section--translucent-light">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>Industry Shows & Conferences</h2>

				<div class="my-4"><img class="img-fluid" src="/assets/images/events/UpcomingEvents_JETNETBooth.jpg"></div>

				<p>JETNET will be attending or exhibiting at all of the shows and conferences listed below. We hope to see you at these shows to share more about our programs and services. Fill out the form below to request an in-person, one-on-one demonstration. We look forward to showing you the latest business aviation intelligence JETNET has to offer!</p>

			</div>

			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

        <h3 class="font-size-h4">Upcoming Events</h3>

				<table class="events-table events-table-loose">
					<thead>
						<tr>
							<th style="width:50%">Event</th>
							<th style="width:25%">Date</th>
							<th class="status">JETNET’s Status</th>
						</tr>
					</thead>
					<tbody>
						<% upcoming_events.each do |event| %>
							<tr>
								<td>
									<strong>
										<% if event['url'] %>
											<a href="<%= event['url'] %>"><%= event['name'] %></a>
										<% else %>
											<%= event['name'] %>
										<% end %>
									</strong>
									<br><%= event['location'] %>
								</td>
								<td><%= format_date_range(event['start_date'], event['end_date']) %></td>
								<td class="status"><%= event['status'] %></td>
							</tr>
						<% end %>
					</tbody>
				</table>

        <div class="d-block d-sm-none">
          <hr class="mt-2 mb-4">
        </div>

        <div class="d-none d-sm-block">
          <br>
        </div>

        <h3 class="font-size-h4">Past Events</h3>

				<table class="events-table events-table-loose events-table-ghosted">
					<thead>
						<tr>
							<th style="width:50%">Event</th>
							<th style="width:25%"><span class="">Date</th>
							<th class="status"><span class="">JETNET’s Status</span></th>
						</tr>
					</thead>
					<tbody>
						<% past_events.each do |event| %>
						<tr>
							<td>
								<strong>
									<% if event['url'] %>
										<a href="<%= event['url'] %>"><%= event['name'] %></a>
									<% else %>
										<%= event['name'] %>
									<% end %>
								</strong>
								<br><%= event['location'] %>
							</td>
							<td><%= format_date_range(event['start_date'], event['end_date']) %></td>
							<td class="status"><%= event['status'] %></td>
						</tr>
					<% end %>
					</tbody>
				</table>

				<br>

				<p>
					<i>*Check back for updates</i>
				</p>

			</div>
		</div>
	</div>
</section>

<%= partial 'partials/request-demo-section' %>
