---
title:  NEC/AAAE Annual Conference
meta_description: "See What You’ve Been Missing"
noindex: true
opengraph:
  title: ""
  description: ""
  image: /assets/opengraph/
twitter_card:
  title: ""
  description: ""
  image: /assets/opengraph/
---

<section class="section section--first">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<h1>NEC/AAAE Annual Conference</h1>
			</div>
		</div>
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-9 col-xl-8 text-reverse">

				<h2>See What You’ve Been Missing</h2>

				<p>We’re looking forward to this year’s NEC/AAAE Annual Conference, March 14–16 in Hershey, PA. JETNET will be giving all NEC/AAAE members a unique opportunity to see a key feature of AERODEX: Flight Activity.</p>

				<p>Flight Activity allows the user to analyze historic flight data at the airport, serial number, or operator level for any individual or group of worldwide airports. Dive deeper into each operator’s profile for contacts, fleet characteristics, business information, model and airport utilization details, and more.</p>

				<p>View this short video to learn how our industry-leading Flight Activity can take your organization to new heights.</p>

				<br>

				<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://player.vimeo.com/video/680621815?h=9ec937c5f6&badge=0&autopause=0&player_id=0&app_id=58479' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>

			</div>
		</div>
	</div>
</section>

<%= partial 'partials/request-demo-section', :locals => {
	body: 'Test our data with a one-on-one demonstration where you call the shots, and discover what you need to succeed, and increase your competitive situational awareness.'
} %>
