---
title: JETNET iQ Summit Speakers
meta_description: The JETNET iQ Summit is a premier event for networking with business aviation’s elite, featuring industry leaders and experts in an exclusive, intimate setting.
opengraph:
  title: "JETNET iQ Summit Speakers"
  description: "See the Lineup"
  image: /assets/opengraph/Speakers24_OG.jpg
twitter_card:
  title: "JETNET iQ Summit Speakers"
  description: "See the Lineup"
  image: /assets/opengraph/Speakers24_OG.jpg

speakers:
- name: Nancy Bsales
  company: 4Air

- name: Shawn Vick
  company: AE Industrial Partners

- name: Laurence Vigeant-Langlois
  company: AE Industrial Partners

- name: Richard Aboulafia
  company: AeroDynamic Advisory

- name: Kevin Michaels
  company: AeroDynamic Advisory

- name: David Strauss
  company: Barclays

- name: Paul Sislian
  company: Bombardier

- name: Lindsey Oliver
  company: British Business & General Aviation Association (BBGA)

- name: Ron Epstein
  company: Bank of America Merrill Lynch Global Research

- name: Joanne Barbera
  company: Barbera & Watkins, LLC

- name: Ford von Weise
  company: Citi Private Bank

- name: Jason Gursky
  company: Citi Bank

- name: Joe Barber
  company: Clay Lacy Aviation

- name: Thierry Betbeze
  company: Dassault Falcon Jet

- name: Holger Krahmer
  company: European Business Aviation Association (EBAA)

- name: Michael Amalfitano
  company: Embraer Executive Jets

- name: Pete Bunce
  company: General Aviation Manufacturers Association (GAMA)

- name: Melvyn Heard
  company: GE Aerospace

- name: Nancy Young
  company: GEVO

- name: Kyle Gill
  company: Gogo Business Aviation

- name: Don Dwyer
  company: Guardian Jet

- name: Jeannine Haas
  company: Gulfstream

- name: Kurt Edwards
  company: International Business Aviation Council (IBAC)

- name: Seth Seifman
  company: J.P. Morgan

- name: Sheila Kahyaoglu
  company: Jefferies

- name: Emily Deaton
  company: jetAVIVA

- name: Derek Swaim
  company: JETNET

- name: Greg Kimball
  company: JETNET

- name: Jason Lorraine
  company: JETNET

- name: Paul Cardarelli
  company: JETNET

- name: Rollie Vincent
  company: JETNET iQ

- name: Stan Kuliavas
  company: Levaero Aviation

- name: Ali Alnaqbi
  company: MEBAA / IBAC

- name: Ed Bolen
  company: National Business Aviation Association (NBAA)

- name: Jo Damato
  company: National Business Aviation Association (NBAA)

- name: Zipporah Marmor
  company: Opus Aero

- name: J.D. Witzig
  company: Pfizer, Inc.
  
- name: Keith Hayes
  company: PNC Aviation Finance

- name: Andy Priester
  company: Priester Aviation

- name: Frank Moesta
  company: Rolls-Royce Deutschland

- name: Dean Roberts
  company: Rolls-Royce North America

- name: Andy Robinson
  company: Rolls-Royce North America

- name: John King
  company: Solairus Aviation

- name: Ron Draper
  company: Textron Aviation

- name: Lannie O’Bannion
  company: Textron Aviation

- name: Phil Winters
  company: Western Aircraft / IADA

- name: Richard Koe
  company: WINGX
---

<% @showSummitNavbar = true %>

<main class="main-content">

  <section class="summit-header section section--heading -nopad-bottom text-white">
    <div class="container">
      <div class="row">
        <div class="offset-lg-1 col-lg-11 mb-4 mt-4">
          <h1 class="display-1">JETNET iQ Summit Speakers</h1>
          <h3 class="text-white">A Who’s Who of Industry Leaders</h3>
        </div>
      </div>
    </div>
  </section>

  <section class="section -nopad-top" id="overview">
    <div class="container">
      <div class="row">
        <div class="offset-lg-3 col-lg-9">

          <br>
          <br>

          <h2>2024 Speakers and Session Panelists</h2>
          
          <img src="/assets/images/summit/Speakers24.jpg" class="img-fluid d-block my-4" alt="" width="880" height="440">

          <p>Who might you meet at the JETNET iQ Summit? Attendees always remark that one of the greatest values of attending the Summit is the opportunity to meet the leaders of business aviation face to face at an exclusive and intimate gathering. Past speakers and session panelists have been leaders from the pinnacle of every sector of the business aviation community. Networking with some of the industry’s best and brightest is just one of the perks.</p>
          
          <% if current_page.data[:speakers] %>
          
            <hr>
  
            <h2 class="h3 mb-4">Committed Speakers Include:</h2>
  
            <table class="data-table">
              <thead>
                <tr>
                  <th>Speaker/Panelist/Moderator</th>
                  <!--<th>Title</th>-->
                  <th>Company/Organization</th>
                </tr>
              </thead>
              <tbody>
                <% current_page.data[:speakers].each do |speaker| %>
                  <tr>
                    <th class="nowrap"><%= speaker[:name] %></th>
                    <!--<td><%= speaker[:title] %></td>-->
                    <td><%= speaker[:company] %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

          <% end %>

        </div>
      </div>
    </div>
  </section>

  <%= partial 'partials/summit-buy-tickets' %>
  <%= partial 'partials/summit-sponsors' %>
</main>
