---
title: JETNET iQ PULSE
meta_description: 
blog: iq_pulse
opengraph:
  title: "JETNET iQ PULSE"
  description: "Valuable Aviation Research"
  image: /assets/opengraph/May21_FB.jpg
twitter_card:
  title: "JETNET iQ PULSE"
  description: "Valuable Aviation Research"
  image: /assets/opengraph/May21_TW.jpg
---

<section class="section section--first" data-stellar-background-ratio="0.8">
  <div class="container">
    <div class="row">

      <div class="offset-lg-1 col-lg-11">
        <h1 class="image-heading image-heading--jetnet-iq">
          <img src="/assets/images/logo--jetnet-iq-pulse.png" alt="JETNET iQ PULSE">
        </h1>
      </div>

      <div class="offset-lg-2 col-lg-10">
        <h2>Meeting A Need</h2>
        <p class="lead">JETNET iQ PULSE is a free, digital report that will keep you up-to-date on the state of the business aviation market. Offering unique insights to safely and intelligently navigate the skies ahead, this bulletin will showcase our core capabilities in aviation market research, strategy, and forecasting. The rules of the game have changed, and we hope that you will take advantage of this valuable resource to assist your business in the days and weeks to come. </p>
        <br>
      </div>

      <div class="offset-lg-2 col-lg-8">
  
        <% blog.articles.each do |article| %>

          <article class="news">
						<p class="news-date"><%= article.date.strftime('%B %e, %Y') %></p>
            <h2 class="h3 news-title">
              <a href="<%= article.url %>">Issue <%= article.data.issue %> – <%= article.title %></a>
            </h2>
						<div><a class="btn btn-primary" href="<%= article.url %>">
							Read More</a>
						</div>
          </article>

        <% end %>

      </div>
    </div>
  </div>
</section>
