---
title: Model Market Summary
meta_description: "The Model Market Summary provides users with model specific data to quickly understand the model by current market conditions, trends, transaction history, and more."
opengraph:
  title: ""
  description: ""
  image: /assets/opengraph/
twitter_card:
  title: ""
  description: ""
  image: /assets/opengraph/
---

<section class="section section--first">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<h1>Model Market Summary</h1>
			</div>
		</div>
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<p>Effortlessly capture all relevant market data in one view with JETNET’s model market summary. Become an industry expert in any make or model with customizable and exportable market summary content detailing current and historical data, trends, transactions, events, utilization, fleet data, and more.</p>

			</div>
		</div>
	</div>
</section>

<section class="section section--translucent-light">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>Market Composition</h2>

				<p>Explore model specific statistics including asking price, days on market, and airframe total time in one easy view.</p>

				<div class="my-4"><img class="img-fluid" src="/assets/images/features/model-market-summary/MarketCompositionGallery/Market-Composition02_HR_Thumbnail.png"></div>

				<div class="row my-4">
					<div class="col-sm-6">
						<a
							data-gallery="market-composition"
							data-caption="Use the ‘Trends’ tab for a simplified look at information in the ‘Market Snapshot’ tab"
							href="/assets/images/features/model-market-summary/MarketCompositionGallery/Market-Composition01_HR.png">
							<img
								class="w-100 img-fluid"
								src="/assets/images/features/model-market-summary/MarketCompositionGallery/Market-Composition01_HR.png">
						</a>
					</div>
					<div class="col-sm-6">
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>Prospecting Tool</h2>

				<p>Considering an aircraft upgrade? Browse companies with projected aircraft for sale by model. Look into expiring leases and fractional shares, average aircraft ownership length, previous ownership structures, wanted aircraft, and learn what aircraft companies commonly upgrade from.</p>

				<div class="my-4"><img class="img-fluid" src="/assets/images/features/model-market-summary/Prospecting-Tool_HR.png"></div>

			</div>
		</div>
	</div>
</section>

<section class="section section--translucent-light">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>Reporting & Exporting Capabilities</h2>

				<p>Create and export custom content for serial number level details on any model or fleet. Market status and transaction information, and even aircraft  valuations are right at your fingertips. Choose from 3 report types all showcasing information in easy-to-read lists, tables, charts, and graphs.</p>

				<div class="my-4"><img class="img-fluid" src="/assets/images/features/model-market-summary/Reporting-Exporting-CapabilitiesGallery/Reporting-Exporting-Capabilities01_HR.png"></div>

				<div class="row my-4">
					<div class="col-sm-4 mb-4">
						<a
							data-gallery="reporting-exporting"
							data-caption=""
							href="/assets/images/features/model-market-summary/Reporting-Exporting-CapabilitiesGallery/ReportingExportingCapabilities-02_Thumbnail.png">
							<img
								class="w-100 img-fluid"
								src="/assets/images/features/model-market-summary/Reporting-Exporting-CapabilitiesGallery/ReportingExportingCapabilities-02_Thumbnail.png">
						</a>
					</div>
					<div class="col-sm-4 mb-4">
						<a
							data-gallery="reporting-exporting"
							data-caption=""
							href="/assets/images/features/model-market-summary/Reporting-Exporting-CapabilitiesGallery/ReportingExportingCapabilities-04_Thumbnail.png">
							<img
								class="w-100 img-fluid"
								src="/assets/images/features/model-market-summary/Reporting-Exporting-CapabilitiesGallery/ReportingExportingCapabilities-04_Thumbnail.png">
						</a>
					</div>
					<div class="col-sm-4 mb-4">
						<a
							data-gallery="reporting-exporting"
							data-caption=""
							href="/assets/images/features/model-market-summary/Reporting-Exporting-CapabilitiesGallery/ReportingExportingCapabilities-06_Thumbnail.png">
							<img
								class="w-100 img-fluid"
								src="/assets/images/features/model-market-summary/Reporting-Exporting-CapabilitiesGallery/ReportingExportingCapabilities-06_Thumbnail.png">
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>Valuation Insights</h2>

				<p>Exclusive to JETNET Values customers, utilize the Valuation tool to examine aircraft model trends to become a subject matter expert on what drives an aircraft value opinion. Take data with you to support the conclusion in any format, by any parameter.</p>

				<div class="my-4"><img class="img-fluid" src="/assets/images/features/model-market-summary/ValuationInsightsGallery/Valuation-Insights_HR.png"></div>

			</div>
		</div>
	</div>
</section>

<section class="section section--translucent-light">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>STAR Reports</h2>

				<p>Learn what key metrics drive the industry’s leading professionals with JETNET’s STAR Reports. We’ve taken the most frequently asked questions over our 20+ year history in the industry and distilled them into a series of statistical analysis reports.</p>

				<div class="my-4"><img class="img-fluid" src="/assets/images/features/model-market-summary/STAR-Reports_HR.png"></div>

			</div>
		</div>
	</div>
</section>

<%= partial 'partials/request-demo-section' %>
