---
title: JETNET News – Product Updates, Quarterly Aircraft Information, Aviation Events
meta_description: Stay on top of current business aviation trends from the world leader in corporate aircraft information.
blog: news
---

<section class="section section--first" data-stellar-background-ratio="0.8">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<h1>Press Releases</h1>
			</div>
			<div class="offset-lg-2 col-lg-8">

				<% blog.articles.each do |article| %>
					<% next if article.data.exclude_from_blog_index %>

					<article class="news">
						<p class="news-date"><%= article.date.strftime('%B %e, %Y') %></p>
						<h2 class="h3 news-title">
							<a href="<%= article.url %>"><%= article.title %></a>
						</h2>
						<div><%= article.summary %></div>
						<p><a class="btn btn-primary" href="<%= article.url %>">
							Read More</a>
						</p>
					</article>

				<% end %>

			</div>
		</div>
	</div>
</section>
