---
title: "JETNET Careers"
meta_description: "Welcome to Where Passion and Potential Converge."
blog: careers
opengraph:
  title: "Set Your Sights On A Career In Business Aviation"
  description: "Apply Online Today"
  image: /assets/opengraph/JNCareers_FB.jpg
twitter_card:
  title: "Set Your Sights On A Career In Business Aviation"
  description: "Apply Online Today"
  image: /assets/opengraph/JNCareers_TW.jpg
---

<section class="section section--first" data-stellar-background-ratio="0.8">
  <div class="container">
    <div class="row">

      <div class="offset-lg-1 col-lg-11">
        <h1>
          Career Opportunities
        </h1>
      </div>

      <div class="offset-lg-2 col-lg-9">
        <img src="/assets/images/careers-overview-header.jpg" class="img-fluid" style="margin-top:0; margin-bottom:2em;" alt="" />

        <p>
          Take your curiosity to new heights and help advance the future of business aviation at JETNET. We offer a competitive starting wage, benefits, and remote working opportunities. Check out our current job openings below and apply now. If you don't see the role you are looking for, please submit a rolling application. We are always interested in hearing from qualified candidates.
        </p>
      </div>

      <hr>

      <div class="offset-lg-2 col-lg-10">

        <h2 class="mb-5">Positions</h2>

        <% if blog.articles.count == 0 %>
          <p class="lead mb-0">There are no current open positions</p>
        <% end %>

        <% blog.articles.each do |article| %>

          <article class="mb-4">
            <h3 class="h4 mb-2">
              <a href="<%= article.url %>"><%= article.title %></a>
            </h3>
						<div>
              <a class="btn btn-primary" href="<%= article.url %>">
                <% if article.data.language == 'en' %>
							    Job Details
                <% end %>

                <% if article.data.language == 'es' %>
							    Detalles Del Trabajo
                <% end %>
              </a>
						</div>
          </article>

        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="section form-block">
  <div class="container">
    <div class="row">
      <div class="offset-lg-2 col-lg-11">
        <p>We are always interested in hearing from qualified candidates. Please feel free to apply.<br>Your resume will be kept on file for one year from date of submission.</p>
      </div>
    </div>
    <div class="row">
      <div class="offset-lg-2 col-lg-8">
        <%=
          partial("partials/wufoo_form", :locals => { :form_id => 'rifmj8a0gsyqpu' })
        %>
      </div>
    </div>
  </div>
</section>
