---
title: "Unveiling Our New Brands at NBAA 2023"
meta_description: "Visit JETNET’s booth, C11444, at NBAA 2023, October 17–19 in Las Vegas, Nevada for a chance to win a free pair of Apple AirPods Max!"
opengraph:
  title: "JETNET at NBAA-BACE 2023"
  description: "Know More"
  image: /assets/opengraph/JN_PreNBAA_FB.jpg
twitter_card:
  title: "JETNET at NBAA-BACE 2023"
  description: "Know More"
  image: /assets/opengraph/JN_PreNBAA_TW.jpg
---

<section class="section section--first">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<h1>Unveiling Our New Brands at NBAA 2023</h1>
			</div>
		</div>
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-9 col-xl-8 text-reverse">

				<img src="/assets/images/events/NBAA_MainImage_HR.jpg" class="img-fluid" style="margin:0 0 2rem 0;" alt="" />

				<p>We are excited to announce that, for the first time ever, we will be showcasing all our premier brands under one unified umbrella. Join us at NBAA 2023, booth C11444, October 17–19, 2023 in Las Vegas, Nevada, and experience the future of aviation intelligence with the capabilities of JETNET, JETNET iQ, and WINGX.</p>
				
				<h2 class="mb-4">JETNET</h2>

				<p><strong>Unmatched Business Aviation Intelligence</strong></p>

				<ul class="list--double-arrow">
				<li>Over 10,000 reported sales prices on aircraft listed at the serial number level</li>
				<li>Comprehensive and reliable service that empowers aviation professionals, JETNET Marketplace features sold prices, sale price trends, model market summaries, FAA documentation, and more</li>
				<li>Get additional intelligence on owners, operators, dealers, and manufacturers with JETNET AERODEX</li>
				</ul>
				
				<hr>

				<h2 class="mb-4">JETNET iQ</h2>
				
				<p><strong>Comprehensive Insights</strong></p>
				
				<ul class="list--double-arrow">
				<li>The Industry: a review of new aircraft deliveries, fleet developments, pre-owned transactions and inventory, utilization, and a detailed assessment of the performance of each major aircraft manufacturer</li>
				<li>The Forecast: 10-year outlook for new business jet and turboprop deliveries, retirements, and fleet developments by aircraft category and geography</li>
				<li><b><span style="color:rgb(255, 255, 0);">NEW LOCATION:</span></b> Don't miss the JETNET iQ State of the Market Briefing on October 17 at 11:15 a.m. in Room N116 at NBAA 2023.</li>
				</ul>
				
				<hr>
				
				<h2 class="mb-4">WINGX</h2>
				
				<p><strong>Interactive Visualization</strong></p>
				
				<ul class="list--double-arrow">
				<li>WINGX is a leading provider of data, insights and advisory services to the global business aviation market. </li>
				<li>Vast range of visualization with multiple interactive filters available to users through a suite of dashboards curated via personalized cloud-hosted logins</li>
				<li>Dashboards illustrate global flight activity since 2005, showing month-month and year-year trends in flight hours and sectors</li>
				</ul>
				
				<hr>
				
				<h2 class="mb-4">Join Us at NBAA 2023</h2>
				
				<img src="/assets/images/events/AppleAirPodsMAX_Giveaway.jpg" class="img-fluid" style="width: 240px; float: right; margin:0 0 2rem 2rem; border: 10px solid white; border-radius: 0.25rem;" alt="Apple AirPods Max" />
				
				<p>We invite you to visit JETNET’s booth, C11444, at NBAA 2023, October 17–19 in Las Vegas, Nevada to experience firsthand the power of our aviation intelligence solutions, and to schedule a demo of our products before the show. Visiting our booth could also get you a chance to win a pair of Apple AirPods Max headphones!</p>
				
				<p>Experience the future of aviation intelligence with JETNET. We look forward to seeing you at NBAA 2023!</p>

			</div>
		</div>
	</div>
</section>

<%= partial 'partials/request-demo-section', :locals => {
	body: 'Schedule a demo ahead of time and join us at NBAA 2023 to experience the power of our aviation intelligence solutions firsthand.'
} %>
