---
title: JETNET iQ Survey
meta_description: See if you’re eligible for JETNET’s Intelligence Quarterly Survey. You could receive exclusive access to reports, insights, and even win a $500 visa gift card
opengraph:
  url: 
  title: "Take JETNET iQ Survey For Chance At $500"
  description: "Check Eligibility"
  image: /assets/opengraph/iQSurvey_FB_LI.jpg
twitter_card:
  title: "Take JETNET iQ Survey For Chance At $500"
  description: "Check Eligibility"
  image: /assets/opengraph/iQSurvey_TW.jpg
---

<main class="main-content text-reverse">

  <section class="section section--heading">
    <div class="container">
      <div class="row">
        <div class="offset-lg-1 col-lg-11">
          <h1>Survey Eligibility</h1>
        </div>
      </div>
      <div class="row">
        <div class="offset-lg-2 col-lg-10">

          <img src="/assets/images/research/iq-survey/SurveyLP.jpg" class="img-fluid" style="margin-top:0; margin-bottom:2em;" alt="" />
          
          <p>Thank you for wanting to share your knowledge and insights with industry leaders through JETNET’s Intelligence Quarterly Survey. The future of business aviation relies on you. Upon submission, you will:</p>

          <ul class="list--double-arrow">
            <li>receive access to our most recent 65-70 page JETNET iQ SNAP! Report ($199 USD value)</li>
            <li>automatically be entered, with a 1 in 50 chance, to win a VISA® gift card or PayPal transfer with a retail value of $500 USD</li>
          </ul>

          <p>In order to qualify for participation, you and/or your organization must own and/or operate a new or pre-owned fixed wing, turbine-powered business aircraft.</p>

          <%= partial("partials/wufoo_form", :locals => { :form_id => 's6hqx3t14hwk9j' }) %>
          
        </div>
      </div>
    </div>
  </section>
</main>
