---
title: Welcome to Survey Consideration
noindex: true
---

<main class="main-content text-reverse">

  <section class="section section--heading">
    <div class="container">
      <div class="row">
        <div class="offset-lg-1 col-lg-11">
          <h1>Survey Eligibility</h1>
        </div>
      </div>
      <div class="row">
        <div class="offset-lg-2 col-lg-10">

          <h2>Thanks for your request!</h2>
          
          <p>We will contact all qualified individuals with a secure password and link to the next survey.</p>

          <p>The JETNET iQ Research Team</p>

        </div>
      </div>
    </div>
  </section>
</main>
