<% wrap_layout :layout do %>

  <% article = current_article %>
  <% article_url = "#{config[:host]}/#{article.path}" %>

  <main class="main-content">

    <section class="section" data-stellar-background-ratio="0.8">
	    <div class="container">
		    <div class="row">
			    <div class="col-lg-12">
            <!--
            <div class="image-heading mb-0">
              <a href="/blog">
            		<img src="/assets/images/blog/jetnet-blog-logo.svg" alt="JETNET Blog" style="max-width: 75%;">
              </a>
            </div>
            -->

		        <!--<div class="text-titling uppercase text-small mb-4">
			        <a href="/blog">The JETNET Blog</a>
		        </div>-->

            <br>

          </div>
		    </div>
	    </div>
    </section>

    <section class="section section--white text-dark">
      <div class="container">

        <article class="blog-post">

          <div class="row">
            <div class="offset-lg-1 col-lg-11">
				      <p class="text-titling uppercase text-small mt-0 mb-0"><%= article.date.strftime('%B %e, %Y') %></p>

				      <h1 class="h2 text-dark mt-1">
						    <%= article.title %>
					    </h1>
            </div>
          </div>

          <div class="row">
            <div class="offset-lg-1 col-lg-7">

					    <div class="mb-4">
                <% if article.data.image %>
                  <% unless article.data.image_show_in_post == false %>
                    <div class="my-4">
                      <img src="<%= article.data.image %>" class="img-fluid" alt="<%= article.data.image_alt %>" style="width: 100%" />
                    </div>
                  <% end %>
                <% end %>

						    <div class="blog-post-body mb-4">
                  <%= article.body %>
                </div>

                <% if article.data.author %>
                  <div class="mb-4">Posted by <strong><%= article.data.author %></strong></div>
                <% end %>

                <div class="mb-4 text-titling">
                  Share on
                    <a href="https://www.twitter.com/share?url=<%= URI.escape(article_url) %>" style="border: 0;">
                      <img src="/assets/images/blog/share-twitter.svg" border="0" width="30" height="auto" alt="Twitter" class="m-1">
                    </a>
                    <a href="https://www.linkedin.com/sharing/share-offsite/?url=<%= URI.escape(article_url) %>" style="border: 0;">
                      <img src="/assets/images/blog/share-linkedin.svg" border="0" width="30" height="auto" alt="LinkedIn" class="m-1">
                    </a>
                    <a href="https://www.facebook.com/sharer/sharer.php?u=<%= URI.escape(article_url) %>" style="border: 0;">
                      <img src="/assets/images/blog/share-facebook.svg" border="0" width="30" height="auto" alt="Facebook" class="m-1">
                    </a>
                </div>
					    </div>
            </div>

			      <div class="col-lg-4">

              <div class="mb-2">
				        <h3 class="h6 uppercase mt-4 mb-2 text-dark text-titling">Recent Posts</h3>
                <%= partial("partials/blog-recent") %>
              </div>

              <!--
              <br>

              <div class="mb-2">
				        <h3 class="h6 uppercase mt-4 mb-2 text-dark text-titling">Categories</h3>
                <%= partial("partials/blog-tags") %>
              </div>
              -->

			      </div>

          </div>

        </article>

        <hr>

		    <div class="text-titling uppercase text-small mb-4">
			    &larr; <a href="/blog">Blog home</a>
		    </div>
      </div>
    </section>

  </main>

<% end %>
