<% wrap_layout :layout do %>

  <% article = current_article %>

  <main class="main-content">

    <section class="section section--heading">
      <div class="container">

        <div class="row">
          <div class="offset-lg-1 col-lg-11">
						<h1><%= article.title %></h1>
          </div>
        </div>

        <div class="row">
          <div class="offset-lg-2 col-lg-8">

  					<article>
  
              <%= article.body %>              
  					</article>

          </div>
        </div>

      </div>
    </section>

    <% if article.data.language == 'en' %>
      <section class="section demo-request" id="apply">
        <div class="container">
          <div class="row">
            <div class="offset-lg-1 col-lg-11">
              <h2 style="text-transform:none;">Apply Now</h2>
            </div>
          </div>
          <div class="row">
            <div class="offset-lg-2 col-lg-8">
    
              <div id="wufoo-rifmj8a0gsyqpu">
                Fill out my <a href="https://romanelli.wufoo.com/forms/rifmj8a0gsyqpu">online form</a>.
              </div>
              <script type="text/javascript">var rifmj8a0gsyqpu;(function(d, t) {
              var s = d.createElement(t), options = {
              'userName':'romanelli',
              'formHash':'rifmj8a0gsyqpu',
              'autoResize':true,
              'height':'400',
              'async':true,
              'host':'wufoo.com',
              'header':'hide',
              'ssl':true,
              'defaultValues':'field7=<%= ERB::Util.url_encode(article.title) %>'};
              s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
              s.onload = s.onreadystatechange = function() {
              var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
              try { rifmj8a0gsyqpu = new WufooForm();rifmj8a0gsyqpu.initialize(options);rifmj8a0gsyqpu.display(); } catch (e) {}};
              var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
              })(document, 'script');</script>
    
            </div>
          </div>
        </div>
      </section>
    <% end %>
    
    <% if article.data.language == 'es' %>
      <section class="section demo-request" id="apply">
        <div class="container">
          <div class="row">
            <div class="offset-lg-1 col-lg-11">
              <h2 style="text-transform:none;">Aplica ya</h2>
            </div>
          </div>
          <div class="row">
            <div class="offset-lg-2 col-lg-8">
    
              <div id="wufoo-s1apjqwp1bsjt7s">
                Fill out my <a href="https://romanelli.wufoo.com/forms/s1apjqwp1bsjt7s">online form</a>.
              </div>
              <script type="text/javascript">var s1apjqwp1bsjt7s;(function(d, t) {
              var s = d.createElement(t), options = {
              'userName':'romanelli',
              'formHash':'s1apjqwp1bsjt7s',
              'autoResize':true,
              'height':'400',
              'async':true,
              'host':'wufoo.com',
              'header':'hide',
              'ssl':true,
              'defaultValues':'field7=<%= ERB::Util.url_encode(article.title) %>'};
              s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
              s.onload = s.onreadystatechange = function() {
              var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
              try { s1apjqwp1bsjt7s = new WufooForm();s1apjqwp1bsjt7s.initialize(options);s1apjqwp1bsjt7s.display(); } catch (e) {}};
              var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
              })(document, 'script');</script>
    
            </div>
          </div>
        </div>
      </section>
    <% end %>

    <section class="section">
      <div class="container">

        <div class="row">
          <div class="offset-lg-1 col-lg-11">
            <p class="back">&larr; <a href="./">JETNET Careers</a></p>
          </div>
        </div>
      </div>
    </section>
     
  </main>

<% end %>
