<% wrap_layout :layout do %>

  <% article = current_article %>

  <main class="main-content">

    <section class="section section--heading">
      <div class="container">

        <div class="row">
          <div class="offset-lg-1 col-lg-11">
            <h1 class="image-heading image-heading--jetnet-iq">
              <a href="/iq-pulse/">
              <img src="/assets/images/logo--jetnet-iq-pulse.png" alt="JETNET iQ PULSE">
              </a>
            </h1>
          </div>
        </div>

        <div class="row">
          <div class="offset-lg-2 col-lg-8">

					<article class="news">
						<p class="news-date"><%= article.date.strftime('%B %e, %Y') %></p>
						<h2 class="h3 news-title">Issue <%= article.data.issue %> – <%= article.title %></h2>
						<div class="news-content">
              <%= article.body %>
            </div>
						<p>
              <a class="btn btn-primary" href="<%= article.data.pdf %>">
							  <span class="icon icon--double-arrow"></span>
							  Free Download
              </a>
						</p>
            
            <% if article.data.next_issue_teaser %>
              <hr>
              <p><strong>Next Issue&#8230;</strong><br>
              In the next issue of PULSE: <%= article.data.next_issue_teaser %></p>
            <% end %>
            
            <% if article.data.extra_html %>
              <hr>
              <%= article.data.extra_html %>
            <% end %>
					</article>

          </div>
        </div>

        <div class="row">
          <div class="offset-lg-1 col-lg-11">
            <hr>
            <p class="back">&larr; <a href="./">JETNET iQ PULSE Issues</a></p>
          </div>
        </div>
      </div>
    </section>

  </main>

<% end %>
