<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <link rel="icon" type="image/png" href="/assets/images/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/assets/images/favicon-16x16.png" sizes="16x16" />

    <title><%= current_page.data.meta_title || current_page.data.title || "JETNET" %></title>

    <% if current_page.data.meta_description && !current_page.data.meta_description.strip.empty? %>
      <meta name="description" content="<%= current_page.data.meta_description %>"/>
    <% elsif blog_meta_description %>
      <meta name="description" content="<%= blog_meta_description %>"/>
    <% end %>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "<%= config[:host] %>",
        "logo": "<%= config[:host] + image_path('/assets/images/structured-data-logo.png') %>",
        "name": "JETNET"
      }
    </script>

    <% if current_page.data.opengraph %>
      <meta property="og:locale" content="en_US" />
      <meta property="og:type" content="<%= current_page.data.opengraph.type || "article" %>" />
      <meta property="og:url" content="<%= current_page.data.opengraph.url || "https://www.jetnet.com" + current_page.url %>" />
      <meta property="og:title" content="<%= current_page.data.opengraph.title %>" />
      <meta property="og:description" content="<%= current_page.data.opengraph.description %>" />
      <% if current_page.data.opengraph.image %>
        <meta property="og:image" content="<%= config[:host] + asset_url(current_page.data.opengraph.image) %>" />
      <% end %>
    <% end %>
    <% if current_page.data.twitter_card %>
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:description" content="<%= current_page.data.twitter_card.description %>" />
      <meta name="twitter:title" content="<%= current_page.data.twitter_card.title %>" />
      <% if current_page.data.twitter_card.image %>
        <meta name="twitter:image" content="<%= config[:host] + asset_url(current_page.data.twitter_card.image) %>" />
      <% end %>
    <% end %>

    <meta name="google-site-verification" content="gNQNhETj9vzde1cS3vYkf4vLaHE5oEqUKan9t3CxNLo" />
    <% if current_page.data.noindex == true %>
      <meta name="robots" content="noindex">
    <% end %>

    <link rel="stylesheet" href="https://use.typekit.net/tas3pao.css">
    <%= stylesheet_link_tag :site %>

    <!-- Google Tag Manager -->
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-MLWXDJV');
    </script>
    
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}

      function getGA4ClientId() {
        var localStorageKey = 'ga4_client_id';
        
        return new Promise((resolve, reject) => {
          var cachedClientId = localStorage.getItem(localStorageKey);
          if (cachedClientId !== null) {
            resolve(cachedClientId);
          } else {
            gtag('get', 'G-S67RL0RN7S', 'client_id', (client_id) => {
              localStorage.setItem(localStorageKey, client_id);
              resolve(client_id);
            });
          }
        });
      }
      
      getGA4ClientId().then(function(client_id) {
        console.log(`Fetched GA4 client_id: ${client_id}`);
        dataLayer.push({
          'event': 'ga4_client_id_retrieved',
          'ga4_client_id': client_id
        });
      });
    </script>
    <!-- End Google Tag Manager -->

    <%= javascript_include_tag "head.bundle.js" %>
  </head>

  <body class="<%= page_classes %>">
    <noscript><iframe
      src="https://www.googletagmanager.com/ns.html?id=GTM-MLWXDJV"
      height="0"
      width="0"
      style="display:none;visibility:hidden"></iframe></noscript>

    <div class="parallax-wrapper">
      <div class="parallax-content">
        <div class="parallax-background-bottom"></div>
        <div class="parallax-background-top"></div>
      </div>

      <div class="site-content">
        <%= partial 'partials/header' %>
        <%= yield %>
        <%= partial 'partials/footer' %>
      </div>
    </div>

    <%= partial 'partials/altimeter' %>

    <%= javascript_include_tag "site.bundle.js" %>

    <!-- Load Termly first -->
    <script data-termly-config>
      window.TERMLY_CUSTOM_BLOCKING_MAP = {
        "eventbrite.com": "essential",
        "player.vimeo.com": "essential",
        "jetnetevolution.com": "essential",
        "testjetnetevolution.com": "essential",
      }
    </script>
    <script
      type="text/javascript"
      src="https://app.termly.io/embed.min.js"
      data-auto-block="on"
      data-website-uuid="0b8e1478-ac42-4a88-925c-b0d186af7961"
      ></script>
  </body>
</html>
