<% wrap_layout :layout do %>

  <main class="main-content text-reverse">
  
    <section class="section section--heading">
      <div class="container">
        <div class="row">
          <div class="offset-lg-1 col-lg-11">
            <h1>Terms of Use</h1>
          </div>
        </div>
        <div class="row">
          <div class="offset-lg-2 col-lg-8">

            <%= yield %>
  
          </div>
        </div>
      </div>
    </section>
  
  </main>

<% end %>
