<% wrap_layout :layout do %>

  <% article = current_article %>

  <main class="main-content">

    <section class="section section--heading">
      <div class="container">
        <div class="row">
          <div class="offset-lg-1 col-lg-11">
            <h1><%= article.title %></h1>
          </div>
        </div>
        <div class="row">
          <div class="offset-lg-2 col-lg-8">

					<article class="news">
						<h2 class="h3 news-title"><%= article.date.strftime('%B %e, %Y') %></h2>
						<div class="news-content">
              <%= article.body %>
            </div>
            <br>
						<p>For more information on JETNET:</p>
						<p>
              <a class="btn btn-primary" href="/contact/">
							  <span class="icon icon--double-arrow"></span>
							  Contact Us
              </a>
						</p>
					</article>

          </div>
        </div>

        <div class="row">
          <div class="offset-lg-1 col-lg-11">
            <hr>
            <p class="back"><a href="/news/">&larr; Press Releases</a></p>
          </div>
        </div>
      </div>
    </section>

  </main>

<% end %>
