<% wrap_layout :layout do %>

  <% article = current_article %>

  <main class="main-content">

    <section class="section section--heading">
      <div class="container">
        <div class="row">
          <div class="offset-lg-1 col-lg-11">
            <h1><%= article.title %></h1>
          </div>
        </div>
        <div class="row">
          <div class="offset-lg-2 col-lg-8">

					<article class="news">
						<div class="news-content">
              <%= article.body %>
            </div>
					</article>

          </div>
        </div>
      </div>
    </section>

    <section class="section demo-request" id="demo-request">
    	<div class="container">
    		<div class="row">
    			<div class="offset-lg-1 col-lg-11">
    				<h3 class="uppercase">Request a Demo</h3>
    			</div>
    		</div>
    		<div class="row">
    			<div class="offset-lg-2 col-lg-8">
    
    				<p>Test drive the data source for Learjet and all GA airframe manufacturers.</p>
    
    				<div>
    					<a href="/request-demo" class="btn btn-primary btn-lg">
    						<span class="icon icon--double-arrow"></span> Request Demo
    					</a>
    				</div>
    
    			</div>
    		</div>
    	</div>
    </section>

  </main>

<% end %>
