<% wrap_layout :layout do %>

  <% course = current_article %>

  <main class="main-content">

    <section class="section section--heading">
      <div class="container">
        <div class="row">
          <div class="offset-lg-1 col-lg-11 mb-4">
            <h1 class="mb-0">
              <%= course.title %>
            </h1>
            <% if course.data.schedule %>
              <h2>
                <%= course.data.schedule %>
              </h2>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="offset-lg-2 col-lg-8">

            <article class="training-course" style="position: relative">

              <div class="mt-2 mb-4">
                <%= course.body %>
              </div>

              <h3>Have a Subscription?</h3>
              <p>Below you’ll find all available <%= course.title.sub(/ Training$/, "") %> training sessions. Sign up today.</p>

              <!--
              <div class="my-3" style="">
                <b style="text-transform:uppercase; letter-spacing: 0.035em; line-height: 1;"><small style="font-weight: 600;">Subscription</small></b><br>
                <%= course.data.available_to %>
              </div>
              -->

              <br>

              <% if course.data.eventbrite_id %>
                <div id="eventbrite-widget-container-<%= course.data.eventbrite_id %>"></div>
                <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

                <script type="text/javascript">
                  var eventbriteCallback = function() {
                    console.log('Eventbrite registration complete.');
                  };

                  window.EBWidgets.createWidget({
                    // Required
                    widgetType: 'checkout',
                    eventId: '<%= course.data.eventbrite_id %>',
                    iframeContainerId: 'eventbrite-widget-container-<%= course.data.eventbrite_id %>',

                    // Optional
                    iframeContainerHeight: 600,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
                    onOrderComplete: eventbriteCallback  // Method called when an order has successfully completed
                  });
                </script>
              <% end %>

              <br>

              <p><b>Custom Training Available</b><br>
              As always, all training is provided as part of your subscription. No additional fees apply.</p>

            </article>

          </div>
        </div>

        <!--
        <div class="row">
          <div class="offset-lg-1 col-lg-11">
            <hr>
            <p class="back"><a href="/training/">&larr; All Training Courses</a></p>
          </div>
        </div>
        -->
      </div>
    </section>
  </main>

  <%= partial("partials/training-request-demo") %>

<% end %>
