<% wrap_layout :layout do %>

  <% course = current_article %>

  <main class="main-content">

    <section class="section section--heading">
      <div class="container">
        <div class="row">
          <div class="offset-lg-1 col-lg-11">
            <h1>
              <%= course.title %>
              <% if course.data.schedule %>
                &ndash;
                <%= course.data.schedule %>
              <% end %>
            </h1>
          </div>
        </div>
        <div class="row">
          <div class="offset-lg-2 col-lg-8">

            <article class="training-course" style="position: relative">

              <div class="mt-2 mb-4">
                <%= course.body %>
              </div>

              <div class="my-3" style="">
                <b style="text-transform:uppercase; letter-spacing: 0.035em; line-height: 1;"><small style="font-weight: 600;">Subscription</small></b><br>
                <%= course.data.available_to %>
              </div>

              <br>

              <% if course.data.replaced_by %>
              <div><b>
                  This training course has been replaced by:
                  <a href="/training/<%= course.data.replaced_by.slug %>.html"><%= course.data.replaced_by.name %></a>
                  </b>
              </div>
              <br>
              <% end %>

            </article>

          </div>
        </div>

        <!--
        <div class="row">
          <div class="offset-lg-1 col-lg-11">
            <hr>
            <p class="back"><a href="/training/">&larr; All Training Courses</a></p>
          </div>
        </div>
        -->
      </div>
    </section>
  </main>

  <%= partial("partials/training-request-demo") %>

<% end %>
