<% wrap_layout :layout do %>

  <main class="main-content">

    <section class="section" data-stellar-background-ratio="0.8">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">

            <br>

          </div>
        </div>
      </div>
    </section>

    <section class="section section--white text-dark" style="padding-bottom: 0 !important;">
      <div class="container">

        <div class="row">
          <div class="offset-lg-1 col-lg-11">
            <h1 class="text-dark">JETNET iQ</h1>
          </div>
        </div>
        
        <div class="row">
          <div class="offset-lg-2 col-lg-9">

            <p>JETNET iQ is an aviation market research, strategy, and forecasting service for the business aviation industry. Established in 2011 as a collaboration between JETNET LLC and aviation research consultancy Rolland Vincent Associates LLC, JETNET iQ provides syndicated research reports, organizes industry conferences, and offers customized research services.</p>
            
            <p>JETNET iQ Reports are syndicated research reports that are prepared each quarter. Most are organized into 4 main subject areas:</p>

            <ul class="list--double-arrow">
              <li><b>The Economy</b> – a review of global economic indicators impacting business aviation markets.</li> 
              <li><b>The Industry</b> – a review of new aircraft deliveries, fleet developments, pre-owned transactions and inventory, utilization, and a detailed assessment of the performance of each major aircraft manufacturer.</li> 
              <li><b>The Survey</b> – sentiments of aircraft owners / operators regarding major aircraft and engine brands, aircraft utilization and purchasing intentions, perceived obstacles to new aircraft purchases, and overall market sentiment.</li>
              <li><b>The Forecast</b> – 10-year outlook for new business jet and turboprop deliveries, retirements, and fleet developments.</li>
            </ul>

          </div>

          <div class="offset-lg-2 col-lg-10">

            <div class="row mb-4">
              <div class="col-sm-6 col-md-3">
                <a data-gallery="blog" data-caption="" href="/assets/images/products/jetnet-iq/SOTMB_1.jpg">
                  <img class="w-100 img-fluid blog-image-border" src="/assets/images/products/jetnet-iq/SOTMB_1.jpg" alt="">
                </a>
              </div>
              
              <div class="col-sm-6 col-md-3">
                <a data-gallery="blog" data-caption="" href="/assets/images/products/jetnet-iq/SOTMB_2.jpg">
                  <img class="w-100 img-fluid blog-image-border" src="/assets/images/products/jetnet-iq/SOTMB_2.jpg" alt="">
                </a>
              </div>
              
              <div class="col-sm-6 col-md-3">
                <a data-gallery="blog" data-caption="" href="/assets/images/products/jetnet-iq/SOTMB_3.jpg">
                  <img class="w-100 img-fluid blog-image-border" src="/assets/images/products/jetnet-iq/SOTMB_3.jpg" alt="">
                </a>
              </div>
              
              <div class="col-sm-6 col-md-3">
                <a data-gallery="blog" data-caption="" href="/assets/images/products/jetnet-iq/SOTMB_4.jpg">
                  <img class="w-100 img-fluid blog-image-border" src="/assets/images/products/jetnet-iq/SOTMB_4.jpg" alt="">
                </a>
              </div>
            </div>

          </div>
            
          <div class="offset-lg-2 col-lg-9">
            
            <p><b><a href="/research/iq-survey/">JETNET iQ Surveys</a></b> monitor the pulse of the global business aviation owner/operator community. JETNET iQ Surveys have attracted more than 23,000 responses from 140+ countries and territories worldwide to date. The Survey database is the largest and most comprehensive storehouse of business aircraft owner/operator behavior and sentiment in the industry.</p>

            <p>Subscriptions are available on a <b>yearly</b> basis at the following levels:</p>

          </div>
        </div>

        <div class="row">
          <div class="offset-lg-2 col-lg-10">
        
            <div class="d-none d-sm-block">
              <table class="data-table light-bg leading-tight">
                <summary style="list-style:none; text-align:right;"><small>(D)=Detailed; (S)=Summary; (H)=Highlights</small></summary>
                <thead>
                  <tr>
                    <th style="width: 40%;" class=""><b>JETNET iQ SUBSCRIPTIONS</b></th>
                    <th style="width: 12%;" class="text-sm-center nowrap"><b>PLATINUM</b></th>
                    <th style="width: 12%;" class="text-sm-center nowrap"><b>GOLD</b></th>
                    <th style="width: 12%;" class="text-sm-center nowrap"><b>SILVER</b></th>
                    <th style="width: 12%;" class="text-sm-center nowrap"><b>INVESTOR</b></th>
                    <th style="width: 12%;" class="text-sm-center nowrap"><b>OEM INSIDER</b></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Report on The Economy</td>
                    <td class="text-sm-center">✓ (D)</td>
                    <td class="text-sm-center">✓ (D)</td>
                    <td class="text-sm-center">✓ (D)</td>
                    <td class="text-sm-center">✓ (D)</td>
                    <td class="text-sm-center"></td>
                  </tr>
                  <tr>
                    <td>Report on The Industry</td>
                    <td class="text-sm-center">✓ (D)</td>
                    <td class="text-sm-center">✓ (D)</td>
                    <td class="text-sm-center">✓ (D)</td>
                    <td class="text-sm-center">✓ (D)</td>
                    <td class="text-sm-center">✓ (S)</td>
                  </tr>
                  <tr>
                    <td>Report on performance of the largest business aircraft manufacturers</td>
                    <td class="text-sm-center">✓ (D)</td>
                    <td class="text-sm-center">✓ (D)</td>
                    <td class="text-sm-center">✓ (D)</td>
                    <td class="text-sm-center">✓ (D)</td>
                    <td class="text-sm-center">✓ (D)</td>
                  </tr>
                  <tr>
                    <td>Report on The Survey</td>
                    <td class="text-sm-center">✓ (D)</td>
                    <td class="text-sm-center">✓ (D)</td>
                    <td class="text-sm-center">✓ (D)</td>
                    <td class="text-sm-center">✓ (S)</td>
                    <td class="text-sm-center">✓ (H)</td>
                  </tr>
                  <tr>
                    <td>Report on The Forecast (10-year forecast of business jet and turboprop deliveries and fleet by aircraft size category, region, and year)</td>
                    <td class="text-sm-center">✓ (D)</td>
                    <td class="text-sm-center">✓ (D)</td>
                    <td class="text-sm-center">✓ (D)</td>
                    <td class="text-sm-center">✓ (D)</td>
                    <td class="text-sm-center">✓ (D)</td>
                  </tr>
                  <tr>
                    <td>Line-by-line Survey response details from ~500 business aircraft owners / operators per quarter (in Excel)</td>
                    <td class="text-sm-center">✓</td>
                    <td class="text-sm-center">✓</td>
                    <td class="text-sm-center"></td>
                    <td class="text-sm-center"></td>
                    <td class="text-sm-center"></td>
                  </tr>
                  <tr>
                    <td>One “Customer Eyes Only” (CEQ) Survey question and ~500 line-by-line Survey responses per quarter (in Excel)</td>
                    <td class="text-sm-center">✓</td>
                    <td class="text-sm-center"></td>
                    <td class="text-sm-center"></td>
                    <td class="text-sm-center"></td>
                    <td class="text-sm-center"></td>
                  </tr>
                  <tr>
                    <td>Detailed report on “Customer Eyes Only” Survey question and 500 Survey responses per quarter</td>
                    <td class="text-sm-center">✓</td>
                    <td class="text-sm-center"></td>
                    <td class="text-sm-center"></td>
                    <td class="text-sm-center"></td>
                    <td class="text-sm-center"></td>
                  </tr>
                </tbody>
              </table>
            </div>

            <div class="d-sm-none">
              <div class="mobile-card">
                <h4 class="text-dark text-bold">PLATINUM</h4>
                <ul class="leading-tight">
                  <li>Report on The Economy (Detailed)</li>
                  <li>Report on The Industry (Detailed)</li>
                  <li>Report on performance of the largest business aircraft manufacturers (Detailed)</li>
                  <li>Report on The Survey (Detailed)</li>
                  <li>Report on The Forecast (Detailed)</li>
                </ul>
              </div>
              
              <div class="mobile-card">
                <h4 class="text-dark text-bold">GOLD</h4>
                <ul class="leading-tight">
                  <li>Report on The Economy (Detailed)</li>
                  <li>Report on The Industry (Detailed)</li>
                  <li>Report on performance of the largest business aircraft manufacturers (Detailed)</li>
                  <li>Report on The Survey (Detailed)</li>
                  <li>Report on The Forecast (Detailed)</li>
                </ul>
              </div>
              
              <div class="mobile-card">
                <h4 class="text-dark text-bold">SILVER</h4>
                <ul class="leading-tight">
                  <li>Report on The Economy (Detailed)</li>
                  <li>Report on The Industry (Detailed)</li>
                  <li>Report on performance of the largest business aircraft manufacturers (Detailed)</li>
                  <li>Report on The Survey (Detailed)</li>
                  <li>Report on The Forecast (Detailed)</li>
                </ul>
              </div>
              
              <div class="mobile-card">
                <h4 class="text-dark text-bold">INVESTOR</h4>
                <ul class="leading-tight">
                  <li>Report on The Economy (Detailed)</li>
                  <li>Report on The Industry (Detailed)</li>
                  <li>Report on performance of the largest business aircraft manufacturers (Detailed)</li>
                  <li>Report on The Survey (Summary)</li>
                  <li>Report on The Forecast (Detailed)</li>
                </ul>
              </div>
              
              <div class="mobile-card">
                <h4 class="text-dark text-bold">OEM INSIDER</h4>
                <ul class="leading-tight">
                  <li>Report on The Industry (Summary)</li>
                  <li>Report on performance of the largest business aircraft manufacturers (Detailed)</li>
                  <li>Report on The Survey (Highlight)</li>
                  <li>Report on The Forecast (Detailed)</li>
                </ul>
              </div>

              <br>  

            </div>
                        
            <p class="leading-tight"><small><i>Note: Model-level forecasts are available only as an add-on to any other JETNET iQ Subscription. Unless otherwise indicated, JETNET iQ Reports are prepared in Adobe PDF format. All customer files are stored in password-protected customer e-folders for ease of access on a 24x7x365 basis and may be shared internally without limitation on the number of users</i></small></p>

            <br>

          </div>
        </div>
            
        <div class="row">
          <div class="offset-lg-2 col-lg-9">

            <p>The <b><a href="/summit/">JETNET iQ Summit</a></b> is an annual thought leadership conference convened in the New York Metropolitan area that features a diverse group of   prominent leaders from the business aviation industry. Moderated panels and individual presentations highlight the current state of the market, challenges and opportunities, and likely future directions of the industry.</p>

            <div class="cta-buttons">
              <a href="#demo-request" class="btn btn-primary">
                <span class="icon icon--double-arrow"></span> Request More Information
              </a>
            </div>

          </div>
          
        </div>

      </div>
    </section>

    <%= partial("partials/contact-section", :locals => {
      :product => 'JETNET iQ',
      :people => [
        {
          name: 'Paul Cardarelli',
          title: 'Vice President of Sales',
          phone: '+1 315.797.4420 ext. 254',
          email: 'paul@jetnet.com',
        },
        {
          name: 'Rolland Vincent',
          title: 'JETNET iQ Creator/Director',
          phone: '+1 972.439.2069 (cell)',
          email: 'rollie@jetnet.com',
        },
      ]
    })%>
    
    <%= partial("partials/related_products", :locals => {
      :links => [
        {
          href: '/products/aerodex.html',
          text: 'AERODEX'
        },
        {
          href: '/products/evolution-marketplace.html',
          text: 'Marketplace'
        },
        {
          href: '/products/marketplace-manager.html',
          text: 'Marketplace Manager'
        },
      ]
    })%>
    
    <section class="section demo-request" id="demo-request">
      <div class="container">
        <div class="row">
          <div class="offset-lg-1 col-lg-11">
            <h2>Request More Information</h2>
          </div>
        </div>
        <div class="row">
          <div class="offset-lg-2 col-lg-8">
    
            <%= partial("partials/wufoo_form", :locals => { :form_id => 'r1kbbc4k0jqxlt5' })%>
    
          </div>
        </div>
      </div>
    </section>

  </main>

<% end %>
