---
title: JETNET Cookie Policy
---

<main class="main-content text-reverse">

  <section class="section section--heading">
    <div class="container">
      <div class="row">
        <div class="offset-lg-1 col-lg-11">
          <h1>Cookie Policy</h1>
        </div>
      </div>
      <div class="row">
        <div class="offset-lg-2 col-lg-10">

 <p>
	<strong> Last updated September 23, 2020 </strong> 
</p>
<p>
	This Cookie Policy explains how JETNET LLC (" <strong> Company </strong> ", " <strong> we </strong> ", " <strong> us </strong> ", and " <strong> our </strong> ") uses cookies and similar technologies to recognize you when you visit our websites at <a href="https://www.jetnet.com"> https://www.jetnet.com </a> , (" <strong> Websites </strong> "). It explains what these technologies are and why we use them, as well as your rights to control our use of them. 
</p>
<p>In some cases we may use cookies to collect personal information, or that becomes personal information if we combine it with other information. </p>
<h2> What are cookies? </h2>
<p>Cookies are small data files that are placed on your computer or mobile device when you visit a website. Cookies are widely used by website owners in order to make their websites work, or to work more efficiently, as well as to provide reporting information. </p>
<p>Cookies set by the website owner (in this case, JETNET LLC ) are called "first party cookies". Cookies set by parties other than the website owner are called "third party cookies". Third party cookies enable third party features or functionality to be provided on or through the website (e.g. like advertising, interactive content and analytics). The parties that set these third party cookies can recognize your computer both when it visits the website in question and also when it visits certain other websites. </p>

<h2> Why do we use cookies? </h2>
<p>We use first and third party cookies for several reasons. Some cookies are required for technical reasons in order for our Websites to operate, and we refer to these as "essential" or "strictly necessary" cookies. Other cookies also enable us to track and target the interests of our users to enhance the experience on our Online Properties. Third parties serve cookies through our Websites for advertising, analytics and other purposes. This is described in more detail below. </p>
<p>The specific types of first and third party cookies served through our Websites and the purposes they perform are described below (please note that the specific cookies served may vary depending on the specific Online Properties you visit): </p>

<h2> How can I control cookies? </h2>
<p>You have the right to decide whether to accept or reject cookies. You can exercise your cookie rights by setting your preferences in the Cookie Consent Manager. The Cookie Consent Manager allows you to select which categories of cookies you accept or reject. Essential cookies cannot be rejected as they are strictly necessary to provide you with services. </p>
<p>The Cookie Consent Manager can be found in the notification banner and on our website. If you choose to reject cookies, you may still use our website though your access to some functionality and areas of our website may be restricted. You may also set or amend your web browser controls to accept or refuse cookies. As the means by which you can refuse cookies through your web browser controls vary from browser-to-browser, you should visit your browser's help menu for more information. </p>

<p>
	In addition, most advertising networks offer you a way to opt out of targeted advertising. If you would like to find out more information, please visit  <a data-custom-class="link" href="http://www.aboutads.info/choices/" target="_blank"> http://www.aboutads.info/choices/ </a>  or  <a data-custom-class="link" data-fr-linked="true" href="http://www.youronlinechoices.com" target="_blank"> http://www.youronlinechoices.com </a> .
</p>
<p>
	The specific types of first and third party cookies served through our Websites and the purposes they perform are described in the table below (please note that the specific  cookies served may vary depending on the specific Online Properties you visit):</p>
	
<h3>
	Essential website cookies:</h3>

<div>

	<p>
		These cookies are strictly necessary to provide you with services available through our Websites and to use some of its features, such as access to secure areas. 
	</p>

	<section class="cookie-details">
		<div >
			<table>
				<tbody>
					<tr>
							<th> Name: </th>
						<td> __tlbcpv </td>
					</tr>
					<tr>
							<th> Purpose: </th>
						<td> Used to record unique visitor views of the consent banner. </td>
					</tr>
					<tr>
							<th> Provider: </th>
						<td> .termly.io </td>
					</tr>
					<tr>
							<th> Service: </th>
						<td> Termly <a href="https://termly.io/our-privacy-policy/"  target="_blank"> View Service Privacy Policy </a>   </td>
					</tr>
					<tr>
							<th> Country: </th>
						<td> United States </td>
					</tr>
					<tr>
							<th> Type: </th>
						<td> http_cookie </td>
					</tr>
					<tr>
							<th> Expires in: </th>
						<td> 1 year </td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	</p>
	<section class="cookie-details">
		<div >
			<table>
				<tbody>
					<tr>
							<th> Name: </th>
						<td> __cfduid </td>
					</tr>
					<tr>
							<th> Purpose: </th>
						<td> Used by Cloudflare to identify individual clients behind a shared IP address, and apply security settings on a per-client basis. This is a HTTP type cookie that expires after 1 year. </td>
					</tr>
					<tr>
							<th> Provider: </th>
						<td> .adsymptotic.com </td>
					</tr>
					<tr>
							<th> Service: </th>
						<td> CloudFlare <a href="https://www.cloudflare.com/privacypolicy/"  target="_blank"> View Service Privacy Policy </a>   </td>
					</tr>
					<tr>
							<th> Country: </th>
						<td> United States </td>
					</tr>
					<tr>
							<th> Type: </th>
						<td> http_cookie </td>
					</tr>
					<tr>
							<th> Expires in: </th>
						<td> 30 days </td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
	</p>
	<section class="cookie-details">
		<div >
			<table>
				<tbody>
					<tr>
							<th> Name: </th>
						<td> JSESSIONID </td>
					</tr>
					<tr>
							<th> Purpose: </th>
						<td> Used to maintain an anonymous user session by the server in Java™ 2 Platform Enterprise Edition web applications. It is a necessary cookie that expires at the end of a session. </td>
					</tr>
					<tr>
							<th> Provider: </th>
						<td> .nr-data.net </td>
					</tr>
					<tr>
							<th> Service: </th>
						<td> JavaServer Pages Technologies <a href="https://www.oracle.com/legal/privacy/privacy-policy.html"  target="_blank"> View Service Privacy Policy </a>   </td>
					</tr>
					<tr>
							<th> Country: </th>
						<td> __________ </td>
					</tr>
					<tr>
							<th> Type: </th>
						<td> server_cookie </td>
					</tr>
					<tr>
							<th> Expires in: </th>
						<td> session </td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</div>

<div>
	<h3>Analytics and customization cookies: </h3>
	
	<p>
		These cookies collect information that is used either in aggregate form to help us understand how our Websites are being used or how effective our marketing campaigns are, or to help us customize our Websites for you. 
	</p>
	<div>
		<section class="cookie-details">
			<div >
				<table>
					<tbody>
						<tr>
							<th> Name: </th>
							<td> _hjid </td>
						</tr>
						<tr>
							<th> Purpose: </th>
							<td> This cookie is set when the customer first lands on a page with the Hotjar script. It is used to persist the Hotjar User ID, unique to that site on the browser. This ensures that behavior in subsequent visits to the same site will be attributed to the same user ID. </td>
						</tr>
						<tr>
							<th> Provider: </th>
							<td> www.jetnet.com </td>
						</tr>
						<tr>
							<th> Service: </th>
							<td> hotjar <a href="https://help.hotjar.com/hc/en-us/articles/115011789248-Hotjar-Cookies"  target="_blank"> View Service Privacy Policy </a>   </td>
						</tr>
						<tr>
							<th> Country: </th>
							<td> United States </td>
						</tr>
						<tr>
							<th> Type: </th>
							<td> html_local_storage </td>
						</tr>
						<tr>
							<th> Expires in: </th>
							<td> persistent </td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="cookie-details">
			<div >
				<table>
					<tbody>
						<tr>
							<th> Name: </th>
							<td> __utma# </td>
						</tr>
						<tr>
							<th> Purpose: </th>
							<td> Used by Google Analytics to record the number of times a visitor accessed the website as well as the dates for the first and recent visit. It is a HTTP cookie and expires in 2 years. </td>
						</tr>
						<tr>
							<th> Provider: </th>
							<td> .jetnet.com </td>
						</tr>
						<tr>
							<th> Service: </th>
							<td> Google Analytics <a href="https://policies.google.com/privacy"  target="_blank"> View Service Privacy Policy </a>   </td>
						</tr>
						<tr>
							<th> Country: </th>
							<td> United States </td>
						</tr>
						<tr>
							<th> Type: </th>
							<td> http_cookie </td>
						</tr>
						<tr>
							<th> Expires in: </th>
							<td> 1 year 11 months 29 days </td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="cookie-details">
			<div >
				<table>
					<tbody>
						<tr>
							<th> Name: </th>
							<td> vuid </td>
						</tr>
						<tr>
							<th> Purpose: </th>
							<td> Used by Vimeo player to check if certain features or preferences have been selected by the user on websites with embedded videos from Vimeo. </td>
						</tr>
						<tr>
							<th> Provider: </th>
							<td> .vimeo.com </td>
						</tr>
						<tr>
							<th> Service: </th>
							<td> Vimeo <a href="https://vimeo.com/privacy"  target="_blank"> View Service Privacy Policy </a>   </td>
						</tr>
						<tr>
							<th> Country: </th>
							<td> United States </td>
						</tr>
						<tr>
							<th> Type: </th>
							<td> http_cookie </td>
						</tr>
						<tr>
							<th> Expires in: </th>
							<td> 1 year 11 months 29 days </td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="cookie-details">
			<div >
				<table>
					<tbody>
						<tr>
							<th> Name: </th>
							<td> _hjRecordingLastActivity </td>
						</tr>
						<tr>
							<th> Purpose: </th>
							<td> This should be found in sessionStorage (as opposed to cookies). This gets updated when a visitor recording starts and when data is sent through the WebSocket (the visitor performs an action that Hotjar records). </td>
						</tr>
						<tr>
							<th> Provider: </th>
							<td> www.jetnet.com </td>
						</tr>
						<tr>
							<th> Service: </th>
							<td> hotjar <a href="https://help.hotjar.com/hc/en-us/articles/115011789248-Hotjar-Cookies"  target="_blank"> View Service Privacy Policy </a>   </td>
						</tr>
						<tr>
							<th> Country: </th>
							<td> United States </td>
						</tr>
						<tr>
							<th> Type: </th>
							<td> html_session_storage </td>
						</tr>
						<tr>
							<th> Expires in: </th>
							<td> session </td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="cookie-details">
			<div >
				<table>
					<tbody>
						<tr>
							<th> Name: </th>
							<td> _hjid </td>
						</tr>
						<tr>
							<th> Purpose: </th>
							<td> This cookie is set when the customer first lands on a page with the Hotjar script. It is used to persist the Hotjar User ID, unique to that site on the browser. This ensures that behavior in subsequent visits to the same site will be attributed to the same user ID. </td>
						</tr>
						<tr>
							<th> Provider: </th>
							<td> .jetnet.com </td>
						</tr>
						<tr>
							<th> Service: </th>
							<td> hotjar <a href="https://help.hotjar.com/hc/en-us/articles/115011789248-Hotjar-Cookies"  target="_blank"> View Service Privacy Policy </a>   </td>
						</tr>
						<tr>
							<th> Country: </th>
							<td> United States </td>
						</tr>
						<tr>
							<th> Type: </th>
							<td> http_cookie </td>
						</tr>
						<tr>
							<th> Expires in: </th>
							<td> 11 months 30 days </td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="cookie-details">
			<div >
				<table>
					<tbody>
						<tr>
							<th> Name: </th>
							<td> __utmz# </td>
						</tr>
						<tr>
							<th> Purpose: </th>
							<td> Uses Google Analytics to gather location details for the website visitors, the clicked link, the search term, and the search engine that was used. This cookie is a HTTP type that lasts for 6 months. </td>
						</tr>
						<tr>
							<th> Provider: </th>
							<td> .jetnet.com </td>
						</tr>
						<tr>
							<th> Service: </th>
							<td> Google Analytics <a href="https://policies.google.com/privacy"  target="_blank"> View Service Privacy Policy </a>   </td>
						</tr>
						<tr>
							<th> Country: </th>
							<td> United States </td>
						</tr>
						<tr>
							<th> Type: </th>
							<td> http_cookie </td>
						</tr>
						<tr>
							<th> Expires in: </th>
							<td> 5 months 30 days </td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="cookie-details">
			<div >
				<table>
					<tbody>
						<tr>
							<th> Name: </th>
							<td> 1e390569c3 </td>
						</tr>
						<tr>
							<th> Purpose: </th>
							<td> __________ </td>
						</tr>
						<tr>
							<th> Provider: </th>
							<td> www.jetnet.com </td>
						</tr>
						<tr>
							<th> Service: </th>
							<td> __________   </td>
						</tr>
						<tr>
							<th> Country: </th>
							<td> United States </td>
						</tr>
						<tr>
							<th> Type: </th>
							<td> pixel_tracker </td>
						</tr>
						<tr>
							<th> Expires in: </th>
							<td> session </td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="cookie-details">
			<div >
				<table>
					<tbody>
						<tr>
							<th> Name: </th>
							<td> __utmt# </td>
						</tr>
						<tr>
							<th> Purpose: </th>
							<td> Used to control the speed of requests to the website’s server. Expires after the session and is a HTTP type cookie. </td>
						</tr>
						<tr>
							<th> Provider: </th>
							<td> .jetnet.com </td>
						</tr>
						<tr>
							<th> Service: </th>
							<td> Google Analytics <a href="https://policies.google.com/privacy"  target="_blank"> View Service Privacy Policy </a>   </td>
						</tr>
						<tr>
							<th> Country: </th>
							<td> United States </td>
						</tr>
						<tr>
							<th> Type: </th>
							<td> http_cookie </td>
						</tr>
						<tr>
							<th> Expires in: </th>
							<td> 10 minutes </td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="cookie-details">
			<div >
				<table>
					<tbody>
						<tr>
							<th> Name: </th>
							<td> __utmc# </td>
						</tr>
						<tr>
							<th> Purpose: </th>
							<td> The cookie registers the timestamp a user leaves a website to help calculate the duration of time spent on it using Google Analytics. The cookie activity lasts during the browsing session. It is a HTTP cookie type. </td>
						</tr>
						<tr>
							<th> Provider: </th>
							<td> .jetnet.com </td>
						</tr>
						<tr>
							<th> Service: </th>
							<td> Google Analytics <a href="https://policies.google.com/privacy"  target="_blank"> View Service Privacy Policy </a>   </td>
						</tr>
						<tr>
							<th> Country: </th>
							<td> United States </td>
						</tr>
						<tr>
							<th> Type: </th>
							<td> http_cookie </td>
						</tr>
						<tr>
							<th> Expires in: </th>
							<td> session </td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="cookie-details">
			<div >
				<table>
					<tbody>
						<tr>
							<th> Name: </th>
							<td> __utmb# </td>
						</tr>
						<tr>
							<th> Purpose: </th>
							<td> Used by Google analytics to compute the duration a website is visited using the exact time that a user accesses a website. This is a HTTP cookie that expires after the session. </td>
						</tr>
						<tr>
							<th> Provider: </th>
							<td> .jetnet.com </td>
						</tr>
						<tr>
							<th> Service: </th>
							<td> Google Analytics <a href="https://policies.google.com/privacy"  target="_blank"> View Service Privacy Policy </a>   </td>
						</tr>
						<tr>
							<th> Country: </th>
							<td> United States </td>
						</tr>
						<tr>
							<th> Type: </th>
							<td> http_cookie </td>
						</tr>
						<tr>
							<th> Expires in: </th>
							<td> 30 minutes </td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
	</div>
</div>

<h3>Advertising cookies: </h3>

<div>
	<p>
		These cookies are used to make advertising messages more relevant to you. They perform functions like preventing the same ad from continuously reappearing, ensuring that ads are properly displayed for advertisers, and in some cases selecting advertisements that are based on your interests. 
	</p>
	<div>
		<section class="cookie-details">
			<div >
				<table>
					<tbody>
						<tr>
							<th> Name: </th>
							<td> bcookie </td>
						</tr>
						<tr>
							<th> Purpose: </th>
							<td> Used to optimize the range of advertising on Linkedin </td>
						</tr>
						<tr>
							<th> Provider: </th>
							<td> .linkedin.com </td>
						</tr>
						<tr>
							<th> Service: </th>
							<td> Linkedin Ad Analytics <a href="https://www.linkedin.com/legal/privacy-policy"  target="_blank"> View Service Privacy Policy </a>   </td>
						</tr>
						<tr>
							<th> Country: </th>
							<td> United States </td>
						</tr>
						<tr>
							<th> Type: </th>
							<td> http_cookie </td>
						</tr>
						<tr>
							<th> Expires in: </th>
							<td> 1 year 11 months 30 days </td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="cookie-details">
			<div >
				<table>
					<tbody>
						<tr>
							<th> Name: </th>
							<td> fr </td>
						</tr>
						<tr>
							<th> Purpose: </th>
							<td> Used by Facebook to collect a unique browser and user ID, used for targeted advertising. </td>
						</tr>
						<tr>
							<th> Provider: </th>
							<td> .facebook.com </td>
						</tr>
						<tr>
							<th> Service: </th>
							<td> Facebook <a href="https://www.facebook.com/privacy/explanation"  target="_blank"> View Service Privacy Policy </a>   </td>
						</tr>
						<tr>
							<th> Country: </th>
							<td> Ireland </td>
						</tr>
						<tr>
							<th> Type: </th>
							<td> server_cookie </td>
						</tr>
						<tr>
							<th> Expires in: </th>
							<td> 2 months 29 days </td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="cookie-details">
			<div >
				<table>
					<tbody>
						<tr>
							<th> Name: </th>
							<td> _fbp </td>
						</tr>
						<tr>
							<th> Purpose: </th>
							<td> Facebook tracking pixel used to identify visitors for personalized advertising. </td>
						</tr>
						<tr>
							<th> Provider: </th>
							<td> .jetnet.com </td>
						</tr>
						<tr>
							<th> Service: </th>
							<td> Facebook <a href="https://www.facebook.com/privacy/explanation"  target="_blank"> View Service Privacy Policy </a>   </td>
						</tr>
						<tr>
							<th> Country: </th>
							<td> United States </td>
						</tr>
						<tr>
							<th> Type: </th>
							<td> http_cookie </td>
						</tr>
						<tr>
							<th> Expires in: </th>
							<td> 2 months 29 days </td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="cookie-details">
			<div >
				<table>
					<tbody>
						<tr>
							<th> Name: </th>
							<td> IDE </td>
						</tr>
						<tr>
							<th> Purpose: </th>
							<td> Used to measure the conversion rate of ads presented to the user. Expires in 1.5 years. </td>
						</tr>
						<tr>
							<th> Provider: </th>
							<td> .doubleclick.net </td>
						</tr>
						<tr>
							<th> Service: </th>
							<td> DoubleClick <a href="https://policies.google.com/privacy"  target="_blank"> View Service Privacy Policy </a>   </td>
						</tr>
						<tr>
							<th> Country: </th>
							<td> United States </td>
						</tr>
						<tr>
							<th> Type: </th>
							<td> http_cookie </td>
						</tr>
						<tr>
							<th> Expires in: </th>
							<td> 1 year 11 months 29 days </td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="cookie-details">
			<div >
				<table>
					<tbody>
						<tr>
							<th> Name: </th>
							<td> lidc </td>
						</tr>
						<tr>
							<th> Purpose: </th>
							<td> These cookies are associated with a B2B marketing platform, formerly known as Bizo, which is now owned by LinkedIn, the business networking platform. This sub-domain is connected with LinkedIn's marketing services that enable website owners to gain insight into types of users on their site based on LinkedIn profile data, to improve targeting. </td>
						</tr>
						<tr>
							<th> Provider: </th>
							<td> .linkedin.com </td>
						</tr>
						<tr>
							<th> Service: </th>
							<td> LinkedIn <a href="https://www.linkedin.com/legal/privacy-policy"  target="_blank"> View Service Privacy Policy </a>   </td>
						</tr>
						<tr>
							<th> Country: </th>
							<td> United States </td>
						</tr>
						<tr>
							<th> Type: </th>
							<td> http_cookie </td>
						</tr>
						<tr>
							<th> Expires in: </th>
							<td> 1 day </td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="cookie-details">
			<div >
				<table>
					<tbody>
						<tr>
							<th> Name: </th>
							<td> UserMatchHistory </td>
						</tr>
						<tr>
							<th> Purpose: </th>
							<td> These cookies are associated with a B2B marketing platform, formerly known as Bizo, which is now owned by LinkedIn, the business networking platform. This sub-domain is connected with LinkedIn's marketing services that enable website owners to gain insight into types of users on their site based on LinkedIn profile data, to improve targeting. </td>
						</tr>
						<tr>
							<th> Provider: </th>
							<td> .linkedin.com </td>
						</tr>
						<tr>
							<th> Service: </th>
							<td> LinkedIn <a href="https://www.linkedin.com/legal/privacy-policy"  target="_blank"> View Service Privacy Policy </a>   </td>
						</tr>
						<tr>
							<th> Country: </th>
							<td> United States </td>
						</tr>
						<tr>
							<th> Type: </th>
							<td> http_cookie </td>
						</tr>
						<tr>
							<th> Expires in: </th>
							<td> 30 days </td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="cookie-details">
			<div >
				<table>
					<tbody>
						<tr>
							<th> Name: </th>
							<td> test_cookie </td>
						</tr>
						<tr>
							<th> Purpose: </th>
							<td> A session cookie used to check if the user’s browser supports cookies. </td>
						</tr>
						<tr>
							<th> Provider: </th>
							<td> .doubleclick.net </td>
						</tr>
						<tr>
							<th> Service: </th>
							<td> DoubleClick <a href="https://policies.google.com/privacy"  target="_blank"> View Service Privacy Policy </a>   </td>
						</tr>
						<tr>
							<th> Country: </th>
							<td> United States </td>
						</tr>
						<tr>
							<th> Type: </th>
							<td> server_cookie </td>
						</tr>
						<tr>
							<th> Expires in: </th>
							<td> 15 minutes </td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
	</div>
</div>

<h3>Social networking cookies: </h3> 


<div>
	<p>
		These cookies are used to enable you to share pages and content that you find interesting on our Websites through third party social networking and other websites. These cookies may also be used for advertising purposes. 
	</p>
	<div>
		<section class="cookie-details">
			<div >
				<table>
					<tbody>
						<tr>
							<th> Name: </th>
							<td> personalization_id </td>
						</tr>
						<tr>
							<th> Purpose: </th>
							<td> Used on sites that share Twitter content and with Twitter share plugin. Persistent cookie that is set for 730 days </td>
						</tr>
						<tr>
							<th> Provider: </th>
							<td> .twitter.com </td>
						</tr>
						<tr>
							<th> Service: </th>
							<td> Twitter <a href="https://twitter.com/en/privacy"  target="_blank"> View Service Privacy Policy </a>   </td>
						</tr>
						<tr>
							<th> Country: </th>
							<td> United States </td>
						</tr>
						<tr>
							<th> Type: </th>
							<td> http_cookie </td>
						</tr>
						<tr>
							<th> Expires in: </th>
							<td> 1 year 11 months 29 days </td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="cookie-details">
			<div >
				<table>
					<tbody>
						<tr>
							<th> Name: </th>
							<td> bscookie </td>
						</tr>
						<tr>
							<th> Purpose: </th>
							<td> Cookie used for Sign-in with Linkedin and/or for Linkedin follow feature on 3rd party websites </td>
						</tr>
						<tr>
							<th> Provider: </th>
							<td> .www.linkedin.com </td>
						</tr>
						<tr>
							<th> Service: </th>
							<td> Linkedin Ad Analytics <a href="https://www.linkedin.com/legal/privacy-policy"  target="_blank"> View Service Privacy Policy </a>   </td>
						</tr>
						<tr>
							<th> Country: </th>
							<td> United States </td>
						</tr>
						<tr>
							<th> Type: </th>
							<td> http_cookie </td>
						</tr>
						<tr>
							<th> Expires in: </th>
							<td> 1 year 11 months 30 days </td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
	</div>
</div>

<h3>Unclassified cookies: </h3>
<div>
	<p>
		These are cookies that have not yet been categorized. We are in the process of classifying these cookies with the help of their providers. 
	</p>
	<div>
		<section class="cookie-details">
			<div >
				<table>
					<tbody>
						<tr>
							<th> Name: </th>
							<td> _hjTLDTest </td>
						</tr>
						<tr>
							<th> Purpose: </th>
							<td> __________ </td>
						</tr>
						<tr>
							<th> Provider: </th>
							<td> .jetnet.com </td>
						</tr>
						<tr>
							<th> Service: </th>
							<td> __________   </td>
						</tr>
						<tr>
							<th> Country: </th>
							<td> United States </td>
						</tr>
						<tr>
							<th> Type: </th>
							<td> http_cookie </td>
						</tr>
						<tr>
							<th> Expires in: </th>
							<td> session </td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="cookie-details">
			<div >
				<table>
					<tbody>
						<tr>
							<th> Name: </th>
							<td> _hjRecordingEnabled </td>
						</tr>
						<tr>
							<th> Purpose: </th>
							<td> __________ </td>
						</tr>
						<tr>
							<th> Provider: </th>
							<td> www.jetnet.com </td>
						</tr>
						<tr>
							<th> Service: </th>
							<td> __________   </td>
						</tr>
						<tr>
							<th> Country: </th>
							<td> United States </td>
						</tr>
						<tr>
							<th> Type: </th>
							<td> html_session_storage </td>
						</tr>
						<tr>
							<th> Expires in: </th>
							<td> session </td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="cookie-details">
			<div >
				<table>
					<tbody>
						<tr>
							<th> Name: </th>
							<td> _hjAbsoluteSessionInProgress </td>
						</tr>
						<tr>
							<th> Purpose: </th>
							<td> __________ </td>
						</tr>
						<tr>
							<th> Provider: </th>
							<td> .jetnet.com </td>
						</tr>
						<tr>
							<th> Service: </th>
							<td> __________   </td>
						</tr>
						<tr>
							<th> Country: </th>
							<td> United States </td>
						</tr>
						<tr>
							<th> Type: </th>
							<td> http_cookie </td>
						</tr>
						<tr>
							<th> Expires in: </th>
							<td> 30 minutes </td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="cookie-details">
			<div >
				<table>
					<tbody>
						<tr>
							<th> Name: </th>
							<td> ep201 </td>
						</tr>
						<tr>
							<th> Purpose: </th>
							<td> __________ </td>
						</tr>
						<tr>
							<th> Provider: </th>
							<td> .wufoo.com </td>
						</tr>
						<tr>
							<th> Service: </th>
							<td> __________   </td>
						</tr>
						<tr>
							<th> Country: </th>
							<td> United States </td>
						</tr>
						<tr>
							<th> Type: </th>
							<td> http_cookie </td>
						</tr>
						<tr>
							<th> Expires in: </th>
							<td> 30 minutes </td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="cookie-details">
			<div >
				<table>
					<tbody>
						<tr>
							<th> Name: </th>
							<td> lang </td>
						</tr>
						<tr>
							<th> Purpose: </th>
							<td> __________ </td>
						</tr>
						<tr>
							<th> Provider: </th>
							<td> .ads.linkedin.com </td>
						</tr>
						<tr>
							<th> Service: </th>
							<td> __________   </td>
						</tr>
						<tr>
							<th> Country: </th>
							<td> United States </td>
						</tr>
						<tr>
							<th> Type: </th>
							<td> http_cookie </td>
						</tr>
						<tr>
							<th> Expires in: </th>
							<td> session </td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="cookie-details">
			<div >
				<table>
					<tbody>
						<tr>
							<th> Name: </th>
							<td> li_sugr </td>
						</tr>
						<tr>
							<th> Purpose: </th>
							<td> __________ </td>
						</tr>
						<tr>
							<th> Provider: </th>
							<td> .linkedin.com </td>
						</tr>
						<tr>
							<th> Service: </th>
							<td> __________   </td>
						</tr>
						<tr>
							<th> Country: </th>
							<td> United States </td>
						</tr>
						<tr>
							<th> Type: </th>
							<td> server_cookie </td>
						</tr>
						<tr>
							<th> Expires in: </th>
							<td> 2 months 29 days </td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="cookie-details">
			<div >
				<table>
					<tbody>
						<tr>
							<th> Name: </th>
							<td> lissc </td>
						</tr>
						<tr>
							<th> Purpose: </th>
							<td> __________ </td>
						</tr>
						<tr>
							<th> Provider: </th>
							<td> .linkedin.com </td>
						</tr>
						<tr>
							<th> Service: </th>
							<td> __________   </td>
						</tr>
						<tr>
							<th> Country: </th>
							<td> United States </td>
						</tr>
						<tr>
							<th> Type: </th>
							<td> server_cookie </td>
						</tr>
						<tr>
							<th> Expires in: </th>
							<td> 11 months 30 days </td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="cookie-details">
			<div >
				<table>
					<tbody>
						<tr>
							<th> Name: </th>
							<td> ep202 </td>
						</tr>
						<tr>
							<th> Purpose: </th>
							<td> __________ </td>
						</tr>
						<tr>
							<th> Provider: </th>
							<td> .wufoo.com </td>
						</tr>
						<tr>
							<th> Service: </th>
							<td> __________   </td>
						</tr>
						<tr>
							<th> Country: </th>
							<td> United States </td>
						</tr>
						<tr>
							<th> Type: </th>
							<td> server_cookie </td>
						</tr>
						<tr>
							<th> Expires in: </th>
							<td> 2 months 29 days </td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="cookie-details">
			<div >
				<table>
					<tbody>
						<tr>
							<th> Name: </th>
							<td> _hjIncludedInPageviewSample </td>
						</tr>
						<tr>
							<th> Purpose: </th>
							<td> __________ </td>
						</tr>
						<tr>
							<th> Provider: </th>
							<td> www.jetnet.com </td>
						</tr>
						<tr>
							<th> Service: </th>
							<td> __________   </td>
						</tr>
						<tr>
							<th> Country: </th>
							<td> United States </td>
						</tr>
						<tr>
							<th> Type: </th>
							<td> http_cookie </td>
						</tr>
						<tr>
							<th> Expires in: </th>
							<td> 2 minutes </td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="cookie-details">
			<div >
				<table>
					<tbody>
						<tr>
							<th> Name: </th>
							<td> lang </td>
						</tr>
						<tr>
							<th> Purpose: </th>
							<td> __________ </td>
						</tr>
						<tr>
							<th> Provider: </th>
							<td> .linkedin.com </td>
						</tr>
						<tr>
							<th> Service: </th>
							<td> __________   </td>
						</tr>
						<tr>
							<th> Country: </th>
							<td> United States </td>
						</tr>
						<tr>
							<th> Type: </th>
							<td> http_cookie </td>
						</tr>
						<tr>
							<th> Expires in: </th>
							<td> session </td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="cookie-details">
			<div >
				<table>
					<tbody>
						<tr>
							<th> Name: </th>
							<td> hjViewportId </td>
						</tr>
						<tr>
							<th> Purpose: </th>
							<td> __________ </td>
						</tr>
						<tr>
							<th> Provider: </th>
							<td> www.jetnet.com </td>
						</tr>
						<tr>
							<th> Service: </th>
							<td> __________   </td>
						</tr>
						<tr>
							<th> Country: </th>
							<td> United States </td>
						</tr>
						<tr>
							<th> Type: </th>
							<td> html_session_storage </td>
						</tr>
						<tr>
							<th> Expires in: </th>
							<td> session </td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
		<section class="cookie-details">
			<div >
				<table>
					<tbody>
						<tr>
							<th> Name: </th>
							<td> U </td>
						</tr>
						<tr>
							<th> Purpose: </th>
							<td> __________ </td>
						</tr>
						<tr>
							<th> Provider: </th>
							<td> .adsymptotic.com </td>
						</tr>
						<tr>
							<th> Service: </th>
							<td> __________   </td>
						</tr>
						<tr>
							<th> Country: </th>
							<td> United States </td>
						</tr>
						<tr>
							<th> Type: </th>
							<td> server_cookie </td>
						</tr>
						<tr>
							<th> Expires in: </th>
							<td> 2 months 29 days </td>
						</tr>
					</tbody>
				</table>
			</div>
		</section>
	</div>
</div>

<h2> What about other tracking technologies, like web beacons? </h2>
<p>Cookies are not the only way  to recognize or track visitors to a website. We may use other, similar technologies from time to time, like web beacons (sometimes called "tracking pixels" or "clear gifs"). These are tiny graphics files that contain a unique identifier that enable us to recognize when someone has visited our Websites or opened an e-mail including them . This allows us, for example, to monitor  the traffic patterns of users from one page within a website to another, to deliver or communicate with cookies, to understand whether you have come to the website from an online advertisement displayed on a third-party website, to improve site performance, and to measure the success of e-mail marketing campaigns. In many instances, these technologies are reliant on cookies to function properly, and so declining cookies will impair their functioning. </p>

<h2> Do you use Flash cookies or Local Shared Objects? </h2>
<p>Websites may also use so-called "Flash Cookies" (also known as Local Shared Objects or "LSOs") to, among other things, collect and store information about your use of our services, fraud prevention and for other site operations. </p>
<p>
	If you do not want Flash Cookies stored on your computer, you can adjust the settings of your Flash player to block Flash Cookies storage using the tools contained in the  <a data-custom-class="link" href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager07.html" target="_BLANK"> Website Storage Settings Panel </a> . You can also control Flash Cookies by going to the  <a data-custom-class="link" href="http://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager03.html" target="_BLANK"> Global Storage Settings Panel </a>  and  following the instructions (which may include instructions that explain, for example, how to delete existing Flash Cookies (referred to "information" on the Macromedia site), how to prevent Flash LSOs from being placed on your computer without your being asked, and (for Flash Player 8 and later) how to block Flash Cookies that are not being delivered by the operator of the page you are on at the time). 
</p>
<p>Please note that setting the Flash Player to restrict or limit acceptance of Flash Cookies may reduce or impede the functionality of some Flash applications, including, potentially, Flash applications used in connection with our services or online content. </p>

<h2> Do you serve targeted advertising? </h2>
<p>Third parties may serve cookies on your computer or mobile device to serve advertising through our Websites. These companies may use information about your visits to this and other websites in order to provide relevant advertisements about goods and services that you may be interested in. They may also employ technology that is used to measure the effectiveness of advertisements. This can be accomplished by them using cookies or web beacons to collect information about your visits to this and other sites in order to provide relevant advertisements about goods and services of potential interest to you. The information collected through this process does not enable us or them to identify your name, contact details or other details that directly identify you unless you choose to provide these. </p>

<h2> How often will you update this Cookie Policy? </h2>
<p>We may update  this Cookie Policy from time to time in order to reflect, for example, changes to the cookies we use or for other operational, legal or regulatory reasons. Please therefore re-visit this Cookie Policy regularly to stay informed about our use of cookies and related technologies. </p>
<p>The date at the top of this Cookie Policy indicates when it was last updated. </p>

<h2> Where can I get further information? </h2>
<p>If you have any questions about our use of cookies or other technologies, please contact us at: </p>

<address> JETNET LLC <br>
101 First Street, 2nd Floor<br>
Utica, NY 13501<br>
United States<br>
Phone: (+1)800-553-8638<br>
Fax: (+1)315-797-4798
</address>

<style>
	table {
    	width: 100%;
	}
	th {
		white-space: nowrap;
    width: 15%;
	}
	th, td {
		vertical-align: top;
		padding: 0.25rem;
	}
	section.cookie-details {
    	background-color: rgba(255, 255, 255, 0.1);
    	padding: 1rem;
      margin-bottom: 1rem;
      font-size: 0.9rem;
	}
</style>

        </div>
      </div>
    </div>
  </section>

</main>
