---
title: Notes Center
meta_description: JETNET’s Note Center offers efficient aircraft data organization and management, with customizable viewing, filtering, and Cloud Notes+ for enhanced features
opengraph:
  title: "JETNET’s Notes Center"
  description: "Request A Demo"
  image: /assets/opengraph/NotesCenter_FB.jpg
twitter_card:
  title: "JETNET’s Notes Center"
  description: "Request A Demo"
  image: /assets/opengraph/NotesCenter_TW.jpg
---

<section class="section section--first">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<h1>Notes Center</h1>
			</div>
		</div>
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<p>JETNET’s Note Center provides a simple way to organize and maintain important aircraft notes that can be referenced at any time. Customers who subscribe to Cloud Notes+ can also use the Notes Center to manage company and contact specific notes.</p>

			</div>
		</div>
	</div>
</section>

<section class="section section--translucent-light">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>Reporting Capabilities</h2>

				<p>Set up personal action items and save private data and research notes that can be accessed via the homepage tile or in any aircraft record.</p>

				<%= partial 'partials/gallery', :locals => {
					:gallery_id => 'reporting-capabilities',
					:images => [
						{ :url => '/assets/images/features/notes-center/Reporting%20Capabilities1.png' },
						{ :url => '/assets/images/features/notes-center/Reporting%20Capabilities2.png' },
					]
				} %>

			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>Exporting Capabilities</h2>

				<p>Export all notes and/or specific notes in aircraft records. Create and export customizable content, much like in <a href="/features/model-market-summary/">Model Market Summary</a>.</p>

				<%= partial 'partials/gallery', :locals => {
					:gallery_id => 'exporting-capabilities',
					:images => [
						{ :url => '/assets/images/features/notes-center/Exporting%20Capabilities1.png' },
						{ :url => '/assets/images/features/notes-center/Exporting%20Capabilities2.png' },
						{ :url => '/assets/images/features/notes-center/Exporting%20Capabilities3.png' },
					]
				} %>

			</div>
		</div>
	</div>
</section>

<section class="section section--translucent-light">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>Viewing Options</h2>

				<p>Increase efficiency by utilizing the Notes Center to keep your team up-to-date on the work you’ve done.</p>

				<%= partial 'partials/gallery', :locals => {
					:gallery_id => 'viewing-options',
					:images => [
						{ :url => '/assets/images/features/notes-center/ViewingOptions1.png' },
						{ :url => '/assets/images/features/notes-center/ViewingOptions2.png' },
					]
				} %>

			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>Filter Notes</h2>

				<p>Use filters to easily identify notes with specific items such as:</p>
				<ul class="list--double-arrow">
					<li>Aircraft Type
					<li>Aircraft Make/Model
					<li>Aircraft Serial Number
					<li>Aircraft Registration Number
					<li>JETNET license holder
					<li>Keywords
				</ul>

				<%= partial 'partials/gallery', :locals => {
					:gallery_id => 'filter-notes',
					:images => [
						{ :url => '/assets/images/features/notes-center/Filter%20Notes1.png' },
					]
				} %>

			</div>
		</div>
	</div>
</section>

<section class="section section--translucent-light">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>Cloud Notes+ (optional add-on service)</h2>

				<p>Cloud Notes+ enhances the user experience with advanced features such as creating and managing notes on company or contact pages, as well as the ability to add notes in company records.</p>

				<%= partial 'partials/gallery', :locals => {
					:gallery_id => 'cloud-notes',
					:images => [
						{ :url => '/assets/images/features/notes-center/Cloud%20Notes1.png' },
						{ :url => '/assets/images/features/notes-center/Cloud%20Notes2.png' },
						{ :url => '/assets/images/features/notes-center/Cloud%20Notes3.png' },
					]
				} %>

			</div>
		</div>
	</div>
</section>

<%= partial 'partials/request-demo-section', :locals => {
	:body => 'Test our data with a one-on-one demonstration where you call the shots, and discover what you need to succeed. Compatible with Salesforce, an API or custom CRM solution, data you need the way you need it.'
} %>
