---
title: Make a Payment
meta_description: JETNET enables easy and secure online payments for both current and past invoices, ensuring a convenient and efficient payment process.
---

<section class="section section--heading">
  <div class="container">
    <div class="row">
      <div class="offset-lg-1 col-lg-11">
        <h1>Make a Payment</h1>

      </div>
    </div>
    <div class="row">
      <div class="offset-lg-2 col-lg-8">

        <p class="">Payments to JETNET can be made online for both current and past invoices. Please submit your payment amount using the secure form below.

        <br>
        <br>

        <span><small>Cards Accepted:</small></span><br>

        <img class="cards-accepted" src="/assets/images/cards-accepted-transparent.png">

        <br>
        <br>

        <div id="paymentForm"></div>

      </div>
    </div>
  </div>
</section>
