<div class="altimeter">
  <div class="altimeter__content" data-stellar-ratio="1.5">
    <div class="altitude-1k">30,000&prime;</div>

    <div>29,900&prime;</div>
    <div>29,800&prime;</div>
    <div>29,700&prime;</div>
    <div>29,600&prime;</div>
    <div>29,500&prime;</div>
    <div>29,400&prime;</div>
    <div>29,300&prime;</div>
    <div>29,200&prime;</div>
    <div>29,100&prime;</div>
    <div class="altitude-1k">29,000&prime;</div>

    <div>28,900&prime;</div>
    <div>28,800&prime;</div>
    <div>28,700&prime;</div>
    <div>28,600&prime;</div>
    <div>28,500&prime;</div>
    <div>28,400&prime;</div>
    <div>28,300&prime;</div>
    <div>28,200&prime;</div>
    <div>28,100&prime;</div>
    <div class="altitude-1k">28,000&prime;</div>

    <div>27,900&prime;</div>
    <div>27,800&prime;</div>
    <div>27,700&prime;</div>
    <div>27,600&prime;</div>
    <div>27,500&prime;</div>
    <div>27,400&prime;</div>
    <div>27,300&prime;</div>
    <div>27,200&prime;</div>
    <div>27,100&prime;</div>
    <div class="altitude-1k">27,000&prime;</div>

    <div>26,900&prime;</div>
    <div>26,800&prime;</div>
    <div>26,700&prime;</div>
    <div>26,600&prime;</div>
    <div>26,500&prime;</div>
    <div>26,400&prime;</div>
    <div>26,300&prime;</div>
    <div>26,200&prime;</div>
    <div>26,100&prime;</div>
    <div class="altitude-1k">26,000&prime;</div>

    <div>25,900&prime;</div>
    <div>25,800&prime;</div>
    <div>25,700&prime;</div>
    <div>25,600&prime;</div>
    <div>25,500&prime;</div>
    <div>25,400&prime;</div>
    <div>25,300&prime;</div>
    <div>25,200&prime;</div>
    <div>25,100&prime;</div>
    <div class="altitude-1k">25,000&prime;</div>

    <div>24,900&prime;</div>
    <div>24,800&prime;</div>
    <div>24,700&prime;</div>
    <div>24,600&prime;</div>
    <div>24,500&prime;</div>
    <div>24,400&prime;</div>
    <div>24,300&prime;</div>
    <div>24,200&prime;</div>
    <div>24,100&prime;</div>
    <div class="altitude-1k">24,000&prime;</div>

    <div>23,900&prime;</div>
    <div>23,800&prime;</div>
    <div>23,700&prime;</div>
    <div>23,600&prime;</div>
    <div>23,500&prime;</div>
    <div>23,400&prime;</div>
    <div>23,300&prime;</div>
    <div>23,200&prime;</div>
    <div>23,100&prime;</div>
    <div class="altitude-1k">23,000&prime;</div>

    <div>22,900&prime;</div>
    <div>22,800&prime;</div>
    <div>22,700&prime;</div>
    <div>22,600&prime;</div>
    <div>22,500&prime;</div>
    <div>22,400&prime;</div>
    <div>22,300&prime;</div>
    <div>22,200&prime;</div>
    <div>22,100&prime;</div>
    <div class="altitude-1k">22,000&prime;</div>

    <div>21,900&prime;</div>
    <div>21,800&prime;</div>
    <div>21,700&prime;</div>
    <div>21,600&prime;</div>
    <div>21,500&prime;</div>
    <div>21,400&prime;</div>
    <div>21,300&prime;</div>
    <div>21,200&prime;</div>
    <div>21,100&prime;</div>
    <div class="altitude-1k">21,000&prime;</div>

    <div>20,900&prime;</div>
    <div>20,800&prime;</div>
    <div>20,700&prime;</div>
    <div>20,600&prime;</div>
    <div>20,500&prime;</div>
    <div>20,400&prime;</div>
    <div>20,300&prime;</div>
    <div>20,200&prime;</div>
    <div>20,100&prime;</div>
    <div class="altitude-1k">20,000&prime;</div>

    <div>19,900&prime;</div>
    <div>19,800&prime;</div>
    <div>19,700&prime;</div>
    <div>19,600&prime;</div>
    <div>19,500&prime;</div>
    <div>19,400&prime;</div>
    <div>19,300&prime;</div>
    <div>19,200&prime;</div>
    <div>19,100&prime;</div>
    <div class="altitude-1k">19,000&prime;</div>

    <div>18,900&prime;</div>
    <div>18,800&prime;</div>
    <div>18,700&prime;</div>
    <div>18,600&prime;</div>
    <div>18,500&prime;</div>
    <div>18,400&prime;</div>
    <div>18,300&prime;</div>
    <div>18,200&prime;</div>
    <div>18,100&prime;</div>
    <div class="altitude-1k">18,000&prime;</div>

    <div>17,900&prime;</div>
    <div>17,800&prime;</div>
    <div>17,700&prime;</div>
    <div>17,600&prime;</div>
    <div>17,500&prime;</div>
    <div>17,400&prime;</div>
    <div>17,300&prime;</div>
    <div>17,200&prime;</div>
    <div>17,100&prime;</div>
    <div class="altitude-1k">17,000&prime;</div>

    <div>16,900&prime;</div>
    <div>16,800&prime;</div>
    <div>16,700&prime;</div>
    <div>16,600&prime;</div>
    <div>16,500&prime;</div>
    <div>16,400&prime;</div>
    <div>16,300&prime;</div>
    <div>16,200&prime;</div>
    <div>16,100&prime;</div>
    <div class="altitude-1k">16,000&prime;</div>

    <div>15,900&prime;</div>
    <div>15,800&prime;</div>
    <div>15,700&prime;</div>
    <div>15,600&prime;</div>
    <div>15,500&prime;</div>
    <div>15,400&prime;</div>
    <div>15,300&prime;</div>
    <div>15,200&prime;</div>
    <div>15,100&prime;</div>
    <div class="altitude-1k">15,000&prime;</div>

    <div>14,900&prime;</div>
    <div>14,800&prime;</div>
    <div>14,700&prime;</div>
    <div>14,600&prime;</div>
    <div>14,500&prime;</div>
    <div>14,400&prime;</div>
    <div>14,300&prime;</div>
    <div>14,200&prime;</div>
    <div>14,100&prime;</div>
    <div class="altitude-1k">14,000&prime;</div>

    <div>13,900&prime;</div>
    <div>13,800&prime;</div>
    <div>13,700&prime;</div>
    <div>13,600&prime;</div>
    <div>13,500&prime;</div>
    <div>13,400&prime;</div>
    <div>13,300&prime;</div>
    <div>13,200&prime;</div>
    <div>13,100&prime;</div>
    <div class="altitude-1k">13,000&prime;</div>

    <div>12,900&prime;</div>
    <div>12,800&prime;</div>
    <div>12,700&prime;</div>
    <div>12,600&prime;</div>
    <div>12,500&prime;</div>
    <div>12,400&prime;</div>
    <div>12,300&prime;</div>
    <div>12,200&prime;</div>
    <div>12,100&prime;</div>
    <div class="altitude-1k">12,000&prime;</div>

    <div>11,900&prime;</div>
    <div>11,800&prime;</div>
    <div>11,700&prime;</div>
    <div>11,600&prime;</div>
    <div>11,500&prime;</div>
    <div>11,400&prime;</div>
    <div>11,300&prime;</div>
    <div>11,200&prime;</div>
    <div>11,100&prime;</div>
    <div class="altitude-1k">11,000&prime;</div>

    <div>10,900&prime;</div>
    <div>10,800&prime;</div>
    <div>10,700&prime;</div>
    <div>10,600&prime;</div>
    <div>10,500&prime;</div>
    <div>10,400&prime;</div>
    <div>10,300&prime;</div>
    <div>10,200&prime;</div>
    <div>10,100&prime;</div>
    <div class="altitude-1k">10,000&prime;</div>

    <div>9,900&prime;</div>
    <div>9,800&prime;</div>
    <div>9,700&prime;</div>
    <div>9,600&prime;</div>
    <div>9,500&prime;</div>
    <div>9,400&prime;</div>
    <div>9,300&prime;</div>
    <div>9,200&prime;</div>
    <div>9,100&prime;</div>
    <div class="altitude-1k">9,000&prime;</div>

    <div>8,900&prime;</div>
    <div>8,800&prime;</div>
    <div>8,700&prime;</div>
    <div>8,600&prime;</div>
    <div>8,500&prime;</div>
    <div>8,400&prime;</div>
    <div>8,300&prime;</div>
    <div>8,200&prime;</div>
    <div>8,100&prime;</div>
    <div class="altitude-1k">8,000&prime;</div>

    <div>7,900&prime;</div>
    <div>7,800&prime;</div>
    <div>7,700&prime;</div>
    <div>7,600&prime;</div>
    <div>7,500&prime;</div>
    <div>7,400&prime;</div>
    <div>7,300&prime;</div>
    <div>7,200&prime;</div>
    <div>7,100&prime;</div>
    <div class="altitude-1k">7,000&prime;</div>

    <div>6,900&prime;</div>
    <div>6,800&prime;</div>
    <div>6,700&prime;</div>
    <div>6,600&prime;</div>
    <div>6,500&prime;</div>
    <div>6,400&prime;</div>
    <div>6,300&prime;</div>
    <div>6,200&prime;</div>
    <div>6,100&prime;</div>
    <div class="altitude-1k">6,000&prime;</div>

    <div>5,900&prime;</div>
    <div>5,800&prime;</div>
    <div>5,700&prime;</div>
    <div>5,600&prime;</div>
    <div>5,500&prime;</div>
    <div>5,400&prime;</div>
    <div>5,300&prime;</div>
    <div>5,200&prime;</div>
    <div>5,100&prime;</div>
    <div class="altitude-1k">5,000&prime;</div>

    <div>4,900&prime;</div>
    <div>4,800&prime;</div>
    <div>4,700&prime;</div>
    <div>4,600&prime;</div>
    <div>4,500&prime;</div>
    <div>4,400&prime;</div>
    <div>4,300&prime;</div>
    <div>4,200&prime;</div>
    <div>4,100&prime;</div>
    <div class="altitude-1k">4,000&prime;</div>

    <div>3,900&prime;</div>
    <div>3,800&prime;</div>
    <div>3,700&prime;</div>
    <div>3,600&prime;</div>
    <div>3,500&prime;</div>
    <div>3,400&prime;</div>
    <div>3,300&prime;</div>
    <div>3,200&prime;</div>
    <div>3,100&prime;</div>
    <div class="altitude-1k">3,000&prime;</div>

    <div>2,900&prime;</div>
    <div>2,800&prime;</div>
    <div>2,700&prime;</div>
    <div>2,600&prime;</div>
    <div>2,500&prime;</div>
    <div>2,400&prime;</div>
    <div>2,300&prime;</div>
    <div>2,200&prime;</div>
    <div>2,100&prime;</div>
    <div class="altitude-1k">2,000&prime;</div>

    <div>1,900&prime;</div>
    <div>1,800&prime;</div>
    <div>1,700&prime;</div>
    <div>1,600&prime;</div>
    <div>1,500&prime;</div>
    <div>1,400&prime;</div>
    <div>1,300&prime;</div>
    <div>1,200&prime;</div>
    <div>1,100&prime;</div>
    <div class="altitude-1k">1,000&prime;</div>

    <div>900&prime;</div>
    <div>800&prime;</div>
    <div>700&prime;</div>
    <div>600&prime;</div>
    <div>500&prime;</div>
    <div>400&prime;</div>
    <div>300&prime;</div>
    <div>200&prime;</div>
    <div>100&prime;</div>
    <div class="altitude-1k">0&prime;</div>

  </div>
</div>
