Dan Streufert<br>
President, ADS-B Exchange

<div class="d-flex align-items-center my-4">
  <img alt="Dan Streufert headshot" width="125" height="auto" src="/assets/uploads/blog/dan-streufert-headshot.jpg" class="mr-4">
</div>
