Jason Lorraine<br>
Assistant Vice President of Product Sales & Strategic Solutions

<div class="d-flex align-items-center my-4">
  <img alt="Jason Lorraine headshot" width="125" height="auto" src="/assets/uploads/blog/jason-lorraine-headshot.jpg" class="mr-4">
</div>
