David Labrecque<br>
Assistant Vice President of Research

<div class="d-flex align-items-center my-4">
  <img alt="David Labrecque headshot" width="125" height="auto" src="/assets/uploads/blog/david-labrecque-headshot.jpg" class="mr-4">
</div>
