Greg Fell<br>
CEO, JETNET

<div class="d-flex align-items-center my-4">
  <img alt="Greg Fell headshot" width="125" height="auto" src="/assets/uploads/blog/greg-fell-headshot.jpg" class="mr-4">
  <img alt="Greg Fell signature" class="img-fluid my-4 block" width="150" height="auto" src="/assets/uploads/blog/greg-fell-signature.png">
</div>
