Rollie Vincent<br>
JETNET iQ Creator/Director

<div class="d-flex align-items-center my-4">
  <img alt="Rollie Vincent headshot" width="125" height="auto" src="/assets/uploads/blog/rollie-vincent-headshot.jpg" class="mr-4">
</div>
