Paul Cardarelli<br>
Vice President of Sales, JETNET

<div class="d-flex align-items-center my-4">
  <img alt="Paul Cardarelli headshot" width="125" height="auto" src="/assets/uploads/blog/paul-cardarelli-headshot.jpg" class="mr-4">
  <!--<img alt="Paul Cardarelli signature" class="img-fluid my-4 block" width="150" height="auto" src="/assets/uploads/blog/paul-cardarelli-signature.png">-->
</div>
