<div>
	<% blog.articles.take(5).each do |article| %>
		<% next if article.data.exclude_from_blog_index %>

		<div class="mb-1">
			<a href="<%= article.url %>" class="text-blue-darker"><%= article.title %></a>
		</div>

	<% end %>
</div>
