Richard Koe<br>
Managing Director, WINGX

<div class="d-flex align-items-center my-4">
  <img alt="Richard Koe headshot" width="125" height="auto" src="/assets/uploads/blog/richard-koe-headshot.jpg" class="mr-4">
</div>
