<% size_class = (defined?(size) && size.is_a?(String)) ? 'btn-' + size : '' %>

<a href="<%= url %>" class="btn btn-primary <%= size_class %>">
  <span class="icon icon--double-arrow"></span> <%= text %>
</a>

