<section class="section section--translucent-light" id="contact-us">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11 mb-4">
				<% if defined?(title) %>
					<h2><%= title %></h2>
				<% else %>
					<h2><%= 'Contact Us' %></h2>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="offset-lg-2 col-lg-8">

				<p class="lead mb-4">To &gt;&gt; KNOW MORE about <%= product %>, please contact:</p>

				<% if defined?(people) %>
					<% groups = people.group_by{|p| p[:group]} %>

					<% groups.each do |group_name, group_people| %>
						<div class="mb-5">
							<% if group_name %>
								<h6 class="font-size-h5 text-bold text-condensed uppercase mb-3 mt-5">
									<%= group_name %>
								</h6>
							<% end %>

							<% group_people.each do |person| %>
								<div class="mb-4">

  								<%= partial("partials/contact-details", :locals => person) %>

								</div>
							<% end %>
						</div>
					<% end %>

				<% end %>

			</div>
		</div>
	</div>
</section>
