<% if defined?(phone) %>
	<% phone_numbers = phone.respond_to?('each') ? phone : [phone] %>
<% end %>

<div>
	<div class="my-1">
		<b><%= name %></b><br><%= title %>
	</div>

	<% if defined?(address) %>
		<div class="my-1">
			<%= address %>
		</div>
	<% end %>

	<ul class="list-unstyled my-1">
		<% if defined?(phone) %>
			<li class="contact-info my-0">
				<%= image_tag '/assets/images/icons/phone-icon-white.png', width: 20 %>
				<div>
					<% phone_numbers.each do |phone_number| %>
						<div><%= phone_number %></div>
					<% end %>
				</div>
			</li>
		<% end %>
		
		<% if defined?(email) %>
			<li class="contact-info my-0">
				<%= image_tag '/assets/images/icons/email-icon-white.png', width: 20 %>
				<div>
					<a href="mailto:<%= email %>"><%= email %></a>
				</div>
			</li>
		<% end %>
		
		<% if defined?(linkedin) %>
			<li class="contact-info my-0">
				<%= image_tag '/assets/images/icons/linkedin-bug-white.svg', width: 20, style: 'position: relative; left: 2px;' %>
				<div>
					<a href="<%= linkedin %>">LinkedIn</a>
				</div>
			</li>
		<% end %>
	</ul>

	<% if defined?(website) %>
		<div class="my-1">
			<a href="<%= website[:href] %>"><%= website[:text] %></a>
		</div>
	<% end %>

</div>
