<% if defined?(phone) %>
	<% phone_numbers = phone.respond_to?('each') ? phone : [phone] %>
<% end %>

<div>
	<div class="my-1">
		<% if defined?(name) %><b><%= name %><% end %></b><!--
		--><% if defined?(title) %><!--
			--><%= (defined?(title_separator) && title_separator.instance_of?(String)) ? title_separator : ", " %><%= title %><% end %>
	</div>

	<% if defined?(address) %>
		<div class="my-1">
			<%= address %>
		</div>
	<% end %>

	<ul class="list-unstyled my-1">
		<% if defined?(phone) %>
			<li class="contact-info my-0">
				<%= image_tag '/assets/images/icons/phone-icon-white.png', width: 20 %>
				<div>
					<% phone_numbers.each do |phone_number| %>
						<div><%= phone_number %></div>
					<% end %>
				</div>
			</li>
		<% end %>
		
		<% if defined?(email) %>
			<li class="contact-info my-0">
				<%= image_tag '/assets/images/icons/email-icon-white.png', width: 20 %>
				<div>
					<a href="mailto:<%= email %>"><%= email %></a>
				</div>
			</li>
		<% end %>

	</ul>

	<% if defined?(website) %>
		<div class="my-1">
			<a href="<%= website[:href] %>"><%= website[:text] %></a>
		</div>
	<% end %>

</div>
