<footer class="site-footer">
  <div class="footer">
    <div class="">
      <div class="footer-columns">

        <div class="footer-column footer-column__contact">
          <h4 class="footer-heading">Contact Us</h4>
          <div class="footer-contact">
            <div class="footer-contact-group">
              <%= image_tag 'assets/images/icons/pin-icon-white.png' %>
              <address class="mb-0">101 First Street, 2nd Floor<br>
              Utica, New York 13501</address>
            </div>
            <div class="footer-contact-group">
              <%= image_tag 'assets/images/icons/phone-icon-white.png' %>
              <dl class="mb-0">
                <dt>Office:</dt><dd><a href="tel:+13157974420">+1 315.797.4420</a></dd>
                <dt>Toll-free:</dt><dd><a href="tel:+18005538638">+1 800.553.8638</a></dd>
                <dt>Fax:</dt><dd>+1 315.797.4798</dd>
                <dt>Europe:</dt><dd><a href="tel:+41432437056">+41 (0) 43.243.7056</a></dd>
              </dl>
            </div>
            <div class="footer-contact-group mb-0">
              <%= image_tag 'assets/images/icons/email-icon-white.png' %>
              <dl class="mb-0">
                <dt>Email:</dt><dd><a href="mailto:info@jetnet.com">info@jetnet.com</a></dd>
              </dl>
            </div>
          </div>
        </div>

        <div class="footer-column footer-column__connect">
          <h4 class="footer-heading">Stay Connected</h4>
          <div class="footer-social-icons">
            <a href="https://twitter.com/jetnetllc"><img src="/assets/images/social-twitter.png"></a>
            <a href="https://www.youtube.com/user/jetnetllc"><img src="/assets/images/social-youtube.png"></a>
            <a href="https://www.linkedin.com/company/jetnet/"><img src="/assets/images/social-linkedin.png"></a>
            <a href="https://www.facebook.com/JETNETLLC/"><img src="/assets/images/social-facebook.png"></a>
          </div>

          <div class="footer-eyebrow-icons">
            <% link_to 'http://www.jetnetevolution.com/', :class => 'd-flex align-items-center' do %>
              <%= image_tag 'assets/images/icons/login-icon-white.png' %>
              <span class="link">Log in</span>
            <% end %>

            <% link_to '/training/', :class => 'd-flex align-items-center' do %>
              <%= image_tag 'assets/images/icons/training-icon-white.png' %>
              <span class="link">Training</span>
            <% end %>

            <% link_to '/make-a-payment/', :class => 'd-flex align-items-center mb-0' do %>
              <%= image_tag 'assets/images/icons/payment-icon-white.png' %>
              <span class="link">Make Payment</span>
            <% end %>
          </div>

        </div>

        <div class="footer-column footer-column__news">
          <h4 class="footer-heading">Recent News</h4>
          <div class="footer-news">
            <%
              news = blog('news').articles.reject{ |article| article.data.exclude_from_blog_index? }
              news[0..2].each do |article|
                %>
      					<article class="news">
                  <%= article.date.strftime('%-m/%-d/%Y') %> –
    							<a href="<%= article.url %>"><%= article.title %></a>
      					</article>
                <%
              end
            %>
          </div>
        </div>

        <div class="footer-column footer-column__miscellaneous">

          <div class="footer-miscellaneous">

            <div class="footer-brand mt-2 mb-4">
              <img class="footer-brand-logo block mb-2" src="/assets/images/jetnet-logo-white.png">
              <div class="footer-brand-text">The World Leader in<br>Aviation Market Intelligence</div>
            </div>

            <div class="mb-2">
              <a href="/request-demo" class="btn btn-primary">
                <span class="icon icon--double-arrow"></span> Request Demo
              </a>
            </div>
            
            <ul class="list-unstyled">
              <li>
                <a href="/legal/terms-of-use">Terms of Use</a>
              </li>
              <li>
                <a href="/legal/acceptable-use-policy">Acceptable Use Policy</a>
              </li>
              <li>
                <a href="/legal/privacy-policy">Privacy Policy</a>
              </li>
              <li>
                <a href="#"
                  onclick="window.displayPreferenceModal();return false;"
                  id="termly-consent-preferences">Cookie Preferences</a>
              </li>
            </ul>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="site-credits">
    <div class="container">
      <div class="site-credits-content">
        <div class="copyright">The official website of JETNET © <%= Date.today.year %></div>
        <div class="credits">Designed/developed by <a href="http://www.romanelli.com/">romanelli communications</a></div>
      </div>
    </div>
  </div>
</footer>
