<% if defined?(images) %>

  <% first, *rest = *images %>

  <% if first %>
    <% image = first %>
    <div class="my-4">
      <a
	      data-gallery="<%= gallery_id %>"
        data-caption="<%= image[:caption] %>"
	      href="<%= image[:url] %>">
	      <img
		      class="w-100 img-fluid"
		      src="<%= image[:url] %>">
      </a>
    </div>
  <% end %>

  <% unless rest.empty? %>
    <div class="row my-4">
      <% rest.each do |image| %>
	      <div class="col-md-6">
		      <a
			      data-gallery="<%= gallery_id %>"
			      data-caption="<%= image[:caption] %>"
			      href="<%= image[:url] %>">
			      <img
				      class="w-100 img-fluid"
				      src="<%= image[:url] %>">
		      </a>
	      </div>
      <% end %>
    </div>
  <% end %>
<% end %>
