<% dropdown_toggle_opts = {
  'class' => 'nav-link',
  'data-toggle' => 'dropdown',
  'aria-haspopup' => 'true',
  'role' => 'button',
  'aria-expanded' => 'false'
} %>

<div class="site-header-outside">
  <header class="site-header stuck">
    <div class="site-header-inside">

      <% if current_page.data.show_summit_banner === true %>
        <%= partial 'partials/summit-banner' %>
      <% end %>

      <div class="lg:container xl:container xxl:container">
        <%= partial 'partials/navbar' %>
      </div>
      
      <% if @showSummitNavbar === true %>
        <%= partial 'partials/summit-navbar' %>
      <% end %>

    </div>
  </header>
</div>
