<% dropdown_toggle_opts = {
  'class' => 'mobile-nav-link',
  'data-toggle' => 'dropdown',
  'aria-haspopup' => 'true',
  'role' => 'button',
  'aria-expanded' => 'false'
} %>

<div id="nav-mobile" class="mobile-navbar">

  <div class="mobile-navbar-eyebrow">
    <div class="p-0">
      <% link_to 'http://www.jetnetevolution.com/', :class => 'login d-flex align-items-center px-4 py-3' do %>
        <div class="icon-wrapper"><%= image_tag 'assets/images/icons/login-icon-white.png' %></div> Log in
      <% end %>
    </div>

    <div class="d-flex justify-space-between m-0 p-0">
      <% link_to '/training/', :class => 'training d-flex align-items-center px-4 py-3' do %>
        <div class="icon-wrapper"><%= image_tag 'assets/images/icons/training-icon-black.png' %></div> Training
      <% end %>

      <% link_to '/make-a-payment/', :class => 'payment d-flex align-items-center px-4 py-3' do %>
        <div class="icon-wrapper"><%= image_tag 'assets/images/icons/payment-icon-black.png' %></div> Make Payment
      <% end %>
    </div>
  </div>

  <ul class="mobile-navbar-nav">
    <li class="mobile-nav-item dropdown">
      <%= nav_link('About Us', '#', dropdown_toggle_opts) %>
      <div class="dropdown-menu">
        <ul>
          <li><%= nav_link('Company Profile', '/about-us/company-profile/') %>
          <li><%= nav_link('Our Team', '/about-us/our-team/') %>
          <li><%= nav_link('Careers', '/careers/') %>
          <li><%= nav_link('Contact Us', '/contact/') %>
        </ul>
      </div>
    </li>
    <li class="mobile-nav-item">
      <%= nav_link('Research', '/research/', { 'class' => 'mobile-nav-link' }) %>
    </li>
    <!--
    <li class="mobile-nav-item dropdown">
      <%= nav_link('Solutions', '#', dropdown_toggle_opts) %>
      <div class="dropdown-menu">
        <ul>
          <li><%= nav_link('Aircraft Sales Dealers & Brokers', '/solutions/aircraft-sales.html') %>
          <li><%= nav_link('Manufacturers', '/solutions/manufacturers.html') %>
          <li><%= nav_link('Aviation Specialists', '/solutions/aviation-specialists.html') %>
          <li><%= nav_link('Charter & Management Companies', '/solutions/charter-management.html') %>
          <li><%= nav_link('FBO & Airport Operations', '/solutions/fbo-airport-operations.html') %>
          <li><%= nav_link('Maintenance, Parts & Service', '/solutions/maintenance-parts-service.html') %>
          <li><%= nav_link('Industry Analysts & Consultants', '/solutions/industry-analysts-consultants.html') %>
        </ul>
      </div>
    </li>
    -->

    <li class="mobile-nav-item dropdown">
      <%= nav_link('Features', '#', dropdown_toggle_opts) %>
      <div class="dropdown-menu">
        <ul>
          <li><%= nav_link('Overview', '/features/', { 'class' => 'highlighted' }) %>
          <li><%= nav_link('Aircraft Dealers & Brokers Rankings', '/features/aircraft-dealers-and-brokers-rankings/') %>
          <!--<li><%= nav_link('Aircraft Prospector', '/features/aircraft-prospector/') %>-->
          <li><%= nav_link('Charter Intelligence', '/features/charter-intelligence/') %>
          <li><%= nav_link('Fleet Analyzer', '/features/fleet-analyzer/') %>
          <li><%= nav_link('Flight Activity', '/features/flight-activity/') %>
          <li><%= nav_link('Model Market Summary', '/features/model-market-summary/') %>
          <li><%= nav_link('Notes Center', '/features/notes-center/') %>
          <li><%= nav_link('Route Analysis', '/features/route-analysis/') %>
          <li><%= nav_link('Search By Tail Number', '/features/search-by-tail-number/') %>          
        </ul>
      </div>
    </li>
    
    <li class="mobile-nav-item dropdown">
      <%= nav_link('Products', '#', dropdown_toggle_opts) %>
      <div class="dropdown-menu">
        <ul>
          <li><%= nav_link('MARKETPLACE', '/products/evolution-marketplace.html') %>
          <li><%= nav_link('Values', '/products/jetnet-values.html') %>
          <li><%= nav_link('AERODEX', '/products/aerodex.html') %>
          <li><%= nav_link('MARKETPLACE Manager', '/products/marketplace-manager.html') %>
          <li><%= nav_link('JETNET API', '/products/jetnet-api.html') %>
          <li><%= nav_link('JETNET for Salesforce', '/products/jetnet-salesforce.html') %>
          <li><%= nav_link('ADS-B Exchange', '/products/adsb-exchange/') %>
        </ul>
      </div>
    </li>
    <li class="mobile-nav-item dropdown">
      <%= nav_link('<span class="lowercase">i</span>Q', '#', dropdown_toggle_opts) %>
      <div class="dropdown-menu">
        <ul>
          <li><%= nav_link('JETNET iQ', '/products/jetnet-iq/') %>
          <li><%= nav_link('iQ PULSE', '/iq-pulse/') %>
          <li><%= nav_link('iQ Reports', '/research/reports/') %>
          <li><%= nav_link('iQ Summit', '/summit/') %>
          <li><%= nav_link('iQ Survey', '/research/iq-survey/') %>
        </ul>
      </div>
    </li>
    <li class="mobile-nav-item dropdown">
      <%= nav_link('News', '#', dropdown_toggle_opts) %>
      <div class="dropdown-menu">
        <ul>
          <li><%= nav_link('Blog', '/blog') %>
          <li><%= nav_link('Events', '/events') %>
          <li><%= nav_link('Press Releases', '/news') %>
        </ul>
      </div>
    </li>
    <li class="mobile-nav-item dropdown">
      <%= nav_link('Fleets', '#', dropdown_toggle_opts) %>
      <div class="dropdown-menu">
        <ul>
          <li><%= nav_link('Business Jets, Turboprops & Pistons', '/fleets/business-jets-turboprops-pistons.html') %>
          <li><%= nav_link('Helicopters', '/fleets/helicopters.html') %>
          <li><%= nav_link('Commercial Aircraft', '/fleets/commercial-aircraft.html') %>
        </ul>
      </div>
    </li>
  </ul>

  <div class="mb-2">
    <a href="/request-demo" class="btn btn-primary btn-lg text-white m-3">
      <span class="icon icon--double-arrow"></span> Request Demo
    </a>
  </div>
</div>
