<nav class="navbar navbar-expand-lg align-items-end navbar-light">
  <div class="navbar-brand">
    <a href="/"><img class="navbar-logo" src="/assets/images/jetnet-logo.png"></a>
    <img class="navbar-tagline" src="/assets/images/jetnet-tagline.png">
  </div>

  <button
    class="navbar-toggler hamburger hamburger--spin"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="d-none d-lg-block ml-auto">
      <%= partial("partials/nav-desktop") %>
    </div>

    <div class="d-block d-lg-none">
      <%= partial("partials/nav-mobile") %>
    </div>
  </div>
</nav>
