<div class="related-products">
    <div class="container">
        <div class="row">
            <div class="offset-lg-1 col-lg-11 mb-4">
                <h2>Related Products</h2>
            </div>
        </div>
        <div class="row">
            <div class="offset-lg-2 col-lg-10">
            <ul class="list--double-arrow">
                <% links.each do |link| %>
                    <li><a href="<%= link[:href] %>"><%= link[:text] %></a>
                <% end %>
            </ul>
            </div>
        </div>
    </div>
</div>
