<section class="section demo-request" id="demo-request">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<% if defined?(title) %>
					<h3 class="uppercase"><%= title %></h3>
				<% else %>
					<h3 class="uppercase"><%= 'Request a Demo' %></h3>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="offset-lg-2 col-lg-8">

				<% if defined?(body) %>
					<p><%= body %></p>
				<% else %>
					<p>Test our data with a one-on-one demonstration where you call the shots, and discover what you need to succeed. Compatible with Salesforce, an API or custom CRM solution, data you need the way you need it.</p>
				<% end %>

				<div>
					<%= partial 'partials/request-demo-button' %>
				</div>

			</div>
		</div>
	</div>
</section>