<!-- Alpine.js for Basic Interactivity -->
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

<!-- Salesforce Form -->
<form method="POST"
	data-salesforce
	data-pipedream-endpoint="https://eoolkjzyrexzww0.m.pipedream.net"
	x-data="{ selectedCountry: '', otherSubscriptions: '', showOtherSubscriptions: false }"
	x-init="$watch('showOtherSubscriptions', value => showOtherSubscriptions = value)"
	action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8">
		
	<% if defined?(return_url) %>
		<input type=hidden name="retURL" value="<%= return_url %>">
	<% else %>
		<% url_path = current_page.url.chomp('/').sub(/(index\.html|[^\/]+\.html)?$/, '') %>
		<input type=hidden name="retURL" value="<%= config[:host] + url_path + '/thank-you.html' %>">
	<% end %>
	
	<!--  ----------------------------------------------------------------------  -->
	<!--  NOTE: These fields are optional debugging elements. Please uncomment    -->
	<!--  these lines if you wish to test in debug mode.                          -->
	<!--
	<input type="hidden" name="debug" value=1>	
	<input type="hidden" name="debugEmail" value="zac@romanelli.com">
	-->
	<!--  ----------------------------------------------------------------------  -->
	
	<div class="form-field">
		<label for="first_name">First Name <small>(required)</small></label>
		<div class="form-input">
			<input id="first_name" maxlength="40" name="first_name" size="20" type="text" required />
		</div>
	</div>
	
	<div class="form-field">
		<label for="last_name">Last Name <small>(required)</small></label>
		<div class="form-input">
			<input id="last_name" maxlength="80" name="last_name" size="20" type="text" required />
		</div>
	</div>
	
	<br>
	
	<div class="form-field">
		<label for="title">Title</label>
		<div class="form-input">
			<input id="title" maxlength="40" name="title" size="20" type="text" />
		</div>
	</div>
	
	<div class="form-field">
		<label for="company">Company <small>(required)</small></label>
		<div class="form-input">
			<input id="company" maxlength="40" name="company" size="20" type="text" required />
		</div>
	</div>
	
	<br>
	
	<div class="form-field">
		<label for="street">Street</label>
		<div class="form-input">
			<textarea name="street"></textarea>
		</div>
	</div>
	
	<div class="form-field">
		<label for="city">City <small>(required)</small></label>
		<div class="form-input">
			<input id="city" maxlength="40" name="city" size="20" type="text" required />
		</div>
	</div>
	
	<div class="form-field">
		<label for="country">Country <small>(required)</small></label>
		<div class="form-input">
			<%= partial("partials/salesforce-field-country") %>
		</div>
	</div>
	
	<div class="form-field" x-show="selectedCountry === 'United States' || selectedCountry === 'Canada'">
		<label for="state">State/Province <small>(required)</small></label>
		<div class="form-input">
			<%= partial("partials/salesforce-field-state") %>
		</div>
	</div>
	
	<br>
	
	<div class="form-field">
		<label for="email">Email <small>(required)</small></label>
		<div class="form-input">
			<input id="email" maxlength="80" name="email" size="20" type="email" required />
		</div>
	</div>
	
	<div class="form-field">
		<label>Phone <small>(required)</small></label>
		<div class="form-input">
			<input id="00N6g00000V9g0L" maxlength="40" name="00N6g00000V9g0L" size="20" type="tel" required data-intl-phone-number />
		</div>
	
		<!-- Country Code: -->
		<input id="00N6g00000W6yfv" maxlength="255" name="00N6g00000W6yfv" size="20" type="hidden" data-intl-country-code />
	</div>
	
	<div class="form-field">
		<label>Phone Type</label>
		<div class="form-input">
			<select id="00N6g00000W6yfq" name="00N6g00000W6yfq" title="Phone Type">
				<option value="" disabled selected>(select)</option>
				<option value="Office">Office</option>
				<option value="Mobile">Mobile</option>
				<option value="Direct">Direct</option>
				<option value="Residence">Residence</option>
			</select>
		</div>
	</div>
	
	<br>
	
	<div class="form-field">
		<label>Business Problem</label>
		<div class="form-input">
			<textarea id="00N6g00000VD662" name="00N6g00000VD662" rows="3" type="text" wrap="soft"></textarea>
		</div>
	</div>
	
	<div class="form-field">
		<label>Other Subscriptions</label>
		
		<div class="form-input">
			<div>
				<label>
					<input name="00N6g00000VblrK" type="checkbox" value="1" />
					<span class="ml-1">AMSTAT</span>
				</label>
			</div>
			<div>
				<label>
					<input name="00N6g00000VblrP" type="checkbox" value="1" />
					<span class="ml-1">Flight Aware</span>
				</label>
			</div>
			<div>
				<label>
					<input name="00N6g00000VblrU" type="checkbox" value="1" />
					<span class="ml-1">Blue Book</span>
				</label>
			</div>
			<div>
				<label>
					<input name="00N6g00000VblrZ" type="checkbox" value="1" />
					<span class="ml-1">V Ref</span>
				</label>
			</div>
			<div>
				<label>
					<input name="00N6g00000Vblre" type="checkbox" value="1" />
					<span class="ml-1">Avinode</span>
				</label>
			</div>
			<div>
				<label>
					<input name="00N6g00000Vblrj" type="checkbox" value="1" x-model="showOtherSubscriptions" />
					<span class="ml-1">Other</span>
				</label>
				
				<!-- Other Subscriptions input field (conditionally shown) -->
				<div class="my-2" x-show="showOtherSubscriptions">
					<div class="form-input">
						<input name="00N6g00000VD65x" placeholder="" type="text" x-model="otherSubscriptions" />
					</div>
				</div>
			</div>
	
		</div>
	</div>
	
	<div class="form-submit">
		<!-- Salesforce -->
		<input type="hidden" name="oid" value="00D6g0000082bQc">
		<input type="hidden" name="lead_source" id="LeadSource" value="Website">
		<input type="hidden" name="00N6g00000V9fzh" id="00N6g00000V9fzh" value="Demo Requested">
		<input type="hidden" name="captcha_settings" value='{"keyname":"Romanelli_Google_reCAPTCH","fallback":"true","orgId":"00D6g0000082bQc","ts":""}'>
		
		<input type="submit" value="Submit">
	</div>

</form>

<!-- Google reCAPTCHA Setup -->
<script src="https://www.google.com/recaptcha/api.js?render=6LdYNhomAAAAAAv2ELrgop5YzE5O-jjSvaVhFbNx"></script>
<script>
	function timestamp() {
		var response = document.getElementById("g-recaptcha-response");
		if (response == null || response.value.trim() == "") {
			var elems = JSON.parse(document.getElementsByName("captcha_settings")[0].value);
			elems["ts"] = JSON.stringify(new Date().getTime());
			document.getElementsByName("captcha_settings")[0].value = JSON.stringify(elems);
		}
	}
	setInterval(timestamp, 500);
</script>
