<section class="section section--testimonial" data-stellar-background-ratio="0.8">
  <div class="container">
    <div class="row">
      <div class="offset-lg-1 col-lg-11">
        <h2>Testimonial</h2>
      </div>
    </div>
    <div class="row">
      <div class="offset-lg-2 col-lg-10">
        <blockquote>
          <p class="lead">“We became a top-performing aircraft brokerage by building strong relationships and providing our clients the most complete, real-time market information available. We get them this critical intelligence accurately and immediately—as it happens. They count on us and they know we always keep our promises. We have that same trusting relationship with JETNET. They promise, and they deliver. With JETNET, we know the market and put that knowledge to work for our clients. Knowing more gets us in the door and builds lasting partnerships.”</p>
          <footer class="text-sm-right">— Ron Nugent<br>
            Founding Partner, Managing Director West Coast, Jeteffect, Inc.<br>
            Client since 2000
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
