<section class="section section--video">
  <div class="container">
    <div class="row">
      <div class="offset-lg-1 col-lg-11">
        <h2>Video</h2>
      </div>
    </div>
    <div class="row">
      <div class="offset-lg-2 col-lg-10">
        [ NEEDS CONTENT ]
      </div>
    </div>
  </div>
</section>
