<section class="section demo-request" id="signup-iq-pulse">
  <div class="container">
    <div class="row">
      <div class="offset-lg-1 col-lg-11">
        <h2 style="text-transform:none;">Sign up for JETNET iQ PULSE</h2>
        <p>Get notified by email whenever a new issue of JETNET iQ PULSE is released.
        <br><br>
      </div>
    </div>
    <div class="row">
      <div class="offset-lg-2 col-lg-8">
        <%= partial("partials/wufoo_form", :locals => { :form_id => 's8c9w3818lmf2p' })%>
      </div>
    </div>
  </div>
</section>