<section class="section section--translucent-medium" id="gallery">
  <div class="container">
    <div class="row">
      <div class="offset-lg-3 col-lg-9">
        <h2>Sponsors</h2>

        <p class="uppercase">
          <strong>We’re Flying Higher with the Support of Our Sponsors!</strong>
        </p>

        <br />

        <p class="mb-3">Special thanks to our Diamond Sponsor</p>

        <div class="row mb-0">
          <div class="col-sm-5">
            <a href="https://www.gulfstream.com/en/"
              ><img
                src="/assets/images/summit/Gulfstream_SponsorBlock_HR.jpg"
                class="img-fluid d-block mb-4"
                alt="Gulfstream"
            /></a>
          </div>
        </div>

        <hr class="mt-2 mb-4" />

        <p class="mb-3">Special thanks to our Platinum Sponsors</p>

        <div class="row mb-0">
          <div class="col-sm-4">
            <a href="https://bombardier.com/en"
              ><img
                src="/assets/images/summit/Bombardier_Plat_SponsorBlock_HR.jpg"
                class="img-fluid d-block mb-4"
                alt="Bombardier"
            /></a>
          </div>
          <div class="col-sm-4">
            <a href="https://www.dassaultfalcon.com/"
              ><img
                src="/assets/images/summit/DassaultFalconJet23_SponsorBlock.jpg"
                class="img-fluid d-block mb-4"
                alt="Dassault Falcon Jet"
            /></a>
          </div>
          <div class="col-sm-4">
            <a href="https://www.geaerospace.com/"
              ><img
                src="/assets/images/summit/GEAerospace_SponsorBlock_HR.jpg"
                class="img-fluid d-block mb-4"
                alt="GE Aerospace"
            /></a>
          </div>
          <div class="col-sm-4">
            <a href="https://www.gogoair.com"
              ><img
                src="/assets/images/summit/GoGoBusAv.jpg"
                class="img-fluid d-block mb-4"
                alt="GoGo Business Aviation"
            /></a>
          </div>
          <div class="col-sm-4">
            <a href="https://www.jetex.com"
              ><img
                src="/assets/images/summit/JETEXPlat_SponsorBlock_HR.jpg"
                class="img-fluid d-block mb-4"
                alt="JETEX"
            /></a>
          </div>
          <div class="col-sm-4">
            <a href="https://txtav.com/"
              ><img
                src="/assets/images/summit/Textron_SponsorBlock_HR.jpg"
                class="img-fluid d-block mb-4"
                alt="Textron Aviation"
                style="width: 85vw"
            /></a>
          </div>
        </div>

        <hr class="mt-2 mb-4" />

        <p class="mb-3">Special thanks to our Gold Sponsors</p>

        <div class="row mb-0">
          <div class="col-sm-3">
            <a href="https://www.claylacy.com"
              ><img
                src="/assets/images/summit/ClayLacy_Gold_SponsorBlock_HR.jpg"
                class="img-fluid d-block mb-4"
                alt="Clay Lacy Aviation"
            /></a>
          </div>
          <div class="col-sm-3">
            <a href="https://www.pilatus-aircraft.com/en"
              ><img
                src="/assets/images/summit/Pilatus_GoldSponsorBlock_HR.jpg"
                class="img-fluid d-block mb-4"
                alt="Pilatus"
            /></a>
          </div>
          <div class="col-sm-3">
            <a href="https://www.prattwhitney.com/"
              ><img
                src="/assets/images/summit/PrattWhitney_SponsorBlock_HR.jpg"
                class="img-fluid d-block mb-4"
                alt="Pratt & Whitney"
            /></a>
          </div>
          <div class="col-sm-3">
            <a href="https://www.rolls-royce.com/"
              ><img
                src="/assets/images/summit/RollsRoyce_SponsorBlock_HR.jpg"
                class="img-fluid d-block mb-4"
                alt="Rolls Royce"
            /></a>
          </div>
          <div class="col-sm-3">
            <a href="https://www.romanelli.com/"
              ><img
                src="/assets/images/summit/Romanelli_SponsorBlock_HR.jpg"
                class="img-fluid d-block mb-4"
                alt="Romanelli"
            /></a>
          </div>
        </div>

        <hr class="mt-2 mb-4" />

        <p class="mb-4">Special thanks to our Event Sponsors</p>

        <div class="row mb-0">
          <div class="col-sm-3">
            <a href="https://iada.aero"
              ><img
                src="/assets/images/summit/IADA_EventSponsorBlock_HR.jpg"
                class="img-fluid d-block mb-4"
                alt="IADA"
            /></a>
          </div>
          <div class="col-sm-3">
            <a
              href="https://www.pnc.com/en/corporate-and-institutional/financing/lending-options/pnc-equipment-finance/aviation.html"
              ><img
                src="/assets/images/summit/PNC_SponsorBlock_HR.jpg"
                class="img-fluid d-block mb-4"
                alt="PNC Aviation Finance"
            /></a>
          </div>
        </div>

        <% if !defined?(show_contact) || show_contact != false %>
        <hr />

        <p>For information on sponsorship opportunities, please contact:</p>

        <%= partial("partials/contact-details", :locals => { name: "Paul
        Cardarelli", title: "Vice President of Sales", email: "paul@jetnet.com",
        phone: [ "+1 315.797.4420 ext. 254" ], }) %> <% end %>
      </div>
    </div>
  </div>
</section>

<!--
<div class="col-sm-4">
<a href="https://www.acj.airbus.com/en"><img src="/assets/images/summit/ACJ_Airbus_SponsorBlock_HR.jpg" class="img-fluid d-block mb-4" alt="ACJ Airbus"></a>
</div>
<div class="col-sm-4">
<a href="https://bombardier.com/en"><img src="/assets/images/summit/Bombardier_SponsorBlock_HR.jpg" class="img-fluid d-block mb-2" alt="Bombardier"></a>
</div>
<div class="col-sm-4">
<a href="https://www.collinsaerospace.com"><img src="/assets/images/summit/CollinsAerospaceRXT_SponsorBlock_HR.jpg" class="img-fluid d-block mb-2" alt="Collins Aerospace"></a>
</div>
<div class="col-sm-4">
<a href="https://executive.embraer.com/global/en"><img src="/assets/images/summit/Embraer_SponsorBlock_HR.jpg" class="img-fluid d-block mb-2" alt="Embraer"></a>
</div>
<div class="col-sm-4">
<a href="https://www.gulfstream.com/en/"><img src="/assets/images/summit/Gulfstream_SponsorBlock_HR.jpg" class="img-fluid d-block mb-4" alt="Gulfstream"></a>
</div>
<div class="col-sm-4">
<a href="https://www.geaerospace.com/"><img src="/assets/images/summit/GEAerospace_SponsorBlock_HR.jpg" class="img-fluid d-block mb-2" alt="GE Aerospace"></a>
</div>
<div class="col-sm-4">
<a href="https://www.jetex.com"><img src="/assets/images/summit/JETEXPlat_SponsorBlock_HR.jpg" class="img-fluid d-block mb-4" alt="JETEX"></a>
</div>
<div class="col-sm-4">
<a href="https://txtav.com/service"><img src="/assets/images/summit/Textron_SponsorBlock_HR.jpg" class="img-fluid d-block mb-4" alt="Textron Aviation"></a>
</div>
<div class="col-sm-4">
<a href="https://executive.embraer.com/"><img src="/assets/images/summit/Embraer_SponsorBlock_HR.jpg" class="img-fluid d-block mb-4" alt="Embraer"></a>
</div>
<div class="col-sm-4">
<a href="https://www.geaviation.com/"><img src="/assets/images/summit/GEAviation_SponsorBlock_HR.jpg" class="img-fluid d-block mb-4" alt="GE Aviation"></a>
</div>
<div class="col-sm-4">
<a href="https://www.jetaviation.com/"><img src="/assets/images/summit/JetAviation_SponsorBlock_HR.jpg" class="img-fluid d-block mb-4" alt="Jet Aviation"></a>
</div>
<div class="col-sm-4">
<a href="https://jetsupport.com/"><img src="/assets/images/summit/JSSI_SponsorBlock.jpg" class="img-fluid d-block mb-4" alt="JSSI"></a>
</div>
<div class="col-sm-4">
<a href="https://iada.aero"><img src="/assets/images/summit/IADA_EventSponsorBlock_HR.jpg" class="img-fluid d-block mb-4" alt="IADA"></a>
</div>
<div class="col-sm-4">
<a href="https://www.jetex.com"><img src="/assets/images/summit/JETEXPlat_SponsorBlock_HR.jpg" class="img-fluid d-block mb-4" alt="JETEX"></a>
</div>
<div class="col-sm-4">
<a href="https://www.pnc.com/en/corporate-and-institutional/financing/lending-options/pnc-equipment-finance/aviation.html"><img src="/assets/images/summit/PNC_SponsorBlock_HR.jpg" class="img-fluid d-block mb-4" alt="PNC Aviation Finance"></a>
</div>
<div class="col-sm-3">
<a href="https://business.gogoair.com"><img src="/assets/images/summit/GoGoBusAv.jpg" class="img-fluid d-block mb-4" alt="GoGo Business Aviation"></a>
</div>
<div class="col-sm-3">
<a href="https://www.romanelli.com"><img src="/assets/images/summit/Romanelli_SponsorBlock_HR.jpg" class="img-fluid d-block mb-2" alt="Romanelli"></a>
</div>
<div class="col-sm-3">
<a href="https://www.satcomdirect.com/"><img src="/assets/images/summit/SatCom_SponsorBlock_HR.jpg" class="img-fluid d-block mb-4" alt="Satcom Direct"></a>
</div>
<div class="col-sm-3">
<a href="https://smartskynetworks.com/"><img src="/assets/images/summit/SmartSky_SponsorBlock_HR.jpg" class="img-fluid d-block mb-4" alt="SmartSky Networks"></a>
</div>
<div class="col-sm-3">
<a href="https://www.flyvolato.com/"><img src="/assets/images/summit/Volato_SponsorBlock_HR.jpg" class="img-fluid d-block mb-4" alt="Volato"></a>
</div>
<div class="col-sm-3">
<a href="https://www.jetquity.com"><img src="/assets/images/summit/Jetquity_SponsorBlock_HR.jpg" class="img-fluid d-block mb-4" alt="https://www.jetquity.com"></a>
</div>
<div class="col-sm-3">
<a href="https://jetsupport.com"><img src="/assets/images/summit/JSSI_SponsorBlock.jpg" class="img-fluid d-block mb-4" alt="JSSI"></a>
</div>
<div class="col-sm-3">
<a href="https://www.pilatus-aircraft.com/en"><img src="/assets/images/summit/Pilatus_GoldSponsorBlock_HR.jpg" class="img-fluid d-block mb-4" alt="Pilatus"></a>
</div>
<div class="col-sm-3">
<a href="https://prattwhitney.com/"><img src="/assets/images/summit/PrattWhitney_SponsorBlock_HR.jpg" class="img-fluid d-block mb-4" alt="Pratt & Whitney"></a>
</div>
<div class="col-sm-3">
<a href="https://www.romanelli.com"><img src="/assets/images/summit/Romanelli_SponsorBlock_HR.jpg" class="img-fluid d-block mb-2" alt="Romanelli"></a>
</div>
<div class="col-sm-3">
<a href="https://smartskynetworks.com/"><img src="/assets/images/summit/SmartSky_SponsorBlock_HR.jpg" class="img-fluid d-block mb-4" alt="SmartSky Networks"></a>
</div>
<div class="col-sm-3">
<a href="https://www.solairus.aero"><img src="/assets/images/summit/SolairusAv_SponsorBlock_HR.jpg" class="img-fluid d-block mb-2" alt="Solairus Aviation"></a>
</div>
<div class="col-sm-3">
<a href="https://www.rolls-royce.com"><img src="/assets/images/summit/RollsRoyce_SponsorBlock_HR.jpg" class="img-fluid d-block mb-4" alt="Rolls Royce"></a>
</div>
<div class="col-sm-3">
<a href="https://www.satcomdirect.com/"><img src="/assets/images/summit/SatCom_SponsorBlock_HR.jpg" class="img-fluid d-block mb-4" alt="Satcom Direct"></a>
</div>
<div class="col-sm-3">
<a href="https://www.flyvolato.com/"><img src="/assets/images/summit/Volato_SponsorBlock_HR.jpg" class="img-fluid d-block mb-4" alt="Volato"></a>
</div>
<div class="col-sm-4">
<a href="https://www.titanaviation.aero/"><img src="/assets/images/summit/TitanAviation_SponsorBlock_HR.jpg" class="img-fluid d-block mb-4" alt="Titan Aviation"></a>
</div>
-->
