<% event_id = '824198418657' %>

<p>
  <button id="eventbrite-widget-modal-trigger-<%= event_id %>" type="button" class="btn btn-primary btn-lg">
    <span class="icon icon--double-arrow"></span>
    Buy Tickets
  </button>
</p>

<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>
<script>
  var eventbriteSuccessCallback = function() {
    console.log('Order complete!');
  };

  if (window.EBWidgets) {
    window.EBWidgets.createWidget({
      widgetType: 'checkout',
      eventId: '<%= event_id %>',
      modal: true,
      modalTriggerElementId: 'eventbrite-widget-modal-trigger-<%= event_id %>',
      onOrderComplete: eventbriteSuccessCallback
    });
  } else {
    console.error('EBWidgets is not defined');
  }
</script>