<section class="section section--translucent-dark" id="summit-buy-tickets">
  <div class="container">
    <div class="row">
      <div class="offset-lg-3 col-lg-9">
        <h2><span class="highlight">Buy Tickets</span></h2>

        <p>
          Don’t miss this opportunity to connect with industry leaders and gain
          valuable insights. Register today and guarantee your attendance!
        </p>

        <%= partial 'partials/summit-register-now-button' %>

        <p>
          <b>Note:</b> If you have a promo code, please make sure to enter your
          unique code in the ‘Promo Code’ box at the beginning of registration
          and click ‘Apply’ <i>before</i> clicking ‘Check out.’
        </p>
      </div>
    </div>
  </div>
</section>
