<h3>Our COVID-19 Promise</h3>

<p class="mt-4">JETNET is committed to ensuring the comfort and safety of all attendees at our 2021 JETNET iQ Summit by complying with all state and local guidelines in New York State, as well as those implemented by the TWA Hotel at JFK. Upon event check-in, we will be verifying attendees have received at least one dose of a COVID-19 vaccine authorized by the FDA or the WHO. JETNET will be providing masks as well as hand sanitizer to be used at one’s own discretion. Thank you for your patience and understanding as we strive to make this year’s Summit a secure and safe environment for all attendees.</p>

<p class="mt-4">For information on COVID-19 vaccines approved abroad, please visit: <a href="https://www.fda.gov/emergency-preparedness-and-response/coronavirus-disease-2019-covid-19/covid-19-vaccines">https://www.fda.gov/emergency-preparedness-and-response/coronavirus-disease-2019-covid-19/covid-19-vaccines</a> and/or <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/covid-19-vaccines">https://www.who.int/emergencies/diseases/novel-coronavirus-2019/covid-19-vaccines</a>.</p>

<p class="mt-4">For our international colleagues attending the event, please visit: <a href="https://visaguide.world/news/vaccine-checker-proof-of-immunity-for-travel/">https://visaguide.world/news/vaccine-checker-proof-of-immunity-for-travel/</a>.</p>

<p class="mt-4">If you have any questions, please contact Justine Strzepek, Communication Coordinator at +1 800.553.8638 ext. 612, or <a href="mailto:justine@jetnet.com">justine@jetnet.com</a>.</p>
