<div class="summit-nav">
  <div class="container">
    <nav class="summit-navbar navbar navbar-expand-lg">
      <div class="navbar-brand d-flex align-items-center px-3">
        <img
          class="navbar-logo mb-2 mr-md-3 summit-arrow"
          src="/assets/images/summit-arrow.png"
        />
        <span class="summit-nav-title">JETNET iQ SUMMIT</span>
      </div>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#summitNavbar"
        aria-controls="summitNavbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="summit-nav-menu-text">MENU</span>
      </button>

      <div class="collapse navbar-collapse" id="summitNavbar">
        <ul class="navbar-nav summit-navbar-nav">
          <li class="summit-nav-item">
            <%= nav_link('Overview', '/summit/', { :class => 'summit-nav-link'
            }) %>
          </li>
          <li class="summit-nav-item">
            <%= nav_link('Speakers', '/summit/speakers/', { :class =>
            'summit-nav-link' }) %>
          </li>
          <li class="summit-nav-item">
            <%= nav_link('Agenda', '/summit/agenda/', { :class =>
            'summit-nav-link' }) %>
          </li>
          <li class="summit-nav-item">
            <%= nav_link('Hotel', '/summit/hotel/', { :class =>
            'summit-nav-link' }) %>
          </li>
          <li class="summit-nav-item">
            <%= nav_link('Gallery', '/summit/gallery/', { :class =>
            'summit-nav-link' }) %>
          </li>
          <li class="summit-nav-item">
            <%= nav_link('Sponsorships', '/summit/sponsorships/', { :class =>
            'summit-nav-link' }) %>
          </li>

          <div class="d-flex align-items-center ml-3 ml-md-4 mb-4 mb-md-0">
            <a href="/summit/register/" class="btn btn-primary btn-lg">
              <span class="icon icon--double-arrow"></span> Buy Tickets
            </a>
          </div>
        </ul>
      </div>
    </nav>
  </div>
</div>
