<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Event",
  "name": "2024 JETNET iQ Global Business Aviation Summit",
  "startDate": "2024-09-24T09:00-05:00",
  "endDate": "2024-09-25T17:00-05:00",
  "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
  "eventStatus": "https://schema.org/EventScheduled",
  "location": {
    "@type": "Place",
    "name": "New York Marriott Marquis",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "1535 Broadway",
      "addressLocality": "New York",
      "postalCode": "10036",
      "addressRegion": "NY",
      "addressCountry": "US"
    }
  },
  "image": [
    "<%= config[:host] + image_path('/assets/opengraph/Overview24_OG2.jpg') %>"
  ],
  "description": "2024 marks our 13th JETNET iQ Summit as we convene once again at the prestigious New York Marriott Marquis in the heart of Times Square.",
  "keywords": "Business Aviation Conference,Business Aviation Convention,Business Aviation Exhibition,Aviation Conference,International Aviation Conference,Corporate Jet Convention,Corporate Jet Conference",
  "offers": {
    "@type": "Offer",
    "url": "https://www.jetnet.com/summit/",
    "price": "1650",
    "priceCurrency": "USD",
    "availability": "https://schema.org/InStock",
    "validThrough": "2024-09-23T11:59"
  },
  "organizer": {
    "@type": "Organization",
    "name": "JETNET",
    "url": "https://www.jetnet.com"
  }
}
</script>
