<section id="request-demo" class="training-request-demo">
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-8 offset-lg-1 col-lg-11">
        <div class="hero__container">
          <div class="hero__layout hero__layout--center">

            <div class="d-flex justify-content-center">
              <i class="icon icon--double-arrow display-icon"></i>
              <div>
                <h2 class="mb-2">Not a Subscriber?</h2>
                <p class="text-reverse">
                  If you would like to inquire about subscribing to take advantage of JETNET’s features and training, request a demo today.
                </p>
                <%= partial 'partials/request-demo-button' %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
