<section class="section section--translucent-light">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<% if defined?(title) %>
					<h3 class="uppercase"><%= title %></h3>
				<% else %>
					<h3 class="uppercase"><%= 'Sign Up For Training Today' %></h3>
				<% end %>
			</div>
		</div>
		<div class="row">
			<div class="offset-lg-2 col-lg-8">

				<% if defined?(body) %>
					<p><%= body %></p>
				<% else %>
					<p>Looking for additional info? Sign up for our training courses on any topic you need assistance with.</p>
				<% end %>

				<div>
					<a href="/training/" class="btn btn-primary btn-lg">
					  <span class="icon icon--double-arrow"></span> Training Courses
					</a>
				</div>

			</div>
		</div>
	</div>
</section>