<%
  # Default to a height of 800 if no height is supplied
  unless defined?(form_height)
    form_height = 800
  end
%>
<div id="wufoo-<%= form_id %>">
  <a href="https://romanelli.wufoo.com/forms/<%= form_id %>">Request a Demo</a>
</div>
<script type="text/javascript">
  var urlParams = new URLSearchParams(window.location.search);
  var defaultValues = new URLSearchParams('');
  <%=
    # Staging: https://romanelli.wufoo.com/api/code/553 (Title: 121, URL: 123)
    # Live:    https://romanelli.wufoo.com/api/code/ (Title: 120, URL: 121)
  %>
  defaultValues.append('field120', urlParams.get('referrer_title')); 
  defaultValues.append('field121', urlParams.get('referrer_url'));

  var <%= form_id %>;
  (function(d, t) {
    var s = d.createElement(t),
        options = {
          'userName':'romanelli',
          'formHash':'<%= form_id %>',
          'autoResize':true,
          'height':'<%= form_height %>',
          'async':true,
          'host':'wufoo.com',
          'header':'hide',
          'ssl':true,
          'defaultValues': defaultValues.toString(),
        };
    s.src = ('https:' == d.location.protocol ?'https://':'http://') + 'secure.wufoo.com/scripts/embed/form.js';
    s.onload = s.onreadystatechange = function() {
      var rs = this.readyState;
      if (rs) if (rs != 'complete') if (rs != 'loaded') return;
      try {
        <%= form_id %> = new WufooForm(); <%= form_id %>.initialize(options); <%= form_id %>.display();
      }
      catch (e) { }
    };
    var scr = d.getElementsByTagName(t)[0],
        par = scr.parentNode;
    par.insertBefore(s, scr);
  })(document, 'script');
</script>
