<%
  # Default to a height of 800 if no height is supplied
  unless defined?(form_height)
    form_height = 800
  end
%>
<div id="wufoo-<%= form_id %>">
  <a href="https://romanelli.wufoo.com/forms/<%= form_id %>">Fill out the form</a>
</div>
<script type="text/javascript">
  var <%= form_id %>;
  (function(d, t) {
    var s = d.createElement(t),
        options = {
          'userName':'romanelli',
          'formHash':'<%= form_id %>',
          'autoResize':true,
          'height':'<%= form_height %>',
          'async':true,
          'host':'wufoo.com',
          'header':'hide',
          'ssl':true,
          <% if defined?(defaultValues) %>
            'defaultValues': '<%= URI.encode_www_form(defaultValues) %>',
          <% end %>
        };
    s.src = ('https:' == d.location.protocol ?'https://':'http://') + 'secure.wufoo.com/scripts/embed/form.js';
    s.onload = s.onreadystatechange = function() {
      var rs = this.readyState;
      if (rs) if (rs != 'complete') if (rs != 'loaded') return;
      try {
        <%= form_id %> = new WufooForm(); <%= form_id %>.initialize(options); <%= form_id %>.display();
      }
      catch (e) { }
    };
    var scr = d.getElementsByTagName(t)[0],
        par = scr.parentNode;
    par.insertBefore(s, scr);
  })(document, 'script');
</script>
