---
title: "EBACE 2023"
meta_description: "Stop by the JETNET booth at EBACE 2023 for a chance to win a set of Apple AirPods!"
opengraph:
  title: "JETNET at EBACE 2023"
  description: "Know More"
  image: /assets/opengraph/JN_EBACE_FB.jpg
twitter_card:
  title: "JETNET at EBACE 2023"
  description: "Know More"
  image: /assets/opengraph/JN_EBACE_TW.jpg
---

<section class="section section--first">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<h1>EBACE 2023</h1>
			</div>
		</div>
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-9 col-xl-8 text-reverse">

				<h2 class="mb-4">Experience Cutting-Edge Research and Training With JETNET</h2>

				<img src="/assets/images/events/EBACE_MainImage_HR.jpg" class="img-fluid" style="margin:0 0 2rem 0;" alt="" />

				<p>The anticipation for EBACE 2023, May 23-25 in Geneva, Switzerland, is palpable! JETNET is looking forward to showcasing our premier business aviation research services with particular focus on products such as <a href="/products/evolution-marketplace.html">MARKETPLACE</a>, <a href="/products/aerodex.html">AERODEX</a>, and <a href="/products/jetnet-values.html">Values</a>, with one-on-one demonstrations.</p>
				
				<p>We will also be highlighting our <a href="/training/">training courses</a> that ensure you stay ahead of the curve by equipping you with the latest knowledge on current business aviation trends.</p>

				<p>Don’t miss the JETNET iQ State of the Market Briefing, where we will be sharing results from our JETNET Q1 2023 Survey, as well as details of our latest 10-year business jet delivery forecast—all during a press conference on Tuesday, May 23, from 11:00–11:45 a.m. in Room U of the Palexpo. The most recent trends and market sentiment from aircraft owners/operators will be highlighted during this exclusive presentation.</p>
				
				<p><b>JETNET iQ State of the Market Briefing</b><br>
				Tuesday, May 23 | 11:00 a.m. | Palexpo Room U</p>

				<img src="/assets/images/events/EBACE2023_AppleAirPods_Giveaway.jpg" class="img-fluid" style="width: 240px; float: right; margin:0 0 2rem 2rem; border: 10px solid white; border-radius: 0.25rem;" alt="Apple AirPods" />
				
				<p>Visit us at booth M71 to learn how our training courses and research services can give you the cutting-edge data that will better serve your clients—and don’t miss your chance to enter to win a set of Apple AirPods (3rd generation)!</p>

				<p>We can’t wait to see you at EBACE 2023!</p>

			</div>
		</div>
	</div>
</section>

<%= partial 'partials/request-demo-section', :locals => {
	body: 'Can’t make it to EBACE this year? Test our data with a one-on-one demonstration where you call the shots, and discover what you need to succeed, and increase your competitive situational awareness.'
} %>
