---
title: JETNET Alerts
meta_description: "Select your criteria of make, model, and event type to receive custom alerts for the data you need.s"
opengraph:
  title: ""
  description: ""
  image: /assets/opengraph/
twitter_card:
  title: ""
  description: ""
  image: /assets/opengraph/
---

<section class="section section--first">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<h1>Event Alerts</h1>
			</div>
		</div>
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">
			
				<p>We mean it when we say we want you to be the first to know. That’s why we’ve created Event Alerts, which are notifications sent out when an update has been made to the JETNET database. With full customization of your notifications, you decide what updates you want to be alerted about, as soon as they occur.</p>
				
				<div class="my-4"><img class="img-fluid" src="/assets/images/features/event-alerts/EventAlerts.jpg"></div>
				
			</div>
		</div>
	</div>
</section>

<section class="section section--translucent-light">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>Select Your Criteria</h2>

				<p>You’re in complete control of choosing Event Alerts for the data you need most. Customize your notifications using various filtering options. Get notified immediately on changes to any company, plane, fleet or market data you are following.</p>

				<div class="my-4"><img class="img-fluid" src="/assets/images/features/event-alerts/SelectYourCriteria.jpg"></div>

			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>Schedule Alert</h2>

				<p>Not only can you customize what Event Alerts you get, you also have the option to alter your schedule and choose <i>when</i> you get them.</p>

				<div class="my-4"><img class="img-fluid" src="/assets/images/features/event-alerts/ScheduleAlert.jpg"></div>
        
			</div>
		</div>
	</div>
</section>

<%= partial 'partials/training-courses-section', :locals => {
	:body => 'Looking for additional info on Event Alerts? Sign up for our Event Alerts training course or any topic you need assistance with.'
} %>

<%= partial 'partials/request-demo-section', :locals => {
	:title => 'Not a Subscriber?',
	:body => 'If you want the latest information for full competitive situational awareness, request a demo to experience Event Alerts and other JETNET service features.'
} %>
