---
title: Business Aviation Research
meta_description: Subscribe to JETNET for comprehensive business aviation research, offering detailed, up-to-date data on aircraft, market trends, and transaction histories, accessible on-the-go
opengraph:
  title: "Customized Business Aviation Data"
  description: "Request A Demo"
  image: /assets/opengraph/JN_Post2_CustomizedBusiness_FB.jpg
twitter_card:
  title: "Customized Business Aviation Data"
  description: "Request A Demo"
  image: /assets/opengraph/JN_Post2_CustomizedBusiness_TW.jpg
---

<section class="section section--first">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<h1>Business Aviation Research</h1>
			</div>
		</div>
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 text-reverse">

				<p class="lead">At its core, what does a subscription to the world’s premier business aviation research service give you? Original, extensive, continuous research. Our products and services are tailored to your needs, giving you ease of use and time-saving features, packaged for faster searches and relevant results. Subscribers will also have access to our intuitive mobile interface, allowing you to stay connected to the data you need, wherever and whenever you need it. But what sets us—and what will set you—above the rest is more accurate data, acquired from original sources daily. When you know more, and know it sooner, you’ll be ahead of the competition every time.
				<p class="lead">Research business aircraft markets, fleets, and individual aircraft information that is detailed, organized, historic, and worldwide. We get it first, so you get it first. Confirmed, cross-referenced, from original sources.

			</div>
		</div>
	</div>
</section>

<section class="section section--translucent-light">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<h2 class="h1">Aircraft Information</h2>
			</div>
		</div>
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 text-reverse">

				<p><img class="img-fluid" src="/assets/images/research/aviation-research/AircraftInformation_Blur.jpg"></p>
				<p>Need individual business aircraft information at any point in time, anywhere in the world? We contact our sources directly for any:</p>
				<ul class="list--double-arrow">
					<li>Owner/operator contact information
					<li>Aircraft equipage
					<li>Market status and metrics
					<li>and much more
				</ul>
				<p>Find more information on how we research individual aircraft, what information you’ll have access to, and how you can use it.</p>
				<p><a href="/research/business-aircraft/" class="btn btn-primary">
				<span class="icon icon--double-arrow"></span> View Aircraft</a></p>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<h2 class="h1">Company Profiles</h2>
			</div>
		</div>
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 text-reverse">

				<p><img class="img-fluid" src="/assets/images/research/aviation-research/CompanyProfiles_Blur.jpg"></p>
				<p>Keep up with the latest changes to business aircraft companies and their contacts. You can’t afford to fall behind when you need the latest information at your fingertips for comparisons, top performing companies, and other metrics. We update information such as:
				<ul class="list--double-arrow">
					<li>Company Formal Name Changes
					<li>New Aviation Companies with Contacts and Aircraft
					<li>Updated Part 135, and 91 Companies
					<li>Consolidated Company View with Divisions, Locations, Subsidiaries, DBAs worldwide
					<li>and much more
				</ul>
				<p>Find more information on how we research companies and their profile information, and how you can use it to your advantage.

				<p><a href="/research/company-profiles.html" class="btn btn-primary">
				<span class="icon icon--double-arrow"></span> View Company Data</a>
			</div>
		</div>
	</div>
</section>

<section class="section section--translucent-light">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<h2 class="h1">Financial Documents</h2>
			</div>
		</div>
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 text-reverse">

				<p><img class="img-fluid" style="width:100%;" src="/assets/images/research/aviation-research/FinancialDocuments_Blur.jpg"></p>
				<p>Researching and compiling business aviation financial data can be time-consuming and frustrating without the relevant and current data in one source. JETNET researchers keep you current on the latest business aviation amendments, registrations, and much more. We regularly update:
				<ul class="list--double-arrow">
					<li>Operating Lease Agreements
					<li>Lease Terminations
					<li>Mortgages
					<li>Security Agreements
					<li>Mechanics Liens
					<li>and much more
				</ul>
				<p>See how much more financial information we research, and how we allow you to make your searches faster, more in-depth, and easily packaged for presentation.

				<p><a href="/research/financial-documents.html" class="btn btn-primary">
				<span class="icon icon--double-arrow"></span> View Financial Data</a>
			</div>
		</div>
	</div>
</section>

<section class="section section">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<h2 class="h1">Market Status</h2>
			</div>
		</div>
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 text-reverse">

				<p><img class="img-fluid" src="/assets/images/research/aviation-research/MarketStatus_Blur.jpg"></p>
				<p>Stay up to date on the latest business aviation market status, trends, and changes, and perform more accurate analyses with current and historical data. We give you more information, and more accurate data for global markets, than you’ll find anywhere else. We update metrics like:
				<ul class="list--double-arrow">
					<li>Changes in Asking Price/Status
					<li>Newly Available
					<li>On/Off Exclusive
					<li>Aircraft Absorption Rate
					<li>Model Market Summaries
					<li>and much more
				</ul>
				<p>Discover the depth, accuracy, and timely in-depth business aircraft market information available in our exclusive database, all compiled and updated regularly by our large research staff. Use more accurate market information to see market changes first.

				<p><a href="/research/market-status.html" class="btn btn-primary">
				<span class="icon icon--double-arrow"></span> View Market Data</a>
			</div>
		</div>
	</div>
</section>

<section class="section section--translucent-light">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<h2 class="h1">Transaction History</h2>
			</div>
		</div>
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 text-reverse">

				<p><img class="img-fluid" src="/assets/images/research/aviation-research/TransactionHistory_Blur.jpg"></p>
				<p>Accurate and timely business aviation transaction reports and histories can give you the crucial edge you need in your business. Our large research staff updates our extensive transaction history database on a regular basis, with information directly from sources around the globe. We update data points on:
				<ul class="list--double-arrow">
					<li>Ownership History
					<li>Fleet Analytics
					<li>Make Model Production Data
					<li>Fractional Sales
					<li>Full Sales
					<li>and much more
				</ul>
				<p>Learn more about the extensive data we present to you in easy-to-search, organized transaction histories to make your job easier and more profitable.

				<p><a href="/research/transaction-history.html" class="btn btn-primary">
				<span class="icon icon--double-arrow"></span> View Transaction Data</a>
			</div>
		</div>
	</div>
</section>

<%= partial 'partials/request-demo-section' %>
