---
title: Market Status Changes
meta_description: Stay ahead with JETNET’s Market Status updates, tracking key changes in business aircraft listings and sales to drive new business opportunities.
opengraph:
  title: "Business Aviation Market Status"
  description: "Be the First to Know"
  image: /assets/opengraph/Jan12_FB.jpg
twitter_card:
  title: "Business Aviation Market Status"
  description: "Be the First to Know"
  image: /assets/opengraph/Jan12_TW.jpg
---

<section class="section section--first">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<h1>Market Status</h1>
			</div>
		</div>
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 text-reverse">

				<p><img class="img-fluid" src="/assets/images/research/market-status/MarketStatus.jpg"></p>

				<p>Any change in the market status of a business aircraft can put the potential for new business in your hands. Your clients rely on you to stay on top of the latest changes, and the only intelligence service you can rely on to keep you there is JETNET. 
				<p>Be the first to learn of any market status changes:

				<div class="row">
					<div class="col-md-4">
						<p><strong>New</strong></p>
						<ul class="list--double-arrow">
							<li>On Market
							<li>On Exclusive
							<li>Newly Available
							<li>Added Co-Exclusive
						</ul>
					</div>

					<div class="col-md-4">
						<p><strong>Change</strong></p>
						<ul class="list--double-arrow">
							<li>Asking Price
							<li>Status from Sales pending
							<li>Status to Sale pending
							<li>Status Change
						</ul>
					</div>

					<div class="col-md-4">
						<p><strong>Remove</strong></p>
						<ul class="list--double-arrow">
							<li>Non Exclusive Sales Contact
							<li>Sales Company/Contact
							<li>Removed Co-Exclusive
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="section demo-request" id="demo-request">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<h3 class="uppercase">Request a Demo</h3>
			</div>
		</div>
		<div class="row">
			<div class="offset-lg-2 col-lg-8">

				<p>Test our data with a one-on-one demonstration where you call the shots, and discover what you need to succeed. Compatible with Salesforce, an API or custom CRM solution, data you need the way you need it.</p>

				<div>
					<a href="/request-demo" class="btn btn-primary btn-lg">
						<span class="icon icon--double-arrow"></span> Request Demo
					</a>
				</div>

			</div>
		</div>
	</div>
</section>
