---
title: Aircraft Transaction History
meta_description: JETNET’s database provides detailed transaction histories for business aircraft, offering insights into their value and status, essential for informed business dealings in aviation.
opengraph:
  title: "Business Aircraft Transaction History"
  description: "Make Your Job Easier"
  image: /assets/opengraph/Jan14_FB.jpg
twitter_card:
  title: "Business Aircraft Transaction History"
  description: "Make Your Job Easier"
  image: /assets/opengraph/Jan14_TW.jpg
---

<section class="section section--first">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<h1>Aircraft Transaction History</h1>
			</div>
		</div>
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 text-reverse">

				<p><img class="img-fluid" src="/assets/images/research/transaction-history/TransactionHistory.jpg"></p>

				<p>Knowing a business aircraft’s transaction history gives you crucial insight into its current value, status, and availability. Conduct more business, faster and with more confidence, with the full depth of an aircraft’s transaction history using JETNET’s global, historically accurate, and up-to-date database. Know the latest changes, including: 

				<div class="row">
					<div class="col-md-4">
						<p><strong>Sale</strong></p>
						<ul class="list--double-arrow">
							<li>Fractional Sale				
							<li>Full Sale - Internal			
							<li>Full Sale - New Delivery	
							<li>Full Sale
							<li>Share Sale				
						</ul>
					</div>

					<div class="col-md-4">
						<p><strong>Lease</strong></p>
						<ul class="list--double-arrow">
							<li>Lease - Expired
							<li>Lease
						</ul>
					</div>

					<div class="col-md-4">
						<p><strong>Foreclosure</strong></p>
						<ul class="list--double-arrow">
							<li>Foreclosure
							<li>Seizure
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="section demo-request" id="demo-request">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<h3 class="uppercase">Request a Demo</h3>
			</div>
		</div>
		<div class="row">
			<div class="offset-lg-2 col-lg-8">

				<p>Test our data with a one-on-one demonstration where you call the shots, and discover what you need to succeed. Compatible with Salesforce, an API or custom CRM solution, data you need the way you need it.</p>

				<div>
					<a href="/request-demo" class="btn btn-primary btn-lg">
						<span class="icon icon--double-arrow"></span> Request Demo
					</a>
				</div>

			</div>
		</div>
	</div>
</section>
