---
title: JETNET iQ Summit Hotel
meta_description: When our next iQ Summit location is announced, please check back to this page for information on accommodations.
opengraph:
  title: "JETNET iQ Summit Hotel"
  description: "Reserve Your Seat"
  image: /assets/opengraph/Hotel24_OG.jpg
twitter_card:
  title: "JETNET iQ Summit Hotel"
  description: "Reserve Your Seat"
  image: /assets/opengraph/Hotel24_OG.jpg
---

<% @showSummitNavbar = true %>

<main class="main-content">

  <section class="summit-header section section--heading -nopad-bottom text-white">
    <div class="container">
      <div class="row">
        <div class="offset-lg-1 col-lg-11 mb-4 mt-4">
          <h1 class="display-1">JETNET iQ Summit Hotel</h1>
          <h3 class="text-white">In the Heart of the City</h3>
        </div>
      </div>
   </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="offset-lg-3 col-lg-9">

          <br>
          <br>

          <h2>2024 Hotel Information</h2>

          <img src="/assets/images/summit/Hotel24.jpg" class="img-fluid d-block my-4" alt="" width="880" height="440">
          
          <p>Experience the vibrant energy and spirit of Manhattan at our 13th JETNET iQ Summit which will be held at the reimagined New York Marriott Marquis in Times Square. Book your stay at special rates through the exclusive link provided below, reserved under the name “JETNET iQ 2024 Global Business Aviation Summit.” Guests can also make reservations over the phone by calling toll-free at 1-877-303-0104 and mentioning the “JETNET iQ 2024 Global Business Aviation Summit” Room Block.</p>
          
          <p>
            <%= partial("partials/summit-book-hotel-button", :locals => {
              size: "lg"
            }) %>
          </p>
          
          <hr>
          
          <p><i>Attendance is subject to COVID-19 federal, state, and local guidelines, and the policy of the New York Marriott Marquis.</i></p>

          <hr>
          
          <p>For more information, contact <b>Justine Strzepek</b>, Marketing Manager at 1.800.553.8638 ext. 204, <a href="mailto:justine@jetnet.com">justine@jetnet.com</a></p>
          
          <br><br>

        </div>

      </div>
    </div>
  </section>

  <%= partial 'partials/summit-buy-tickets' %>
  <%= partial 'partials/summit-sponsors' %>

</main>
