---
title: "Research Associate, Americas Region"
language: "en"
meta_description: JETNET is hiring Research Associates in the Americas for entry-level, data-focused roles in business aviation, with comprehensive training provided
opengraph:
  title: "Now Hiring"
  description: "Apply Today"
  image: /assets/opengraph/JN_ResearchAssociate_FB.jpg
twitter_card:
  title: "Now Hiring"
  description: "Apply Today"
  image: /assets/opengraph/JN_ResearchAssociate_TW.jpg
---

<p class="lead">JETNET is looking for entry-level, full or part-time Research Associates to join our research department. Extensive training is provided upon hire.</p>

READMORE

<h3>Responsibilities</h3>

<ul class="list--double-arrow">
  <li>Collect, update, and verify information surrounding business aircraft in our internal database</li>
  <li>Maintain complete and accurate documentation of all data collection and data entry</li>
  <li>Communicate openly with team members, supervisors, and national and international business aviation professionals</li>
  <li>Conduct independent web research relating to business aviation</li>
  <li>Follow established protocols and procedures with the highest level of honesty and integrity</li>
</ul>

<h3>Qualifications</h3>

<ul class="list--double-arrow">
  <li>Minimum of 18 years of age with high school diploma or equivalent</li>
  <li>Authorized to work in the United States</li>
  <li>Excellent verbal and written communication skills</li>
  <li>Comfortable communicating with a wide range of individuals by phone and email</li>
  <li>Good time-management skills</li>
  <li>Ability to work independently and within a group</li>
  <li>1 year of phone-based customer experience considered a plus</li>
</ul>

<p>Starting base rate $19.00 per hour.</p>

<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "JobPosting",
  "title": "Research Associate, Americas Region",
  "description": "JETNET is looking for entry-level, full or part-time Research Associates to join our research department. Extensive training is provided upon hire.",
  "datePosted": "2021-11-09",
  "hiringOrganization": {
    "@type": "Organization",
    "name": "JETNET",
    "sameAs": "https://www.jetnet.com",
    "logo": "<%= config[:host] + image_path('/assets/images/careers/structured-data-logo.png') %>"
  },
  "jobLocation": {
    "@type": "Place",
    "name": "JETNET Head Offices",
    "address": {
      "streetAddress": "101 1st St.",
      "addressLocality": "Utica",
      "addressRegion": "NY",
      "postalCode": 13501,
      "addressCountry": "US"
    }
  },
  "applicantLocationRequirements": {
    "@type": "Country",
    "name": "USA"
  },
  "directApply": true,
  "employmentType": "FULL_TIME",
  "identifier": {
    "@type": "PropertyValue",
    "name": "JETNET",
    "value": "research-associate-americas-region"
  },
  "baseSalary": {
    "@type": "MonetaryAmount",
    "currency": "USD",
    "value": {
      "@type": "QuantitativeValue",
      "value": 19.0,
      "unitText": "HOUR"
    }
  },
  "industry": "Business Aviation",
  "validThrough": "",
  "educationRequirements": {
    "@type": "EducationalOccupationalCredential",
    "credentialCategory": "high school",
    "description": "Minimum of 18 years of age with high school diploma or equivalent"
  },
  "experienceRequirements": "no requirements",
  "responsibilities": "Responsibilities include collecting, updating, and verifying information surrounding business aircraft in our internal database; communicating with national and international business aviation professionals by phone and email; conducting independent web research relating to business aviation; maintaining the highest level of honesty and integrity",
  "skills": "Excellent verbal and written communication skills; detail oriented; ability to multitask in a fast-paced environment",
  "qualifications": "Must be comfortable communicating with individuals from around the globe by phone and email; team oriented"
}
</script>
