---
title: "iQ Survey Research Associate"
language: "en"
meta_description:
opengraph:
  title: "Now Hiring"
  description: "Apply Today"
  image: /assets/opengraph/JN_ResearchAssociate_FB.jpg
twitter_card:
  title: "Now Hiring"
  description: "Apply Today"
  image: /assets/opengraph/JN_ResearchAssociate_TW.jpg
---

<p class="lead">JETNET is looking for entry-level, full or part-time iQ Survey Specialists to support our research department. JETNET iQ is an aviation market research, strategy, and forecasting service for the business aviation industry. Our iQ Survey Specialists execute a quarterly global survey to collect the latest industry observations and trends from the unique perspectives of aircraft owners and operators. In-person training is provided upon hire.</p>

READMORE

<h3>Responsibilities</h3>

<ul class="list--double-arrow">
  <li>Conduct aviation based survey questions over the phone and collect, update, and verify information surrounding business aircraft in our internal database</li>
  <li>Maintain complete and accurate documentation of all data collection and data entry</li>
  <li>Communicate openly with team members, supervisors, and national and international business aviation professionals</li>
  <li>Conduct independent web research relating to business aviation</li>
  <li>Follow established protocols and procedures with the highest level of honesty and integrity</li>
</ul>

<h3>Qualifications</h3>

<ul class="list--double-arrow">
  <li>Minimum of 18 years of age with high school diploma or equivalent</li>
  <li>Authorized to work in the United States</li>
  <li>Excellent verbal and written communication skills</li>
  <li>Comfortable communicating with a global audience by phone and email</li>
  <li>Good time-management skills</li>
  <li>Goal oriented</li>
  <li>1 year of phone-based customer experience considered a plus</li>
</ul>

<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "JobPosting",
  "title": "iQ Survey Research Associate",
  "description": "JETNET is looking for entry-level, full or part-time iQ Survey Specialists to support our research department. JETNET iQ is an aviation market research, strategy, and forecasting service for the business aviation industry. Our iQ Survey Specialists execute a quarterly global survey to collect the latest industry observations and trends from the unique perspectives of aircraft owners and operators. In-person training is provided upon hire.",
  "datePosted": "2022-03-18",
  "hiringOrganization": {
    "@type": "Organization",
    "name": "JETNET",
    "sameAs": "https://www.jetnet.com",
    "logo": "<%= config[:host] + image_path('/assets/images/careers/structured-data-logo.png') %>"
  },
  "jobLocation": {
    "@type": "Place",
    "name": "JETNET Head Offices",
    "address": {
      "streetAddress": "101 1st St.",
      "addressLocality": "Utica",
      "addressRegion": "NY",
      "postalCode": 13501,
      "addressCountry": "US"
    }
  },
  "applicantLocationRequirements": {
    "@type": "Country",
    "name": "USA"
  },
  "directApply": true,
  "employmentType": "FULL_TIME",
  "identifier": {
    "@type": "PropertyValue",
    "name": "JETNET",
    "value": "iq-survey-research-associate"
  },
  "industry": "Business Aviation",
  "validThrough": "",
  "educationRequirements": {
    "@type": "EducationalOccupationalCredential",
    "credentialCategory": "high school",
    "description": "Minimum of 18 years of age with high school diploma or equivalent"
  },
  "experienceRequirements": "no requirements",
  "responsibilities": "Responsibilities include conducting aviation based survey questions over the phone; collecting, updating, and verifying information surrounding business aircraft in our internal database; maintaining complete and accurate documentation of all data collection and data entry; communicating openly with team members and supervisors; communicating with national and international business aviation professionals by phone and email; conducting independent web research relating to business aviation; maintaining the highest level of honesty and integrity",
  "skills": "Excellent verbal and written communication skills; comfortable communicating with a global audience by phone and email; good time-management skills; goals oriented; ability to multitask in a fast-paced environment",
  "qualifications": "Must be comfortable communicating with individuals from around the globe by phone and email; team oriented; proficiency in Chinese or Japanese considered a plus",
  "workHours": ""
}
</script>
