---
title: "Human Resource Generalist"
language: "en"
meta_description:
opengraph:
  title: "Now Hiring"
  description: "Apply Today"
  image: /assets/opengraph/JN_Career_HumanResourceGeneralist_FB.jpg
twitter_card:
  title: "Now Hiring"
  description: "Apply Today"
  image: /assets/opengraph/JN_Career_HumanResourceGeneralist_TW.jpg
---

<p class="lead">JETNET is looking for a full-time Human Resource Generalist to join our team. The Human Resource Generalist will run the daily functions of the Human Resource (HR) department including hiring and interviewing staff, administering pay adjustments, benefits, and leave, monitoring regulatory changes, development and enforcement of company policies and practices, and chairing employee recognition & performance meetings.</p>

READMORE

<h3>Responsibilities</h3>

<ul class="list--double-arrow">
  <li>Recruiting and staffing logistics, including temp & recruiting agencies</li>
  <li>Organizational and space planning for new hires</li>
  <li>Performance management and improvement systems, including management of review cycle</li>
  <li>Organization development</li>
  <li>Comparing HR laws to current policies and procedures</li>
  <li>Policy development and documentation</li>
  <li>Regulatory compliance and reporting, including Unemployment, Workers Comp, etc.</li>
  <li>Employee orientation, training scheduling, and employee development</li>
  <li>Conducts and communicates the results of Employee Feedback Surveys</li>
  <li>As required: Organizes and documents positive recognition, disciplinary sessions</li>
  <li>Leads termination meetings</li>
  <li>Daily: All duties/tasks as assigned</li>
</ul>

<h3>Qualifications</h3>

<ul class="list--double-arrow">
  <li>Bachelor’s degree in HR or equivalent education and experience</li>
  <li>3 years HR Generalist experience</li>
  <li>Confidentiality and a non-judgmental attitude are a must</li>
  <li>Proficient in the use of Email, Excel, Word, and database activities</li>
  <li>Exceptional attention to detail while multitasking in a fast-paced environment</li>
  <li>Ability to manage up, down, and laterally</li>
  <li>Requires diplomacy and tact to deal with a variety of personalities and situations</li>
</ul>

<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "JobPosting",
  "title": "Human Resource Generalist",
  "description": "JETNET is looking for a full-time Human Resource Generalist to join our team. The Human Resource Generalist will run the daily functions of the Human Resource (HR) department including hiring and interviewing staff, administering pay adjustments, benefits, and leave, monitoring regulatory changes, development and enforcement of company policies and practices, and chairing employee recognition & performance meetings.",
  "datePosted": "2022-06-08",
  "hiringOrganization": {
    "@type": "Organization",
    "name": "JETNET",
    "sameAs": "https://www.jetnet.com",
    "logo": "<%= config[:host] + image_path('/assets/images/careers/structured-data-logo.png') %>"
  },
  "jobLocation": {
    "@type": "Place",
    "name": "JETNET Head Offices",
    "address": {
      "streetAddress": "101 1st St.",
      "addressLocality": "Utica",
      "addressRegion": "NY",
      "postalCode": 13501,
      "addressCountry": "US"
    }
  },
  "applicantLocationRequirements": {
    "@type": "Country",
    "name": "USA"
  },
  "directApply": true,
  "employmentType": "FULL_TIME",
  "identifier": {
    "@type": "PropertyValue",
    "name": "JETNET",
    "value": "human-resource-generalist"
  },
  "industry": "Business Aviation",
  "validThrough": "",
  "educationRequirements": {
    "@type": "EducationalOccupationalCredential",
    "credentialCategory": "degree",
    "description": "Bachelor’s degree in HR or equivalent education and experience"
  },
  "experienceRequirements": "3 years HR Generalist experience",
  "responsibilities": "Recruiting and staffing logistics, including temp & recruiting agencies; Organizational and space planning for new hires; Performance management and improvement systems, including management of review cycle; Organization development; Comparing HR laws to current policies and procedures; Policy development and documentation; Regulatory compliance and reporting, including Unemployment, Workers Comp, etc; Employee orientation, training scheduling, and employee development; Conducts and communicates the results of Employee Feedback Surveys; As required: Organizes and documents positive recognition, disciplinary sessions; Leads termination meetings; Daily: All duties/tasks as assigned",
  "skills": "Confidentiality and a non-judgmental attitude are a must; Proficient in the use of Email, Excel, Word, and database activities; Exceptional attention to detail while multitasking in a fast-paced environment; Ability to manage up, down, and laterally; Requires diplomacy and tact to deal with a variety of personalities and situations",
  "qualifications": "Bachelor’s degree in HR or equivalent education and experience",
  "workHours": ""
}
</script>
