---
title: "Controller"
language: "en"
meta_description:
opengraph:
  title: "Now Hiring"
  description: "Apply Today"
  image: /assets/opengraph/JN_Controller_OG.jpg
twitter_card:
  title: "Now Hiring"
  description: "Apply Today"
  image: /assets/opengraph/JN_Controller_OG.jpg
---

<p>JETNET, a private-equity backed provider of business aviation data & analytics, is seeking a driven and growth-oriented Controller to lead the Company’s accounting and tax function. Reporting to the VP of Finance, the Controller will manage a team of 2–3 accounting professionals as well as the Company’s external tax advisors. The Controller will be responsible for driving process improvements throughout the accounting and finance organization as the Company scales both organically and via M&A. This is a highly strategic and impactful role with a high level of visibility and interaction with the executive team.</p>

<p>Note: This job is fully remote, with the opportunity for occasional travel to our Company’s Utica, NY headquarters.</p>

READMORE

<h3>Responsibilities</h3>

<ul class="list--double-arrow">
  <li>Oversee monthly, quarterly, and annual close processes, ensuring timely and accurate completion</li>
  <li>Develop and maintain accounting principles, practices, and procedures to produce accurate, GAAP-compliant financial statements</li>
  <li>Research and provide guidance on evolving technical accounting requirements</li>
  <li>Ensure compliance with local, state, and federal (US) and international (EU) government reporting requirements and tax filings including sales taxes</li>
  <li>Drive integration of acquired companies into existing financial systems and processes</li>
  <li>Implement and maintain robust internal controls</li>
  <li>Lead and oversee the financial audit process</li>
  <li>Support in the implementation and become a key system user of the Company’s ERP system (NetSuite)</li>
  <li>Identify and lead initiatives to upgrade other finance and accounting systems, as needed</li>
  <li>Collaborate with the HR team to manage payroll operations</li>
  <li>Collaborate with FP&A team to ensure the general ledger is structured to provide insights to running the business</li>
  <li>Manage accounts payable and accounts receivable function and staff</li>
</ul>

<h3>About You</h3>
<ul class="list--double-arrow">
  <li>Desire and ability to “roll up your sleeves” within a fast-paced and growing company</li>
  <li>Thoughtful & detail oriented</li>
  <li>Works with a sense of urgency</li>
  <li>Excellent interpersonal skills; clear communicator who enjoys cross-functional collaboration</li>
  <li>Growth-oriented mindset; intellectually curious and willing to learn</li>
  <li>Systems & process-minded individuals; strong process improvement skills</li>
  <li>Exceptional problem-solving ability and decision-making skills</li>
  <li>Ability to work independently and navigate uncertainty in a dynamic environment</li>
  <li>Understands how to create a positive, collaborative culture while also getting the job done</li>
</ul>

<h3>Qualifications</h3>

<ul class="list--double-arrow">
  <li>5+ years of finance & accounting experience</li>
  <li>Prior experience as a controller, assistant controller, or accounting manager at a high-growth, private equity or VC backed organization</li>
  <li>CPA and audit experience from a Big 4 accounting firm preferred</li>
  <li>Experience in software / SaaS or similar technology-driven sector a plus</li>
  <li>Solid understanding of US GAAP and financial reporting requirements; experience in or willingness to learn international (European) financial reporting standards a plus</li>
  <li>Strong knowledge of M&A transactions and experience with post-merger integration processes</li>
  <li>Strong knowledge of banking and treasury management best practices</li>
  <li>Basic knowledge of tax matters</li>
  <li>Prior experience with system implementations (NetSuite preferred)</li>
  <li>Familiarity with NetSuite; proficiency as a NetSuite administrator a plus</li>
  <li>Experience managing at least two direct reports</li>
  <li>Advanced proficiency in Microsoft Excel</li>
</ul>

<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "JobPosting",
  "title": "Controller",
  "description": "
  <p>JETNET, a private-equity backed provider of business aviation data & analytics, is seeking a driven and growth-oriented Controller to lead the Company’s accounting and tax function. Reporting to the VP of Finance, the Controller will manage a team of 2–3 accounting professionals as well as the Company’s external tax advisors. The Controller will be responsible for driving process improvements throughout the accounting and finance organization as the Company scales both organically and via M&A. This is a highly strategic and impactful role with a high level of visibility and interaction with the executive team.</p>
  
  <p>This job is fully remote, with the opportunity for occasional travel to our Company’s Utica, NY headquarters.</p>
    
  <h3>Responsibilities</h3>
  
  <ul>
    <li>Oversee monthly, quarterly, and annual close processes, ensuring timely and accurate completion</li>
    <li>Develop and maintain accounting principles, practices, and procedures to produce accurate, GAAP-compliant financial statements</li>
    <li>Research and provide guidance on evolving technical accounting requirements</li>
    <li>Ensure compliance with local, state, and federal (US) and international (EU) government reporting requirements and tax filings including sales taxes</li>
    <li>Drive integration of acquired companies into existing financial systems and processes</li>
    <li>Implement and maintain robust internal controls</li>
    <li>Lead and oversee the financial audit process</li>
    <li>Support in the implementation and become a key system user of the Company’s ERP system (NetSuite)</li>
    <li>Identify and lead initiatives to upgrade other finance and accounting systems, as needed</li>
    <li>Collaborate with the HR team to manage payroll operations</li>
    <li>Collaborate with FP&A team to ensure the general ledger is structured to provide insights to running the business</li>
    <li>Manage accounts payable and accounts receivable function and staff</li>
  </ul>
  
  <h3>About You</h3>
  
  <ul>
    <li>Desire and ability to “roll up your sleeves” within a fast-paced and growing company</li>
    <li>Thoughtful & detail oriented</li>
    <li>Works with a sense of urgency</li>
    <li>Excellent interpersonal skills; clear communicator who enjoys cross-functional collaboration</li>
    <li>Growth-oriented mindset; intellectually curious and willing to learn</li>
    <li>Systems & process-minded individuals; strong process improvement skills</li>
    <li>Exceptional problem-solving ability and decision-making skills</li>
    <li>Ability to work independently and navigate uncertainty in a dynamic environment</li>
    <li>Understands how to create a positive, collaborative culture while also getting the job done</li>
  </ul>
  
  <h3>Qualifications</h3>
  
  <ul>
    <li>5+ years of finance & accounting experience</li>
    <li>Prior experience as a controller, assistant controller, or accounting manager at a high-growth, private equity or VC backed organization</li>
    <li>CPA and audit experience from a Big 4 accounting firm preferred</li>
    <li>Experience in software / SaaS or similar technology-driven sector a plus</li>
    <li>Solid understanding of US GAAP and financial reporting requirements; experience in or willingness to learn international (European) financial reporting standards a plus</li>
    <li>Strong knowledge of M&A transactions and experience with post-merger integration processes</li>
    <li>Strong knowledge of banking and treasury management best practices</li>
    <li>Basic knowledge of tax matters</li>
    <li>Prior experience with system implementations (NetSuite preferred)</li>
    <li>Familiarity with NetSuite; proficiency as a NetSuite administrator a plus</li>
    <li>Experience managing at least two direct reports</li>
    <li>Advanced proficiency in Microsoft Excel</li>
  </ul>
  
  <h3>Working Conditions</h3>
  
  <p>This is a fully remote role.</p>
  ",
  "datePosted": "2023-06-08",
  "hiringOrganization": {
    "@type": "Organization",
    "name": "JETNET",
    "sameAs": "https://www.jetnet.com",
    "logo": "<%= config[:host] + image_path('/assets/images/careers/structured-data-logo.png') %>"
  },
  "jobLocation": {
    "@type": "Place",
    "name": "JETNET Head Offices",
    "address": {
      "streetAddress": "101 1st St.",
      "addressLocality": "Utica",
      "addressRegion": "NY",
      "postalCode": 13501,
      "addressCountry": "US"
    }
  },
  "jobLocationType": "TELECOMMUTE",
  "applicantLocationRequirements": {
    "@type": "Country",
    "name": "USA"
  },
  "directApply": true,
  "employmentType": "FULL_TIME",
  "identifier": {
    "@type": "PropertyValue",
    "name": "JETNET",
    "value": "controller"
  },
  "industry": "Business Aviation",
  "educationRequirements" : {
    "@type" : "EducationalOccupationalCredential",
    "credentialCategory" : "bachelor degree"
  },
  "experienceRequirements": "no requirements"
}
</script>
