---
title: "Technical Lead/Lead Software Engineer"
language: "en"
meta_description:
opengraph:
  title: "Now Hiring"
  description: "Apply Today"
  image: /assets/opengraph/SoftwareEngineer_Career_FB.jpg
twitter_card:
  title: "Now Hiring"
  description: "Apply Today"
  image: /assets/opengraph/SoftwareEngineer_Career_TW.jpg
---

<p class="lead">JETNET is looking for a full-time Technical Lead/Lead Software Engineer to support our technology department. The Technical Lead is responsible for leading the design, development, and support of complex software solutions for Flight Tracking products (ADS-B Exchange) with primary focus on the live flight-tracking cloud environment. This position is fully remote.</p>

READMORE

<h3>Responsibilities</h3>

<ul class="list--double-arrow">
  <li>Provide technical leadership to teammates and development partners through coaching/mentorship or via solution engineering</li>
  <li>Maintain a high standard of software quality within the team by establishing good practices and habits</li>
  <li>Architect, deploy and support solutions with a combination of open-source, COTS and cloud-based services</li>
  <li>Manage costs and uptime requirements in an AWS cloud-oriented environment</li>
  <li>Collaborate with other software developers, business analysts and software architects to plan, design, develop, evaluate, and maintain business applications built on selected technologies</li>
  <li>Support documentation as necessary relating to the status, operation, and maintenance of software</li>
  <li>Design, develop, and unit test applications in accordance with established standards</li>
  <li>Participate in peer-reviews of solution designs and related code</li>
  <li>Work with teammates in the migration of legacy applications to current selected technologies</li>
  <li>Develop, refine, and modify integrations between applications. Analyze and resolve technical and application complications</li>
  <li>Assess opportunities for application and process improvement and prepare documentation of rationale to share with team members and other affected parties</li>
  <li>Adhere to high-quality development principles while delivering timely solutions and within the approved budget</li>
  <li>Research and evaluate multiple software products</li>
  <li>Work in a highly collaborative environment with leadership and department and management as necessary</li>
</ul>

<h3>Qualifications</h3>

<ul class="list--double-arrow">
  <li>Minimum 18 years of age and authorized to work in the United States</li>
  <li>Bachelor’s degree in computer science, applied mathematics, or a related field</li>
  <li>Ability to convey complex information in an easy-to-understand manner</li>
  <li>Tools we use: AWS, Node.js, Python, HAProxy, and PostgreSQL</li>
  <li>Ability to support and respond to off-hours emergencies</li>
  <li>AWS certifications preferred</li>
  <li>A passion for aviation!</li>
</ul>

<h3>Working Conditions</h3>

<p>This is a fully remote role.</p>

<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "JobPosting",
  "title": "Technical Lead/Lead Software Engineer",
  "description": "<p>JETNET is looking for a full-time Technical Lead/Lead Software Engineer to support our technology department. The Technical Lead is responsible for leading the design, development, and support of complex software solutions for Flight Tracking products (ADS-B Exchange) with primary focus on the live flight-tracking cloud environment. This position is fully remote.</p>
    
  <h3>Responsibilities</h3>
  
  <ul>
    <li>Provide technical leadership to teammates and development partners through coaching/mentorship or via solution engineering</li>
    <li>Maintain a high standard of software quality within the team by establishing good practices and habits</li>
    <li>Architect, deploy and support solutions with a combination of open-source, COTS and cloud-based services</li>
    <li>Manage costs and uptime requirements in an AWS cloud-oriented environment</li>
    <li>Collaborate with other software developers, business analysts and software architects to plan, design, develop, evaluate, and maintain business applications built on selected technologies</li>
    <li>Support documentation as necessary relating to the status, operation, and maintenance of software</li>
    <li>Design, develop, and unit test applications in accordance with established standards</li>
    <li>Participate in peer-reviews of solution designs and related code</li>
    <li>Work with teammates in the migration of legacy applications to current selected technologies</li>
    <li>Develop, refine, and modify integrations between applications. Analyze and resolve technical and application complications</li>
    <li>Assess opportunities for application and process improvement and prepare documentation of rationale to share with team members and other affected parties</li>
    <li>Adhere to high-quality development principles while delivering timely solutions and within the approved budget</li>
    <li>Research and evaluate multiple software products</li>
    <li>Work in a highly collaborative environment with leadership and department and management as necessary</li>
  </ul>
  
  <h3>Qualifications</h3>
  
  <ul>
    <li>Minimum 18 years of age and authorized to work in the United States</li>
    <li>Bachelor’s degree in computer science, applied mathematics, or a related field</li>
    <li>Ability to convey complex information in an easy-to-understand manner</li>
    <li>Tools we use: AWS, Node.js, Python, HAProxy, and PostgreSQL</li>
    <li>Ability to support and respond to off-hours emergencies</li>
    <li>AWS certifications preferred</li>
    <li>A passion for aviation!</li>
  </ul>
  
  <h3>Working Conditions</h3>
  
  <p>This is a fully remote role.</p>",
  "datePosted": "2023-05-09",
  "hiringOrganization": {
    "@type": "Organization",
    "name": "JETNET",
    "sameAs": "https://www.jetnet.com",
    "logo": "<%= config[:host] + image_path('/assets/images/careers/structured-data-logo.png') %>"
  },
  "jobLocation": {
    "@type": "Place",
    "name": "JETNET Head Offices",
    "address": {
      "streetAddress": "101 1st St.",
      "addressLocality": "Utica",
      "addressRegion": "NY",
      "postalCode": 13501,
      "addressCountry": "US"
    }
  },
  "jobLocationType": "TELECOMMUTE",
  "applicantLocationRequirements": {
    "@type": "Country",
    "name": "USA"
  },
  "directApply": true,
  "employmentType": "FULL_TIME",
  "identifier": {
    "@type": "PropertyValue",
    "name": "JETNET",
    "value": "technical-lead-lead-software-engineer"
  },
  "industry": "Business Aviation",
  "educationRequirements" : {
    "@type" : "EducationalOccupationalCredential",
    "credentialCategory" : "bachelor degree"
  },
  "experienceRequirements": "no requirements"
}
</script>
