---
title: "Software Engineer"
language: "en"
meta_description:
opengraph:
  title: "Now Hiring"
  description: "Apply Today"
  image: /assets/opengraph/JN_SoftwareEngineer_FB.jpg
twitter_card:
  title: "Now Hiring"
  description: "Apply Today"
  image: /assets/opengraph/JN_SoftwareEngineer_TW.png
---

<p>The software engineer is responsible for the design, development, coding, testing, and debugging of applications and features related to the live cloud-based flight-tracking environment. Requires collaboration with partner development staff, senior staff and management in regards to schedule and workflow to ensure effective communication between team members, product development, and other IT & research functional areas.</p>

READMORE

<p>Note: This position is fully remote.</p>

<h3>Responsibilities</h3>

<ul class="list--double-arrow">
  <li>Architect, deploy and support solutions (Both UI and backend code) with a combination of open-source, COTS and cloud-based services</li>
  <li>Determines operational feasibility by evaluating analysis, problem definition, requirements, solution development, and proposed solutions</li>
  <li>Design, develop, and unit test applications in accordance with established standards</li>
  <li>Develops software solutions by studying information needs, conferring with users, and studying systems flow, data usage, and work processes</li>
  <li>Investigates software problem areas and develops recommendations</li>
  <li>Follows the software development lifecycle</li>
  <li>Documents and demonstrates solutions via documentation, flowcharts, layouts, diagrams, charts, code comments and clear code as needed</li>
</ul>

<h3>Qualifications</h3>

<ul class="list--double-arrow">
  <li>Bachelor’s degree in Computer Science, Computer Engineering or related technical discipline</li>
  <li>Minimum of 3 years of professional software development experience, in an Agile or Lean environment</li>
  <li>Bachelor’s degree in computer science, applied mathematics, or a related subject</li>
  <li>Ability to convey complex information in an easy-to-understand way</li>
  <li>Our tools: AWS services, Node.js, Python, C#, React, Vue.JS, HAProxy, PostgreSQL, C  </li>
  <li>Ability to support and respond to off-hours emergencies</li>
  <li>AWS certifications preferred</li>
  <li>A passion for aviation!</li>
</ul>

<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "JobPosting",
  "title": "Controller",
  "description": "
<p>The software engineer is responsible for the design, development, coding, testing, and debugging of applications and features related to the live cloud-based flight-tracking environment. Requires collaboration with partner development staff, senior staff and management in regards to schedule and workflow to ensure effective communication between team members, product development, and other IT & research functional areas.</p>
  
  <p>Note: This position is fully remote.</p>
  
  READMORE
  
  <h3>Responsibilities</h3>
  
  <ul>
    <li>Architect, deploy and support solutions (Both UI and backend code) with a combination of open-source, COTS and cloud-based services</li>
    <li>Determines operational feasibility by evaluating analysis, problem definition, requirements, solution development, and proposed solutions</li>
    <li>Design, develop, and unit test applications in accordance with established standards</li>
    <li>Develops software solutions by studying information needs, conferring with users, and studying systems flow, data usage, and work processes</li>
    <li>Investigates software problem areas and develops recommendations</li>
    <li>Follows the software development lifecycle</li>
    <li>Documents and demonstrates solutions via documentation, flowcharts, layouts, diagrams, charts, code comments and clear code as needed</li>
  </ul>
  
  <h3>Qualifications</h3>
  
  <ul>
    <li>Bachelor’s degree in Computer Science, Computer Engineering or related technical discipline</li>
    <li>Minimum of 3 years of professional software development experience, in an Agile or Lean environment</li>
    <li>Bachelor’s degree in computer science, applied mathematics, or a related subject</li>
    <li>Ability to convey complex information in an easy-to-understand way</li>
    <li>Our tools: AWS services, Node.js, Python, C#, React, Vue.JS, HAProxy, PostgreSQL, C  </li>
    <li>Ability to support and respond to off-hours emergencies</li>
    <li>AWS certifications preferred</li>
    <li>A passion for aviation!</li>
  </ul>
  ",
  "datePosted": "2023-06-08",
  "hiringOrganization": {
    "@type": "Organization",
    "name": "JETNET",
    "sameAs": "https://www.jetnet.com",
    "logo": "<%= config[:host] + image_path('/assets/images/careers/structured-data-logo.png') %>"
  },
  "jobLocation": {
    "@type": "Place",
    "name": "JETNET Head Offices",
    "address": {
      "streetAddress": "101 1st St.",
      "addressLocality": "Utica",
      "addressRegion": "NY",
      "postalCode": 13501,
      "addressCountry": "US"
    }
  },
  "jobLocationType": "TELECOMMUTE",
  "applicantLocationRequirements": {
    "@type": "Country",
    "name": "USA"
  },
  "directApply": true,
  "employmentType": "FULL_TIME",
  "identifier": {
    "@type": "PropertyValue",
    "name": "JETNET",
    "value": "controller"
  },
  "industry": "Business Aviation",
  "educationRequirements" : {
    "@type" : "EducationalOccupationalCredential",
    "credentialCategory" : "bachelor degree"
  },
  "experienceRequirements" : {
    "@type" : "OccupationalExperienceRequirements",
    "monthsOfExperience" : "36"
  },
}
</script>
