---
title: Contact Us
meta_description: Contact Us includes information for JETNET employees in the United States and Europe, including mailing addresses, telephones, fax/facsimiles, and emails.
---

<section class="section section--heading section--first">
  <div class="container">
    <div class="row">
      <div class="offset-lg-1 col-lg-11">
        <h1>Contact Us</h1>

      </div>
    </div>
    <div class="row">
      <div class="offset-lg-2 col-lg-10">

        <h5 class="lead mb-3"><b>JETNET</b></h5>

        <ul class="list-unstyled mb-5">
          <li class="contact-info my-1">
            <%= image_tag 'assets/images/icons/pin-icon-white.png' %>
            <div>101 First Street, 2nd Floor | Utica, New York 13501</div>
          </li>
          <li class="contact-info my-1">
            <%= image_tag 'assets/images/icons/phone-icon-white.png' %>
            <div>
              Tel +1 800.553.8638 | +1 315.797.4420 | Fax +1 315.797.4798<br>
              Europe +41 (0) 43.243.7056
            </div>
          </li>
          <li class="contact-info my-1">
            <%= image_tag 'assets/images/icons/email-icon-white.png' %>
            <div><a href="mailto:info@jetnet.com">info@jetnet.com</a></div>
          </li>
        </ul>

        <hr>

        <p>Please contact us using the form below.</p>

        <p><b>Research:</b> To list or update an aircraft, once this form is sent, please e-mail detailed specs to <a href="mailto:specs@jetnet.com">specs@jetnet.com</a> or fax them to +1 315.797.4798. Thank You!</p>

        <br>

        <div class="salesforce-form">
          <%= partial("partials/salesforce-form-contact") %>
        </div>

        <hr>

      </div>
    </div>

    <div class="row">
      <div class="offset-lg-2 col-lg-5">

        <h5 class="lead mb-3"><b>Sales</b></h5>

        <ul class="list-unstyled mb-5">
          <li class="my-4"><%= partial("partials/contact-details", :locals => {
            name: "General Sales Inquiries",
            email: "SalesInquiry@jetnet.com",
            phone: "1-877-204-4008",
          }) %></li>

          <li class="my-4"><%= partial("partials/contact-details", :locals => {
            name: "Paul Cardarelli",
            title: "Vice President of Sales",
            phone: "+1 315.797.4420 ext. 254",
            email: "paul@jetnet.com",
          }) %></li>

          <li class="my-4"><%= partial("partials/contact-details", :locals => {
            name: "Karim Derbala",
            title: "EMEA (Europe, Middle East, Africa)",
            phone: "USA: +1 315.797.4420 ext. 845<br>Switzerland: +41 (0) 43.243.7056",
            email: "karim@jetnet.com",
          }) %></li>

          <li class="my-4"><%= partial("partials/contact-details", :locals => {
            name: "Derek Jones",
            title: "Americas & Asia Pacific",
            phone: "+1 315.797.4420 ext. 203",
            email: "djones@jetnet.com",
          }) %></li>
        </ul>
      </div>

      <div class="col-lg-5">
        <h5 class="lead mb-3"><b>Press Inquiries</b></h5>

        <ul class="list-unstyled mb-5">
          <li class="my-4"><%= partial("partials/contact-details", :locals => {
            name: "Justine Strzepek",
            title: "Marketing Manager",
            phone: "+1 315.797.4420 ext. 204",
            email: "justine@jetnet.com",
          }) %></li>
        </ul>

        <h5 class="lead mb-3"><b>Customer Service</b></h5>

        <ul class="list-unstyled mb-5">
          <li class="my-4"><%= partial("partials/contact-details", :locals => {
            email: "Customerservice@jetnet.com ",
            phone: "+1.800.553.8638 | +1 315.797.4420 ext. 1",
          }) %></li>
        </ul>

      </div>

    </div>
  </div>
</section>