---
title: JETNET iQ Summit Registration
meta_description: JETNET iQ Summits are speaker forums on current and emerging developments in the industry, along with high-profile networking opportunities.
opengraph:
  title: "JETNET iQ Summit Registration"
  description: "Register Now"
  image: /assets/opengraph/Register24_OG.jpg
twitter_card:
  title: "JETNET iQ Summit Registration"
  description: "Register Now"
  image: /assets/opengraph/Register24_OG.jpg
---

<% @showSummitNavbar = true %>

<main class="main-content">

  <section class="summit-header section section--heading -nopad-bottom text-white">
    <div class="container">
      <div class="row">
        <div class="offset-lg-1 col-lg-11 mb-4 mt-4">
          <h1 class="display-1">JETNET iQ Summit Registration</h1>
          <h3 class="text-white">Reserve Your Seat</h3>
        </div>
      </div>
    </div>
  </section>

  <section class="section -nopad-top" id="overview">
    <div class="container">
      <div class="row">
        <div class="offset-lg-3 col-lg-9">

          <br>
          <br>

          <h2>Don’t Miss Out. Register Today</h2>
          
          <img src="/assets/images/summit/Register24.jpg" class="img-fluid d-block my-4" alt="" width="880" height="440">

          <p>Register for our 13th JETNET iQ Summit using the link below.</p>

          <%= partial 'partials/summit-register-now-button' %>

          <p><b>*Note:</b> If you have a promo code, please make sure to enter your unique code in the ‘Promo Code’ box at the beginning of registration and click ‘Apply,’ <i><b>before</b></i> clicking ‘Check out.’</p>

          <hr>
          
          <p class="mb-4"><b>The JETNET iQ Summit is approved for a continuing education credit for:</b></p>
          
          <div class="d-sm-flex">
            <div class="mr-5">
              <br>
              <img src="/assets/images/summit/IADA_CERTIFIED_H_4c_-01.png" class="m-0 mb-3" alt="" width="auto" height="85">
              <p class="mb-4">Qualified members of<br class="d-none d-sm-block">
              International Aircraft<br class="d-none d-sm-block">
              Dealers Association (IADA)</p>
            </div>
            <div>
              <img src="/assets/images/summit/CAM_R_PMS287_124pxh.png" class="m-0 mb-3" alt="" width="auto" height="112">
              <p class="mb-4">NBAA’s Certified Aviation Manager (CAM)<br class="d-none d-sm-block">
              Program – new applicants and recertification<br class="d-none d-sm-block">
              for those who already hold the credential</p>
            </div>
          </div>

          <hr>
          
          <p>Our 13th JETNET iQ Summit will be at the New York Marriott Marquis in Times Square—a fitting locale that captures the energy and spirit of Manhattan. Below is the link our guests can use to make reservations online at exclusive rates under our “JETNET iQ 2024 Global Business Aviation Summit” room block. To make reservations over the phone, they may call toll free at 1-877-303-0104 and reference the “JETNET iQ 2024 Global Business Aviation Summit” Room Block.</p>

          <p>
            <%= partial("partials/summit-book-hotel-button", :locals => {
              size: "lg"
            }) %>
          </p>
          
          <hr>
          
          <p>Share with industry friends and colleagues that you’re heading to the 2024 JETNET iQ Global Business Aviation Summit by heading to the <a href="https://www.facebook.com/JETNETLLC/upcoming_hosted_events">Events section on JETNET’s Facebook page</a> and marking yourself as “Going” to the event. We look forward to your attendance!</p>
          
          <p>For more information, contact <b>Justine Strzepek</b>, Marketing Manager at 1.800.553.8638 ext. 204, <a href="mailto:justine@jetnet.com">justine@jetnet.com</a></p>
          
          <hr>
          
          <p>Interested in JETNET or JETNET iQ products? <a href="/request-demo/">Request a demonstration</a> of the world’s premier business aviation research platform.</p>
          
          <hr>
          
          <h3>Refund Policy</h3>
          
          <p>Refunds will be 50% for cancellation notices received prior to August 1st, 2024, and 0% thereafter.</p>
          
          <hr>
          
          <h3>Disclaimer</h3>
          <p>By registering, and by your presence at the JETNET iQ Summit, you consent to be photographed, filmed, and/or otherwise recorded. Your registration constitutes your consent to such photography, filming, and/or recording, and to any use, in any and all media in perpetuity, of your appearance, voice, and name in connection with JETNET iQ Summits. By registering for the event, you waive all rights you may have to any claims for payment of royalties in connection with any use, exhibition, streaming, webcasting, televising, or other publication of these materials, regardless of the purpose or sponsoring of such use, exhibiting, broadcasting, webcasting, or other publication, irrespective of whether a fee for admission or sponsorship is charged.</p>
          
          <p><i>Attendance is subject to COVID-19 federal, state, and local guidelines, and the policy of the New York Marriott Marquis.</i></p>

        </div>
      </div>
    </div>
  </section>

  <%= partial 'partials/summit-buy-tickets' %>
  <%= partial 'partials/summit-sponsors' %>
</main>
