---
title: JETNET Privacy Policy
meta_description: JETNET’s Privacy Policy outlines our commitment to safeguarding your data, detailing how we collect, use, and protect personal information in accordance with industry standards.
---

<main class="main-content text-reverse">

  <section class="section section--heading">
    <div class="container">
      <div class="row">
        <div class="offset-lg-1 col-lg-11">
          <h1>Privacy Policy</h1>
        </div>
      </div>
      <div class="row">
        <div class="offset-lg-2 col-lg-10">

          <div name="termly-embed" data-id="80c79bfe-63c1-4f96-86e7-8982369a7b48" data-type="iframe"></div>
          <script type="text/javascript">(function(d, s, id) {
            var js, tjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://app.termly.io/embed-policy.min.js";
            tjs.parentNode.insertBefore(js, tjs);
          }(document, 'script', 'termly-jssdk'));</script>
        
        </div>
      </div>
    </div>
  </section>

</main>
