---
title: "Our Team: JETNET Employees"
meta_description: Our team of JETNET employees, from management to sales, research, and support, includes aviation industry professionals with decades of experience.
---

<section class="section section--first">

  <div class="container">
    <div class="row">
      <div class="offset-lg-1 col-lg-11">
        <h1>Our Team</h1>
      </div>
    </div>
    <div class="row">

      <div class="offset-lg-2 col-12 col-lg-10 col-xl-8">
          
        <ul class="list-unstyled grid sm:grid-cols-2 md:grid-cols-3 gap-x-4">
            
          <li class="my-4"><%= partial("partials/contact-details-linkedin-bug-text", :locals => {
            name: "Derek Swaim",
            title: "Chief Executive Officer",
            linkedin: "https://www.linkedin.com/in/derek-swaim-798270/",
          }) %></li>
          
          <li class="my-4"><%= partial("partials/contact-details-linkedin-bug-text", :locals => {
            name: "Katherine Minty",
            title: "Chief Financial Officer",
            linkedin: "https://www.linkedin.com/in/katherine-minty-cfa-45437332/"
          }) %></li>
          
          <li class="my-4"><%= partial("partials/contact-details-linkedin-bug-text", :locals => {
            name: "Josh Baird",
            title: "Chief Operating Officer",
            linkedin: "https://www.linkedin.com/in/josh-baird-5881b08"
          }) %></li>
          
          <li class="my-4"><%= partial("partials/contact-details-linkedin-bug-text", :locals => {
            name: "Devin Golden",
            title: "Chief Revenue Officer",
            linkedin: "https://www.linkedin.com/in/dgoldensales"
          }) %></li>
          
          <li class="my-4"><%= partial("partials/contact-details-linkedin-bug-text", :locals => {
            name: "Eric Foss",
            title: "Senior Vice President of Engineering",
            linkedin: "https://www.linkedin.com/in/erfoss/"
          }) %></li>
          
          <li class="my-4"><%= partial("partials/contact-details-linkedin-bug-text", :locals => {
            name: "Greg Kimball",
            title: "Senior Vice President of Product Management",
            linkedin: "https://www.linkedin.com/in/greg-kimball-b0796516/"
          }) %></li>

          <li class="my-4"><%= partial("partials/contact-details-linkedin-bug-text", :locals => {
            name: "Dana Cohen",
            title: "Senior Vice President General Counsel",
            linkedin: "https://www.linkedin.com/in/dana-klapper-cohen"
          }) %></li>
          
          <li class="my-4"><%= partial("partials/contact-details-linkedin-bug-text", :locals => {
            name: "Paul Cardarelli",
            title: "Vice President of Sales",
            linkedin: "https://www.linkedin.com/in/paul-cardarelli-62546a14/"
          }) %></li>
          
          <li class="my-4"><%= partial("partials/contact-details-linkedin-bug-text", :locals => {
            name: "Craig Smith",
            title: "Vice President of Program Management",
            linkedin: "https://www.linkedin.com/in/craig-s-8abaa224/"
          }) %></li>
          
          <li class="my-4"><%= partial("partials/contact-details-linkedin-bug-text", :locals => {
            name: "Jason Lorraine",
            title: "Assistant Vice President of Product Sales & Strategic Solutions",
            linkedin: "https://www.linkedin.com/in/jason-lorraine-3141087/"
          }) %></li>

          <li class="my-4"><%= partial("partials/contact-details-linkedin-bug-text", :locals => {
            name: "Shaun Sanislo",
            title: "Head of Research and Data",
            linkedin: "https://www.linkedin.com/in/shaun-sanislo-ba239243/"
          }) %></li>

          <li class="my-4"><%= partial("partials/contact-details-linkedin-bug-text", :locals => {
            name: "Dan Streufert",
            title: "President, ADS-B Exchange",
            linkedin: "https://www.linkedin.com/in/danstreufert/"
          }) %></li>
          
          <li class="my-4"><%= partial("partials/contact-details-linkedin-bug-text", :locals => {
            name: "Richard Koe",
            title: "Managing Director, WINGX",
            linkedin: "https://www.linkedin.com/in/richardkoe/"
          }) %></li>
          
          <li class="my-4"><%= partial("partials/contact-details-linkedin-bug-text", :locals => {
            name: "Christoph Kohler",
            title: "Managing Director, WINGX",
            linkedin: "https://www.linkedin.com/in/christoph-kohler-84b237a/"
          }) %></li>

        </ul>

      </div>
    </div>
  </div>
</section>

<section class="section section--translucent-light">
  <div class="container">
    <div class="row">
      <div class="offset-lg-1 col-lg-11">
        <h2 class="h1">Alliances</h2>
      </div>
    </div>
    <div class="row">
      <div class="offset-lg-2 col-lg-10">

        <ul class="list-unstyled">

          <li class="my-4"><%= partial("partials/contact-details-linkedin-bug-text", :locals => {
            name: "Rolland Vincent",
            title: "President, Rolland Vincent Associates LLC and JETNET iQ Creator/Director",
            linkedin: "https://www.linkedin.com/in/rolland-vincent-027a3512/"
          }) %></li>

        </ul>

      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="offset-lg-1 col-lg-11">
        <h2 class="h1">Affiliations</h2>
      </div>
    </div>
    <div class="row">
      <div class="offset-lg-2 col-lg-10">
        <ul class="list--double-arrow">
          <li>American Association of Appraisers (ASA)</li>
          <li>National Business Aviation Association (NBAA)</li>
          <li>National Aircraft Finance Association (NAFA)</li>
          <li>African Business Aviation Association (AfBAA)</li>
          <li>European Business Aviation Association (EBAA)</li>
          <li>International Aircraft Dealers Association (IADA)</li>
          <li>Helicopter Association International (HAI)</li>
          <li>Aircraft Owners and Pilots Association (AOPA)</li>
          <li>International Women’s Aviation Association (IAWA)</li>
          <li>Global Licensed Aircraft Dealers’ Association (GLADA)</li>
        </ul>
      </div>
    </div>
  </div>
</section>
