---
title: FAQ - JETNET Frequently Asked Questions
meta_description: JETNET Frequently Asked Questions (FAQ) answer your most common queries about JETNET products, services, research, database, and industry solutions. 
---

<main class="main-content">

  <section class="section section--heading">
    <div class="container">
      <div class="row">
        <div class="offset-md-1 col-md-11 col-lg-12">
          <h1>FAQ</h1>
        </div>
      </div>
      <div class="row">
        <div class="offset-lg-2 col-lg-8">

          <dl class="">
            <dt>What sets JETNET apart from other business aircraft information providers?</dt>
            <dd>JETNET is considered to be the comprehensive provider of business aircraft research services, and employs the largest research staff. Other services are passive; they simply reprint unsolicited data sent to them. JETNET is an active research service, constantly seeking information, confirming it and then regularly reconfirming it. No other service can so accurately and efficiently report to you on the status of individual aircraft as well as the state of the overall fleet. JETNET is also known for being at the technological forefront, using the latest computer and communication technologies for delivering data. In 1988, while the competition still delivered its service on hardcopy via mail, JETNET’s flagship product was released in a computerized format with data transfer via satellite. Today JETNET offers the only all-web-based aircraft research service. More information is available in the Solutions & Products sections.</dd>

            <dt>How does JETNET compile its information?</dt>
            <dd>JETNET employs aircraft research professionals who gather information each workday on business aircraft worldwide. Our research staff includes multilingual specialists, ensuring no aircraft is out of our reach. Because of our professionalism and commitment to accuracy, we have an excellent relationship with owners/operators, manufacturers, financiers, leasing companies and fractional owners.</dd>
            
            <dt>Why do aircraft owners/operators give JETNET information? How can it benefit them?</dt>
            <dd>JETNET’s subscriber network is highly exclusive and includes many of the most credible and prestigious organizations in professional aviation. These organizations offer legitimate services and products for business aircraft owners and operators. Listing an aircraft with JETNET continuously communicates to our network the status of the aircraft and the needs of an aircraft owner or operator. This is particularly advantageous when an owner decides to sell the aircraft. Our mission is to present each aircraft in the most accurate and comprehensive manner possible. We do all this for the aircraft owner/operator absolutely free of charge.</dd>
            
            <dt>Does JETNET research helicopters?</dt>
            <dd>Yes, JETNET does research helicopters.</dd>
            
            <dt>Does JETNET research airliners?</dt>
            <dd>Yes, see our information about “BigPlanes” (Commercial Airliners) in the Marketplace Manager section.</dd>
            
            <dt>Do you list fractional owners?</dt>
            <dd>Yes, JETNET has a comprehensive database of business aircraft fractional owners, including their share size, percentages held, and their projected expiration dates.</dd>
            
            <dt>If JETNET does not buy or sell aircraft, how does it make money?</dt>
            <dd>JETNET’s services are sold on an annual subscription basis to qualified aircraft sales, service and support professionals. These subscribers pay a monthly fee to receive our software and access to our data on business aircraft.</dd>
            
            <dt>Can I just buy certain aircraft data?</dt>
            <dd>JETNET services are available on an annual subscription basis only to qualified aviation professionals. Subscribers can opt for the complete Jet, Turboprop, Helicopter or Commercial Airliner databases with updates received either on a monthly, weekly, or LIVE basis. </dd>
            
            <dt>As an aircraft owner/operator can I view information listed on JETNET?</dt>
            <dd>
              <p>Although access to JETNET’s subscription services is limited to qualified aviation professionals, JETNET also offers JETNET Global (formerly Aviation Business Index or ABI).</p>
              <p>Available to anyone, JETNET Global offers various market reports for purchase, as well as listings of aircraft for sale by brokers and dealers only who have paid to advertise their aircraft.</p>
            </dd>
          </dl>

        </div>
      </div>
    </div>
  </section>

</main>
