---
title: Fleet Analyzer
meta_description: "Fleet Analyzer allows users to understand aircraft value with an overview of transaction history, owner/operator paths, usage, maintenance management info and more."
opengraph:
  title: ""
  description: ""
  image: /assets/opengraph/
twitter_card:
  title: ""
  description: ""
  image: /assets/opengraph/
---

<section class="section section--first">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<h1>Fleet Analyzer</h1>
			</div>
		</div>
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<p>JETNET’s Fleet Analyzer provides a way to organize, review, and analyze complex fleets using multiple data points. Users can then customize, condense, build and review fleets, as well as compartmentalize data into multiple categories based on their needs.</p>

			</div>
		</div>
	</div>
</section>

<section class="section section--translucent-light">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>Fleet Analysis by Specific Parameters</h2>

				<p>Analyze fleets large and small from a wide range of perspectives:</p>

				<br>

				<h3>Age of Fleet</h3>
				<p>View age and general makeup of U.S. and international fleets.</p>
				<div class="my-4"><img class="img-fluid" src="/assets/images/features/fleet-analyzer/01_AgeOfFleet.png"></div>

				<br>

				<h3>Value of Fleet (exclusively for JETNET Values subscribers)</h3>
				<p>Access quick profiles of aircraft for sale, market values, and key indices for the portion of the fleet that is for sale or can be valued. Note that only customers with a Values subscription will see eValues™.</p>
				<div class="my-4"><img class="img-fluid" src="/assets/images/features/fleet-analyzer/02_ValueofFleet.png"></div>

				<br>

				<h3>Maintenance Analytics</h3>
				<p>Gain insights on overview of fleet usage and related maintenance management and tracking programs.</p>
				<div class="my-4"><img class="img-fluid" src="/assets/images/features/fleet-analyzer/03_MaintenanceAnalytics.png"></div>

				<br>

				<h3>Flight Activity (exclusively for JETNET Marketplace and AERODEX Elite subscribers)</h3>
				<p>Explore flight activity including average and total flights flown for entire fleet as well as individual aircraft in the fleet.</p>
				<div class="my-4"><img class="img-fluid" src="/assets/images/features/fleet-analyzer/04_FlightActivity.png"></div>

				<br>

				<h3>Owners/Operators</h3>
				<p>Quickly access lists of owners and operators associated with aircraft, including their locations and contact information.</p>
				<div class="my-4"><img class="img-fluid" src="/assets/images/features/fleet-analyzer/05_Owners.png"></div>
				<div class="my-4 row">
					<div class="col-md-6">
						<a data-gallery="owners-operators" data-caption="" href="/assets/images/features/fleet-analyzer/05_Operators.png">
							<img class="w-100 img-fluid" src="/assets/images/features/fleet-analyzer/05_Operators.png">
						</a>
					</div>
					<div class="col-md-6"></div>
				</div>

				<br>

				<h3>Model Comparisons</h3>
				<p>Summarize the makeup of the fleet at the model-level.</p>
				<div class="my-4"><img class="img-fluid" src="/assets/images/features/fleet-analyzer/06_ModelComparisons.png"></div>

				<br>

				<h3>History</h3>
				<p>View transactional information associated with entire fleet and individual aircraft.</p>
				<div class="my-4"><img class="img-fluid" src="/assets/images/features/fleet-analyzer/07_History.png"></div>

			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>Visualization of Data</h2>
				<p>Identify aircraft specifications by make and model in an easy-to-read summary of fleet broken down by feature.</p>
				<div class="my-4"><img class="img-fluid" src="/assets/images/features/fleet-analyzer/08_VisualizationData_01.png"></div>
				<div class="my-4 row">
					<div class="col-md-6">
						<a data-gallery="visualization" data-caption="" href="/assets/images/features/fleet-analyzer/08_VisualizationData_02.png">
							<img class="w-100 img-fluid" src="/assets/images/features/fleet-analyzer/08_VisualizationData_02.png">
						</a>
					</div>
					<div class="col-md-6"></div>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="section section--translucent-light">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>Filter and Export Datasets</h2>
				<p>Quickly compile data presented in charts and graphs with customizable export capabilities.</p>
				<div class="my-4"><img class="img-fluid" src="/assets/images/features/fleet-analyzer/09_FilterExportDatasets.png"></div>

			</div>
		</div>
	</div>
</section>

<%= partial 'partials/request-demo-section' %>
