---
title: It’s Time to Take Us for a Test Flight
meta_description: 
opengraph:
  title:
  description:
  image:
twitter_card:
  title:
  description:
  image:
---
<main class="main-content">
  <section class="section section--heading">
    <div class="container">
      <div class="row">
        <div class="offset-lg-0 col-lg-12">
          <h1>
            It’s Time to Take Us for a Test Flight
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="offset-lg-2 col-lg-8">

          <!--
          <h2>
            Request a Demonstration Now
          </h2>
          <p class="lead">You’re ready to access the world’s premier business aviation intelligence. It’s not about comparing apples to apples; JETNET can do so much more with much more accurate and timely information.</p>
          -->

          <h2 style="margin-bottom:0.5rem;">Get one free week of JETNET Service</h2>
          <p class="lead">Sign up below to receive a demo of the world’s premier business aviation intelligence. After your session, we’ll set you up with a free one-week trial subscription so you can take it out for a test flight.</p>

          <img src="/assets/images/take-a-test-flight.jpg" class="img-fluid d-block my-4" alt="">

          <p>Here’s what you can expect with your demo:</p>

          <ol class="list--double-arrow">
            <li>Once you submit the short form (below), you’ll be contacted by one of our team to assess your needs, and set up a one-on-one webinar.</li>
            <li>During the shared screen session you will see the actual JETNET product in action, including:
              <ul>
                <li>Access to aircraft decision makers: owners, pilots, operators, etc. 
                <li>Current and historical reported sold prices at the serial number level
                <li>Historical or customized reports to review trends by make/model, fractional positions, leased aircraft, charter intelligence, or operator aircraft summaries
                <li>Flight activity to capture date-range-specific historical flight activity and route analysis
              </ul>
            </li>
            <li>During the one-on-one webinar, we help you find the data you need. You can ask questions, try your own example searches, and learn about the wide range of capabilities at your disposal.
            <li>After your session, we’ll set you up with a free one-week trial subscription so you can take it out for a test flight.
          </ol>

          <p>We look forward to helping you grow your business!</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section demo-request" id="demo-request">
    <div class="container">
      <div class="row">
        <div class="offset-lg-2 col-lg-8">

          <h3 class="uppercase"><%= 'Request a Demo' %></h3>
          <br>
          
          <div class="salesforce-form">
            <%= partial 'partials/salesforce-form-request-demo' %>            
          </div>
          
        </div>
      </div>
    </div>
  </section>

</main>
