---
title: JETNET iQ Summit Sponsorships
meta_description: Sponsoring the JETNET iQ Summit puts your company in front of the most powerful leaders in business aviation. See which sponsorship opportunities are available.
opengraph:
  title: "JETNET iQ Summit Sponsorships"
  description: "Learn More"
  image: /assets/opengraph/Sponsorship24_OG.jpg
twitter_card:
  title: "JETNET iQ Summit Sponsorships"
  description: "Learn More"
  image: /assets/opengraph/Sponsorship24_OG.jpg
---

<% @showSummitNavbar = true %>

<main class="main-content">

  <section class="summit-header section section--heading -nopad-bottom text-white">
    <div class="container">
      <div class="row">
        <div class="offset-lg-1 col-lg-11 mb-4 mt-4">
          <h1 class="display-1">JETNET iQ Summit Sponsorships</h1>
          <h3 class="text-white">Make an Impression on the Influencers</h3>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">

      <div class="row">
        <div class="offset-lg-3 col-lg-9">

          <br>
          <br>

          <h2>Sponsorship Opportunities</h2>
          
          <img src="/assets/images/summit/Sponsorship24.jpg" class="img-fluid d-block my-4" alt="" width="880" height="440">

          <p>Put your company in front of business aviation leaders and advocates from across the globe with a JETNET iQ Summit sponsorship.</p>
          
          <p>For more information on sponsorship opportunities, please use the form submission below or contact:</p>

          <div><%= partial("partials/contact-details", :locals => {
            name: "Paul Cardarelli",
            title: "Vice President of Sales",
            phone: "+1 315.797.4420 ext. 254",
            email: "paul@jetnet.com",
          }) %></div>

          <br>
          
          <h3>2024 Standard Sponsorships</h3>
          
          <div class="d-none d-sm-block mb-4">
            <table class="data-table leading-tight">
              <thead class="text-small">
                <tr>
                  <th></th>
                  <th class="text-sm-center" style="white-space:nowrap">Diamond<br>($25,000 USD) <div class="font-normal italic">Limit of <s>2</s> 1</div></th>
                  <th class="text-sm-center" style="white-space:nowrap">Platinum<br>($12,000 USD) <div class="font-normal italic">Limit of <s>10</s> 4</div></th>
                  <th class="text-sm-center" style="white-space:nowrap">Gold<br>($6,500 USD) <div class="font-normal italic">Limit of <s>12</s> 7</div></th>
                </tr>
              </thead>
              <tbody>
                <tr><td>Complimentary JETNET iQ Summit registration(s)</td>
                <td class="text-sm-center">&#10003; (2)</td>
                <td class="text-sm-center">&#10003; (2)</td>
                <td class="text-sm-center"></td></tr>

                <tr><td>Full-page color advertisement in the 2024 JETNET iQ Summit program</td>
                <td class="text-sm-center">&#10003;</td>
                <td class="text-sm-center">&#10003;</td>
                <td class="text-sm-center">&#10003;</td></tr>

                <tr><td>Sponsor logo inclusion in marketing materials & on the JETNET iQ Summit website</td>
                <td class="text-sm-center">&#10003;</td>
                <td class="text-sm-center">&#10003;</td>
                <td class="text-sm-center">&#10003;</td></tr>

                <tr><td>Sponsor logo/company name in video presentations during breaks/meal(s)</td>
                <td class="text-sm-center">&#10003;</td>
                <td class="text-sm-center">&#10003;</td>
                <td class="text-sm-center">&#10003;</td></tr>

                <tr><td>Verbal acknowledgement throughout the event</td>
                <td class="text-sm-center">&#10003;</td>
                <td class="text-sm-center">&#10003;</td>
                <td class="text-sm-center">&#10003;</td></tr>

                <tr><td>Display table for company literature, aircraft models, etc.</td>
                <td class="text-sm-center">&#10003;</td>
                <td class="text-sm-center">&#10003;</td>
                <td class="text-sm-center">&#10003;</td></tr>

                <tr><td>Full-page color advertisement in the 2024 JETNET iQ Market Report book</td>
                <td class="text-sm-center">&#10003;</td>
                <td class="text-sm-center">&#10003;</td>
                <td class="text-sm-center"></td></tr>

                <tr><td>Sponsor logo/company name on floor stand easel signage</td>
                <td class="text-sm-center">&#10003;</td>
                <td class="text-sm-center">&#10003;</td>
                <td class="text-sm-center"></td></tr>

                <tr><td>Logo inclusion on photo backdrop</td>
                <td class="text-sm-center">&#10003;</td>
                <td class="text-sm-center">&#10003;</td>
                <td class="text-sm-center"></td></tr>

                <tr><td>iQ Pulse Ad (full page)</td>
                <td class="text-sm-center">&#10003;</td>
                <td class="text-sm-center"></td>
                <td class="text-sm-center"></td></tr>

                <tr><td>iQ Pulse Ad (half page)</td>
                <td class="text-sm-center"></td>
                <td class="text-sm-center">&#10003;</td>
                <td class="text-sm-center"></td></tr>

                <tr><td>Bundle w/ Breakfast (Option A)</td>
                <td class="text-sm-center">&#10003;</td>
                <td class="text-sm-center"></td>
                <td class="text-sm-center"></td></tr>

                <tr><td>Bundle w/ Lunch (Option B)</td>
                <td class="text-sm-center">&#10003;</td>
                <td class="text-sm-center"></td>
                <td class="text-sm-center"></td></tr>

                <tr><td>On-Site JETNET iQ Advisory Service (1-Day)</td>
                <td class="text-sm-center">&#10003;</td>
                <td class="text-sm-center"></td>
                <td class="text-sm-center"></td></tr>
              </tbody>
            </table>
            
          </div>
          <div class="d-sm-none">

            <h3 class="font-size-h4">Diamond Sponsorship ($25,000 USD)<br><i><small>Limit of <s>2</s> 1</small></i></h3>
            <ul class="list--double-arrow mb-4">
              <li>Two (2) complimentary JETNET iQ Summit registrations</li>
              <li>Full-page color advertisement in the 2024 JETNET iQ Summit program</li>
              <li>Sponsor logo inclusion in marketing materials & on the JETNET iQ Summit website</li>
              <li>Sponsor logo/company name in video presentations during breaks/meal(s)</li>
              <li>Verbal acknowledgement throughout the event</li>
              <li>Display table for company literature, aircraft models, etc.</li>
              <li>Full-page color advertisement in the 2024 JETNET iQ Market Report book</li>
              <li>Sponsor logo/company name on floor stand easel signage</li>
              <li>Logo inclusion on photo backdrop</li>
              <li>iQ Pulse Ad (full page)</li>
              <li>Bundle w/ Breakfast (Option A)</li>
              <li>Bundle w/ Lunch (Option B)</li>
              <li>On-Site JETNET iQ Advisory Service (1-Day)</li>
            </ul>

            <div class="d-block d-sm-none">
              <hr class="my-4">
            </div>

            <h3 class="font-size-h4">Platinum Sponsorship ($12,000 USD)<br><i><small>Limit of <s>10</s> 4</small></i></h3>
            <ul class="list--double-arrow mb-4">
              <li>Two (2) complimentary JETNET iQ Summit registrations</li>
              <li>Full-page color advertisement in the 2024 JETNET iQ Summit program</li>
              <li>Sponsor logo inclusion in marketing materials & on the JETNET iQ Summit website</li>
              <li>Sponsor logo/company name in video presentations during breaks/meal(s)</li>
              <li>Verbal acknowledgement throughout the event</li>
              <li>Display table for company literature, aircraft models, etc.</li>
              <li>Full-page color advertisement in the 2024 JETNET iQ Market Report book</li>
              <li>Sponsor logo/company name on floor stand easel signage</li>
              <li>Logo inclusion on photo backdrop</li>
              <li>iQ Pulse Ad (half page)</li>
            </ul>

            <div class="d-block d-sm-none">
              <hr class="my-4">
            </div>

            <h3 class="font-size-h4">Gold Sponsorship ($6,500 USD)<br><i><small>Limit of <s>12</s> 7</small></i></h3>
            <ul class="list--double-arrow mb-4">
              <li>Full-page color advertisement in the 2024 JETNET iQ Summit program</li>
              <li>Sponsor logo inclusion in marketing materials & on the JETNET iQ Summit website</li>
              <li>Sponsor logo/company name in video presentations during breaks/meal(s)</li>
              <li>Verbal acknowledgement throughout the event</li>
              <li>Display table for company literature, aircraft models, etc.</li>
            </ul>

          </div>
          
          <hr style="margin: 2rem 0;">
          
          <h3>2024 Event Sponsorships</h3>
          
          <div class="d-none d-sm-block mb-4">
            <table class="data-table leading-tight">
              <thead class="text-small">
                <tr>
                  <th></th>
                  <th class="text-sm-center">Program Ad</th>
                  <th class="text-sm-center">Market Report Book Ad</th>
                  <th class="text-sm-center">Easel Stand</th>
                  <th class="text-sm-center">Event Passes <div class="font-normal italic">(Complimentary)</div></th>
                  <th class="text-sm-center">Tent Cards</th>
                  <th class="text-sm-center">Verbal Acknowledgements</th>
                  <th class="text-sm-center">Marketing Recognition</th>
                  <th class="text-sm-center">iQ Pulse Ad <div class="font-normal italic">(Full Page)</div></th>
                  <th class="text-sm-center">iQ Pulse Ad <div class="font-normal italic">(Half Page)</div></th>
                  <th class="text-sm-center">JETNET iQ SNAP! Report <div class="font-normal italic">(Complimentary)</div></th>
                  <th class="text-sm-center">Napkins <div class="font-normal italic">(Includes JETNET iQ Summit & Sponsor Logo)</div></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-sm-center">
                    <b>Welcome Reception</b><br>
                    <i>$15K USD</i>
                  </td>
                  <td class="text-sm-center">&#10003;</td>
                  <td class="text-sm-center">&#10003;</td>
                  <td class="text-sm-center">&#10003;</td>
                  <td class="text-sm-center">&#10003; (2)</td>
                  <td></td>
                  <td class="text-sm-center">&#10003;</td>
                  <td class="text-sm-center">&#10003;</td>
                  <td></td>
                  <td class="text-sm-center">&#10003;</td>
                  <td class="text-sm-center">&#10003;</td>
                  <td></td>
                </tr>
                <tr>
                  <td class="text-sm-center">
                    <b>Formal Dinner</b><br>
                    <i>$25K USD</i>
                  </td>
                  <td class="text-sm-center">&#10003;</td>
                  <td class="text-sm-center">&#10003;</td>
                  <td class="text-sm-center">&#10003;</td>
                  <td class="text-sm-center">&#10003; (2)</td>
                  <td></td>
                  <td class="text-sm-center">&#10003;</td>
                  <td class="text-sm-center">&#10003;</td>
                  <td class="text-sm-center">&#10003;</td>
                  <td class="text-sm-center">&#10003;</td>
                  <td class="text-sm-center">&#10003;</td>
                  <td></td>
                </tr>
                <tr>
                  <td class="text-sm-center">
                    <b>Breakfast</b><br>
                    <i>$15K USD</i>
                  </td>
                  <td class="text-sm-center">&#10003;</td>
                  <td class="text-sm-center">&#10003;</td>
                  <td class="text-sm-center">&#10003;</td>
                  <td class="text-sm-center">&#10003; (2)</td>
                  <td class="text-sm-center">&#10003;</td>
                  <td class="text-sm-center">&#10003;</td>
                  <td class="text-sm-center">&#10003;</td>
                  <td></td>
                  <td class="text-sm-center">&#10003;</td>
                  <td class="text-sm-center">&#10003;</td>
                  <td></td>
                </tr>
                <tr>
                  <td class="text-sm-center">
                    <b>PM Coffee Break <i>(Day&nbsp;1)</i></b><br>
                    <i>$7.5K USD</i>
                  </td>
                  <td class="text-sm-center">&#10003;</td>
                  <td></td>
                  <td class="text-sm-center">&#10003;</td>
                  <td></td>
                  <td class="text-sm-center">&#10003;</td>
                  <td class="text-sm-center">&#10003;</td>
                  <td class="text-sm-center">&#10003;</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="text-sm-center">&#10003;</td>
                </tr>
                <tr>
                  <td class="text-sm-center">
                    <b>AM Coffee Break <i>(Day&nbsp;2)</i></b><br>
                    <i>$7.5K USD</i>
                  </td>
                  <td class="text-sm-center">&#10003;</td>
                  <td></td>
                  <td class="text-sm-center">&#10003;</td>
                  <td></td>
                  <td class="text-sm-center">&#10003;</td>
                  <td class="text-sm-center">&#10003;</td>
                  <td class="text-sm-center">&#10003;</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="text-sm-center">&#10003;</td>
                </tr>
                <tr>
                  <td class="text-sm-center">
                    <b>PM Coffee Break <i>(Day&nbsp;2)</i></b><br>
                    <i>$7.5K USD</i>
                  </td>
                  <td class="text-sm-center">&#10003;</td>
                  <td></td>
                  <td class="text-sm-center">&#10003;</td>
                  <td></td>
                  <td class="text-sm-center">&#10003;</td>
                  <td class="text-sm-center">&#10003;</td>
                  <td class="text-sm-center">&#10003;</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="text-sm-center">&#10003;</td>
                </tr>
                <tr>
                  <td class="text-sm-center">
                    <s><b>Lunch</b><br>
                    <i>$15K USD</i></s>
                  </td>
                  <td colspan="11" class="text-sm-center">SOLD</td>
                </tr>
                <tr>
                  <td class="text-sm-center">
                    <b>Closing Reception</b><br>
                    <i>$10K USD</i>
                  </td>
                  <td class="text-sm-center">&#10003;</td>
                  <td class="text-sm-center">&#10003;</td>
                  <td class="text-sm-center">&#10003;</td>
                  <td class="text-sm-center">&#10003; (1)</td>
                  <td class="text-sm-center">&#10003;</td>
                  <td class="text-sm-center">&#10003;</td>
                  <td class="text-sm-center">&#10003;</td>
                  <td></td>
                  <td class="text-sm-center">&#10003;</td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <td class="text-sm-center">
                    <s><b>Wi-Fi</b><br>
                    <i>$7.5K USD</i></s>
                  </td>
                  <td colspan="11" class="text-sm-center">SOLD</td>
                </tr>
                <tr>
                  <td class="text-sm-center">
                    <b>Audio/Visual</b><br>
                    <i>$8K USD</i>
                  </td>
                  <td class="text-sm-center">&#10003;</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="text-sm-center">&#10003;</td>
                  <td class="text-sm-center">&#10003;</td>
                  <td></td>
                  <td></td>
                  <td class="text-sm-center">&#10003;</td>
                  <td></td>
                </tr>
                <tr>
                  <td class="text-sm-center">
                    <s><b>Lanyards</b><br>
                    <i>$5K USD</i></s>
                  </td>
                  <td colspan="11" class="text-sm-center">SOLD</td>
                </tr>
                <tr>
                  <td class="text-sm-center">
                    <b>iQ Market Report Book (Online Publication)</b><br>
                    <i>$7.5K USD</i>
                  </td>
                  <td class="s2"></td>
                  <td class="text-sm-center">&#10003;</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="text-sm-center">&#10003;</td>
                  <td class="text-sm-center">&#10003;</td>
                  <td class="text-sm-center">&#10003;</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
          
          <div class="d-sm-none">
            <h3 class="font-size-h4">Welcome Reception ($15K USD)</h3>
            <ul class="list--double-arrow mb-4">
              <li>Program Ad</li>
              <li>Market Report Book Ad</li>
              <li>Easel Stand</li>
              <li>2 Event Passes (Complimentary)</li>
              <li>Verbal Acknowledgements</li>
              <li>Marketing Recognition</li>
              <li>iQ Pulse Ad (Half Page)</li>
              <li>JETNET iQ SNAP! Report (Complimentary)</li>
            </ul>

            <div class="d-block d-sm-none">
              <hr class="my-4">
            </div>
  
            <h3 class="font-size-h4">Formal Dinner ($25K USD)</h3>
            <ul class="list--double-arrow mb-4">
              <li>Program Ad</li>
              <li>Market Report Book Ad</li>
              <li>Easel Stand</li>
              <li>2 Event Passes (Complimentary)</li>
              <li>Verbal Acknowledgements</li>
              <li>Marketing Recognition</li>
              <li>iQ Pulse Ad (Full Page)</li>
              <li>iQ Pulse Ad (Half Page)</li>
              <li>JETNET iQ SNAP! Report (Complimentary)</li>
            </ul>

            <div class="d-block d-sm-none">
              <hr class="my-4">
            </div>

            <h3 class="font-size-h4">Breakfast ($15K USD)</h3>
            <ul class="list--double-arrow mb-4">
              <li>Program Ad</li>
              <li>Market Report Book Ad</li>
              <li>Easel Stand</li>
              <li>2 Event Passes (Complimentary)</li>
              <li>Tent Cards</li>
              <li>Verbal Acknowledgements</li>
              <li>Marketing Recognition</li>
              <li>iQ Pulse Ad (Half Page)</li>
              <li>JETNET iQ SNAP! Report (Complimentary)</li>
            </ul>

            <div class="d-block d-sm-none">
              <hr class="my-4">
            </div>

            <h3 class="font-size-h4">PM Coffee Break <i>(Day&nbsp;1)</i> ($7.5K USD)</h3>
            <ul class="list--double-arrow mb-4">
              <li>Program Ad</li>
              <li>Easel Stand</li>
              <li>Tent Cards</li>
              <li>Verbal Acknowledgements</li>
              <li>Marketing Recognition</li>
              <li>Napkins (Includes JETNET iQ Summit & Sponsor Logo)</li>
            </ul>

            <div class="d-block d-sm-none">
              <hr class="my-4">
            </div>

            <h3 class="font-size-h4">AM Coffee Break <i>(Day&nbsp;2)</i> ($7.5K USD)</h3>
            <ul class="list--double-arrow mb-4">
              <li>Program Ad</li>
              <li>Easel Stand</li>
              <li>Tent Cards</li>
              <li>Verbal Acknowledgements</li>
              <li>Marketing Recognition</li>
              <li>Napkins (Includes JETNET iQ Summit & Sponsor Logo)</li>
            </ul>

            <div class="d-block d-sm-none">
              <hr class="my-4">
            </div>

            <h3 class="font-size-h4">PM Coffee Break <i>(Day&nbsp;2)</i> ($7.5K USD)</h3>
            <ul class="list--double-arrow mb-4">
              <li>Program Ad</li>
              <li>Easel Stand</li>
              <li>Tent Cards</li>
              <li>Verbal Acknowledgements</li>
              <li>Marketing Recognition</li>
              <li>Napkins (Includes JETNET iQ Summit & Sponsor Logo)</li>
            </ul>

            <div class="d-block d-sm-none">
              <hr class="my-4">
            </div>

            <h3 class="font-size-h4"><s>Lunch ($15K USD)</s></h3>
            <p>SOLD</p>

            <div class="d-block d-sm-none">
              <hr class="my-4">
            </div>

            <h3 class="font-size-h4">Closing Reception ($10K USD)</h3>
            <ul class="list--double-arrow mb-4">
              <li>Program Ad</li>
              <li>Market Report Book Ad</li>
              <li>Easel Stand</li>
              <li>1 Event Pass (Complimentary)</li>
              <li>Tent Cards</li>
              <li>Verbal Acknowledgements</li>
              <li>Marketing Recognition</li>
              <li>iQ Pulse Ad (Half Page)</li>
            </ul>

            <div class="d-block d-sm-none">
              <hr class="my-4">
            </div>

            <h3 class="font-size-h4"><s>Wi-Fi ($7.5K USD)</s></h3>
            <p>SOLD</p>
            <!--
            <ul class="list--double-arrow mb-4">
              <li>Program Ad</li>
              <li>Easel Stand</li>
              <li>Tent Cards</li>
              <li>Verbal Acknowledgements</li>
              <li>Marketing Recognition</li>
            </ul>
            -->

            <div class="d-block d-sm-none">
              <hr class="my-4">
            </div>

            <h3 class="font-size-h4">Audio/Visual ($8K USD)</h3>
            <ul class="list--double-arrow mb-4">
              <li>Program Ad</li>
              <li>Verbal Acknowledgements</li>
              <li>Marketing Recognition</li>
              <li>JETNET iQ SNAP! Report (Complimentary)</li>
            </ul>
            
            <div class="d-block d-sm-none">
              <hr class="my-4">
            </div>

            <h3 class="font-size-h4"><s>Lanyards ($5K USD)</s></h3>
            <p>SOLD</p>
            <!--
              <ul class="list--double-arrow mb-4">
              <li>Program Ad</li>
              <li>Verbal Acknowledgements</li>
              <li>Marketing Recognition</li>
            </ul>
            -->

            <div class="d-block d-sm-none">
              <hr class="my-4">
            </div>

            <h3 class="font-size-h4">iQ Market Report Book (Online Publication) ($7.5K USD)</h3>
            <ul class="list--double-arrow mb-4">
              <li>Market Report Book Ad</li>
              <li>Verbal Acknowledgements</li>
              <li>Marketing Recognition</li>
              <li>iQ Pulse Ad (Full Page)</li>
            </ul>
            
          </div>

          <br>
          <br>

        </div>
      </div>
    </div>
  </section>

  <section class="section form-block">
    <div class="container">
      <div class="row">
        <div class="offset-lg-3 col-lg-9">

          <p>If you’re interested in this year’s sponsorship opportunities, please submit the form and our representatives will contact you shortly.</p>

          <%= partial("partials/wufoo_form", :locals => { :form_id => 's1gtiddw0t9x34d' })%>
        </div>
      </div>
    </div>
  </section>

  <%= partial 'partials/summit-buy-tickets' %>
  <%= partial 'partials/summit-sponsors', :locals => { :show_contact => false } %>
</main>
