---
title: Aircraft Prospector
meta_description: "Aircraft Prospector provides custom prospect reporting designed to find leads for your aircraft."
opengraph:
  title: "Aircraft Prospector by JETNET"
  description: "Know More"
  image: /assets/opengraph/
twitter_card:
  title: "Aircraft Prospector by JETNET"
  description: "Know More"
  image: /assets/opengraph/
---

<section class="section section--first">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<h1>Aircraft Prospector</h1>
			</div>
		</div>
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>Find leads to sell your aircraft, with custom prospect reporting.</h2>

				<p>Trying to find potential buyers for your aircraft can be difficult. With JETNET’s Aircraft Prospector, you are provided with a series of custom-designed reports listing potential leads. Aircraft Prospector organizes comprehensive search results based on the criteria you want most. Use the categories below to find real and accurate leads, faster than ever before.</p>
			</div>
		</div>
	</div>
</section>

<section class="section section--translucent-light">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>Previous Owners</h2>

				<p>The Previous Owners feature allows you to find a list of end user companies who previously owned the same aircraft that you’re selling, and who currently remain without a replacement.</p>

				<div class="my-4">
					<a
						data-gallery="previous-owners"
						data-caption=""
						href="/assets/images/features/aircraft-prospector/01_PreviousOwners.jpg">
						<img class="w-100 img-fluid" src="/assets/images/features/aircraft-prospector/01_PreviousOwners.jpg">
					</a>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>Expiring Leases</h2>

				<p>With the Expiring Leases feature, you can view reports of aircrafts that have leases scheduled to expire within a designated time frame of your choosing.</p>

				<div class="my-4">
					<a
						data-gallery="expiring-leases"
						data-caption=""
						href="/assets/images/features/aircraft-prospector/02_ExpiringLeases.jpg">
						<img class="w-100 img-fluid" src="/assets/images/features/aircraft-prospector/02_ExpiringLeases.jpg">
					</a>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="section section--translucent-light">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>Expiring Fractional Owners</h2>

				<p>Find a list of end user fractional owners whose agreements have expired, or are expiring, within a specified time frame of your choosing.</p>
				
				<div class="my-4">
					<a
						data-gallery="expiring-fractional-owners"
						data-caption=""
						href="/assets/images/features/aircraft-prospector/03_ExpiringFractionalOwners.jpg">
						<img class="w-100 img-fluid" src="/assets/images/features/aircraft-prospector/03_ExpiringFractionalOwners.jpg">
					</a>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>Wanteds</h2>

				<p>The Wanteds tab shows you a list of companies that have placed a wanted ad, for specific aircraft, within our system.</p>

				<div class="my-4">
					<a
						data-gallery="wanteds"
						data-caption=""
						href="/assets/images/features/aircraft-prospector/04_Wanteds.jpg">
						<img class="w-100 img-fluid" src="/assets/images/features/aircraft-prospector/04_Wanteds.jpg">
					</a>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="section section--translucent-light">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>Broker Sales</h2>

				<p>The Broker Sales tab provides you with a list of broker companies, and individual brokers, that recently sold aircraft. Search by specified aircraft or broker company. Contacts are listed in our database for each company listed, giving you the opportunity to reach out to their staff and inquire about an ‘leftover’ leads.</p>

				<div class="my-4">
					<a
						data-gallery="broker-sales"
						data-caption=""
						href="/assets/images/features/aircraft-prospector/05_BrokerSales.jpg">
						<img class="w-100 img-fluid" src="/assets/images/features/aircraft-prospector/05_BrokerSales.jpg">
					</a>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>Time to Buy</h2>

				<p>Most importantly, find a list of companies who currently own aircraft that have reached the typical length of ownership for their model. This signals they may be getting near the timeframe that they would like to buy again.</p>

				<div class="my-4">
					<a
						data-gallery="time-to-buy"
						data-caption=""
						href="/assets/images/features/aircraft-prospector/06_TimeToBuy.jpg">
						<img class="w-100 img-fluid" src="/assets/images/features/aircraft-prospector/06_TimeToBuy.jpg">
					</a>
				</div>

			</div>
		</div>
	</div>
</section>

<%= partial 'partials/request-demo-section' %>
