---
title: JETNET Features
meta_description: ""
opengraph:
  title: ""
  description: ""
  image: /assets/opengraph/
twitter_card:
  title: ""
  description: ""
  image: /assets/opengraph/
---

<section class="section section--first">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<h1>JETNET Features</h1>
			</div>
		</div>
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<p>JETNET’s product and service offerings provide you with the world’s most comprehensive databases and tools for global fleet and market intelligence on business jets, turboprops, commercial/transport, helicopters, and piston aircraft.</p>
				
				<p>Know more about each product and service below and also request a one-on-one demo at any time. You’ll see why JETNET’s features are the most innovative in the industry and how they can help your business and client base grow.</p>

				<img class="w-100 img-fluid" alt="" src="/assets/images/features/overview/FeaturesOverviewMain.jpg">
				
			</div>
		</div>
	</div>
</section>

<section class="section section--translucent-light">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">
	
				<h2>Flight Activity</h2>
	
				<p>
					Discover prospects with our Flight Activity tracking service using:
				</p>
				
				<ul class="list--double-arrow">
					<li>Airports, Routes, Flights, Operators, Aircraft, Refuel/Tech-Stops, Models, Owners, and more</li>
				</ul>
	
				<div class="my-4">
					<a
						data-gallery="flight-activity"
						data-caption=""
						href="/assets/images/features/overview/FlightActivityImage.png">
						<img class="w-100 img-fluid" alt="" src="/assets/images/features/overview/FlightActivityImage.png">
					</a>
				</div>
				
				<p>Know more about Flight Activity’s sub-features and how you can best utilize them to your needs.</p>

				<p>
					<a href="/features/flight-activity" class="btn btn-primary text-white">
						<span class="icon icon--double-arrow"></span> View Flight Activity
				 	</a>
				</p>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>Search by Tail Number</h2>

				<p>
					Using complete or partial tail numbers, you can search for current and historical information on individual aircraft.
				</p>
				
				<ul class="list--double-arrow">
					<li>View aircraft’s flight activity</li>
					<li>Save and export custom information and reports</li>
					<li>Get live alerts</li>
					<li>and more</li>
				</ul>

				<div class="my-4">
					<a
						data-gallery="search-by-tail-number"
						data-caption=""
						href="/assets/images/features/overview/TailNumberImage.png">
						<img class="w-100 img-fluid" alt="" src="/assets/images/features/overview/TailNumberImage.png">
					</a>
				</div>
				
				<p>Know more about our Search by Tail Number feature.</p>
				
				<p>
					<a href="/features/search-by-tail-number" class="btn btn-primary text-white">
						<span class="icon icon--double-arrow"></span> View Search by Tail Number
					 </a>
				</p>

			</div>
		</div>
	</div>
</section>

<section class="section section--translucent-light">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">
	
				<h2>Model Market Summary</h2>
	
				<p>
					Find extensive market data detailing trends, transactions, events, and other pertinent information, to help you create customizable market summary reports using: 
				</p>
				
				<ul class="list--double-arrow">
					<li>Model-specific statistics</li>
					<li>Prospecting Tool</li>
					<li>STAR Reports</li>
					<li>and more</li>
				</ul>
	
				<div class="my-4">
					<a
						data-gallery="model-market-summary"
						data-caption=""
						href="/assets/images/features/overview/ModelMarketSummaryImage.png">
						<img class="w-100 img-fluid" alt="" src="/assets/images/features/overview/ModelMarketSummaryImage.png">
					</a>
				</div>
				
				<p>Know more about what makes our Model Market Summary feature unique and relevant.</p>
				
				<p>
					<a href="/features/model-market-summary" class="btn btn-primary text-white">
						<span class="icon icon--double-arrow"></span> View Model Market Summary
					 </a>
				</p>

			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>Fleet Analyzer</h2>

				<p>
					Organize, review, and analyze complex fleets while building and customizing your own. Classify data as you need fit using search parameters such as: 
				</p>
				
				<ul class="list--double-arrow">
					<li>Age</li>
					<li>Value</li>
					<li>Maintenance</li>
					<li>History</li>
					<li>and more</li>
				</ul>

				<div class="my-4">
					<a
						data-gallery="fleet-analyzer"
						data-caption=""
						href="/assets/images/features/overview/FleetAnalyzerImage.png">
						<img class="w-100 img-fluid" alt="" src="/assets/images/features/overview/FleetAnalyzerImage.png">
					</a>
				</div>
				
				<p>Know more about Fleet Analyzer’s robust potential that will help you become an industry expert.</p>
				
				<p>
					<a href="/features/fleet-analyzer" class="btn btn-primary text-white">
						<span class="icon icon--double-arrow"></span> View Fleet Analyzer
					 </a>
				</p>
			</div>
		</div>
	</div>
</section>


<section class="section section--translucent-light">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">
	
				<h2>Route Analysis</h2>
	
				<p>
					Pinpoint historical route information for any aircraft or fleet, one-way and round-trip, from any airport in the world using: 
				</p>
				
				<ul class="list--double-arrow">
					<li>Aircraft/Company Records</li>
					<li>Date-Centric Searches</li>
					<li>Route Utilization</li>
					<li>and more</li>
				</ul>
	
				<div class="my-4">
					<a
						data-gallery="route-analysis"
						data-caption=""
						href="/assets/images/features/overview/RouteAnalysisImage.png">
						<img class="w-100 img-fluid" alt="" src="/assets/images/features/overview/RouteAnalysisImage.png">
					</a>
				</div>
				
				<p>Know more about Route Analysis and why this feature is a must for comprehensive analysis and reporting.</p>
				
				<p>
					<a href="/features/route-analysis" class="btn btn-primary text-white">
						<span class="icon icon--double-arrow"></span> View Route Analysis
					 </a>
				</p>

			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>Notes Center</h2>

				<p>
					Make all of your information easy to maintain and update with Notes Center. Create action items, export content, increase efficiency, and easily identify your notes using sub-features like: 
				</p>
				
				<ul class="list--double-arrow">
					<li>Reporting/Exporting Capabilities</li>
					<li>Viewing options</li>
					<li>Filter Notes</li>
					<li>and more</li>
				</ul>

				<div class="my-4">
					<a
						data-gallery="notes-center"
						data-caption=""
						href="/assets/images/features/overview/NotesCenterImage.png">">
						<img class="w-100 img-fluid" alt="" src="/assets/images/features/overview/NotesCenterImage.png">
					</a>
				</div>
				
				<p>Know more about Notes Center and how your research can be thoroughly organized for your exact needs.</p>
				
				<p>
					<a href="/features/notes-center" class="btn btn-primary text-white">
						<span class="icon icon--double-arrow"></span> View Notes Center
					 </a>
				</p>

			</div>
		</div>
	</div>
</section>

<section class="section section--translucent-light">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>Charter Intelligence</h2>

				<p>
					Get the most up-to-date charter data that is comprehensive, organized, and easy to understand when you use features such as:
				</p>
				
				<ul class="list--double-arrow">
					<li>Charter Operators</li>
					<li>Operator Certifications</li>
					<li>Operator Fleet</li>
					<li>and more</li>
				</ul>

				<div class="my-4">
					<a
						data-gallery="charter-intelligence"
						data-caption=""
						href="/assets/images/features/overview/CharterIntelligence.png">
						<img class="w-100 img-fluid" alt="" src="/assets/images/features/overview/CharterIntelligence.png">
					</a>
				</div>
				
				<p>Know more about Charter Intelligence and how your fleets, reports, and research can help you better understand the market.</p>
				
				<p>
					<a href="/features/charter-intelligence" class="btn btn-primary text-white">
						<span class="icon icon--double-arrow"></span> View Charter Intelligence
					 </a>
				</p>

			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>Aircraft Dealers and Brokers Rankings</h2>

				<p>
					Examine dealer and broker performance by transactions, make/model, geographic location, and more, then customize your reports, when you access sub-features like:
				</p>
				
				<ul class="list--double-arrow">
					<li>Dealer/Broker Performance Review</li>
					<li>Business Listings</li>
					<li>Exporting Capabilities</li>
					<li>and more</li>
				</ul>

				<div class="my-4">
					<a
						data-gallery="aircraft-dealers-and-brokers-rankings"
						data-caption=""
						href="/assets/images/features/overview/AircraftDealersBrokers.png">
						<img class="w-100 img-fluid" alt="" src="/assets/images/features/overview/AircraftDealersBrokers.png">
					</a>
				</div>
				
				<p>Know more about Aircraft Dealers and Brokers Rankings and how your research can be thoroughly organized for your exact needs.</p>
				
				<p>
					<a href="/features/aircraft-dealers-and-brokers-rankings/" class="btn btn-primary text-white">
						<span class="icon icon--double-arrow"></span> View Aircraft Dealers and Brokers Rankings
					 </a>
				</p>

			</div>
		</div>
	</div>
</section>

<%= partial 'partials/request-demo-section', :locals => {
	body: 'Test our data with a one-on-one demonstration where you call the shots, and discover what you need to succeed. Custom data you need the way you need it.'
} %>
