---
title: Aircraft Acquisition
meta_description: "Find your next aircraft today using aircraft acquisition, a tool designed to identify the features and preferences you need."
opengraph:
  title: "Aircraft Acquisition by JETNET"
  description: "Know More"
  image: /assets/opengraph/
twitter_card:
  title: "Aircraft Acquisition by JETNET"
  description: "Know More"
  image: /assets/opengraph/
---

<section class="section section--first">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<h1>Aircraft Acquisition</h1>
			</div>
		</div>
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">
				<p>The Aircraft Acquisition feature is a powerful tool that enables users to personalize their search using individual preferences and requirements to find the desired aircraft. Users can refine their search parameters using various factors, including model, age, number of airframe hours, condition, amenities, and more, effortlessly navigating through a vast inventory of available aircraft. Save time and identify the aircraft you need when you need it.</p>

				<div class="row my-4">
					<div class="col-12">
						<a
							data-gallery="aircraft-acquisition"
							data-caption=""
							href="/assets/images/features/aircraft-acquisition/AircraftAcquisition_Placeholder.png">
							<img class="w-100 img-fluid" src="/assets/images/features/aircraft-acquisition/AircraftAcquisition_Placeholder.png">
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="section section--translucent-light">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>Aircraft Type</h2>

				<p>Aircraft Type enables users to streamline the search process even further. By specifying the general classifications of type, size, and range, users can narrow down their search and focus on the types of aircraft that align with their needs and preferences.</p>

				<div class="row my-4">
					<div class="col-12">
						<a
							data-gallery="aircraft-type"
							data-caption=""
							href="/assets/images/features/aircraft-acquisition/AircraftAcquisition_Placeholder.png">
							<img class="w-100 img-fluid" src="/assets/images/features/aircraft-acquisition/AircraftAcquisition_Placeholder.png">
						</a>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>Requirements & Parameters</h2>

				<p>One of the key benefits of using the Requirements & Parameters tool is that it allows users to set minimum flight requirements. They can specify the desired range or distance the aircraft should be capable of flying without refueling, passenger capacity, and other preferences such as:</p>
				
				<ul class="list--double-arrow">
					<li>Minimum asking price</li>
					<li>Market status</li>
					<li>Age range</li>
					<li>Maximum airframe hours</li>
					<li>Aircraft location</li>
				</ul>

				<div class="row my-4">
					<div class="col-12">
						<a
							data-gallery="requirements-parameters"
							data-caption=""
							href="/assets/images/features/aircraft-acquisition/AircraftAcquisition_Placeholder.png">
							<img class="w-100 img-fluid" src="/assets/images/features/aircraft-acquisition/AircraftAcquisition_Placeholder.png">
						</a>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>

<section class="section section--translucent-light">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>Amenities</h2>

				<p>Whether it’s WiFi connectivity, in-flight entertainment, couches, or any other amenity an aircraft may have, the Amenities feature allows users to save time and effort while ensuring a seamless search experience. Just click the boxes for the amenities you need and our database will show you the available aircraft.</p>
				
				<div class="row my-4">
					<div class="col-12">
						<a
							data-gallery="amenities"
							data-caption=""
							href="/assets/images/features/aircraft-acquisition/AircraftAcquisition_Placeholder.png">
							<img class="w-100 img-fluid" src="/assets/images/features/aircraft-acquisition/AircraftAcquisition_Placeholder.png">
						</a>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>Maintenance Program Type</h2>

				<p>JETNET's Maintenance Program Type feature empowers users with the knowledge to make well-informed decisions when choosing an aircraft. By focusing on how this feature helps users understand the maintenance program of a plane, it offers them valuable insights. This information provides assurances and enables users to optimize their ownership experience by selecting an aircraft that aligns perfectly with their maintenance preferences.</p>

				<div class="row my-4">
					<div class="col-12">
						<a
							data-gallery="maintenance-program-types"
							data-caption=""
							href="/assets/images/features/aircraft-acquisition/AircraftAcquisition_Placeholder.png">
							<img class="w-100 img-fluid" src="/assets/images/features/aircraft-acquisition/AircraftAcquisition_Placeholder.png">
						</a>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>

<section class="section section--translucent-light">
	<div class="container">
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

				<h2>Search Results</h2>

				<p>Search Results will display all available worldwide aircraft based on the user’s parameters chosen in the search features above.</p>

				<div class="row my-4">
					<div class="col-12">
						<a
							data-gallery="search-results"
							data-caption=""
							href="/assets/images/features/aircraft-acquisition/AircraftAcquisition_Placeholder.png">
							<img class="w-100 img-fluid" src="/assets/images/features/aircraft-acquisition/AircraftAcquisition_Placeholder.png">
						</a>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</section>

<%= partial 'partials/request-demo-section', :locals => {
	:title => 'Request a Demo',
	:body => 'Test our data with a one-on-one demonstration where you call the shots, and discover what you need to succeed. Custom data you need the way you need it, when you need it.'
} %>
