---
date: 2022-07-01
title: "EVO 101"
meta_description: EVO 101 offers essential training for new Aerodex and Marketplace users, covering JETNET basics, efficient searching, and alert configuration, every Monday at 2 PM EST.
excerpt: "<p>Review JETNET basics and become more familiar with the Evolution platform.</p><p>Every Monday at 2 PM EST</p>"
schedule: Mondays 2PM EST

eventbrite_id: 377225390297
available_to: "Aerodex and Marketplace Users"

opengraph:
  title: "Free EVO 101 Training"
  description: "Sign Up Today"
  image: /assets/opengraph/Evo101_Training_FB.jpg
twitter_card:
  title: "Free EVO 101 Training"
  description: "Sign Up Today"
  image: /assets/opengraph/Evo101_Training_TW.jpg
---

REVIEW OF JETNET BASICS. Ideal for all new Aerodex and Marketplace Users.

In this training course, you will learn how to:

* Review of your settings, homepage tiles, pages, aircraft and company records
* Searching, filtering & exporting from the aircraft page
* Set up the LIVE Event Email Alert in an aircraft record
