---
date: 2022-07-01
title: EVO 201
meta_description: EVO 201 offers advanced training for Aerodex and Marketplace users, focusing on custom reports, efficient management, and strategic insights, available Tuesdays at 2 PM EST.
excerpt: "<p>Move on from the basics for more thorough searches, reports, custom export reports, saved searches, and filtering.</p><p>Every Tuesday at 2 PM EST</p>"
schedule: Tuesdays 2PM EST

eventbrite_id: 377228369207
available_to: "Aerodex and Marketplace Users"

opengraph:
  title: "Free JETNET EVO 201 Training"
  description: "Sign Up Today"
  image: /assets/opengraph/Evo201_Training_FB.jpg
twitter_card:
  title: "Free JETNET EVO 201 Training"
  description: "Sign Up Today"
  image: /assets/opengraph/Evo201_Training_TW.jpg
---

Upon completion of EVO 101, this is ideal as a second training for all Aerodex and Marketplace Users.

In this training course, you will learn how to:

* Export, create custom export reports
* Create and manage folders & saved searches
* Utilize best practices to leave notes and action items
* Identify Fractional prospects
* Access STAR Reports
