---
date: 2022-07-01
title: EVO 301
meta_description: EVO 301 offers tailored for Marketplace and Aerodex Elite users, offering in-depth fleet analysis, record management, and flight activity tracking, with sessions open for subscribers.
excerpt: "<p>Discover and utilize JETNET’s Fleet Analyzer insight tool, allowing you to build your fleet using a historic and diverse set of data points.</p><p>Every Wednesday at 2 PM EST</p>"
schedule: Wednesdays 2PM EST

eventbrite_id: 377234999037
available_to: "Aerodex Elite & Marketplace Users"

opengraph:
  title: "Free JETNET EVO 301 Training"
  description: "Sign Up Today"
  image: /assets/opengraph/Evo301_Training_FB.jpg
twitter_card:
  title: "Free JETNET EVO 301 Training"
  description: "Sign Up Today"
  image: /assets/opengraph/Evo301_Training_TW.jpg
---

Ideal for all Marketplace and Aerodex Elite Users.

*Aerodex Weekly will benefit from the Fleet Analyzer portion of training.

In this training course, you will learn how to:

* Find individual aircraft records and activity, as well as how to build your fleet based on your needs
* Organize, review, and analyze even the most complex fleets of aircraft using a wide variety of perspectives such as age, value, maintenance analytics, owners/operators, models, history, and more
* Use the Flight activity view to search airport(s), flight activity reports, specific fleets and individual aircraft records for flight activity/utilization.
