---
date: 2022-07-01
title: "EVO - Marketplace"
meta_description: ""
excerpt: "<p>Learn to create your most extensive summaries, reports, and more. Analyze financial institutions, sold prices, and estimated values on fixed wing aircraft.</p><p>Every Thursday at 2 PM EST</p>"
schedule: Thursdays 2PM EST

eventbrite_id: 377240746227
available_to: "Marketplace Users"

opengraph:
  title: "Free EVO - Marketplace Training"
  description: "Sign Up Today"
  image: /assets/opengraph/EvoMarket_Training_FB.jpg
twitter_card:
  title: "Free EVO - Marketplace Training"
  description: "Sign Up Today"
  image: /assets/opengraph/EvoMarket_Training_TW.jpg
---

Ideal for Marketplace Users.

In this training course, you will learn how to:

* Quickly access market reports, conditions, trends, and find data you need within a certain time frame dating back up to 10 years
* Identify financial institutions that have financed aircraft and get an overview of JETNET’s add-on components, Values and eValues, which include sold prices on serial number level and estimated values on fixed wing aircraft
* Use the Prospecting Tool to discover exportable retail contacts who may be ready to replace their aircraft, as well as retail sellers of aircraft who remain without a replacement aircraft
