---
date: 2023-12-12
title: "Global Search Overview"
meta_description: "Enhance your skills with our comprehensive training on JETNET Evolution’s website, focusing on new search functionalities and streamlined navigation features."
excerpt: "<p>Learn how to navigate JETNET’s enhanced global search feature.</p><p>Every Tuesday, Wednesday and Thursday at 11 AM EST</p>"
schedule: Tuesdays, Wednesdays, Thursdays 11 AM EST

eventbrite_id: 776542368127
available_to: "Aerodex and Marketplace Users"

opengraph:
  title: "Global Search Overview Training"
  description: "Sign Up Today"
  image: /assets/opengraph/GlobalSearch_Training_FB.jpg
twitter_card:
  title: "Global Search Overview Training"
  description: "Sign Up Today"
  image: /assets/opengraph/GlobalSearch_Training_TW.png
---

Enhance your skills with our comprehensive training on JETNET Evolution’s website, focusing on new search functionalities and streamlined navigation features. Ideal for all Aerodex and Marketplace Users.

In this training course, you will review and learn:

* **Search Bar Improvements:**

  * Central placement in the header area.
  * Capability to recall your last 10 unique searches.
  * Search results open in the same window.
  
* **New Icons on Search Results Page:**

  * Understanding the functions of Save, New Tab, and Back icons.
  
* **Filter Dropdown Feature:**

  * Learning to filter search results by various criteria.
  
* **Advanced Search Functionality:**

  * Understanding case insensitivity and wildcard searches.
  * Recognizing singular and plural result integration.
  
* **Additional Tabs in Search Results:**

  * Exploring new tabs like “Fleet Analyzer,” “Market Summary,” and “Flight Activity.”
  
* **Saved Search Capabilities:**

  * Techniques for saving searches and applying filters.
  
* **Enhanced Search Autocomplete:**

  * Navigating through the improved suggestion system.
