---
date: 2024-01-12
title: "Aerodex Elite"
meta_description: "Enhance your skills with our comprehensive training on JETNET Evolution’s website, focusing on new search functionalities and streamlined navigation features."
excerpt: "<p>Aerodex Elite training covers live flight data by serial number, airport activity, utilization trends, route analysis, and email alerts.</p><p>Thursday, January 18 at 1 PM EST<br>Wednesday January 24 at 3 PM EST<br>Tuesday January 30 at 3 PM EST</p>"
schedule: 3 Days Only

eventbrite_id: 794407021787
available_to: "Aerodex Users"

opengraph:
  title: "Aerodex Elite Training"
  description: "Sign Up Today"
  image: /assets/opengraph/
twitter_card:
  title: "Aerodex Elite Training"
  description: "Sign Up Today"
  image: /assets/opengraph/
---

In the Aerodex Elite training course, participants will gain insights into the comprehensive suite of tools including:

* Flight Activity Data by Serial Number for all aircraft, including those with blocked tail numbers
* Access to LIVE Data on a Serial Number level linked with ADS-B data 
* Detailed Airport Activity for any selected airports across various fleets
* Analysis of Utilization Trends, an advanced Route Analysis Tool
* Setup of LIVE Email Alerts to stay informed
