---
title: AERODEX
meta_description: AERODEX provides information on individual aircraft and fleets, including business jets, by make, model, and delivery year.
opengraph:
  title: "Gold Standard Of Aviation Databases"
  description: "Raise Your Expertise"
  image: /assets/opengraph/Dec29_FB.jpg
twitter_card:
  title: "Gold Standard Of Aviation Databases"
  description: "Raise Your Expertise"
  image: /assets/opengraph/Dec29_TW.jpg
---

<main class="main-content text-reverse">

  <section class="section section--heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="image-heading image-heading--service">
            <img src="/assets/images/logo--jetnet-aerodex.png" alt="AERODEX">
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="offset-lg-2 col-lg-10">
          <p class="lead">AERODEX is designed to provide highly accurate answers to the daily questions challenging business aviation professionals. Covering the worldwide fleets of jets, turboprops, pistons, helicopters, and commercial transport aircraft, we maintain databases to satisfy your areas of expertise. JETNET has been the gold standard for independent aviation fact finding since 1988. Fuel providers, ground service specialists, manufacturers of aircraft and accessories depend on our ability to track and update extensive files for each business aircraft around the world over their entire life cycle. AERODEX is available in two options: AERODEX Elite, a Live data platform which includes INTEL capability and historic flight activity/route analysis; and AERODEX Standard, the weekly update (without INTEL capability and historic flight activity/route analysis). The INTEL (Intelligence) service includes a series of tools designed to provide users with additional intelligence on owners, operators, dealers, and manufacturers.

          <p>The most demanding aviation manufacturing professional can access encyclopedic details at the serial number and fleet level.

          <ul class="list--double-arrow">
            <li>Fleet summaries by make, model and delivery year
            <li>Individual and fleet summaries by 5 Life Cycle categories
            <li>Current and historical worldwide dispersion  
            <li>Airport Activity View
            <li>Utilization by make and model 
            <li>AFTT, engine times, and cycles
            <li>Thousands of components by manufacturer or category at the serial number level
            <li>Major inspection and maintenance compliance
            <li>Track date-range-specific historical flight activity and route analysis by serial number, fleet, airport, owner/operator, makes/models, fuel burn, and tech/fuel stops
            <li>In Aerodex Elite, use Fleet Analysis to organize, review, and analyze even the most complex fleets of aircraft
            <li>Fleet Analysis, select from existing fleets in JETNET, or build your own to analyze a wide range of perspectives, including age of fleet, value of fleet (Marketplace users only), maintenance analytics, flight activity, owners, operators, model comparisons, history, and more
            <li>Find aircraft maintained under the European Union Aviation Safety Agency (EASA) Part 145 by searching and identifying them, along with the company contact information of those with responsibilities to operate, maintain, finance, insure, lease, service, crew, and pilot each aircraft
          </ul>

          <p>As an AERODEX subscriber, you can have updates sent to your cell phone, smartphone, or iPad, free with select service levels.

          <div class="cta-buttons">
            <%= partial 'partials/request-demo-button' %>
          </div>

        </div>
      </div>
    </div>
  </section>

  <%= partial("partials/contact-section", :locals => {
    :product => 'JETNET Aerodex',
    :people => [
      {
        name: 'Paul Cardarelli',
        title: 'Vice President of Sales',
        phone: '+1 315.797.4420 ext. 254',
        email: 'paul@jetnet.com',
        group: 'Domestic',
      },
      {
        name: 'Derek Jones',
        title: 'Sales Team Coordinator',
        phone: '+1 315.797.4420 ext. 603',
        email: 'djones@jetnet.com',
        group: 'Domestic',
      },
      {
        name: 'Karim Derbala',
        title: 'Managing Director of Global Sales',
        phone: '<b>Utica:</b> +1 315.797.4420, ext. 845<br><b>Switzerland:</b> +41 (0) 43.243.7056',
        email: 'karim@jetnet.com',
        group: 'International',
      },
    ]
  })%>

</main>
