---
title: JETNET Evolution Marketplace
meta_description: EVO Marketplace offers streamlined training for Marketplace users, covering market analysis, financial insights, and prospecting tools, available Thursdays at 2 PM EST.
opengraph:
  title: "Access to Decision Makers"
  description: "Get Updates Sent to Any Device"
  image: /assets/opengraph/Sept17_FB.jpg
twitter_card:
  title: "Access to Decision Makers"
  description: "Get Updates Sent to Any Device"
  image: /assets/opengraph/Sept17_TW.jpg
---

<main class="main-content" data-stellar-background-ratio="0.8">

  <section class="section section--heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="image-heading">
            <img src="/assets/images/logo--jetnet-evolution-marketplace.png" alt="Evolution Marketplace">
          </h1>
        </div>
      </div>

      <div class="row">
        <div class="offset-lg-2 col-lg-10 text-reverse">
          <p class="lead">Evolution Marketplace is designed to provide highly accurate answers to the daily questions challenging business aviation professionals. Our researchers are your front line to capture minute-to-minute changes, as well as historic aviation information on an encyclopedic scale. Covering the worldwide fleets of jets, turboprops, pistons, helicopters, and commercial transport aircraft, we maintain databases to satisfy your areas of expertise. Our answers are collected during direct phone contact with decision makers authorized to speak on behalf of the aircraft, including pricing, market status, financial documents, ownership, sold prices, FAA documents, and leasing information. A confidential interface allows Marketplace special features, including the ability to edit aircraft, customer, prospect, and company records. Users can design comparable aircraft worksheets, utilize critical aircraft valuation data, and maintain aircraft marketing files for customers and prospects. <a href="/products/jetnet-values.html">JETNET Values</a> is an add-on service available to JETNET Evolution Marketplace subscribers.</p>
        </div>
      </div>

      <div class="row">
        <div class="offset-lg-2 col-lg-8">

          <ul class="list--double-arrow">
            <li>Engage the largest and most complete listing of fixed and rotary wing aircraft on and off market worldwide
            <li>Get Live Event email updates, and stay current on the top 75 key events that affect the makes and models you are tracking
            <li>Gain access to aircraft decision makers, including owners, chief pilots, operators, directors of maintenance, and directors of aviation
            <li>See JETNET Values for current and historical reported sold prices at the serial number level
            <li>Select from hundreds of historical reports, or customize your own to review trends by make/model, fractional positions, leased aircraft, charter intelligence, or operator aircraft summaries
            <li>Utilize the Flight Activity View to capture date-range-specific historical flight activity and route analysis by serial number, fleet, airport, owner/operator, makes/models, fuel burn, and tech/fuel stops
            <li>With Aircraft Prospector, use our comprehensive historical transaction database to target companies most likely to purchase a given make/model of aircraft
            <li>Aircraft Prospector saves hours of research by correlating the make/model specific length of ownership data against the length of time for the current owner; identifying companies that have sold aircraft and not bought another; companies with expiring leases or fractions, and more
          </ul>

          <p>As an <strong>Evolution</strong> subscriber, you can have updates sent to your cell phone, smartphone, or iPad, free with select service levels.</p>

          <div class="cta-buttons">
            <%= partial 'partials/request-demo-button' %>
          </div>

        </div>
      </div>
    </div>

  </section>

  <%= partial("partials/contact-section", :locals => {
    :product => 'JETNET Evolution Marketplace',
    :people => [
      {
        name: 'Paul Cardarelli',
        title: 'Vice President of Sales',
        phone: '+1 315.797.4420 ext. 254',
        email: 'paul@jetnet.com',
        group: 'Domestic',
      },
      {
        name: 'Derek Jones',
        title: 'Sales Team Coordinator',
        phone: '+1 315.797.4420 ext. 603',
        email: 'djones@jetnet.com',
        group: 'Domestic',
      },
      {
        name: 'Karim Derbala',
        title: 'Managing Director of Global Sales',
        phone: '<b>Utica:</b> +1 315.797.4420, ext. 845<br><b>Switzerland:</b> +41 (0) 43.243.7056',
        email: 'karim@jetnet.com',
        group: 'International',
      },
    ]
  })%>

  <%= partial("partials/related_products", :locals => {
    :links => [
      {
        href: '/products/jetnet-values.html',
        text: 'Values'
      },
      {
        href: '/products/marketplace-manager.html',
        text: 'Marketplace Manager'
      },
    ]
  })%>

</main>
