---
title: JETNET API
meta_description: JETNET API provides flexible, customizable aviation data solutions for CRM integration, market summaries, and fleet management to enhance business operations.
opengraph:
  title: "JETNET API"
  description: "Customizable Data Delivery"
  image: /assets/opengraph/July7_FB.jpg
twitter_card:
  title: "JETNET API"
  description: "Customizable Data Delivery"
  image: /assets/opengraph/July7_TW.jpg
---

<section class="section section--first">
	<div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="image-heading image-heading--service">
            <img src="/assets/images/logo--jetnet-api-8.png" alt="API">
          </div>
        </div>
      </div>
	    <div class="row">
			<div class="offset-lg-1 col-lg-11">
      		</div>
    	</div>
    	<div class="row">
      		<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 text-reverse">

				<h2 class="mt-0">Customizable Data Delivery Solutions</h2>

				<p>JETNET API is a flexible interface allowing users to build complex solutions powered by JETNET’s world class fixed and rotary wing data. As a JETNET API customer, you can work with JETNET to provide custom applications to your specifications. Use JETNET API for a wide variety of purposes, such as:

				<ul class="mb-4">
					<li><u>CRM Integration</u> – Integrate JETNET data to better automate your sales and customer feedback processes. Whether you are looking for address information to support mailings, phone numbers to support direct sales and research calls, or emails to support direct email or campaigns. Common CRM platforms with which JETNET API can interface include Zoho, Act, and Microsoft Dynamics. Contact us for more information.
					<li><u>Customized Model Market Summaries</u> – Maintain your own customized versions of model market summary spreadsheets or tools, allowing you to compare specific fields on aircraft side by side, depending on a given model, and sometimes even depending on a specific customer need.
					<li><u>Inventories & Fleet Management</u> – Keep details of aircraft relating to specific fleets as up to date as possible. This may be just aircraft related data, or also include data about the associated owners and operators.
				</ul>

        <div class="cta-buttons">
          <%= partial 'partials/request-demo-button' %>
        </div>

		</div>
	</div>
</section>

  <%= partial("partials/contact-section", :locals => {
    :product => 'JETNET API',
    :people => [
      {
        name: 'Paul Cardarelli',
        title: 'Vice President of Sales',
        phone: '+1 315.797.4420 ext. 254',
        email: 'paul@jetnet.com',
        group: 'Domestic',
      },
      {
        name: 'Derek Jones',
        title: 'Sales Team Coordinator',
        phone: '+1 315.797.4420 ext. 603',
        email: 'djones@jetnet.com',
        group: 'Domestic',
      },
      {
        name: 'Karim Derbala',
        title: 'Managing Director of Global Sales',
        phone: '<b>Utica:</b> +1 315.797.4420, ext. 845<br><b>Switzerland:</b> +41 (0) 43.243.7056',
        email: 'karim@jetnet.com',
        group: 'International',
      },
    ]
  })%>

