---
title: JETNET Values
meta_description: "JETNET Values is a tool that provides reported sales prices on specific aircrafts, giving subscribers better insight on market prices to make informed aircraft purchase decisions."
opengraph:
  title: "Request a Values Demo"
  description: "Price and Compare Resale Market"
  image: /assets/opengraph/Aug13_FB.jpg
twitter_card:
  title: "Request a Values Demo"
  description: "Price and Compare Resale Market"
  image: /assets/opengraph/Aug13_TW.jpg
---

<main class="main-content">

  <section class="section section--heading">
    <div class="container">
      <div class="row">
        <div class="offset-lg-1 col-lg-11">
          <h1 class="image-heading image-heading--service">
            <img src="/assets/images/logo--jetnet-values.png" alt="JETNET Values">
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="offset-md-1 col-md-11 offset-lg-2 col-lg-9 col-xl-8 text-reverse">

          <p>JETNET Values builds on a confidential network of hundreds of aviation professionals which provide thousands of aircraft reported sales prices. Our unique single-source asset valuation platform combines key historical market data and reported sold prices with access to the current market values and 60-month estimated residual value figures produced by JETNET’s Asset Insight “eValues™”, to enable users to effectively analyze individual or multiple aircraft simultaneously. JETNET Values is an add-on service available exclusively for JETNET Evolution Marketplace and Marketplace Manager subscribers.”</p>

          <p>Check out the video below to know more and set up a demonstration of JETNET Values.</p>

  				<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://player.vimeo.com/video/580425809' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>

          <div class="cta-buttons">
            <%= partial 'partials/request-demo-button' %>
          </div>

        </div>
      </div>
    </div>
  </section>

  <%= partial("partials/contact-section", :locals => {
		:product => 'JETNET Values',
		:people => [
			{
  			name: 'Paul Cardarelli',
  			title: 'Vice President of Sales',
  			phone: '+1 315.797.4420 ext. 254',
  			email: 'paul@jetnet.com',
  			group: 'Domestic',
			},
			{
  			name: 'Derek Jones',
  			title: 'Sales Team Coordinator',
  			phone: '+1 315.797.4420 ext. 603',
  			email: 'djones@jetnet.com',
  			group: 'Domestic',
			},
			{
  			name: 'Karim Derbala',
  			title: 'Managing Director of Global Sales',
  			phone: '<b>Utica:</b> +1 315.797.4420, ext. 845<br><b>Switzerland:</b> +41 (0) 43.243.7056',
  			email: 'karim@jetnet.com',
  			group: 'International',
			},
		]
	})%>

  <%= partial("partials/related_products", :locals => {
    :links => [
      {
        href: '/products/evolution-marketplace.html',
        text: 'Marketplace'
      },
      {
        href: '/products/marketplace-manager.html',
        text: 'Marketplace Manager'
      },
    ]
  })%>

</main>
