---
title: JETNET for Salesforce
meta_description: JETNET for Salesforce offers seamless integration of top-tier aviation data within Salesforce, boosting CRM efficiency with advanced data management and search functions.
opengraph:
  title: "Identify Prospects"
  description: "Faster, More Accurate Solutions"
  image: /assets/opengraph/Nov3_FB.jpg
twitter_card:
  title: "Identify Prospects"
  description: "Faster, More Accurate Solutions"
  image: /assets/opengraph/Nov3_TW.jpg
---

<section class="section section--first">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="image-heading image-heading--service">
					<img src="/assets/images/logo--jetnet-salesforce.png" alt="JETNET for Salesforce">
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 text-reverse">

				<h2 class="h3"><strong>TWO</strong> WORLD-CLASS PLATFORMS, <strong>ONE</strong> UNIFYING APP</h2>
				<h3 class="h4">Access the world’s most accurate business aviation data from within Salesforce Solutions</h3>

				<p>JETNET for Salesforce enables access to accurate and timely worldwide fixed and rotary wing aircraft data from within the Salesforce platform. Work faster, identify prospects sooner, and better qualify opportunities. Move up to a faster, more accurate Salesforce solution integration.</p>

				<h2 class="h3">Supercharge Your Customer Relationship Management</h2>

				<p class="lead">JETNET clients can receive, update, and manage data on companies/accounts, contacts, and aircraft—all from within the Salesforce platform.

				<h2 class="h3">Key JETNET for Salesforce features/benefits:</h2>

				<ul class="list--double-arrow">
					<li>Access and import JETNET company, contact, and even aircraft data
					<li><strong>One click</strong> to create, update, and customize company/accounts, contacts, and aircraft records
					<li>Maintain original—or create new—company relationships in aircraft records
					<li>Navigate JETNET program links and records without leaving the Salesforce platform
					<li><strong>One click</strong> to navigate/reference JETNET records
					<li>Easily identify and sync data changes since your last visit
					<li>Search targeted aviation attributes/filters within the Salesforce platform for accounts, contacts, and aircraft
					<li>Conduct cross-relational searches between companies/aircraft/contacts and more
					<li>Centralized dashboard with JETNET synced records in the Salesforce platform, including search within searches
					<li><strong>One click</strong> to record syncing or field-by-field selective sync
					<li>Recognize/create automatic primary account and contact/aircraft relationships
					<li>Salesforce solution aircraft record relational intelligence with 50+ fields
					<li>Eliminate manual data entry
					<li>Increase data integrity/accuracy with JETNET verified updates/syncs
					<li>Enrich aviation information/fields for accounts/companies
					<li>Profile aviation prospects/decision makers progressively
					<li>Use coalition-based enhancement for closing deals
					<li>Direct relationships between pipeline/opportunities and aircraft records
				</ul>

				<p>Download JETNET for Salesforce today from the Salesforce AppExchange at <a href="https://appexchange.salesforce.com/">appexchange.salesforce.com</a>.</p>

				<p><small>Salesforce and AppExchange are trademarks of salesforce.com, inc., and are used here with permission.</small></p>

        <div class="cta-buttons">
          <%= partial 'partials/request-demo-button' %>
        </div>

			</div>
		</div>
	</div>
</section>

<%= partial("partials/contact-section", :locals => {
	:product => 'JETNET for Salesforce',
	:people => [
		{
			name: 'Paul Cardarelli',
			title: 'Vice President of Sales',
			phone: '+1 315.797.4420 ext. 254',
			email: 'paul@jetnet.com',
			group: 'Domestic',
		},
		{
			name: 'Derek Jones',
			title: 'Sales Team Coordinator',
			phone: '+1 315.797.4420 ext. 603',
			email: 'djones@jetnet.com',
			group: 'Domestic',
		},
		{
			name: 'Karim Derbala',
			title: 'Managing Director of Global Sales',
			phone: '<b>Utica:</b> +1 315.797.4420, ext. 845<br><b>Switzerland:</b> +41 (0) 43.243.7056',
			email: 'karim@jetnet.com',
			group: 'International',
		},
	]
})%>
