---
title: Marketplace Manager
meta_description: "Marketplace Manager gives professionals a customizable tool that does much more than a CRM: manage daily sales, leads, market analysis, and prospecting."
opengraph:
  title: "Marketplace Manager"
  description: "Industry Intelligence on Live Data Platform"
  image: /assets/opengraph/June9_FB.jpg
twitter_card:
  title: "Marketplace Manager"
  description: "Industry Intelligence on Live Data Platform"
  image: /assets/opengraph/June9_TW.jpg
---

<main class="main-content text-reverse">

  <section class="section section--heading">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="image-heading image-heading--service">
            <img src="/assets/images/logo--jetnet-marketplace-manager.png" alt="Marketplace Manager">
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="offset-lg-2 col-lg-10">
          <p class="lead">JETNET Marketplace Manager (MpM) was designed for those aviation professionals who use JETNET Marketplace and require a customizable tool to manage day-to-day sales, market analysis, and prospecting activities. The MpM program works alongside all JETNET Marketplace services, and allows extensive editing of aircraft records, company information, market analysis reports, and prospecting files. Saved changes can be viewed by the author only, or shared with designated recipients. All of your data is secured on a platform separate from JETNET. <a href="/products/jetnet-values.html">JETNET Values</a> is an add-on service available to Marketplace Manager subscribers.

          <ul class="list--double-arrow">
            <li>Replace JETNET information with your own market research data
            <li>Use MpM to customize your market surveys or sold surveys using Excel
            <li>Capture, edit, update, and track target markets with sold, asking, and take prices 
            <li>Build client confidence with better understanding of aircraft values and trends
            <li>Develop prospect-specific aircraft portfolios with supporting comparable asking, take, and sold data sets
            <li>Create presentations with exceptional visual graphics that complement the data analytics
          </ul>

          <div class="cta-buttons">
            <%= partial 'partials/request-demo-button' %>
          </div>

        </div>
      </div>
    </div>
  </section>

  <%= partial("partials/contact-section", :locals => {
    :product => 'JETNET Marketplace Manager',
    :people => [
      {
        name: 'Rick Wanner',
        title: 'Director of Information Technologies',
        phone: '+1 315.793.7775',
        email: 'rick@jetnet.com',
      },
    ]
  })%>

  <%= partial("partials/related_products", :locals => {
    :links => [
      {
        href: '/products/evolution-marketplace.html',
        text: 'Marketplace'
      },
      {
        href: '/products/jetnet-values.html',
        text: 'Values'
      },
    ]
  })%>
</main>
