---
title: "Among BRICS, Brazil is a Bright Spot for Business Aviation"
meta_description: ""
summary: 'For years, the BRICS (Brazil, Russia, India, China, and South Africa) have held the attention of economists, investors, entrepreneurs, politicians, and pundits. The BRICS were often portrayed as ascendant players in a quickly shifting and rapidly evolving global economy.'
image: /assets/uploads/blog/BRICS_MainImage.jpg
image_alt: ""
tags:
opengraph:
  title: "One Bright Spot Among BRICS"
  description: "Know More"
  image: /assets/opengraph/JN_Blog_BRICS_FB.jpg
twitter_card:
  title: "One Bright Spot Among BRICS"
  description: "Know More"
  image: /assets/opengraph/JN_Blog_BRICS_TW.jpg
author: Paul Cardarelli
---

For years, the BRICS (Brazil, Russia, India, China, and South Africa) have held the attention of economists, investors, entrepreneurs, politicians, and pundits. The BRICS were often portrayed as ascendant players in a quickly shifting and rapidly evolving global economy. But two decades after the term BRIC (South Africa was added in 2010) was coined by Jim O’Neill, a British economist working for Goldman Sachs, there are valid reasons to question if those early assumptions of steady economic ascent have stood the test of time.

We decided to take a look at the number of business aircraft (jets and turboprops) based in the BRICS. We discovered that between 2005 and 2015, the number of business aircraft in the BRICS generally rose and then began tapering off in 2020 before falling in 2022. Brazil was the exception to the recent decline. (See chart below)

<a data-gallery="blog" data-caption="" href="/assets/uploads/blog/BRICS_Chart_Crop.jpg">
  <img alt="Chart: BRICS (Brazil, Russia, India, China & South Africa) In-Operation Business Jets and Turboprops" class="img-fluid my-2 block blog-image-border" src="/assets/uploads/blog/BRICS_Chart_Crop.jpg">
</a>

It's not hard to see a pattern in the data. Each of the BRICS has endured an economic, political, or public health crisis since 2020. Some of the BRICS have confronted—or continue to confront—multiple disruptive crises. So, it’s not entirely surprising to see the impact of these crises on their business aviation numbers.

Do these numbers reflect the economic realities of the BRICS? Are they a reasonable proxy for economic strength? We’ll leave that to you to decide. From our perspective at JETNET, the data is compelling.

<%= partial 'partials/blog-signature-paul' %>

*JETNET maintains the world’s most comprehensive and granular database of actionable business aviation information. Our ability to collect, analyze and disseminate highly relevant business aviation data is unmatched. Visit us at [JETNET.com](/) to learn how we can help you make better business decisions by leveraging the power of world-class data and unbiased market intelligence.*
