---
title: "JETNET iQ Surveys Play Key Role in Providing Crucial Market Intelligence"
meta_description: ""
summary: "Business aviation thrives on historical data. When you’re acquiring, operating, or selling aircraft, you need hard facts to make the best possible decisions."
image: /assets/uploads/blog/iQSurvey_MainImage_HR.jpg
tags:
opengraph:
  title: "Surveys Play A Key Role In Our Industry"
  description: "Know More"
  image: /assets/opengraph/JN_GFell_Survey_FB.jpg
twitter_card:
  title: "Surveys Play A Key Role In Our Industry"
  description: "Know More"
  image: /assets/opengraph/JN_GFell_Survey_TW.jpg
author: Greg Fell
---

**Net takeaways:**

* JETNET iQ Surveys are a critical source of actionable business aviation data and fresh market intelligence.
* Business aviation data and market intelligence are essential for aircraft owners, brokers, sellers, operators and investors.
* Participating in surveys helps the global business aviation community.

Business aviation thrives on historical data. When you’re acquiring, operating, or selling aircraft, you need hard facts to make the best possible decisions.

Where does this data come from? The short answer is that it comes from you, the business aviation community. We conduct JETNET iQ surveys every 90 days. These surveys are essential to our mission of maintaining the world’s most comprehensive database of actionable business aviation information and market intelligence.

JETNET iQ Surveys include questions about business aviation forecasting, business aircraft activity, OEM backlogs, net promoter scores, aircraft demand, market conditions, and trending popularity of aircraft models. The survey data is aggregated, analyzed, and deployed to generate the high-value insight and market intelligence presented in our exclusive iQ reports.

We’ve been conducting invitation-only, password-protected surveys since 2010 and they’ve generated nearly 23,000 responses from business aviation professionals in 143 countries. The surveys play a central role in developing the critical insights and timely market intelligence that our community depends on.

If you receive an invitation to participate in one of our surveys, please take the time to respond. We offer incentives to encourage participation, such as “State of the Industry” electronic reports that summarize results from prior surveys and are instantly available at the conclusion of your survey session. We also offer respondents the opportunity to participate in a contest with a chance to win a valuable $U.S.-denominated gift card.

We honor and respect your privacy by carefully removing demographic information that would make it possible to identify survey respondents. With your participation, we have created the world’s finest and most comprehensive database of business aviation information and intelligence. Best of all, we put the data at your fingertips so you can use it at your convenience. Together, we are elevating and improving the realm of business aviation. We look forward to working with you in this exciting collaboration.

<div class="mb-4">
  <a href="/research/iq-survey/" class="btn btn-primary">
    <span class="icon icon--double-arrow"></span> Take Survey
  </a>
</div>

Greg Fell<br>
CEO, JETNET

<img alt="" class="img-fluid my-4 block" width="150" height="auto" src="/assets/uploads/blog/greg-fell-signature.png">

*JETNET maintains the world’s most comprehensive and granular database of actionable business aviation information. Our ability to collect, analyze and disseminate highly relevant business aviation data is unmatched. Visit us at JETNET.com to learn how we can help you make better business decisions by leveraging the power of world-class data and unbiased market intelligence.*
