---
title: A Message from Greg Fell, CEO of JETNET
meta_description: "Learjet has announced that they will conclude production. Here is a recap of Learjet’s history and how their brand has impacted the aviation industry."
summary: "Greetings to all. I’m Greg Fell, chief executive officer of JETNET. We are your trusted source of unbiased and continually updated information about business aviation. If you earn your living from business aviation, we provide the timely market intelligence you need to stay informed and make the smartest business decisions."
image: /assets/uploads/blog/greg-fell-main.jpg
tags:
opengraph:
  title: "Delivering Real Value To Our Customers"
  description: "With Immense Pride"
  image: /assets/opengraph/JN_GFell_FB.jpg
twitter_card:
  title: "Delivering Real Value To Our Customers"
  description: "With Immense Pride"
  image: /assets/opengraph/JN_GFell_TW.jpg
author: Greg Fell
---

**Net Takeaways:**

* JETNET is your trusted source of unbiased information about business aviation.
* We collect data directly from operators, owners, and manufacturers all over the world.
* Our market intelligence helps you make the smartest business decisions.

<img alt="Headshot of Greg Fell" class="float-right img-fluid block" width="250" style="margin: 0.25rem 0 1.5rem 2rem; max-width: 33.333%;" src="/assets/uploads/blog/greg-fell-headshot.jpg">

Greetings to all. I’m Greg Fell, chief executive officer of JETNET. We are your trusted source of unbiased and continually updated information about business aviation. If you earn your living from business aviation, we provide the timely market intelligence you need to stay informed and make the smartest business decisions.

At JETNET, we strive daily to provide our customers with a truly unique and useful perspective on the world of business aviation.  We collect data directly from operators, owners, and manufacturers all over the world&thinsp;—&thinsp;and we create genuinely valuable market intelligence for your exclusive use.

We take immense pride in how often customers utilize our database to find the most current information on pricing, availability, and location of crucial aviation resources. The constant demand for the specialized market intelligence JETNET provides is a sure sign that we are making a difference and delivering real value to our customers.

We will be reaching out to you regularly via this blog and other media channels. We look forward to continuing to produce content that elevates the exciting world of business aviation.

<hr style="border-color: rgba(0, 0, 0, 0.1)">

**Save the Date: JETNET iQ Summit, Sept. 15–16th in New York City**

<a href="/summit"><img alt="11th JETNET iQ Summit" class="img-fluid my-2 block" src="/assets/uploads/blog/greg-fell-summit.jpg"></a>

Please join us for our <a href="/summit"><b>11th JETNET iQ Summit</b></a>, September 15–16th, 2022, at the New York Marriott Marquis in Times Square to hear from the “Who’s Who” of business aviation. Obtain an exclusive inside look at the industry through the unique perspectives of top industry professionals including: analysts, bankers, brokers, wealth consultants, attorneys, sales and marketing leaders, and C-level executives. <a href="/summit"><b>Save $200 with our Early Bird Rate of $1,245.00 until May 16th, 2022 at 11:59 PM (EDT)</b></a>. A very limited number of seats are available, so <a href="/summit"><b>register today</b></a>. We look forward to seeing you at the summit!

Greg Fell

<img alt="" class="img-fluid my-4 block" width="150" height="auto" src="/assets/uploads/blog/greg-fell-signature.png">

*JETNET maintains the world’s most comprehensive and granular database of actionable business aviation information. Our ability to collect, analyze and disseminate highly relevant business aviation data is unmatched. Visit us at JETNET.com to learn how we can help you make better business decisions by leveraging the power of world-class data and unbiased market intelligence.*
