---
title: "Oshkosh Airshow: Aviation History and Inspiration"
meta_description: ""
summary: "Oshkosh, a city of about 66,820 residents, sits on the eastern shore of Lake Winnebago in Wisconsin. For aviation enthusiasts, Oshkosh is revered as the home of EAA AirVenture Oshkosh, the world’s largest airshow."
image: /assets/uploads/blog/Oshkosh_MainImage.jpg
image_alt: ""
tags:
opengraph:
  title: "Oshkosh Airshow: Aviation Inspiration"
  description: "Know More"
  image: /assets/opengraph/JN_GFell_OshkoshAirshow_FB.jpg
twitter_card:
  title: "Oshkosh Airshow: Aviation Inspiration"
  description: "Know More"
  image: /assets/opengraph/JN_GFell_OshkoshAirshow_TW.jpg
author: Greg Fell
---

Oshkosh, a city of about 66,820 residents, sits on the eastern shore of Lake Winnebago in Wisconsin. For aviation enthusiasts, Oshkosh is revered as the home of EAA AirVenture Oshkosh, the world’s largest airshow. The sheer variety of aircraft is astonishing and exhilarating. It feels as though every possible type of general aviation aircraft is represented on the field. The airshow is a vast outdoor exhibition of cool and unusual flying machines.

The Oshkosh airshow began in 1953, and has grown in scale and stature over the decades. Fewer than 200 people attended the first airshow. This year’s airshow drew more than 650,000 spectators, setting a new attendance record. During the weeklong airshow, more than 10,000 aircraft land at Wittman Regional Airport and other airports in the area. The arrival and departure of aircraft during the airshow briefly transforms Oshkosh into the world’s busiest aviation hub.

<img alt="Crowd of people at the Oshkosh airshow grounds" class="img-fluid my-2 block" src="/assets/uploads/blog/Grounds-Crowd.jpg">

Several members of the JETNET management team made the trip to Oshkosh and experienced this year’s airshow first hand. Here’s a sample of their reflections on this “one of a kind” celebration of aircraft and aviation:

“Attending the Oshkosh airshow  is like stepping back in history,” said Jason Lorraine, Director of Strategic Solutions/Product Sales at JETNET. “Oshkosh takes you from the dawn of aviation to the latest and greatest aircraft and technologies of today, bringing together the most innovative thought leaders in General Aviation.”

“The Oshkosh airshow was simply amazing,” said Paul Cardarelli, JETNET’s Vice President of Sales. “It was my honor to attend this great event as a representative of JETNET. And we’re especially proud that JETNET was a co-sponsor of the NAFA (National Aircraft Finance Association) Networking Reception held at the GAMA (General Aviation Manufacturers Association) booth.”

<img alt="Fireworks above a jet" class="img-fluid my-2 block" src="/assets/uploads/blog/Boeing-Plaza.jpg">

“EAA AirVenture gathers the best our industry has to offer,” said David Labrecque, JETNET’s Director of Research and Inside Sales. “JETNET's attendance at the Oshkosh airshow demonstrates our deep commitment to furthering aviation globally.”

From my perspective, the Oshkosh airshow is a source of inspiration and wonderment. It truly captures the inventive genius and limitless energy of the aviation industry. We look forward to seeing you there next year!

<%= partial 'partials/blog-signature-greg' %>

*Airshow photos courtesy of EAA AirVenture*

*JETNET maintains the world’s most comprehensive and granular database of actionable business aviation information. Our ability to collect, analyze and disseminate highly relevant business aviation data is unmatched. Visit us at JETNET.com to learn how we can help you make better business decisions by leveraging the power of world-class data and unbiased market intelligence.*
