---
title: Rites of Summer Include More Business Jet Flights&#8202;—&#8202;Or Do They?
meta_description: ""
summary: "Summer is typically known as the season for taking time to relax and letting your troubles fly away, but it’s also commonly known as the season for increasing business air travel."
image: /assets/uploads/blog/RitesSummerBlog_MainImage_HR.jpg
tags:
opengraph:
  title: "Summer Sees More Business Jet Flights"
  description: "Know What This Means"
  image: /assets/opengraph/JN_RitesSummerBlog_FB.jpg
twitter_card:
  title: "Summer Sees More Business Jet Flights"
  description: "Know What This Means"
  image: /assets/opengraph/JN_RitesSummerBlog_TW.jpg
author: Greg Fell
---

**Net takeaways:**

* Historical flight data show that business jet activity usually increases in the summer months
* Charter and fractional operations have rebounded stronger than Part 91 operations
* A strong rebound in Part 91 operations would likely spur more aircraft sales

Summer is typically known as the season for taking time to relax and letting your troubles fly away, but it’s also commonly known as the season for increasing business air travel.

Historical flight data reveals that flight activity in the Northern Hemisphere tends to ramp up at the start of the summer season, from June through September. Meanwhile, in the Southern Hemisphere, it surges at the end of the season, holding steady from September through February.

Regardless of which side of the equator you’re on, this summer’s flight activity data is going to be particularly crucial as we look to identify signs of a sustained recovery in business air travel following the pandemic and global economic slowdown.

A deep dive into JETNET’s data trends reveals that while charter and fractional operations are slowly rebounding, Part 91 operations are not fully recovering. This is intriguing since most corporate flight departments operate under Part 91 rules.

Perhaps this summer will provide the spark needed to reenergize the Part 91 segment. After all, an increase in Part 91 operations also would be good for business jet OEMs since it would likely spur the purchase of new aircraft by corporate flight departments. These same corporate flight departments would then be more likely to sell some of their existing aircraft, creating opportunities for smaller operators to purchase them. In return, we would have a virtuous circle spreading benefits across the business aviation industry.

Here at JETNET, we’ll be keeping a sharp eye on the data and watching closely for signals that will help you make the best possible business decisions. That’s our job and we take it seriously. Just as seriously as we take our responsibilities to the environment.

As you are probably well aware, the business aviation community has pledged to achieve net-zero CO2 emissions by 2050, expanding on a series of climate commitments made a decade ago. At JETNET, we wholeheartedly endorse and support the aviation industry’s efforts to reduce carbon emissions and increase fuel efficiency, and are showcasing that commitment with the overarching theme of our <b><a href="/summit">11th JETNET iQ Summit</a>, Sept. 15–16th, 2022 in New York City, “<i>Bluer Skies. Greener Future.</i>”</b>

<a href="/summit"><img alt="11th JETNET iQ Summit" class="img-fluid my-2 block" src="/assets/uploads/blog/SummitPromo.jpg"></a>

Please save the date and join us for this valuable conference at the New York Marriott Marquis in Times Square featuring the “Who’s Who” of business aviation. Obtain an exclusive inside look at the industry through the unique perspectives of top industry professionals including analysts, bankers, brokers, wealth consultants, attorneys, sales and marketing leaders, and C-level executives.

A very limited number of seats are available, so <b><a href="/summit">register today</a></b>. We look forward to seeing you at the summit!

Greg Fell<br>
CEO, JETNET

<img alt="" class="img-fluid my-4 block" width="150" height="auto" src="/assets/uploads/blog/greg-fell-signature.png">

*JETNET maintains the world’s most comprehensive and granular database of actionable business aviation information. Our ability to collect, analyze and disseminate highly relevant business aviation data is unmatched. Visit us at JETNET.com to learn how we can help you make better business decisions by leveraging the power of world-class data and unbiased market intelligence.*
