---
title: "We Look Forward to Seeing You at NBAA&#8288;-&#8288;BACE Next Week"
meta_description: ""
summary: 'The NBAA Business Aviation Convention & Exhibition (NBAA-BACE), the world’s largest civil aviation trade show, takes place October 18–20 in Orlando and JETNET will be there.'
image: /assets/uploads/blog/EBACENextWeek_MainImage.jpg
image_alt: ""
tags:
opengraph:
  title: "JETNET at NBAA-BACE October 18–20"
  description: "Know More"
  image: /assets/opengraph/JN_GFell_NBAA_FB.jpg
twitter_card:
  title: "JETNET at NBAA-BACE October 18–20"
  description: "Know More"
  image: /assets/opengraph/JN_GFell_NBAA_TW.jpg
author: Greg Fell
---

The [NBAA Business Aviation Convention & Exhibition (NBAA-BACE)](https://nbaa.org/events/2022-nbaa-business-aviation-convention-exhibition-nbaa-bace/), the world’s largest civil aviation trade show, takes place October 18-20 in Orlando and JETNET will be there. JETNET has been a 30+ year member of NBAA and a long-standing member of the NBAA Leadership Council. We are steadfast supporters of the NBAA’s mission to promote and encourage the growth of business aviation.

When you’re at the show, please visit us at Booth #1246. Joining me at the show will be JETNET colleagues Derek Swaim, David Labrecque, Jason Lorraine, Paul Cardarelli, Derek Jones, Justine Strzepek, Karim Derbala, Rollie Vincent, Tanya Elthorp, Johanna Pion and Erin Burke. Stop by the booth and say hello!

Rollie and Paul will present their JETNET iQ State of the Market Briefing at 12 p.m. Tuesday, October 18th in room N210-D of the Orange County Convention Center. This will be a fascinating presentation with extraordinary content that I know you will find valuable and useful. I urge you to attend their presentation and to interact with our team of aviation market intelligence experts. NBAA-BACE will be our second major industry event since announcing our partnership with Silversmith Capital Partners, a Boston-based growth equity firm.

We’re genuinely honored to help the NBAA celebrate 75 years of serving the business aviation community, and we’re thrilled to be back again at this year’s show. NBAA-BACE shines a spotlight on future-forward, innovative perspectives on our dynamic industry. It’s a great place for exploring modern high-tech aircraft, as well as business aviation’s best products and services.

[NBAA-BACE](https://nbaa.org/events/2022-nbaa-business-aviation-convention-exhibition-nbaa-bace/) provides unique opportunities for connecting in person with the people, products, and services that are building the brilliant future of business aviation. In addition to your professional peers and colleagues, there will be nearly 1,000 companies, including new and returning exhibitors, in a state-of-the-art exhibit hall at the Orange County Convention Center in Orlando.

We hope to see you there!

<%= partial 'partials/blog-signature-greg' %>

*JETNET maintains the world’s most comprehensive and granular database of actionable business aviation information. Our ability to collect, analyze and disseminate highly relevant business aviation data is unmatched. Visit us at JETNET.com to learn how we can help you make better business decisions by leveraging the power of world-class data and unbiased market intelligence.*
