---
title: "It’s Still a Seller’s Market for Business Aircraft, But JETNET Data Shows Inventory Gradually Rising"
meta_description: ""
summary: 'Jason Lorraine, JETNET’s Director of Strategic Solutions, shared some fascinating stats with me this week. Jason’s research shows that even though we’re still in a seller’s market, the number of business aircraft for sale is slowly increasing.'
image: /assets/uploads/blog/SellersMarket_MainImage_HR.jpg
image_alt: ""
tags:
opengraph:
  title: "Aircraft Inventory Gradually Rising"
  description: "Know More"
  image: /assets/opengraph/SellersMarket_Blog_FB.jpg
twitter_card:
  title: "Aircraft Inventory Gradually Rising"
  description: "Know More"
  image: /assets/opengraph/SellersMarket_Blog_TW.jpg
author: Paul Cardarelli
---

Jason Lorraine, JETNET’s Director of Strategic Solutions, shared some fascinating stats with me this week. Jason’s research shows that even though we’re still in a seller’s market, the number of business aircraft for sale is slowly increasing. The data suggests that the business aircraft market is gradually recovering and heading back to pre-Covid norms.

“We typically call it a seller’s market when less than 10 percent of the business aircraft currently operating are for sale,” Jason explains. “We hit the low in February 2022, and now we’re beginning to see aircraft inventory slowly returning to normal levels.”

As the charts below indicate, we’re still well below the level of a buyer’s market. But the upward trend in aircraft inventory for sale suggests that a return to normal market conditions with a stabilization in aircraft values is beginning to appear on the horizon.

<div class="row my-4">
  <div class="col-sm-6 col-md-3">
    <a data-gallery="blog" data-caption="" href="/assets/uploads/blog/Still-a-Sellers-Market-Business-Jets-and-Business-Average-Age-of-Aircraft-for-Sale-60c6e80b.jpg">
      <img class="w-100 img-fluid blog-image-border" src="/assets/uploads/blog/Still-a-Sellers-Market-Business-Jets-and-Business-Average-Age-of-Aircraft-for-Sale-60c6e80b.jpg">
    </a>
  </div>

  <div class="col-sm-6 col-md-3">
    <a data-gallery="blog" data-caption="" href="/assets/uploads/blog/Still-a-Sellers-Market-Business-Jets-and-Business-Turboprops-Day-on-Market-a8ff07f2.jpg">
      <img class="w-100 img-fluid blog-image-border" src="/assets/uploads/blog/Still-a-Sellers-Market-Business-Jets-and-Business-Turboprops-Day-on-Market-a8ff07f2.jpg">
    </a>
  </div>

  <div class="col-sm-6 col-md-3">
    <a data-gallery="blog" data-caption="" href="/assets/uploads/blog/Still-a-Sellers-Market-Business-Jets-and-Business-Turboprops-Number-for-Sale-dac096d6.jpg">
      <img class="w-100 img-fluid blog-image-border" src="/assets/uploads/blog/Still-a-Sellers-Market-Business-Jets-and-Business-Turboprops-Number-for-Sale-dac096d6.jpg">
    </a>
  </div>

  <div class="col-sm-6 col-md-3">
    <a data-gallery="blog" data-caption="" href="/assets/uploads/blog/Still-a-Sellers-Market-Business-Jets-and-Business-Turboprops-Percent-for-Sale-59b9bfad.jpg">
      <img class="w-100 img-fluid blog-image-border" src="/assets/uploads/blog/Still-a-Sellers-Market-Business-Jets-and-Business-Turboprops-Percent-for-Sale-59b9bfad.jpg">
    </a>
  </div>
</div>

“Back in February 2020, before the pandemic hit, there were 4,000 business aircraft for sale. Today, there are about 1,300 for sale. But that’s more aircraft for sale than earlier this year,” Jason says.

The pandemic also greatly reduced the number of days that aircraft for sale remained on the market. My hunch is that those numbers will normalize at some point in the future. But they seem to be holding steady for now. “Since the start of the year, roughly 220 days have been eliminated from the sales cycle for business jets and turboprops,” Jason notes. “If you’re selling an aircraft, that’s great news.”

I interpret the current data as a sign of strength and resiliency. From my perspective, that’s two thumbs up.

<%= partial 'partials/blog-signature-paul' %>

*JETNET maintains the world’s most comprehensive and granular database of actionable business aviation information. Our ability to collect, analyze and disseminate highly relevant business aviation data is unmatched. Visit us at [JETNET.com](/) to learn how we can help you make better business decisions by leveraging the power of world-class data and unbiased market intelligence.*
