---
title: "Flying High at NBAA-BACE: Proud Achievements and a Brilliant Future Ahead"
meta_description: ""
summary: 'NBAA-BACE at Florida’s Orange County Convention Center and Orlando Executive Airport was a truly impressive event highlighting the past achievements and bright future of the global business aviation community. '
image: /assets/uploads/blog/NBAA_2022_MainImage.jpg
image_alt: ""
tags:
opengraph:
  title: "NBAA-BACE Was An Inspiring Celebration"
  description: "Know More"
  image: /assets/opengraph/Blog_FlyingHighNBAA_FB.jpg
twitter_card:
  title: "NBAA-BACE Was An Inspiring Celebration"
  description: "Know More"
  image: /assets/opengraph/Blog_FlyingHighNBAA_TW.jpg
author: Greg Fell
---

[NBAA-BACE](https://nbaa.org/events/2022-nbaa-business-aviation-convention-exhibition-nbaa-bace/) at Florida’s Orange County Convention Center and Orlando Executive Airport was a truly impressive event highlighting the past achievements and bright future of the global business aviation community.

From our perspective at JETNET, the show clearly demonstrated our company’s critical role in providing the most up-to-date and comprehensive market intelligence for a strong and growing industry. The JETNET iQ press briefing was well-attended, and we received many requests (that we fulfilled) for the materials we presented. Our booth was busy, our team was tireless, and we generated numerous leads. I’m very proud to report that we signed seven new customers just on the show floor itself.

<img alt="Greg Fell speaks at the 2022 JETNET iQ Summit" class="img-fluid my-2 block" src="/assets/uploads/blog/NBAA_2022_Inset.jpg">

This year’s [NBAA-BACE](https://nbaa.org/events/2022-nbaa-business-aviation-convention-exhibition-nbaa-bace/) was a spectacular show. In addition to the sold-out aircraft display, there were nearly 1,000 companies representing every facet of the business aviation industry, along with thousands of attendees.

“NBAA-BACE was a stirring celebration of business aviation’s proud history, but even more thrilling, it was a look into our promising future,” said NBAA President and CEO Ed Bolen – and I totally agree!

I was especially pleased by the show’s focus on sustainability and environmental responsibility, both of which are essential to the continuing economic resiliency of our industry and to the long-term health of our planet. By working together, the business aviation community can achieve our goal of net-zero carbon emissions before 2050.

The JETNET team and I are very much looking forward to next year’s show, and to a brilliant future for the global business aviation industry!

We’re moving forward!

<%= partial 'partials/blog-signature-greg' %>

*JETNET maintains the world’s most comprehensive and granular database of actionable business aviation information. Our ability to collect, analyze and disseminate highly relevant business aviation data is unmatched. Visit us at JETNET.com to learn how we can help you make better business decisions by leveraging the power of world-class data and unbiased market intelligence.*
