---
title: "For Business Aircraft, It’s a Seller’s Market&thinsp;—&thinsp;But How Long Will It Last?"
meta_description: ""
summary: "The current market for business aircraft is remarkably healthy. In fact, it would be fair to characterize the current environment as a “seller’s market.” Demand is high and aircraft supply is limited. In circumstances such as these, prices naturally rise. It’s a textbook example of the basic laws of economics at work in the real world."
image: /assets/uploads/blog/Business-Aircraft-Sellers-Market_HR.jpg
tags:
opengraph:
  title: "How Long Will The Seller’s Market Last?"
  description: "Know More"
  image: /assets/opengraph/SellersMarket_FB.jpg
twitter_card:
  title: "How Long Will The Seller’s Market Last?"
  description: "Know More"
  image: /assets/opengraph/SellersMarket_TW.jpg
author: Greg Fell
---

The current market for business aircraft is remarkably healthy. In fact, it would be fair to characterize the current environment as a “seller’s market.” Demand is high and aircraft supply is limited. In circumstances such as these, prices naturally rise. It’s a textbook example of the basic laws of economics at work in the real world.

But how high will prices rise and how long will they remain elevated? Are we experiencing an inflationary bubble or is this the new normal?

Inflationary bubbles are not unusual. Just look at the real estate market. It’s fair to ask ourselves if the pace of today’s business aircraft market is sustainable. Flying habits have shifted dramatically over the past two years and I don’t foresee a return to the old days. I believe we’re heading for a new normal and that prices will eventually reach a plateau before stabilizing at a higher level.

I was recently chatting about this phenomenon with my friend and colleague, Rolland Vincent. Rollie, as most of you know, is the head of JETNET iQ, the trusted global advisory and forecasting service for the business aviation industry.

“We’re seeing unprecedented pricing power across all sectors of the business aviation market,” says Rollie. “It’s very unusual.”

Rollie has assembled two all-star panels for the upcoming <a href="/summit">11th JETNET iQ Summit</a>, Sept. 15–16th at the New York Marriott Marquis in Times Square in New York City. One panel focuses on the transaction side of the aircraft business, while the other focuses on aircraft pricing and valuation. Both panels include world-class business aviation experts with vast experience and valuable knowledge.

<a href="/summit"><img alt="11th JETNET iQ Summit" class="img-fluid my-2 block" src="/assets/uploads/blog/SummitPromo.jpg"></a>

In addition to Rollie’s panels, the summit features two days of highly useful and engaging conversations and discussions with top industry analysts, bankers, brokers, wealth consultants, attorneys, sales and marketing leaders, and C-level executives&thinsp;—&thinsp;all contributing insight and understanding that will sharpen your ability to make the best possible business decisions.

This year’s <a href="/summit">JETNET iQ Summit</a> truly showcases the exceptional thought leadership, deep analysis, and comprehensive data that JETNET provides to its customers. A very limited number of seats are available, so <a href="/summit">register today</a>. I’m looking forward to the summit and I hope to see you there!

Greg Fell<br>
CEO, JETNET

<img alt="" class="img-fluid my-4 block" width="150" height="auto" src="/assets/uploads/blog/greg-fell-signature.png">

*JETNET maintains the world’s most comprehensive and granular database of actionable business aviation information. Our ability to collect, analyze and disseminate highly relevant business aviation data is unmatched. Visit us at JETNET.com to learn how we can help you make better business decisions by leveraging the power of world-class data and unbiased market intelligence.*
