---
title: "Business Aviation Data Analysis: Why Monitoring Market Sentiment Matters"
meta_description: ""
summary: "Gauging market sentiment isn’t easy. But market sentiment analysis can provide valuable glimpses of emerging market trends and more. At JETNET, we follow business aviation sentiment carefully."
image: /assets/uploads/blog/MarketSentiment_MainImage_HR.jpg
image_alt: ""
tags:
opengraph:
  title: "Why Monitoring Market Sentiment Matters"
  description: "Know More"
  image: /assets/opengraph/Blog_MarketSentiment_FB.jpg
twitter_card:
  title: "Why Monitoring Market Sentiment Matters"
  description: "Know More"
  image: /assets/opengraph/Blog_MarketSentiment_TW.jpg
author: Greg Fell
---

Gauging market sentiment isn’t easy. But market sentiment analysis can provide valuable glimpses of emerging market trends and more. At JETNET, we follow business aviation sentiment carefully.

Data gathered from our unique JETNET iQ surveys of owners and operators suggest that overall market sentiment peaked in Q3 of 2021 and has been gradually trending lower since then. Precisely what that means for the industry is unclear, but it’s important to note that prior to that, market sentiment had been unusually high. Therefore, it would be unwise to read too much into a modest dip that coincides with a series of overlapping macroeconomic issues, geopolitical shocks, and global supply chain challenges.

All that said, sentiment is an indicator of potential shifts in the market going forward. From my perspective, aircraft inventory levels are also worth keeping an eye on. Based on what we’re seeing informally, inventories — which had been at historically low levels — are rising, which may mean that sales are slowing. We will be paying close attention to transaction activity numbers, such as the book-to-bill ratio, which is the ratio of orders placed to aircraft delivered. In a strong market, for example, there may be two orders for every delivery. When the ratio tightens, it may be a sign of slackening demand.

In any event, you can count on JETNET to provide a comprehensive and granular analysis of the critical trends that impact your business. Forecasting industry trends and predicting the direction of global markets aren’t easy tasks — we’re here to help you navigate through the data and make the best business decisions with JETNET iQ Surveys and more. We encourage you to check out all of our [JETNET iQ products](/products/jetnet-iq/), so you always “Know More.”

[<img alt="11th JETNET iQ Summit" class="img-fluid my-2 block" src="/assets/uploads/blog/SummitPromo.jpg">](/summit)

And if you’re seeking opportunities to learn more about the latest trends in business aviation, please join us for our [11th JETNET iQ Summit](/summit), Sept. 15–16th in New York City, “Bluer Skies. Greener Future.” The summit offers an inside look at the industry through the unique perspectives of top industry professionals including analysts, bankers, brokers, wealth consultants, attorneys, sales and marketing leaders, and C-level executives — a veritable “Who’s Who” of business aviation leaders and influencers.

A very limited number of seats are available, so [register today](/summit). We look forward to seeing you at the summit!

<%= partial 'partials/blog-signature-greg' %>

*JETNET maintains the world’s most comprehensive and granular database of actionable business aviation information. Our ability to collect, analyze and disseminate highly relevant business aviation data is unmatched. Visit us at JETNET.com to learn how we can help you make better business decisions by leveraging the power of world-class data and unbiased market intelligence.*
