---
title: "Looking Forward to a Record-Breaking JETNET iQ Summit in NYC Next Week"
meta_description: ""
_summary: 'Our <a href="/summit/">11th JETNET iQ Summit</a>, <b>“Bluer Skies. Greener Future.”</b>, begins next week in New York City and it looks like we’re already breaking records.'
summary: 'Our 11th JETNET iQ Summit, “Bluer Skies. Greener Future.”, begins next week in New York City and it looks like we’re already breaking records.'
image: /assets/uploads/blog/ManhattanFlag_MainImageHR.jpg
image_alt: ""
tags:
opengraph:
  title: "Record Excitement Building For Next Week"
  description: "Know More"
  image: /assets/opengraph/JN_GFell_LookingForwardSummit_FB.jpg
twitter_card:
  title: "Record Excitement Building For Next Week"
  description: "Know More"
  image: /assets/opengraph/JN_GFell_LookingForwardSummit_TW.jpg
author: Greg Fell
---

Our [11th JETNET iQ Summit](/summit), **“Bluer Skies. Greener Future.”**, begins next week in New York City and it looks like we’re already breaking records. Registrations and sponsorships have reached all-time highs&thinsp;—&thinsp;a clear signal of strong support from our industry and its key leaders in manufacturing, operations, sales, strategy, and finance.

We’re thrilled and excited by the positive response to the [summit agenda](/summit/agenda/), which includes expert panel discussions on critical topics such as **Aircraft Prices and Valuations, Climbing Out of COVID, Technology and Strategy, Wall Street Perspectives, Getting Transactions Done, Expanding the Talent Pool, Tomorrow’s Customers and Getting to Our Bluer Skies. Greener Future.**

The summit’s impressive roster of globally respected speakers, presenters, and panelists includes Thierry Betbeze, Dassault Falcon Jet; Michael Amalfitano, Embraer Executive Jets; Ron Draper, Textron Aviation; Dean Roberts, Rolls-Royce; Ron Epstein, Bank of America Merrill Lynch Global Research; Laurence Vigeant-Langlois, AE Industrial Partners; Dave Rosenberg, Textron Aviation; Pete Bunce, General Aviation Manufacturers Association (GAMA); Frank Moesta, Rolls-Royce Deutschland; Rob Scholl, Textron eAviation; Ruth Devey, Gulfstream Aerospace; Nicole Kappos, Pratt & Whitney Canada; David Best, Jet Aviation; Eve Laurier, Bombardier; Ashley Bowen Cook, Greteman Group; Ford von Weise, Citi Private Bank; Seth Seifman, J.P. Morgan Securities, LLC; David Strauss, Barclays Capital Inc; Sheila Kahyaoglu, Jefferies LLC; Rolland Vincent, Creator and Director of JETNET iQ; and many more.

Our general session luncheon features a conversation with Anthony Tata, Brigadier General (Ret.) and a former top official at the U.S. Department of Defense.

[<img alt="11th JETNET iQ Summit" class="img-fluid my-2 block" src="/assets/uploads/blog/SummitPromo.jpg">](/summit)

If you are a decision maker in the business aviation industry, I urge you to join us at the summit on **Sept. 15–16th in New York City**. This exclusive gathering offers an inside look at the industry through the unique perspectives of top industry professionals including analysts, bankers, brokers, wealth consultants, attorneys, sales and marketing leaders, and C-level executives&thinsp;—&thinsp;a veritable “Who’s Who” of business aviation experts, leaders, market movers, and influencers.

A very limited number of seats are still available, so [register today](/summit/). I look forward to seeing you at the summit next week!

<%= partial 'partials/blog-signature-greg' %>

*JETNET maintains the world’s most comprehensive and granular database of actionable business aviation information. Our ability to collect, analyze and disseminate highly relevant business aviation data is unmatched. Visit us at JETNET.com to learn how we can help you make better business decisions by leveraging the power of world-class data and unbiased market intelligence.*
