---
title: "Momentum Building for Sustainable Aviation Fuel and a Greener Future"
meta_description: ""
summary: 'The response to our 11th annual JETNET iQ Summit was overwhelmingly positive. The summit’s theme this year was Bluer Skies, Greener Future, and we topped our previous records for attendance and sponsorships.'
image: /assets/uploads/blog/MomentumBuilding_MainImage.jpg
image_alt: ""
tags:
opengraph:
  title: "Drive To Sustainability Is Real"
  description: "Know More"
  image: /assets/opengraph/JN_GFell_Sustainability_FB.jpg
twitter_card:
  title: "Drive To Sustainability Is Real"
  description: "Know More"
  image: /assets/opengraph/JN_GFell_Sustainability_TW.jpg
author: Greg Fell
---

The response to our [11th JETNET iQ Summit](/summit/agenda/) was overwhelmingly positive. Along with a series of expert panels on aircraft financing, expanding the talent pool, emerging technologies, exemplary customer service, the impact of Covid-19 on flying habits, and Wall Street perspectives on the industry’s future, we engaged in high level discussions surrounding our industry’s sustainability responsibilities with our **_Bluer Skies, Greener Future_** theme. Oh, and we broke attendance and sponsorship records while doing so.

As I mentioned in my remarks at the summit, the drive to sustainability in our industry is real. We leave a smaller carbon footprint than that of the airline industry, putting us in a unique position to lead the path forward, not follow it.

Momentum for sustainable aviation fuel is building. The U.S. Department of Energy recently announced the [Sustainable Aviation Fuel (SAF) Grand Challenge](https://www.energy.gov/eere/bioenergy/sustainable-aviation-fuel-grand-challenge), a collaboration between the (DOE), the U.S. Department of Transportation (DOT), the U.S. Department of Agriculture (USDA), “and other federal government agencies working together to develop a comprehensive strategy for scaling up new technologies to produce SAF on a commercial scale.”

The DOE has also unveiled the [SAF Grand Challenge Roadmap: Flight Plan for Sustainable Aviation Fuel](https://www.energy.gov/eere/bioenergy/articles/sustainable-aviation-fuel-grand-challenge-roadmap-flight-plan-sustainable). According to the DOE, the [Challenge Roadmap](https://www.energy.gov/sites/default/files/2022-09/beto-saf-gc-roadmap-report-sept-2022.pdf) “lays out six action areas spanning all activities with the potential to impact the SAF Grand Challenge objectives of (1) expanding SAF supply and end use, (2) reducing the cost of SAF, and (3) enhancing the sustainability of SAF:

1. Feedstock Innovation
2. Conversion Technology Innovation
3. Building Supply Chains
4. Policy and Valuation Analysis
5. Enabling End Use
6. Communicating Progress and Building Support.”

I urge you to download a copy of the [Challenge Roadmap](https://www.energy.gov/sites/default/files/2022-09/beto-saf-gc-roadmap-report-sept-2022.pdf) and see if there’s an action area in which your efforts would be helpful. Achieving sustainability is not a fantasy—we have a real opportunity to move the needle. I’m confident that if we work together, we can make a major difference.

<%= partial 'partials/blog-signature-greg' %>

*JETNET maintains the world’s most comprehensive and granular database of actionable business aviation information. Our ability to collect, analyze and disseminate highly relevant business aviation data is unmatched. Visit us at JETNET.com to learn how we can help you make better business decisions by leveraging the power of world-class data and unbiased market intelligence.*
