---
title: Raising Awareness About the Benefits of SAF
meta_description: ""
summary: "You’re probably familiar with the benefits of sustainable aviation fuel (SAF), but if we genuinely want SAF to be more widely adopted, we’ll need to raise awareness and educate the market. We’ll need to talk about the benefits of using SAF in business jets and explain why it’s a good idea."
image: /assets/uploads/blog/FellBlog_SAF_HR.jpg
tags:
opengraph:
  title: "Benefits Of Sustainable Aviation Fuel"
  description: "Why It’s A Good Idea"
  image: /assets/opengraph/JN_SFA_FB.jpg
twitter_card:
  title: "Benefits Of Sustainable Aviation Fuel"
  description: "Why It’s A Good Idea"
  image: /assets/opengraph/JN_SFA_TW.jpg
author: Greg Fell
---

**Net takeaways:**

* SAF is still in the early stages of acceptance
* Most people are unfamiliar with the benefits of SAF
* The blender’s tax credit would make SAF more financially attractive

You’re probably familiar with the benefits of sustainable aviation fuel (SAF), but if we genuinely want SAF to be more widely adopted, we’ll need to raise awareness and educate the market. We’ll need to talk about the benefits of using SAF in business jets and explain why it’s a good idea.

Here’s a quick list of talking points:

* SAF is a drop-in fuel. It requires no engine modifications and does not affect aircraft performance.
* SAF can reduce carbon emissions by up to 80 percent over its full lifecycle.<sup>1</sup>
* SAF is proven technology and ready to use.

Even if your local FBO doesn’t provide SAF, you can still take advantage of its environmental benefits by using the “book and claim” system. It enables you to buy SAF at an airport where it’s not physically available and claim the carbon reduction credit without actually putting SAF in your aircraft. If your company has ESG (environmental, social and governance) policies in place, then “book and claim” is certainly worth looking into.

Another way for corporate leaders to promote SAF is through the SAF certificates framework developed by the Clean Skies for Tomorrow Coalition, an initiative led by the World Economic Forum in collaboration with the Rocky Mountain Institute and the Energy Transitions Commission.<sup>2</sup>

The blender’s tax credit included in the <i>Build Back Better Act</i> would make SAF more financially attractive to potential consumers. The credit is actively supported by the NBAA and other aviation industry groups.<sup>3</sup>

Willie Walsh, director general of the International Air Transport Association, recently told CNBC that total SAF production is expected to reach 7.9 billion liters (about 2.1 billion gallons) by 2025 and leap to 449 billion liters (119 billion gallons) by 2050&thinsp;—&thinsp;assuming that governments enact supportive policies.<sup>4</sup>

We’re in the initial phases of a long journey and I’m optimistic that by encouraging wider use of SAF we can achieve our goal of reducing net carbon emissions from business jets.

<a href="/summit"><img alt="11th JETNET iQ Summit" class="img-fluid my-2 block" src="/assets/uploads/blog/benefits-of-saf-summit.jpg"></a>

As you know, the business aviation community has pledged to achieve net-zero CO2 emissions by 2050, expanding on a series of climate commitments made a decade ago. At JETNET, we wholeheartedly endorse and support the aviation industry’s efforts to reduce carbon emissions and increase fuel efficiency. The overarching theme of our <b><a href="/summit">11th JETNET iQ Summit</a>, Sept. 15–16th, 2022 in New York City, is “Bluer Skies. Greener Future.”</b>

Please save the date and join us for this valuable conference at the New York Marriott Marquis in Times Square featuring the “Who’s Who” of business aviation. Obtain an exclusive inside look at the industry through the unique perspectives of top industry professionals including: analysts, bankers, brokers, wealth consultants, attorneys, sales and marketing leaders, and C-level executives.

A very limited number of seats are available, so <b><a href="/summit">register today</a></b>. We look forward to seeing you at the summit!

Greg Fell<br>
CEO, JETNET

<img alt="" class="img-fluid my-4 block" width="150" height="auto" src="/assets/uploads/blog/greg-fell-signature.png">

*JETNET maintains the world’s most comprehensive and granular database of actionable business aviation information. Our ability to collect, analyze and disseminate highly relevant business aviation data is unmatched. Visit us at JETNET.com to learn how we can help you make better business decisions by leveraging the power of world-class data and unbiased market intelligence.*

<hr style="border-color: rgba(0, 0, 0, 0.1)">

<small><sup>1</sup> [https://www.iata.org/en/programs/environment/sustainable-aviation-fuels/](https://www.iata.org/en/programs/environment/sustainable-aviation-fuels/)</small><br>
<small><sup>2</sup> [https://www.weforum.org/projects/clean-skies-for-tomorrow-coalition](https://www.weforum.org/projects/clean-skies-for-tomorrow-coalition)</small><br>
<small><sup>3</sup> [https://nbaa.org/aircraft-operations/environmental-sustainability/nbaa-backed-saf-blenders-tax-credit-advances-in-build-back-better-act/](https://nbaa.org/aircraft-operations/environmental-sustainability/nbaa-backed-saf-blenders-tax-credit-advances-in-build-back-better-act/)</small><br>
 <small><sup>4</sup> [https://www.cnbc.com/2022/02/11/sustainable-aviation-fuel-costs-more-but-consumers-willing-to-pay-iata.html](https://www.cnbc.com/2022/02/11/sustainable-aviation-fuel-costs-more-but-consumers-willing-to-pay-iata.html)</small>
