---
title: "Record-Breaking 11th Annual JETNET iQ Summit Highlights Strength and Positive Economic Impact of Business Aviation Industry Worldwide"
meta_description: ""
summary: 'We were truly honored to host numerous leaders and luminaries from across the world’s vast aviation ecosystem, including major manufacturers, operators, financial organizations, brokers, investors, sellers, marketers, recruiters, and educators.'
image: /assets/uploads/blog/MainImage_Summit2022.jpg
image_alt: ""
tags:
opengraph:
  title: "Key Takeaways From High Energy Summit"
  description: "Know More"
  image: /assets/opengraph/JN_GFell_SummitWrapUp_FB.jpg
twitter_card:
  title: "Key Takeaways From High Energy Summit"
  description: "Know More"
  image: /assets/opengraph/JN_GFell_SummitWrapUp_TW.jpg
author: Greg Fell
---

[Our 11th annual JETNET iQ Summit](/summit/agenda/) set new records for attendance and sponsorships. _**Bluer Skies, Greener Future**_ was the theme of this year’s summit. We were truly honored to host [numerous leaders and luminaries from across the world’s vast aviation ecosystem](/summit/speakers/), including major manufacturers, operators, financial organizations, brokers, investors, sellers, marketers,
recruiters, and educators.

A series of expert panels highlighted the fundamental trends impacting our industry today. These trends include:

* Dramatic shifts in flying habits
* Evolving supply chain risks and opportunities
* New and exciting technologies
* Ongoing digital transformation
* Intense focus on training, talent, diversity, and culture
* Sustainability and environmental responsibility

Our [agenda](/summit/agenda/) made certain that we covered significant and relevant topics such as leadership, advocacy, aircraft valuation, new technologies, expanding the talent pool, Wall Street perspectives, and achieving our goal of bluer skies and a greener future.

Our roster of globally respected speakers, presenters, and panelists included but
was not limited to:​

* Dean Roberts, Rolls-Royce
* Ruth Devey, Gulfstream Aerospace
* Eve Laurier, Bombardier
* Thierry Betbeze, Dassault Falcon Jet
* Michael Amalfitano, Embraer Executive Jets
* Ron Draper, Textron Aviation
* Dr. Sharon DeVivo, Vaughn College
* Ford von Weise, Citi Private Bank
* Seth Seifman, J.P. Morgan Securities, LLC
* David Strauss, Barclays Capital Inc
* Ed Bolen, National Business Aviation Association (NBAA)

For a complete list of speakers, please click [here](/summit/speakers/).

<img alt="Greg Fell speaks at the 2022 JETNET iQ Summit" class="img-fluid my-2 block" src="/assets/uploads/blog/GFell_Inset.jpg">

As a strong believer in the positive power of business aviation, I was gratified by the broad sense of genuine support for promoting and accelerating the adoption of sustainable aviation fuel and carbon offsets. Here’s a short sample of the message I relayed to the audience:

_We must be leaders in the adoption of sustainable aviation fuels and carbon offsets. If we wait, we will be disrupted by this issue. The 60-year-old executive flying in a business jet may not care. But the 40-year-old executive flying in a business jet does care. That difference is enough to disrupt our industry. Waiting is not a strategy._

_The drive to sustainability is real. This disruption is going to happen. If you are a student of disruptions, you know how these things work. We can be leaders, or we can wait to be disrupted. I believe we should be leaders. We should be leading the charge into sustainable aviation fuel and carbon offsets. If we don’t, someone or something else will disrupt our industry._

We look forward to seeing you at the next JETNET iQ Global Business Aviation Summit!

<%= partial 'partials/blog-signature-greg' %>

*JETNET maintains the world’s most comprehensive and granular database of actionable business aviation information. Our ability to collect, analyze and disseminate highly relevant business aviation data is unmatched. Visit us at JETNET.com to learn how we can help you make better business decisions by leveraging the power of world-class data and unbiased market intelligence.*
