---
title: "JETNET Expands Data Services with Acquisition of Asset Insight"
meta_description: ""
summary: 'JETNET’s latest acquisition of Asset Insight leverages a recent majority investment led by Silversmith Capital Partners to greatly enhance our data-driven product service offerings for the aviation industry.'
image: /assets/uploads/blog/AssetInsight_MainImage_HR.jpg
image_alt: ""
tags:
opengraph:
  title: "JETNET Expands Data Services"
  description: "Know More"
  image: /assets/opengraph/JN_GFell_AssetInsightsMerger_FB.jpg
twitter_card:
  title: "JETNET Expands Data Services"
  description: "Know More"
  image: /assets/opengraph/JN_GFell_AssetInsightsMerger_TW.png
author: Greg Fell
---

JETNET’s latest acquisition of Asset Insight leverages a recent majority investment led by Silversmith Capital Partners to greatly enhance our data-driven product service offerings for the aviation industry.

Asset Insight, home to business aviation’s most advanced real-time valuation tool, eValues™, provides a broad spectrum of aircraft valuation software and analytics tools to help inform purchasing decisions, financing costs, and total cost-of-ownership data.

Our strategic acquisition of Asset Insight allows us to expand on our long-standing partnership with the company to provide both our customer bases with the most up-to-date, easy-to-understand, actionable information they require for making business decisions in one platform.

**FAQs**

Q: How will this acquisition affect my JETNET service?<br>
A: JETNET's acquisition of Asset Insight will have no impact on JETNET’s customers’ service.

Q: Will my Asset Insight experience change?<br>
A: Asset Insight will continue to operate as normal under 'Asset Insight.' Any service changes will be promptly communicated.

Q: Will Asset Insight customers' billing be affected?<br>
A: Asset Insight customers should continue to pay Asset Insight invoices until further notice.

Q: Who do I contact for Asset Insight customer support?<br>
A: Please contact JETNET customer service.

Q: Will episodes of “The Asset Insight Podcast” still be produced? Where can they be accessed?<br>
A: Yes. They will remain accessible at [www.assetinsightpodcast.com](https://assetinsightpodcast.com/), Apple Podcasts, Spotify, Stitcher, and Google Podcasts.

Q: Will Asset Insight still produce quarterly reports?<br>
A: Yes. Asset Insight and JETNET iQ will continue to produce their respective quarterly reports.

Q: Will I still be able to access research articles authored by Asset Insight?<br>
A: Yes. They will remain accessible on Asset Insight's website until further notice.

<%= partial 'partials/blog-signature-greg' %>

*JETNET maintains the world’s most comprehensive and granular database of actionable business aviation information. Our ability to collect, analyze and disseminate highly relevant business aviation data is unmatched. Visit us at [JETNET.com](/) to learn how we can help you make better business decisions by leveraging the power of world-class data and unbiased market intelligence.*
