---
title: "A Decade Review of Aircraft Liens & Foreclosures (2013-2023)"
meta_description: Dive into aircraft liens and foreclosures from 2013–2023. Uncover the pandemic’s impact on aviation finance and the industry’s response."
summary: 'Eviction Notices in the Sky?<br>
Just as pilots navigate unexpected stormy skies, the aviation industry endures the tumultuous journey of mechanic and fuel liens, and yes, even the occasional aircraft foreclosures. Ever wondered if a plane could get an eviction notice? Stay with us.'
image: /assets/uploads/blog/LiensForeclosures_HR.jpg
image_alt: ""
tags:
opengraph:
  title: "Reviewing Aircraft Liens & Foreclosures"
  description: "Know More"
  image: /assets/opengraph/JN_LienBlog_FB.jpg
twitter_card:
  title: "Reviewing Aircraft Liens & Foreclosures"
  description: "Know More"
  image: /assets/opengraph/JN_LienBlog_TW.jpg
author: Jason Lorraine
---

**Eviction Notices in the Sky?**
 
Just as pilots navigate unexpected stormy skies, the aviation industry endures the tumultuous journey of mechanic and fuel liens, and yes, even the occasional aircraft foreclosures. Ever wondered if a plane could get an eviction notice? Stay with us.
 
**Decoding Data from 2013-Present**

JETNET’s comprehensive database shines a light on intriguing data points about aircraft liens and foreclosures. This treasure trove captures details on mechanic liens, fuel liens, storage liens, and even navigation and communication liens. At their core, these liens and foreclosures highlight one prevalent issue: aircraft owners defaulting on payments.
  
<div class="row my-4">
  <div class="col-sm-6 col-md-6">
    <a data-gallery="blog" data-caption="" href="/assets/uploads/blog/LiensForeclosures_01_Liens.jpg">
      <img class="w-100 img-fluid blog-image-border" src="/assets/uploads/blog/LiensForeclosures_01_Liens.jpg">
    </a>
  </div>
  
  <div class="col-sm-6 col-md-6">
    <a data-gallery="blog" data-caption="" href="/assets/uploads/blog/LiensForeclosures_02_Repos.jpg">
      <img class="w-100 img-fluid blog-image-border" src="/assets/uploads/blog/LiensForeclosures_02_Repos.jpg">
    </a>
  </div>
</div>
 
A deep dive into JETNET’s data from 2013 onwards reveals patterns in repossessions tied predominantly to economic trends. Although lien filings remained consistent from 2013-2019, discernible peaks and troughs emerged. The reasons? Potentially a myriad of global economic events, aviation industry shifts, and regulatory changes.
 
**Turbulence in 2019**

2019 was a rollercoaster for the aviation sector, marking a high with 608 liens. This surge signaled a mounting financial strain, insinuating a widespread struggle among industry players. But as the saying goes, what goes up must come down. And the subsequent years bore testament to that.

**Pandemic Woes**

The global onslaught of the COVID-19 pandemic in 2020 sent shockwaves through economies. For aviation, lien numbers nosedived, plummeting to a mere 389 by 2021. Was this a sign of industry revival or merely the repercussions of pandemic-induced travel restrictions? Meanwhile, the foreclosure spectrum wasn’t without its dramas, with Citation and Hawk models facing particular challenges.
 
**A Glimmer of Hope?**

A modest resurgence in 2023 saw liens ascend to 544. Although not the meteoric rise anticipated, it wasn’t all doom and gloom. Could this uptick be linked to novel entrants in aircraft ownership post-pandemic? And with this resurgence, notable names like Gulfstream, Falcon, and Learjets found themselves under the foreclosure spotlight more than they’d have liked.
 
**Final Landing Thoughts**

Now, hold on, that’s not the entire story. With the recent uptick, I also wanted to investigate whether these ups and downs were cyclical or systematic fluctuations.
 
To quote Michael Burry from Michael Lewis’s book, ‘The Big Short,’ “Did you check the tape?” What he meant by that was, did you look at the underlying data? Fortunately, I can access the JETNET Evolution database on both Marketplace and Aerodex. That affords me access to any documentation filed with the FAA from the Public Documents room, curated by two JETNET full-time employees gathering publicly available documentation on business jets, turboprops, helicopters, and commercial airliners.
 
Taking some of the primary industry benchmarks such as Corporate Profits, GDP, housing starts, brent crude, and unemployment as well as the DOW, I found no correlations between them. While there may have been times when one of the benchmarks either foreshadowed or trailed, they would eventually diverge and not show any further correlations.
 
That got me to dig deeper with the kind of documents filed with the FAA, Liens & foreclosures, as the topic suggests. We also digest lien releases, security agreements, bills of sale, mortgages, amendments, and foreclosures to name a few. JETNET has been scanning and retaining these documents since the 90s. Think of it as a mini title search.
 
Taking a sound sample from each year, studying them and then taking notes through the process, my findings are that no two liens are similar. One may be for $750k for an engine overhaul, the next may be for a $2k AOG situation. One interesting trend I noticed was the actual nature of the liens. Not even five years ago, a vast majority of the liens appeared to be one-off and often handwritten on a standardized form, with the spaces filled in by hand. Today, I see, especially from the larger, more well-known companies, that they almost appear to be automated and standardized. Could this new approach and automation be catching some off guard?
 
This has me pondering if the uptick can be attributed to companies getting smarter with their internal financial controls. Has the rise of ERP, CRM, and other financial safeguards made filing liens simpler, more straightforward, and dare I say automated? Fun times we are living in (sic).
 
One thing that I didn’t look at was how quickly these liens are being satisfied over time, which ought to make for some engaging narrative as well… Until our next analytical adventure, this is your captain signing off and wishing you clear financial skies ahead!

<% if current_page.data.pdf %>
<div class="my-4">
  <a class="btn btn-primary" href="<%= current_page.data.pdf %>">
    <span class="icon icon--double-arrow"></span>
    Free Download
  </a>
</div>
<% end %>

<%= partial 'partials/blog-signature-jason' %>

*JETNET maintains the world’s most comprehensive and granular database of actionable business aviation information. Our ability to collect, analyze and disseminate highly relevant business aviation data is unmatched. Visit us at [JETNET.com](/) to learn how we can help you make better business decisions by leveraging the power of world-class data and unbiased market intelligence.*
