---
layout: blog_pulse_layout
title: "Top 5 Business Aircraft Manufacturers Through Q3 2023"
meta_description: ""
summary: "Business aircraft original equipment manufacturers (OEMs) have benefitted from strong demand for their products and services after a brief, painful shock to the system in the immediate aftermath of COVID-19."
image: /assets/uploads/blog/Top5BAM_Chart_MainImage_HR.jpg
image_alt: ""
image_show_in_post: false
tags:
opengraph:
  title: ""
  description: "Know More"
  image: /assets/opengraph/
twitter_card:
  title: ""
  description: "Know More"
  image: /assets/opengraph/
author: Rollie Vincent
---
  
<figure class="my-4">
  <a data-gallery="blog" data-caption="" href="/assets/uploads/blog/Top5BAM_Chart_MainImage_HR.jpg">
    <img class="w-100 img-fluid blog-image-border" src="/assets/uploads/blog/Top5BAM_Chart_MainImage_HR.jpg">
  </a>
  <figcaption class="my-2"><i>Source: Regulatory filings, company reports, JETNET iQ analyses and estimates; note that Gulfstream results reflect the performance of General Dynamics’ Aerospace division, which includes both Gulfstream and Jet Aviation</i></figcaption>
</figure>
 
Business aircraft original equipment manufacturers (OEMs) have benefitted from strong demand for their products and services after a brief, painful shock to the system in the immediate aftermath of COVID-19. Since mid-2020, demand has far outstripped supply as customers caught on quickly to the fact that access and ownership of business and general aviation aircraft provide unmatched value in a world that has changed. More than 3.5 years after the WHO pronouncement of the global pandemic, bulging OEM orderbooks and tight inventory of young pre-flown business aircraft across the market indicate that customers remain eager to be served. Book-to-bill performance through Q3 2023—including our estimates where enough information is available—are presented below. While performance for the 4th quarter remains to be seen, we expect that year-end deliveries will exceed orders on both a dollar / Euro value and unit basis, pulling book-to-bill performance down closer to the 1-to-1 ratio that reflects a balanced demand / supply market situation. As the shape of the graph’s curves suggest, the business aircraft market rarely if ever strikes a demand / supply balance for long, a dynamic that highlights why we publish JETNET iQ reports on a quarterly basis. 

The hard work of turning factory orders and pre-owned aircraft acquisition engagements into crewed, fueled-and ready aircraft is a complex and daily challenge. While we like to think of this as a classic 1st World problem, it is nothing but hard work to choreograph all elements of our product and service supply chains to delight our discerning customers. Thought leadership, innovation, and action in all that we do will lead us to better places and better results, which were amongst the key themes and takeaways from this year’s JETNET iQ Summit held last month in New York City.

Dig into this topic more and read the full [JETNET iQ Pulse Issue #44: The Way It Is](/iq-pulse/issue-44.html).

Or reach out to us to learn more about our unparalleled portfolio of services fueled by the industry’s leading customer survey database, and see for yourself why industry leaders rely upon JETNET iQ to interpret the directions, patterns, and pulse of business aviation markets.

<div class="cta-buttons">
  <a href="#demo-request" class="btn btn-primary">
    <span class="icon icon--double-arrow"></span> Request More Information
  </a>
</div>

<%= partial 'partials/blog-signature-rollie' %>

*JETNET maintains the world’s most comprehensive and granular database of actionable business aviation information. Our ability to collect, analyze and disseminate highly relevant business aviation data is unmatched. Visit us at JETNET.com to learn how we can help you make better business decisions by leveraging the power of world-class data and unbiased market intelligence.*