---
title: "Fractional Activity Tops Pre-Pandemic Highs"
meta_description: "Summer 2023 saw new highs in some business jet niches, notably in fractional operations and long-range large-cabin traffic."
summary: "Over the summer months, global business jet activity narrowed in on 4% of its all-time high in 2022, which was already a 20% increase from pre-pandemic 2019 numbers."
image: /assets/uploads/blog/SummerTrends_MainImage_HR.jpg
image_alt: ""
tags:
opengraph:
  title: "Fractional Activity Tops Pre-Pandemic Highs"
  description: "Know More"
  image: /assets/opengraph/JN_SummerTrends_FB.jpg
twitter_card:
  title: "Fractional Activity Tops Pre-Pandemic Highs"
  description: "Know More"
  image: /assets/opengraph/JN_SummerTrends_TW.jpg
author: Richard Koe
---
 
Over the summer months, global business jet activity narrowed in on 4% of its all-time high in 2022, which was already a 20% increase from pre-pandemic 2019 numbers. More than 70% of this activity stemmed from North America, trending upward at 18%. Ultra-long range jets specifically, such as the Global 7500 and Gulfstream 650, reached an all-time high in activity. Over in Europe, the summer was less of a scorcher, with bizjet activity down by 9% on last year, yet still 9% up on summer 2019.
 
<div class="row my-4">
  <div class="col-12">
    <figure>
      <a data-gallery="blog" data-caption="" href="/assets/uploads/blog/SummerTrends_Chart1.jpg">
        <img class="w-100 img-fluid blog-image-border" src="/assets/uploads/blog/SummerTrends_Chart1.jpg">
        </a>
      <figcaption class="my-2"><i>Global Business Jet Activity, 1st May–17th September 2023 compared to previous years</i></figcaption>
    </figure>
  </div>
</div>
 
**North America Summer 2023 Business Jet Trends**

Over a quarter of all bizjet flights in North America this summer were taken on light jets. The light jet cohort was 4% less busy than last year, but still 18% busier than pre-pandemic, 2019. Of all the bizjet segments, bizliners saw the biggest declines in comparison to last year, with departures down by 13%. The only aircraft segment to see notable growth compared to last summer were Ultra-Long-Range jet sectors. They experienced a 3% jump in departures from 2022 and were 35% busier compared to 2019.

<div class="row my-4">
  <div class="col-12">
    <figure>
      <a data-gallery="blog" data-caption="" href="/assets/uploads/blog/SummerTrends_Chart2.jpg">
        <img class="w-100 img-fluid blog-image-border" src="/assets/uploads/blog/SummerTrends_Chart2.jpg">
      </a>
      <figcaption class="my-2"><i>North American Bizjet Aircraft Segment activity, Summer 2023 vs previous years</i></figcaption>
    </figure>
  </div>
</div>

**European Summer 2023 Business Jet Trends**

In Europe, light jets were also the busiest aircraft segment during the summer months, accounting for 22% of business jet departures. Despite being the busiest segment, departures were 11% below last year, although 11% ahead of 2019. Midsize jets saw the largest declines compared to last summer, with 23% fewer flights departing. Several other aircraft segments saw declines compared to four years ago as well, most notably, heavy jets, midsize jets and Bizliners.

<div class="row my-4">
  <div class="col-12">
    <figure>
      <a data-gallery="blog" data-caption="" href="/assets/uploads/blog/SummerTrends_Chart3.jpg">
        <img class="w-100 img-fluid blog-image-border" src="/assets/uploads/blog/SummerTrends_Chart3.jpg">
      </a>
      <figcaption class="my-2"><i>European Bizjet Aircraft Segments, Summer 2023 vs previous years</i></figcaption>
    </figure>
  </div>
</div>

**An Overview of Charter & Fractional Flight Activity**

Across the aircraft segments deployed in charter and fractional fleets, the most popular this past summer were the Super Midsize aircraft, accounting for almost 30% of all departures. Ultra Long Range traffic also hit all-time highs, a 50% uptick from 2019 levels. Overall charter and fractional activity as measured by the flights of Part 135 and 91K tails were up almost 40% compared to 4 years ago.

<div class="row my-4">
  <div class="col-12">
    <figure>
      <a data-gallery="blog" data-caption="" href="/assets/uploads/blog/SummerTrends_Chart5.jpg">
        <img class="w-100 img-fluid blog-image-border" src="/assets/uploads/blog/SummerTrends_Chart5.jpg">
      </a>
      <figcaption class="my-2"><i>Charter and Fractional activity in North America by segment</i></figcaption>
    </figure>
  </div>
</div>

Tracking all aircraft with Part135 & Part 91K certification, North American business jet sectors fell 4% compared to last summer, but retained 36% gains on 2019. The United States was the predominant market. In contrast to a softening market in the US, Canada saw a 15% growth in charter and fractional this summer—up 26% from summer 2019. Bizjet activity in Mexico was well behind last year, but well ahead of summer 2019. Some Caribbean resorts saw the heat come off this summer, but retain big leads compared to pre-pandemic. For example, bizjet departures from Turks and Caicos were down 7% this summer year-on-year, but up 66% compared to three years ago.

<div class="row my-4">
  <div class="col-12">
    <figure>
      <a data-gallery="blog" data-caption="" href="/assets/uploads/blog/SummerTrends_Chart4.jpg">
        <img class="w-100 img-fluid blog-image-border" src="/assets/uploads/blog/SummerTrends_Chart4.jpg">
      </a>
      <figcaption class="my-2"><i>Charter and Fractional activity Summer 2023 vs previous years</i></figcaption>
    </figure>
  </div>
</div>

**European Charter & Fractional Flight Activity**

In Europe, the summer’s charter and fractional activity fell off last year’s highs, but remained 9% ahead of four years ago. France was the busiest market, with just shy of 32,000 departures over the summer months. Several key markets saw double digit declines compared to last year, namely France, United Kingdom, Germany and Switzerland. Turkey was the only major market to see 135/91k activity increase compared to 2022. In contrast, Austria and Sweden saw single digit declines compared to 4 years ago.

<div class="row my-4">
  <div class="col-12">
    <figure>
      <a data-gallery="blog" data-caption="" href="/assets/uploads/blog/SummerTrends_Chart6.jpg">
        <img class="w-100 img-fluid blog-image-border" src="/assets/uploads/blog/SummerTrends_Chart6.jpg">
      </a>
      <figcaption class="my-2"><i>European Part135/91K Business Jet Countries, 1st May–17th September 2023</i></figcaption>
    </figure>
  </div>
</div>

**Business Jet Trends in Popular Summer Destinations**

Regular summer hotspots have seen a mixed bag of activity this past summer. Several key destination airports saw large increases in business jet activity compared to the summer of 2019, but declines in comparison to last year. Ibiza, Palma de Mallorca, Mikonos and Key West saw double digit declines, although all except Mikonos were well ahead of 2019. Elsewhere, Nantucket saw bizjet departures decline by 4% compared to last summer, yet 21% ahead of 2019. Montgomery-Gibbs Executive in San Diego has seen steady growth each year since 2019, departures 8% ahead of last year, and 7% ahead of 2019.

<div class="row my-4">
  <div class="col-12">
    <figure>
      <a data-gallery="blog" data-caption="" href="/assets/uploads/blog/SummerTrends_Chart7.jpg">
        <img class="w-100 img-fluid blog-image-border" src="/assets/uploads/blog/SummerTrends_Chart7.jpg">
        </a>
      <figcaption class="my-2"><i>Select North American and European summer destinations, 1st May–17th September 2023 compared to previous years</i></figcaption>
    </figure>
  </div>
</div>

<% if current_page.data.pdf %>
<div class="my-4">
  <a class="btn btn-primary" href="<%= current_page.data.pdf %>">
    <span class="icon icon--double-arrow"></span>
    Free Download
  </a>
</div>
<% end %>

<%= partial 'partials/blog-signature-richard-koe' %>

*JETNET maintains the world’s most comprehensive and granular database of actionable business aviation information. Our ability to collect, analyze and disseminate highly relevant business aviation data is unmatched. Visit us at [JETNET.com](/) to learn how we can help you make better business decisions by leveraging the power of world-class data and unbiased market intelligence.*
