---
meta_title: "Q4 Report Reveals Strong Market Despite Rising Rates"
meta_description: "Discover JETNET's Q4 findings on aviation market strength amidst economic challenges."
title: "Navigating a Strong Market Amidst Rising Rates"
summary: "In our latest quarterly review, we at JETNET are proud to reaffirm our status as a leading aviation data provider by highlighting the industry's resilience, even in the face of rising interest rates."
image: /assets/uploads/blog/2023-11-16/MainImage.jpg
image_alt: ""
tags:
opengraph:
  title: ""
  description: "Know More"
  image: /assets/opengraph/
twitter_card:
  title: ""
  description: "Know More"
  image: /assets/opengraph/
author: David Labrecque
---

**Quarterly BizAV Insights**

In our latest quarterly review, we at JETNET are proud to reaffirm our status as a leading aviation data provider by highlighting the industry's resilience, even in the face of rising interest rates. Our report offers a detailed analysis of the aviation sector's current state, featuring essential metrics like global flight activity, aircraft deliveries, and preowned market transactions. This analysis reveals an industry that is not just surviving the challenges but also finding opportunities for growth.

<hr>

**Flight Activity and Economic Indicators**

<figure class="my-4">
  <a data-gallery="blog" data-caption="" href="/assets/uploads/blog/2023-11-16/Economy-And-Aircraft-Utilization-Graph.jpg">
    <img class="w-100 img-fluid blog-image-border" src="/assets/uploads/blog/2023-11-16/Economy-And-Aircraft-Utilization-Graph.jpg">
  </a>
</figure>

In the last quarter, we observed critical indicators of overall market health and strength. Our findings in global flight activity, aircraft deliveries, and preowned transactions signal a robust market as we approach the year's end, despite the challenge of climbing interest rates.

Flight activity, in particular, is a vital indicator of market performance. With increasing flight activities, capital circulates throughout the industry, boosting revenue in all supporting markets. Specifically for bizjets, the year-on-year trend shows a 4% increase over the previous year. The scheduled airline sectors have also seen a 16% rise compared to the start of October last year, now only 7% behind 2019's figures. (Source: WingX weekly bulletin 10/12/23)

<hr>

**Deliveries and Transactions**

<figure class="my-4">
  <a data-gallery="blog" data-caption="" href="/assets/uploads/blog/2023-11-16/Business-Jets-Deliveries-Graph.jpg">
    <img class="w-100 img-fluid blog-image-border" src="/assets/uploads/blog/2023-11-16/Business-Jets-Deliveries-Graph.jpg">
  </a>
</figure>

New Deliveries are a closely watched industry statistic for OEM’s and their consideration for book to bill ratio or the ratio of aircraft purchase intentions vs how long it will take to produce them. 

New business jet deliveries are down from 739 in 2021 to 691 in 2022 and with the last quarter still to be reported, JETNET is representing 389 as of the end of Q3. This leaves 293 left to deliver in 2023 to bring us to the same levels as 2022, a number that could be achieved if supply chain issues and ongoing global turmoil do not interfere with production factors outside the control of the OEM’s themselves targeting quarterly earnings. 

<hr>

**Preowned Market Trends**

<figure class="my-4">
  <a data-gallery="blog" data-caption="" href="/assets/uploads/blog/2023-11-16/Pre-Owned-Inventory-Graph.jpg">
    <img class="w-100 img-fluid blog-image-border" src="/assets/uploads/blog/2023-11-16/Pre-Owned-Inventory-Graph.jpg">
  </a>
</figure>

When guiding our customers to actionable insights, we often consider aircraft transaction statistics. We've noted a slight increase in available aircraft in the pre-owned market compared to last year. Business jet inventory has risen by 2.5% year-over-year and is expected to continue to grow as interest rates rise and year-end planning commences for corporate flight departments. Additionally, the absorption rates for on-market aircraft are increasing, indicating that aircraft are staying on the market longer now than they were a year ago.

<hr>

**Company Milestones and Customer Commitment**

This past quarter, JETNET has experienced significant growth. We set new attendance records at this year's iQ summit at the TWA hotel, where we were thrilled to share not just our insights but also those from global aviation leaders. We welcomed new leaders to our team and expanded our staff to support several acquisitions made earlier in the year. Our commitment to our core customer base remains unwavering. We continue to enhance our products and services, including new features in our Marketplace and Aerodex products to improve the global search experience. We're dedicated to maintaining a consistent strategy of enhancement and innovation.

<div class="cta-buttons">
  <%= partial 'partials/request-demo-button' %>
</div>

<%= partial 'partials/blog-signature-david-labrecque' %>

*JETNET maintains the world’s most comprehensive and granular database of actionable business aviation information. Our ability to collect, analyze and disseminate highly relevant business aviation data is unmatched. Visit us at JETNET.com to learn how we can help you make better business decisions by leveraging the power of world-class data and unbiased market intelligence.*