---
title: "Navigating the Skies: Air Travel Dynamics Amidst a Solar Eclipse"
summary: Today, an eagerly anticipated celestial event will sweep across the US at an astonishing speed of approximately 3000 mph—the Solar Eclipse of 2024, a phenomenon set to make significant ripples in the aviation sector.
meta_description: 
image: /assets/uploads/blog/2024-04-08/EclipseMainImage_HR.jpg
opengraph:
  title: Air Travel Dynamics Amidst a Solar Eclipse
  description: "Know More"
  image: /assets/opengraph/JN_EclipseBlog_FB.jpg
twitter_card:
  title: Air Travel Dynamics Amidst a Solar Eclipse
  description: "Know More"
  image: /assets/opengraph/JN_EclipseBlog_TW.jpg
author: Dan Streufert
---

Today, an eagerly anticipated celestial event will sweep across the US at an astonishing speed of approximately 3000 mph—the Solar Eclipse of 2024, a phenomenon set to make significant ripples in the aviation sector.

For aviators planning to journey into eclipse-viewing zones, securing parking reservations is highly advised, and at the very least, a call ahead to your intended FBO is essential. Be aware that runway closures could be a factor, making it crucial to consult the latest Notices to Airmen (NOTAMs).

Beyond the logistical challenges of securing space and parking on the ground, the role of Air Traffic Control (ATC) during this period cannot be overstated. Pilots should brace for considerable delays. To give you a sense of the situation, here are some insights gathered from an online forum frequented by air traffic controllers:

> “I worked the last one, and it was absolutely a miracle nothing bad happened.”

> “The executives are trying to tell us to prepare for the worst on Apr 8 because of the eclipse because there's going to be more traffic than normal.”

> “ZME ran out of (squawk) codes and stopped issuing IFR releases, underlying TRACONs stopped doing flight following. It was absolutely bananas. I couldn't get a controller to talk to me until I got to Indianapolis.”

> “Worked the last one and it was the most unsafe situation I’ve ever been a part of. There was no planning and we were very lucky nothing bad happened. Looking forward to round 2.”

> “Saw totality at an uncontrolled airport and launching out of there was a near death experience…”

These videos of the 2017 eclipse also provide a preview of what can be expected at airports:

<ul class="list--double-arrow">
  <li><a href="https://youtu.be/_CPStFUX8FM">https://youtu.be/_CPStFUX8FM</a> – Radar scope from 2017 eclipse.</li>
  <li><a href="https://www.youtube.com/watch?v=rajyxQG_zMU">https://www.youtube.com/watch?v=rajyxQG_zMU</a> – line of aircraft waiting to leave Madras, OR after the last eclipse.</li>
</ul>

As if that wasn’t enough, NASA also warns of possible radio and GPS anomalies, saying, *“The sudden changes in ionospheric conditions during an eclipse can lead to the formation of ionospheric anomalies, such as ionospheric holes or depletions. These anomalies can disrupt radio signals and GPS navigation systems, affecting communication and navigation over the affected regions.”*

With the Solar Eclipse of 2024 upon us, the aviation sector is preparing for an event that is more than just a celestial spectacle. It brings operational considerations into sharp focus, from parking logistics on the ground to air traffic control complexities. This remarkable event is not only a chance for sky-gazers to marvel but also a moment for aviation professionals to navigate its challenges carefully. Ensuring a smooth experience will require both thorough preparation and a bit of patience.

<%= partial 'partials/blog-signature-dan-streufert' %>

*JETNET maintains the world’s most comprehensive and granular database of actionable business aviation information. Our ability to collect, analyze and disseminate highly relevant business aviation data is unmatched. Visit us at JETNET.com to learn how we can help you make better business decisions by leveraging the power of world-class data and unbiased market intelligence.*