---
title: A Summer of European Football
summary:  In June this year, Germany will host the UEFA EUROS 2024 football tournament. Ten cities will host a variety of group stage and knockout stage games, with 24 teams competing for the trophy.
meta_description: 
image: /assets/uploads/blog/2024-05-14/EuropeanFootballSummer_MainImage.jpg
opengraph:
  title: A Summer of European Football
  description: "Know More"
  image: /assets/opengraph/JN_SummerBlog_FB.jpg
twitter_card:
  title: A Summer of European Football
  description: "Know More"
  image: /assets/opengraph/JN_SummerBlog_TW.jpg
author: Richard Koe
---

In June this year, Germany will host the UEFA EUROS 2024 football tournament. Ten cities will host a variety of group stage and knockout stage games, with 24 teams competing for the trophy. WINGX has considered the likely boost in business aviation traffic around this tournament with a look back at our coverage of flight activity during previous tournaments. We have used our archive of over 15 years of traffic data, down to specific aircraft and aircraft types, to review the aircraft movements to and from the airports closest to the cities which have hosted similar football tournaments in Europe. 

<div class="row my-4">
  <div class="col-sm-12">
  <figure class="my-0">
    <figcaption class="mb-2"><b>Chart 1: Business jet impact on hosting the EUROS Final 2020, 2016, 2012, 2008</b></figcaption>
    <a data-gallery="charts" data-caption="Business jet impact on hosting the EUROS Final 2020, 2016, 2012, 2008" href="/assets/uploads/blog/2024-05-14/Chart_1.jpg">
    <img class="w-100 img-fluid blog-image-border" src="/assets/uploads/blog/2024-05-14/Chart_1.jpg" alt="The chart shows business jet arrivals one day before and during EUROS finals from 2008 to 2020. Two graphs are displayed: “Surge Ratio” and “Average Inbound Bizjet Arrivals.” Surge ratios and percentage changes are noted above each year, showing a significant spike in 2012 and a drop in 2020.">
    </a>
  </figure>
  </div>
</div>

During the most recent European championships, EURO 2020, held during 2021 due to the COVID-19 pandemic, both the semi-final legs and final were played at Wembley Stadium, London, United Kingdom. Interestingly, the semi-finals saw less bizjet arrivals than the monthly average for the key London airports (EGGW, EGKB, EGLF, EGTK, EGWU, EGSS). There was a small uptick on the day before and the day of the final, with these airports seeing an average of 152 business jet arrivals, 1.2x the normal amount of bizjet arrivals for the month. This year’s EUROS final will be taking place in Berlin, Germany. So far this month, there have been an average of 14 daily bizjet arrivals. If we see a 1.4x spike in traffic, like the last pre-pandemic tournament, we could see average daily arrivals on the day before and day of the final rise to 20 arrivals. 

The 2016 edition of the EURO tournament was held in France, with the final taking place at the Stade de France in the northern suburbs of Paris. Already a major bizjet city, with Le Bourget the number 1 airport in Europe for business aviation, the added arrivals for football are difficult to discern. Conversely, the semi-final legs of the tournament were held in Marseille and Lyon, where the event airports do not have large volumes of normal bizjet activity. The first of the semi-finals, played between Portugal and Wales, saw 3.7x the average normal daily levels of bizjet activity one day prior and on the day of the game. The second semi-final, played between Germany and France, saw 3.4x the average normal daily levels of bizjet activity one day prior and on the day of the game, we recorded 24 bizjet arrivals. To provide some context, so far this month in 2024, there have been an average of 8 arrivals into Marseilles airport. 

<div class="row my-4">
  <div class="col-sm-12">
  <figure class="my-0">
    <figcaption class="mb-2"><b>Chart 2: Bizjet arrivals, EUROS 2016 semi-finals and final</b></figcaption>
    <a data-gallery="charts" data-caption="Bizjet arrivals, EUROS 2016 semi-finals and final" href="/assets/uploads/blog/2024-05-14/Chart_2.jpg">
    <img class="w-100 img-fluid blog-image-border" src="/assets/uploads/blog/2024-05-14/Chart_2.jpg" alt="This chart details business jet arrivals one day before and during the Champions League finals from 2008 to 2023. It includes data on “Surge Ratio” and “Average Inbound Bizjet Arrivals,” with percentages indicating changes each year. The data shows varying spikes and drops, with significant increases in 2010, 2013, and 2016.">
    </a>
  </figure>
  </div>
</div>

Ukraine and Poland jointly hosted the 2012 edition of the EUROS, with the final taking place in Kyiv, Ukraine. Out of the four tournaments we have analyzed, the 2012 final in Kyiv saw the largest spike in demand from normal activity levels, largely due to lower background levels of bizjet activity. On the day before and the day of the final, there were on average 103 bizjet arrivals, 4.1x the normal levels of activity. 

Austria and Switzerland jointly hosted the 2008 edition of the EUROS, with the final taking place in Vienna. The 2008 EUROS ranks second in our analysis for above average traffic. On the day before and on the day of the final, an average of 82 bizjet arrivals were recorded at Vienna airports, 1.8x more than the normal level. So far this month, there have been an average of 18 daily bizjet arrivals to Vienna airports. 

Also taking place this summer will be the UEFA Champions League Final. The Champions League is a club competition that takes place each year, with the top clubs in Europe competing in a series of group stage matches followed by a series of knockout games. We’ve analyzed the impact on bizjet activity at airports near the final game host cities, dating back to the 2008 edition of the tournament. We found that the 2014 tournament held in Lisbon had the biggest spike in demand compared to average daily arrivals during that time. Lisbon, a relatively weak bizav spot, saw an average of 90 daily bizjet arrivals on the day before and the day of the final. 10 years later, so far this month, Lisbon airports are averaging 11 daily bizjet arrivals. The 2013 event held at the Wembley Stadium in London had the highest average daily arrivals, although one of the lowest increases due to London being one of Europe’s bizjet hubs. Wembley will play host once again, with the 2024 final being held on June 1st, and we could see the average daily arrivals on the day before and on the final rise to over 150 this year.

<div class="row my-4">
  <div class="col-sm-12">
  <figure class="my-0">
    <figcaption class="mb-2"><b>Chart 3: Business jet impact on hosting the Champions League Final 2008–2023</b></figcaption>
    <a data-gallery="charts" data-caption="Business jet impact on hosting the Champions League Final 2008–2023" href="/assets/uploads/blog/2024-05-14/Chart_3.jpg">
    <img class="w-100 img-fluid blog-image-border" src="/assets/uploads/blog/2024-05-14/Chart_3.jpg" alt="A focused chart on the 2016 EUROS held in France, specifically highlighting the business jet arrivals for two semifinals and the final. Each match location and surge ratios are shown in separate blocks, indicating a higher spike in arrivals for the final match in Paris compared to the semifinals in Lyon and Marseille.">
    </a>
  </figure>
  </div>
</div>

All of today’s analysis was created by WINGX dashboards. If you’re an operator, charter broker or FBO and would like to see how WINGX dashboards can give you the edge by investigating events further; airport pairs, aircraft types, arrival time windows, parking times, potential fuel uplift and many more, [request a demo today](https://wingx-advance.com/request-a-demo/).

<%= partial 'partials/blog-signature-richard-koe' %>

*JETNET maintains the world’s most comprehensive and granular database of actionable business aviation information. Our ability to collect, analyze and disseminate highly relevant business aviation data is unmatched. Visit us at JETNET.com to learn how we can help you make better business decisions by leveraging the power of world-class data and unbiased market intelligence.*