---
title: "New York City Takes Flight: Why You Should Attend the JETNET iQ Global Business Aviation Summit "
summary: The crisp autumn air of September brings more than just a change of scenery. For business aviation professionals, it signifies a unique opportunity to gather in the heart of a global aviation hub—New York City.
meta_description: 
image: /assets/uploads/blog/2024-07-02/SummitBlog_MainImage.jpg
opengraph:
  title: New York City Takes Flight
  description: "Buy Tickets"
  image: /assets/opengraph/JN_SummitBlog_FB.jpg
twitter_card:
  title: New York City Takes Flight
  description: "Buy Tickets"
  image: /assets/opengraph/JN_SummitBlog_TW.jpg
author: Rollie Vincent
---

The crisp autumn air of September brings more than just a change of scenery. For business aviation professionals, it signifies a unique opportunity to gather in the heart of a global aviation hub—New York City. The JETNET iQ Global Business Aviation Summit “returns” to Times Square, September 24th–25th, 2024, for a promising mix of industry insights, networking gold, and a chance to explore the Big Apple.

**New York City: A Gateway to Business Aviation**

New York City may be synonymous with Broadway shows and iconic landmarks, but beneath the bustling streets and towering skyscrapers lies a thriving business aviation scene. Did you know the NYC metropolitan area boasts the world’s largest center for commercial air traffic? According to the Port Authority of New York and New Jersey, over 144 million passengers traversed its three major airports in 2023 (source: Port Authority of New York and New Jersey), ensuring the city’s undeniable connection to the sky.

But the story doesn’t end there. Just a stone’s throw away in Teterboro, New Jersey, lies the world’s busiest business aviation airport. According to JETNET, Teterboro handled a staggering 69,943 business jet arrivals in 2023, averaging an impressive 192 landings per day! This bustling airport serves as a testament to the dynamic nature of business aviation and the prime gateway to the U.S. Northeast.

**Beyond the Numbers: A Summit for the Future**

The JETNET iQ Global Business Aviation Summit goes beyond impressive statistics. This event brings together industry titans and thought leaders—the very minds shaping the future of business aviation. Panels featuring representatives from leading business aircraft and aero-engine manufacturers including Bombardier, Cirrus Aircraft, Dassault, Embraer, GE Aerospace, Gulfstream, Honda Aircraft, Rolls-Royce, and Textron Aviation will delve into:

* **Managing Backlogs:** With strong order books, manufacturers face the challenge of delivering on these commitments. Learn strategies for navigating these backlogs and ensuring customer satisfaction.
* **Supply Chain Solutions:** The global supply chain continues to face disruptions. Hear from industry experts on innovative strategies for overcoming these challenges and maintaining a smoothly operating business. 
* **Building High-Performing Teams:** A successful organization hinges on a strong workforce. Summit sessions will offer insights on building and leading effective teams in this ever-evolving industry.

**More Than Just Talks: Networking and Exploration**

The JETNET iQ Summit isn’t just about listening to insightful discussions. It’s about connecting with your peers, exchanging ideas, and forging valuable relationships. Engage in face-to-face conversations with industry leaders and representatives from some of the industry’s leading companies and organizations.

<div class="row">
  <div class="col-sm-4 my-4">
    <figure class="my-0">
      <a data-gallery="charts" data-caption="Thierry Betbeze, CEO, Dassault Falcon Jet">
      <img class="w-100 img-fluid blog-image-border" style="max-width:320px" src="/assets/uploads/blog/2024-07-02/Thierry-Betbeze.jpg" alt="Thierry Betbeze, CEO, Dassault Falcon Jet">
      </a>
      <figcaption class="mt-2" style="font-size:87%"><b>Thierry Betbeze</b><br><span>CEO, Dassault Falcon Jet</span></figcaption>
    </figure>
  </div>

  <div class="col-sm-4 my-4">
    <figure class="my-0">
      <a data-gallery="charts" data-caption="Michael Amalfitano, CEO, Embraer Executive Jets">
      <img class="w-100 img-fluid blog-image-border" style="max-width:320px" src="/assets/uploads/blog/2024-07-02/Michael-Amalfitano.jpg" alt="Michael Amalfitano, CEO, Embraer Executive Jets">
      </a>
      <figcaption class="mt-2" style="font-size:87%"><b>Michael Amalfitano</b><br><span>CEO, Embraer Executive Jets</span></figcaption>
    </figure>
  </div>

  <div class="col-sm-4 my-4">
    <figure class="my-0">
      <a data-gallery="charts" data-caption="Ron Draper, CEO, Textron Aviation">
      <img class="w-100 img-fluid blog-image-border" style="max-width:320px" src="/assets/uploads/blog/2024-07-02/Ron-Draper.jpg" alt="Ron Draper, CEO, Textron Aviation">
      </a>
      <figcaption class="mt-2" style="font-size:87%"><b>Ron Draper</b><br><span>CEO, Textron Aviation</span></figcaption>
    </figure>
  </div>
</div>

And let’s not forget the allure of New York City itself! Use your free time to explore iconic landmarks, indulge in world-class cuisine, or experience the vibrant energy of the city that never sleeps.

**The JETNET iQ Global Business Aviation Summit is an unparalleled opportunity to gain valuable insights, network with industry leaders, and experience the energy of a global aviation hub. Don’t miss your chance to be a part of this exciting event. Register today!**

<p>
  <%= partial("partials/button", :locals => {
    url: '/summit/',
    text: 'Buy Tickets',
  }) %>
</p>

<%= partial 'partials/blog-signature-rollie' %>

*JETNET maintains the world’s most comprehensive and granular database of actionable business aviation information. Our ability to collect, analyze and disseminate highly relevant business aviation data is unmatched. Visit us at JETNET.com to learn how we can help you make better business decisions by leveraging the power of world-class data and unbiased market intelligence.*