---
meta_title: "JETNET Q4 Report Reveals Strong Market Despite Rising Rates"
meta_description: "In the last quarter of 2023, JETNET observed several key indicators in overall market health and strength."
title: "JETNET Q4 Report Reveals Strong Market Despite Rising Rates"
summary: "In the last quarter of 2023, JETNET observed several key indicators in overall market health and strength. "
image: /assets/uploads/blog/2024-01-15/MainImage_HR.jpg
image_alt: ""
tags:
opengraph:
  title: ""
  description: "Know More"
  image: /assets/opengraph/
twitter_card:
  title: ""
  description: "Know More"
  image: /assets/opengraph/
author: David Labrecque
---

In the last quarter of 2023, JETNET observed several key indicators in overall market health and strength. Highlights in global flight activity, aircraft deliveries, and preowned transactions indicated a strong market going into the end of the year, even against climbing interest rates. Business aircraft flight activity is often a great indicator of a market’s performance. As flight activity increases, money moves through the industry in all supporting markets, driving revenue across the entire segment. 

Flight activity for 2023 remained steady in Q4 with an average monthly count of just over 1.35 million operations. That’s up from 1.29 million per month in 2022, and even more so from 1.26 million in 2021. Year-over-year, average monthly operations are increasing.

<figure class="my-4">
  <a data-gallery="blog" data-caption="" href="/assets/uploads/blog/2024-01-15/Graph1_HR.jpg">
    <img class="w-100 img-fluid blog-image-border" src="/assets/uploads/blog/2024-01-15/Graph1_HR.jpg">
  </a>
</figure>

New Deliveries are also a closely watched industry statistic for OEM’s and their consideration for book to bill ratio, or the ratio of aircraft purchase intentions to how long it will take to produce them.

<figure class="my-4">
  <a data-gallery="blog" data-caption="" href="/assets/uploads/blog/2024-01-15/Graph2_HR.jpg">
    <img class="w-100 img-fluid blog-image-border" src="/assets/uploads/blog/2024-01-15/Graph2_HR.jpg">
  </a>
</figure>

In 2023, new business jet deliveries were down from 739 in 2021 and 691 in 2022. With Q4 still to be officially reported, JETNET represented 389 new business jet deliveries at the end of Q3, leaving 293 left to deliver in Q4 to bring us to the same levels as 2022, a number that could be achieved and is forecast to be exceeded.

<figure class="my-4">
  <a data-gallery="blog" data-caption="" href="/assets/uploads/blog/2024-01-15/Graph3_HR.jpg">
    <img class="w-100 img-fluid blog-image-border" src="/assets/uploads/blog/2024-01-15/Graph3_HR.jpg">
  </a>
</figure>

Another variable JETNET often considers when helping lead customers to actionable conclusions are Aircraft Transaction statistics. In comparison to 2022, JETNET saw a slight uptick in the available aircraft on the market in the pre-owned segment in 2023. Business jet inventory is continuing to climb at approximately 2.5% year-over-year, and it’s likely to continue as interest rates increase and year-end planning concludes for most corporate flight departments.

As a company, JETNET also saw incremental growth in 2023. In Q3, we broke attendance records at our 2023 JETNET iQ summit at the TWA Hotel and were pleased to share not only our own industry insights, but those of the world’s most insightful aviation leaders. Additionally, we welcomed new leadership team members in 2023 and continue to appropriately grow our staff to support several acquisitions made earlier in the year. On top of that, JETNET has rolled out new features in our Marketplace and Aerodex products to enhance the user experience in our global search feature and will continue a consistent enhancement strategy in 2024. 

JETNET remains committed to our core customer base and is dedicated to maintaining and improving the products and services we offer in 2024 and beyond. Learn more about how JETNET can help you reach your business goals in 2024 by sending us a note at [info@jetnet.com](mailto:info@jetnet.com) or [requesting a demo](/request-demo/).

<%= partial 'partials/blog-signature-david-labrecque' %>

*JETNET maintains the world’s most comprehensive and granular database of actionable business aviation information. Our ability to collect, analyze and disseminate highly relevant business aviation data is unmatched. Visit us at JETNET.com to learn how we can help you make better business decisions by leveraging the power of world-class data and unbiased market intelligence.*