---
title: "Join Industry Titans in NYC: The JETNET iQ Global Business Aviation Summit Returns This September"
summary: September marks the beginning of the Northern Autumn, and an opportunity for business aviation leaders from around the world to gather in a room where it happens. 
meta_description: 
image: /assets/uploads/blog/2024-07-02/SummitBlog_MainImage.jpg
opengraph:
  title: 
  description: "Know More"
  image: /assets/opengraph/
twitter_card:
  title: 
  description: "Know More"
  image: /assets/opengraph/
author: Rollie Vincent
---

September marks the beginning of the Northern Autumn, and an opportunity for business aviation leaders from around the world to gather in a room where it happens. On September 24–25, 2024, our annual JETNET iQ Global Business Aviation Summit returns to Times Square in the heart of New York City’s Manhattan, the cultural, financial, media, and entertainment capital of the world. The NYC metropolitan area is the world’s largest center for commercial air passenger traffic, with more than 144 million passengers transiting through the city’s three major commercial airports in 2023, according to the Port Authority of New York and New Jersey. The New York-area Teterboro Airport, just 12 miles from Manhattan, is the world’s leading business aviation airport, handling 69,943 business jet arrivals last year, or an average of 192 landings per day, according to JETNET. 

Bringing together some of the most informed speakers and panelists at the top of their game, JETNET iQ Summits are renowned for generating unique insights and action-oriented thought leadership on topics of critical importance to the industry. Panels of leaders from the business aircraft and aero-engine OEMs will discuss opportunities, challenges, and effective strategies for delivering on their strong orders backlogs, sustaining demand for aircraft and engine OEM services, managing seemingly unmanageable supply chains, and building teams to lead their organizations today and into the future.

<div class="row">
  <div class="col-sm-4 my-4">
    <figure class="my-0">
      <a data-gallery="charts" data-caption="Thierry Betbeze, CEO, Dassault Falcon Jet">
      <img class="w-100 img-fluid blog-image-border" style="max-width:320px" src="/assets/uploads/blog/2024-07-02/Thierry-Betbeze.jpg" alt="Thierry Betbeze, CEO, Dassault Falcon Jet">
      </a>
      <figcaption class="mt-2" style="font-size:87%"><b>Thierry Betbeze</b><br><span>CEO, Dassault Falcon Jet</span></figcaption>
    </figure>
  </div>

  <div class="col-sm-4 my-4">
    <figure class="my-0">
      <a data-gallery="charts" data-caption="Michael Amalfitano, CEO, Embraer Executive Jets">
      <img class="w-100 img-fluid blog-image-border" style="max-width:320px" src="/assets/uploads/blog/2024-07-02/Michael-Amalfitano.jpg" alt="Michael Amalfitano, CEO, Embraer Executive Jets">
      </a>
      <figcaption class="mt-2" style="font-size:87%"><b>Michael Amalfitano</b><br><span>CEO, Embraer Executive Jets</span></figcaption>
    </figure>
  </div>

  <div class="col-sm-4 my-4">
    <figure class="my-0">
      <a data-gallery="charts" data-caption="Ron Draper, CEO, Textron Aviation">
      <img class="w-100 img-fluid blog-image-border" style="max-width:320px" src="/assets/uploads/blog/2024-07-02/Ron-Draper.jpg" alt="Ron Draper, CEO, Textron Aviation">
      </a>
      <figcaption class="mt-2" style="font-size:87%"><b>Ron Draper</b><br><span>CEO, Textron Aviation</span></figcaption>
    </figure>
  </div>
</div>

Interact first-hand and face-to-face with titans of the industry, including a cross-section of the world’s leading business aircraft and aero-engine manufacturers. Meet senior leaders from Bombardier, Cirrus Aircraft, Dassault, Embraer, GE Aerospace, Gulfstream, Honda Aircraft, Rolls-Royce, and Textron Aviation, amongst others. Join us in NYC in September as we bring leaders together to discuss the state and future directions of the business aviation industry. 

<p>
  <%= partial("partials/button", :locals => {
    url: '/summit/',
    text: 'Buy Tickets',
  }) %>
</p>

<%= partial 'partials/blog-signature-rollie' %>

*JETNET maintains the world’s most comprehensive and granular database of actionable business aviation information. Our ability to collect, analyze and disseminate highly relevant business aviation data is unmatched. Visit us at JETNET.com to learn how we can help you make better business decisions by leveraging the power of world-class data and unbiased market intelligence.*