---
title: JETNET Blog
meta_description: Explore the latest in Business Aviation with the JETNET Blog, your premier source for industry news, trends, and expert insights.
blog: blog
---

<%
articles = blog.articles.reject{ |article|
  article.data.exclude_from_blog_index
}
%>

<section class="section section--first" data-stellar-background-ratio="0.8">
	<div class="container">
    <div class="row">
  		<div class="col-lg-12">
    		<div class="image-heading mb-4">
      		<a href="/blog">
        		<img src="/assets/images/blog/jetnet-blog-logo.svg" alt="JETNET Blog" style="max-width: 75%;">
      		</a>
    		</div>
			</div>
		</div>

    <div class="row">
  		<div class="offset-lg-1 col-lg-11">
				<p class="lead my-8">
					Welcome to the JETNET Blog, your go-to source for the latest information in the Business Aviation Industry.
				</p>
				<br>

  		</div>

      <% article = articles.first %>

			<div class="col-lg-5 order-lg-2">
				<img src="<%= article.data.image %>" class="img-fluid mb-4" alt="<%= article.data.image_alt %>">
			</div>

			<div class="offset-lg-1 col-lg-5 order-lg-1">

				<p class="text-titling uppercase text-small mb-0"><%= article.date.strftime('%B %e, %Y') %></p>
				<h2 class="h3 news-title">
					<a href="<%= article.url %>"><%= article.title %></a>
				</h2>

				<div class="mb-2">
					<%= article.data.summary || sanitize(article.summary) %>
				</div>

				<div class="mb-3">
					<a href="<%= article.url %>" class="btn btn-primary">
						<span class="icon icon--double-arrow"></span> Read More
					</a>
				</div>

			</div>

		</div>
	</div>
</section>

<section class="section section--white text-dark">

	<div class="container">
		<div class="row">

			<div class="col-lg-1">&nbsp;</div>

			<div class="col-lg-9">

				<h3 class="h5 uppercase text-dark text-titling mb-4">Recent Posts</h3>

				<div class="row">
					<div class="offset-lg-1 col-lg-11">

						<% blog.articles.drop(1).each do |article| %>
							<% next if article.data.exclude_from_blog_index %>

							<article class="my-4">
								<div class="row">

									<div class="col-lg-3">
										<a href="<%= article.url %>"><img src="<%= article.data.image %>" class="img-fluid mb-3" alt="<%= article.data.image_alt %>"></a>
									</div>

									<div class="col-lg-9">
										<p class="text-titling uppercase text-small mb-0"><%= article.date.strftime('%B %e, %Y') %></p>
										<h3 class="h3 news-title">
											<a href="<%= article.url %>" class="text-blue-darker"><%= article.title %></a>
										</h3>
										<div class="mb-4">
											<%= article.data.summary || sanitize(article.summary) %>
										</div>
									</div>

								</div>
							</article>

						<% end %>

					</div>
				</div>

			</div>

			<!--
			<div class="col-lg-3">
				<h3 class="h5 uppercase text-dark text-titling mb-4">Categories</h3>
				<div class="my-4"><%= partial("partials/blog-tags") %></div>
			</div>
			-->

		</div>
	</div>

	<br>
	<br>
</section>
