---
pageable: true
per_page: 12
blog: blog
---

<section class="section section--first" data-stellar-background-ratio="0.8">
	<div class="container">
    <div class="row">
	    <div class="col-lg-12">
        <div class="image-heading mb-0">
          <a href="/blog">
        		<img src="/assets/images/blog/jetnet-blog-logo.svg" alt="JETNET Blog" style="max-width: 75%;">
          </a>
        </div>
      </div>
	</div>
</section>

<section class="section section--white text-dark">

	<div class="container">
		<div class="row">

			<div class="col-lg-1">&nbsp;</div>

			<div class="col-lg-8">

				<h3 class="h5 uppercase text-dark text-titling mb-4">Posts in “<%= tagname %>”</h3>

				<div class="row">
					<div class="offset-lg-1 col-lg-11">

					  <% page_articles.each_with_index do |article, i| %>
							<% next if article.data.exclude_from_blog_index %>

							<article class="my-4">
								<div class="row">

									<div class="col-lg-3">
										<a href="<%= article.url %>"><img src="<%= article.data.image %>" class="img-fluid mb-3"></a>
									</div>

									<div class="col-lg-9">
										<p class="text-titling uppercase text-small mb-0"><%= article.date.strftime('%B %e, %Y') %></p>
										<h3 class="h3 news-title">
											<a href="<%= article.url %>" class="text-blue-darker"><%= article.title %></a>
										</h3>
										<div class="mb-4">
											<%= article.data.summary || sanitize(article.summary) %>
										</div>
									</div>

								</div>
							</article>

						<% end %>

						<% if paginate && num_pages > 1 %>
							<p>Page <%= page_number %> of <%= num_pages %></p>

							<% if prev_page %>
  							<p><%= link_to 'Previous page', prev_page %></p>
							<% end %>
						<% end %>

						<% if paginate %>
							<% if next_page %>
  							<p><%= link_to 'Next page', next_page %></p>
							<% end %>
						<% end %>

					</div>
				</div>

				<div class="text-titling uppercase text-small">
					&larr; <a href="/blog">Blog home</a>
				</div>

				<br>
			</div>

			<div class="col-lg-3">
				<h3 class="h5 uppercase text-dark text-titling mb-4">Categories</h3>
				<div class="my-4"><%= partial("partials/blog-tags") %></div>
			</div>

		</div>
	</div>

	<br>
	<br>
</section>
