---
title: JETNET Company Profile
meta_description: JETNET facilities are based in the US. Headquarters in Utica, NY include cutting-edge data processing, communications, data storage, and computing.
---

<section class="section section--first">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<h1>About</h1>
			</div>
		</div>

		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

        <p>Established in 1988, JETNET is a premier provider of global fleet and market intelligence for aviation professionals. For more than three decades it has assembled what is today among the worlds’ most comprehensive serial-number specific databases on the global fleets of business jets, turboprops, commercial/transport category, helicopters, and piston aircraft. Research specialists acquire comprehensive detailed information directly from original sources daily. Information on ownership, operations, ownership pedigree, airframe and engine specifications, historical flight activity, flight analysis, market status, estimated aircraft Fair Market Value, and more is collected to allow aviation professionals to access accurate, timely data tailored to their needs.</p>
        <p>JETNET also delivers an aviation market research, strategy, and forecasting service, JETNET iQ. This service provides independent, Quarterly intelligence, including economic and industry analyses, business aircraft owner/operator survey results, and new aircraft delivery and fleet forecasts. JETNET iQ is a collaboration between JETNET and Rolland Vincent Associates LLC of Plano, Texas, an aviation market research consultancy.</p>
        <p>JETNET is headquartered in Utica, NY with employees across the United States and worldwide. The company is supported by Boston based growth equity firm, Silversmith Capital Partners. For more information on Silversmith Capital Partners, please visit <a href="https://www.silversmith.com/">www.silversmith.com</a>.</p>

			</div>
		</div>
	</div>
</section>

<section class="section section--translucent-dark">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<h1>Facilities</h1>
			</div>
		</div>

		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-10 col-xl-8 text-reverse">

        <p>JETNET is located in the historic Hurd & Fitzgerald building in Utica, NY. Built in 1911 and designed by architect Frederick H. Gouge, the structure is listed in the National Register of Historic Places. Take a peek at our office in the video below.
        <br>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/67925358" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

			</div>
		</div>
	</div>
</section>
