---
title: "EBACE 2024"
meta_description: ""
opengraph:
  title: "JETNET at EBACE 2024"
  description: "Know More"
  image: /assets/opengraph/JN_PreShow_EBACE_FB.jpg
twitter_card:
  title: "JETNET at EBACE 2024"
  description: "Know More"
  image: /assets/opengraph/JN_PreShow_EBACE_TW.jpg
---

<section class="section section--first">
	<div class="container">
		<div class="row">
			<div class="offset-lg-1 col-lg-11">
				<h1>EBACE 2024</h1>
			</div>
		</div>
		<div class="row">
			<div class="offset-md-1 col-md-11 offset-lg-2 col-lg-9 col-xl-8 text-reverse">

				<h2 class="mb-4">Unlock Exclusive Deals with JETNET</h2>

				<img src="/assets/images/events/EBACE2024_MainImage_HR.jpg" class="img-fluid" style="margin:0 0 2rem 0;" alt="" />
				
				<p>Our JETNET family is packed and ready for EBACE 2024 in Geneva, Switzerland, from May 28–30! We are eager to showcase our premium business aviation research services with personalized one-on-one demonstrations at booth C44 in Exhibit Halls 4–6.</p>
				
				<h3>Special Show Offer</h3>

				<p>As part of our commitment to offering value, we're extending a special offer for potential <a href="https://wingx-advance.com">WINGX</a> and JETNET customers who stop by our booth at this year’s show:</p>
				
				<ul class="list--double-arrow">
					<li><b>WINGX DEAL:</b> Enjoy a complimentary 2-week trial of JETNET <a href="/products/aerodex.html">Aerodex</a> Standard with your purchase of a WINGX annual subscription. Should you choose to subscribe to JETNET after the trial, you'll receive a <b>10% discount</b> on your annual WINGX subscription.</li>
					<li><b>JETNET DEAL:</b> Receive a free 2-week trial of the WINGX Daily Tracker with your purchase of a JETNET annual subscription. If you select a WINGX subscription after the trial, enjoy a <b>10% discount</b> on your annual JETNET subscription.</li>
				</ul>
				
				<p>The WINGX Daily Tracker is a daily updated dashboard that allows you to track trends and understand global business aviation market activity.</p>
				
				<ul class="list--double-arrow">
					<li>Over 40 filters to drill into specific areas of the market</li>
					<li>Data export capability</li>
					<li>Intuitive design and a variety of data visualization charts</li>
					<li>Global daily data, going back to 2019</li>
				</ul>
				
				<hr>
				
				<h3>JETNET iQ State of the Market Briefing</h3>
				
				<p>Mark your calendar for our JETNET iQ State of the Market Briefing on Monday, May 27, at 9:40 a.m. in Room U of the Palexpo. Join us for an exclusive press conference uncovering our latest JETNET iQ Q1 2024 survey results and a detailed 10-year business jet delivery forecast.</p>
				
				<p><b>JETNET iQ State of the Market Briefing</b><br>
				Monday, May 27 | 9:40–10:25 a.m. | Hall 3, Room U</p>
				
				<hr>
				
				<h3>State of the Industry Session</h3>
								
				<p>Our very own Rollie Vincent, JETNET iQ, and Richard Koe, WINGX, are set to take the Conference Stage at EBACE on Tuesday, May 28 for a compelling ‘State of the Industry’ session. Joined by Harry Clarke of Avinode and hosted by Arthur Thomas of EBAA, this session promises insightful discussions on the aviation landscape.</p>

				<div class="float-right text-center justify-center mt-4 mt-sm-2 mb-4 ml-sm-4" style="max-width:100%;">
					<div class="flex">
						<figure class="mr-3 mb-0">
							<img src="/assets/images/events/RVincent_Headshot.jpg" width="200" class="img-fluid mb-2" style="border:2px solid white;" alt="Rollie Vincent" />
							<figcaption class="text-center">Rollie Vincent</figcaption>
						</figure>
						<figure class="ml-3 mb-0">
							<img src="/assets/images/events/RKoe_Headshot.jpg" width="200" class="img-fluid mb-2" style="border:2px solid white;" alt="Richard Koe" />
							<figcaption class="text-center">Richard Koe</figcaption>
						</figure>
					</div>
				</div>
				
							
				<p>Rollie and Richard will leverage JETNET and WINGX data, respectively, to provide unique insights on the European marketplace. Drawing from the latest JETNET iQ Q1 2024 Report and WINGX data on global business aviation market activity, they'll delve into crucial topics such as supply chain recovery, workforce dynamics, and environmental sustainability—key priorities for European aircraft owners and operators over the next 5 years.</p>
				
				<p><b>State of the Industry Session</b><br>
				Tuesday, May 28 | 3:30–4:30 p.m. | Palexpo Conference Stage</p>
				
				<hr style="clear:both;" />
				
				<p>Visit us at booth C44 to explore how our products and services can provide you with the valuable insights you need to tackle your business needs and projects. Plus, take a moment to enter our raffle for a chance to win a top-shelf bottle of liquor! We look forward to connecting with you at EBACE 2024!</p>

			</div>
		</div>
	</div>
</section>

<%= partial 'partials/request-demo-section', :locals => {
	body: 'Can’t make it to EBACE this year? Test our data with a one-on-one demonstration where you call the shots, and discover what you need to succeed, and increase your competitive situational awareness.'
} %>
