---
title: JETNET Legal
noindex: true
---

<main class="main-content text-reverse">

  <section class="section section--heading">
    <div class="container">
      <div class="row">
        <div class="offset-lg-1 col-lg-11">
          <h1>Legal</h1>
        </div>
      </div>
      <div class="row">
        <div class="offset-lg-2 col-lg-10">

          <ul class="list--double-arrow">
            <li><a href="/legal/terms-of-use">Terms of Use</a></li>
            <li><a href="/legal/acceptable-use-policy">Acceptable Use Policy</a></li>
            <li><a href="/legal/privacy-policy">Privacy Policy</a></li>
            <li><a href="/legal/cookie-policy">Cookie Policy</a></li>
          </ul>

        </div>
      </div>
    </div>
  </section>

</main>