---
title: "JETNET Reports"
meta_description: "Purchase exactly the report you need for an in-depth, focused read on everything you need to know."
opengraph:
  title: "Order the Year’s Best Intelligence"
  description: "Crucial insights from our most recent research"
  image: /assets/opengraph/Aug16_FB.jpg
twitter_card:
  title: "Order the Year’s Best Intelligence"
  description: "Crucial insights from our most recent research"
  image: /assets/opengraph/Aug16_TW.jpg
---

<main class="main-content text-reverse">

  <section class="section section--heading">
    <div class="container">
      <div class="row">
        <div class="offset-lg-1 col-lg-11">
          <p class="h1">
            JETNET Reports<br><br>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="offset-lg-2 col-lg-9">

          <section class="report">

            <div class="row">
              <div class="col-md-3">
                <img src="/assets/uploads/pages.reports/JNiQMarketReport_2018_Cover.jpg" class="img-fluid">
              </div>
              <div class="col-md-9">

                <h1 class="h2 report__title">JETNET iQ Market Report – 2018</h1>
                <p>Here’s your chance to find key business aviation data all in one place. Limited copies are available of this timely and in-depth report on crucial insights gleaned from our most recent JETNET iQ research work, surveys, and quarterly State of the Industry reports.</p>

                <p>Designed to provide you with need-to-know insights on the latest developments in business aviation, the 2018 JETNET iQ Market Report includes rich details, charts, and graphs on the economy, the industry, and our proprietary JETNET iQ owner/operator surveys and forecasts. To see a small sample of actual charts from this comprehensive report, click the thumbnails below.</p>

                <div id="MarketReportGallery" class="my-4">
                  <img
                    src="/assets/uploads/pages.reports/JNiQMarketReport_2018_Chart1.jpg"
                    data-thumb="/assets/uploads/pages.reports/JNiQMarketReport_2018_Chart1-thumb.jpg" />
                  <img
                    src="/assets/uploads/pages.reports/JNiQMarketReport_2018_Chart2.jpg"
                    data-thumb="/assets/uploads/pages.reports/JNiQMarketReport_2018_Chart2-thumb.jpg" />
                  <img
                    src="/assets/uploads/pages.reports/JNiQMarketReport_2018_Chart3.jpg"
                    data-thumb="/assets/uploads/pages.reports/JNiQMarketReport_2018_Chart3-thumb.jpg" />
                </div>

                <p>Be one of the select few to Know More with your own limited edition copy of the 2018 JETNET iQ Market Report.<p>

                <ul class="list--double-arrow">
                  <li>US$25.00 per issue – 135 pages</li>
                </ul>

                <form
                  action="https://www.eprocessingnetwork.com/cgi-bin/wo/order.pl"
                  method="POST">

                  <input type=hidden name="QB" value="">
                  <input type="hidden" name="ePNAccount" value="0416305">
                  <input type="hidden" name="ReturnToURL" value="https://www.jetnet.com">

                  <input type="hidden" name="ItemDesc" value="JETNET iQ Market Report – 2018">
                  <input type="hidden" name="ItemCost" value="25.00">

                  <div class="form-row align-items-end">
                    <div class="col-auto mr-2">
                      <label for="inlineFormInput">Qty:</label>
                      <input class="form-control text-center" type="text" size="2" name="ItemQty" value="1">

                    </div>
                    <div class="col-auto">
                    <label for="inlineFormInput">Shipping:</label>
                      <select class="form-control" name="Shipping" required>
                      <option value="">(select)</option>
                      <option value="10.00;Inside US">Inside US</option>
                      <option value="40.00;Outside US">Outside US</option>
                      </select>
                    </div>
                    </div>
                    <div class="form-row mt-2">
                      <div class="col-auto text-center">
                      <input type="submit" value="Buy Reports" class="btn btn-primary" style="margin-bottom:1px">
                      </div>
                    </div>
                </form>

                <br>
                <span><small>Cards Accepted:</small></span><br>

                <img class="cards-accepted" src="/assets/images/cards-accepted-transparent.png">
                  <p class="mt-3">This report is only available in a printed format that will be shipped to customers after their completed purchase. Shipping is regular postal service only.</p>
              </div>
            </div>

          </section>

        </div>
      </div>

      <br>

      <div class="row">
        <div class="offset-lg-1 col-lg-11">
          <hr>
          <p class="back"><a href="/research/reports/">&larr; All Reports</a></p>
        </div>
      </div>

    </div>
  </section>

</main>
