---
title: "JETNET Reports"
meta_description: "Purchase exactly the report you need for an in-depth, focused read on everything you need to know."
opengraph:
  url: https://www.jetnet.com/products/reports/ain-special-report.html
  title: Order Your Market Report
  description: "Info, insights & intelligence"
  image: /assets/opengraph/2017/Dec20_FB.jpg
---

<main class="main-content text-reverse">

  <section class="section section--heading">
    <div class="container">
      <div class="row">
        <div class="offset-lg-1 col-lg-11">
          <p class="h1">
            JETNET Reports<br>
            <small>Downloadable documents</small>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="offset-lg-2 col-lg-9">

          <section class="report">

            <div class="row">
              <div class="col-md-3">
                <img src="/assets/uploads/pages.reports/AINReportpg1sm.jpg" class="img-fluid">
              </div>
              <div class="col-md-9">

                <h1 class="h2 report__title">JETNET Sourced in December AIN Special Report</h1>
                <p>Aviation International News heavily sourced JETNET iQ and founder Rollie Vincent in their December Special Report on the Preowned Aircraft Report.</p>
                <p>They note that, “The hemorrhaging that triggered the great used business aircraft bloodbath of the last few years appears to be over…”</p>

                <a href="/assets/uploads/pages.reports/ain_2017_preownedspecialreportnewcompressed.pdf" class="btn btn-primary">Download and read the complete report</a>

              </div>
            </div>

          </section>

        </div>
      </div>

      <br>

      <div class="row">
        <div class="offset-lg-1 col-lg-11">
          <hr>
          <p class="back"><a href="/research/reports/">&larr; All Reports</a></p>
        </div>
      </div>

    </div>
  </section>

</main>
