---
title: "JETNET iQ Market Reports Bundle – 2023 & 2022"
meta_description: "This multi-year report bundle provides an overview of key insights gleaned from our two most recent JETNET iQ “State of the industry” reports."
opengraph:
  title: "Order the Year’s Best Intelligence"
  description: "Crucial insights from our most recent research"
  image: /assets/opengraph/Aug16_FB.jpg
twitter_card:
  title: "Order the Year’s Best Intelligence"
  description: "Crucial insights from our most recent research"
  image: /assets/opengraph/Aug16_TW.jpg
---

<main class="main-content text-reverse">

  <section class="section section--heading">
    <div class="container">
      <div class="row">
        <div class="offset-lg-1 col-lg-11">
          <p class="h1">
            JETNET Reports<br><br>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="offset-lg-2 col-lg-9">

          <section class="report">

            <div class="row">
              <div class="col-md-3">
                <img src="/assets/uploads/pages.reports/JNiQMarketReport_Bundle_2023_2022_Cover.png" class="img-fluid">
              </div>
              <div class="col-md-9">

                <h1 class="h2 report__title">JETNET iQ Market Reports <br>Bundle – 2023 & 2022</h1>

                <p>Get the most comprehensive insights of the business aviation market in this discounted 2-year combo package. Understand and analyze proprietary aircraft owner/operator’s market sentiment to help you chart out your client’s strategies along the industry’s new path.</p>

                <div id="MarketReportGallery" class="my-4">
                  <img
                    src="/assets/uploads/pages.reports/JNiQMarketReport_2023_Inset.jpg"
                    data-thumb="/assets/uploads/pages.reports/JNiQMarketReport_2023_Inset.jpg" />
                  <img
                    src="/assets/uploads/pages.reports/JNiQMarketReport_2022_Inset.jpg"
                    data-thumb="/assets/uploads/pages.reports/JNiQMarketReport_2022_Inset.jpg" />
                </div>

                <p>Know More with our limited run bundle of the 2023/2022 JETNET iQ Market Reports.<p>

                <div>
                  <div>September 2023 – 84 pages</div>
                  <div>September 2022 – 130 pages</div>
                </div>

                <br>

                <ul class="list--double-arrow">
                  <li>US$250.00 per bundle (savings of $50.00)</li>
                </ul>

                <form
                  action="https://www.eprocessingnetwork.com/cgi-bin/wo/order.pl"
                  method="POST">

                  <input type=hidden name="QB" value="">
                  <input type="hidden" name="ePNAccount" value="0416305">
                  <input type="hidden" name="ReturnToURL" value="https://www.jetnet.com">

                  <input type="hidden" name="ItemDesc" value="JETNET iQ Market Reports Bundle – 2023 & 2022">
                  <input type="hidden" name="ItemCost" value="250.00">

                  <div class="form-row align-items-end">
                    <div class="col-auto mr-2">
                      <label for="inlineFormInput">Qty:</label>
                      <input class="form-control text-center" type="text" size="2" name="ItemQty" value="1">

                    </div>
                    <div class="col-auto">
                    <label for="inlineFormInput">Shipping:</label>
                      <select class="form-control" name="Shipping" required>
                        <option value="">(select)</option>
                        <option value="20.00;Inside US">Inside US</option>
                        <option value="40.00;Outside US">Outside US</option>
                      </select>
                    </div>
                    </div>
                    <div class="form-row mt-2">
                      <div class="col-auto text-center">
                        <input type="submit" value="Buy Reports" class="btn btn-primary" style="margin-bottom:1px">
                      </div>
                    </div>
                </form>

                <br>
                <span><small>Cards Accepted:</small></span><br>

                <img class="cards-accepted" src="/assets/images/cards-accepted-transparent.png">
                  <p class="mt-3">This bundle is only available in a printed format that will be shipped to customers after their completed purchase. Shipping is regular postal service only.</p>
              </div>
            </div>

          </section>

        </div>
      </div>

      <br>

      <div class="row">
        <div class="offset-lg-1 col-lg-11">
          <hr>
          <p class="back"><a href="/research/reports/">&larr; All Reports</a></p>
        </div>
      </div>

    </div>
  </section>

</main>
