---
title: "JETNET iQ Market Report – 2022"
meta_description: "This report provides insight into the market’s sentiment over the past year when business aviation experienced an unparalleled spike in demand. Use the industry’s most comprehensive data to help you make the best possible business decisions."
opengraph:
  title: "JETNET iQ Market Report"
  description: "Purchase Yours Today"
  image: /assets/opengraph/2021_iQMarketReport_FB.jpg
twitter_card:
  title: "JETNET iQ Market Report"
  description: "Purchase Yours Today"
  image: /assets/opengraph/2021_iQMarketReport_TW.jpg
---

<main class="main-content text-reverse">

  <section class="section section--heading">
    <div class="container">
      <div class="row">
        <div class="offset-lg-1 col-lg-11">
          <p class="h1">
            JETNET Reports<br><br>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="offset-lg-2 col-lg-9">

          <section class="report">

            <div class="row">
              <div class="col-md-3">
                <img src="/assets/uploads/pages.reports/JNiQMarketReport_2022_Cover.jpg" class="img-fluid">
              </div>
              <div class="col-md-9">

                <h1 class="h2 report__title">JETNET iQ Market Report – 2022</h1>
                <p>Access data and insights for this unprecedented year when demand for business aviation shattered all previous records. Find insightful graphs, charts, trends, owner/operator survey results and sentiments, and more to help you strategize new opportunities for your organization.</p>

                <div id="MarketReportGallery" class="my-4">
                  <img
                    src="/assets/uploads/pages.reports/JNiQMarketReport_2022_Inset1.jpg"
                    data-thumb="/assets/uploads/pages.reports/JNiQMarketReport_2022_Inset1.jpg" />
                  <img
                    src="/assets/uploads/pages.reports/JNiQMarketReport_2022_Inset2.jpg"
                    data-thumb="/assets/uploads/pages.reports/JNiQMarketReport_2022_Inset2.jpg" />
                  <img
                    src="/assets/uploads/pages.reports/JNiQMarketReport_2022_Inset3.jpg"
                    data-thumb="/assets/uploads/pages.reports/JNiQMarketReport_2022_Inset3.jpg" />
                </div>

                <p>Know More with your own limited edition copy of the 2022 JETNET iQ Market Report.<p>

                <ul class="list--double-arrow">
                  <li>US$100.00 per issue – 130 pages</li>
                </ul>

                <form
                  action="https://www.eprocessingnetwork.com/cgi-bin/wo/order.pl"
                  method="POST">

                  <input type=hidden name="QB" value="">
                  <input type="hidden" name="ePNAccount" value="0416305">
                  <input type="hidden" name="ReturnToURL" value="https://www.jetnet.com">

                  <input type="hidden" name="ItemDesc" value="JETNET iQ Market Report – 2022">
                  <input type="hidden" name="ItemCost" value="100.00">

                  <div class="form-row align-items-end">
                    <div class="col-auto mr-2">
                      <label for="inlineFormInput">Qty:</label>
                      <input class="form-control text-center" type="text" size="2" name="ItemQty" value="1">
                    </div>
                    <div class="col-auto">
                    <label for="inlineFormInput">Shipping:</label>
                      <select class="form-control" name="Shipping" required>
                      <option value="">(select)</option>
                      <option value="10.00;Inside US">Inside US</option>
                      <option value="40.00;Outside US">Outside US</option>
                      </select>
                    </div>
                    </div>
                    <div class="form-row mt-2">
                      <div class="col-auto text-center">
                      <input type="submit" value="Buy Reports" class="btn btn-primary" style="margin-bottom:1px">
                      </div>
                    </div>
                </form>

                <br>
                <span><small>Cards Accepted:</small></span><br>

                <img class="cards-accepted" src="/assets/images/cards-accepted-transparent.png">
                  <p class="mt-3">This report is only available in a printed format that will be shipped to customers after their completed purchase. Shipping is regular postal service only.</p>
              </div>
            </div>

          </section>

        </div>
      </div>

      <br>

      <div class="row">
        <div class="offset-lg-1 col-lg-11">
          <hr>
          <p class="back"><a href="/research/reports/">&larr; All Reports</a></p>
        </div>
      </div>

    </div>
  </section>

</main>
