---
title: "Eventbrite Demo"
meta_description: ""
noindex: true
---

<main class="main-content text-reverse">

  <section class="section section--heading">
    <div class="container">
      <div class="row">
        <div class="offset-lg-1 col-lg-11">
          <h1>Eventbrite Checkout Demo</h1>
        </div>
      </div>
      <div class="row">
        <div class="offset-lg-2 col-lg-10">

          <h2>Modal:</h2>

          <!-- Noscript content for added SEO -->
          <noscript><a href="https://www.eventbrite.com/e/evolution-101-tickets-260453642857" rel="noopener noreferrer" target="_blank">Buy Tickets on Eventbrite</a></noscript>
          <!-- You can customize this button any way you like -->
          <button id="eventbrite-widget-modal-trigger-260453642857" type="button">Buy Tickets</button>

          <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

          <script type="text/javascript">
              var exampleCallback = function() {
                  console.log('Order complete!');
              };

              window.EBWidgets.createWidget({
                  widgetType: 'checkout',
                  eventId: '260453642857',
                  modal: true,
                  modalTriggerElementId: 'eventbrite-widget-modal-trigger-260453642857',
                  onOrderComplete: exampleCallback
              });
          </script>

          <br>
          <hr>
          <br>

          <h2>Embedded:</h2>

          <div id="eventbrite-widget-container-260453642857"></div>

          <script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

          <script type="text/javascript">
              var exampleCallback = function() {
                  console.log('Order complete!');
              };

              window.EBWidgets.createWidget({
                  // Required
                  widgetType: 'checkout',
                  eventId: '260453642857',
                  iframeContainerId: 'eventbrite-widget-container-260453642857',

                  // Optional
                  iframeContainerHeight: 425,  // Widget height in pixels. Defaults to a minimum of 425px if not provided
                  onOrderComplete: exampleCallback  // Method called when an order has successfully completed
              });
          </script>

        </div>
      </div>
    </div>
  </section>
</main>
