User-agent: *

# Block old garbage
Disallow: /cgi-bin/
Disallow: /david/
Disallow: /ftpcopy/
Disallow: /html/
Disallow: /jetnetiq/
Disallow: /jetnetsurvey/
Disallow: /jetnetweb/
Disallow: /login/
Disallow: /mobile/
Disallow: /testimonials/
Disallow: /theme/

# Block print ad vanity URLs
Disallow: /iq-survey

# Block pages set to noindex
<% sitemap.resources.select {
    |page| page.destination_path =~ /\.html/ && page.data.noindex == true
  }.each do |page| %>
<%= "Disallow: /#{page.destination_path}" %>
<% end %>
