<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <tracing>
            <traceFailedRequests>
                <add path="*">
                    <traceAreas>
                        <add provider="WWW Server" areas="Authentication,Security,Filter,StaticFile,CGI,Compression,Cache,RequestNotifications,Module,FastCGI,WebSocket,Rewrite,ANCM" verbosity="Verbose" />
                    </traceAreas>
                    <failureDefinitions statusCodes="300-999" />
                </add>
            </traceFailedRequests>
        </tracing>

        <httpCompression mode="gzip,br">
            <minFileSizeForCompressingDynamicContent>1024</minFileSizeForCompressingDynamicContent>
            <compressMIMETypes>
                <add mimeType="text/html" />
                <add mimeType="text/css" />
                <add mimeType="application/javascript" />
                <add mimeType="image/png" />
                <add mimeType="image/jpeg" />
            </compressMIMETypes>
            <disableCompressionForHttp1.0>true</disableCompressionForHttp1.0>
        </httpCompression>

        <httpErrors errorMode="DetailedLocalOnly" defaultResponseMode="File" >
            <remove statusCode="404" />
            <error statusCode="404" path="error-404.html" />
            <remove statusCode="500" />
            <error statusCode="500" path="error-500.html" />
        </httpErrors>

        <rewrite>
            <outboundRules>
                <rule name="Add X-Robots-Tag for mail.jetnet.com">
                    <match serverVariable="RESPONSE_X_Robots_Tag" pattern=".*" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^mail\.jetnet\.com$" />
                    </conditions>
                    <action type="Rewrite" value="noindex, nofollow" />
                </rule>
            </outboundRules>

            <rules>
                <% config[:rewrites].each do |rule| %>
                <rule name="<%= rule[:name] %>">
                    <match url="<%= rule[:match_url] %>" />
                    <action
                        type="<%= rule[:action_type].to_s.capitalize %>"
                        url="<%= rule[:action_url] %>"
                        <% if rule.has_key?(:permanent) %>
                        redirectType="<%= rule[:permanent] ? 'Permanent' : 'Found' %>"
                        <% end %>
                    />
                </rule>    
                <% end %>
                
                <rule name="Redirect to HTTPS">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
                </rule>
                
                <rule name="Add www prefix">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_HOST}" pattern="^jetnet\.com$" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://www.jetnet.com/{R:1}" redirectType="Permanent" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    
    <% config[:redirects].each do |redirect| %>
    <% redirect[:paths].each do |path| %>
    <location path="<%= path %>">
        <system.webServer>
            <httpRedirect enabled="true" destination="<%= redirect[:destination] %>" httpResponseStatus="<%= redirect[:permanent] ? 'Permanent' : 'Found' %>" />
        </system.webServer>
    </location>
    <% end %>
    <% end %>
    
    <!-- Vanity URLs -->
    <location path="iq-survey">
        <system.webServer>
            <httpRedirect enabled="true" destination="/research/iq-survey/?utm_source=jetnet.com%2Fiq-survey&amp;utm_medium=vanity_url" httpResponseStatus="Found" />
        </system.webServer>
    </location>
</configuration>
