---
title: "Thought Leadership Content of Pre-Owned Business Jet Sales"
meta_description: "Let us show you what has changed since your subscription has ended. Sign up for a 1-on-1 session with a JETNET representative today."
noindex: true
opengraph:
  title: ""
  description: ""
  image: /assets/opengraph/
twitter_card:
  title: ""
  description: ""
  image: /assets/opengraph/
---

<main class="main-content text-reverse">

  <section class="section section--heading">
    <div class="container">
      <div class="row">
        <div class="offset-lg-1 col-lg-11">
          <h1>Knowledge is the Power that Drives Us Forward.</h1>
        </div>
      </div>
      <div class="row">
        <div class="offset-md-1 col-md-11 offset-lg-2 col-lg-9 col-xl-8 text-reverse">

          <p>Identifying the complexities of the marketplace and mining the most relevant data has always been JETNET’s primary focus. Using the collected data, JETNET is committed to serving its brokers and dealers with the best market insights possible. It has never been more important for the data surrounding aircraft transactions, purchase intentions, and values to be submitted to JETNET.</p>

          <p>JETNET’s research team uses the data dealers and brokers provide to power insights you will not find anywhere else. Let us exchange intelligence today so we may all better plan for tomorrow.</p>

          <img src="/assets/images/on-off-trends-header.jpg" class="img-fluid" style="margin-top:1em; margin-bottom:1.5em;" alt="" />

          <p>Obtain JETNET’s exclusive “On-Market vs Off-Market Transactions” statistics and analysis when you share with us aircraft transactions you have been involved in over the last 6 months.</p>

          <p>JETNET does not share your information publicly or to third parties. All transactional information shared will remain confidential and private.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section form-block">
    <div class="container">
      <div class="row">
        <div class="offset-lg-2 col-lg-8">
          <%= partial("partials/wufoo_form", :locals => { :form_id => 'svecgpp0kihfbm' })%>
        </div>
      </div>
    </div>
  </section>  
</main>
